<template>
  <vx-card title="Cambiar contraseña" no-shadow>
    <div class="vx-row my-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Contraseñá actual</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <vs-input
          name="oldPassword"
          class="w-full"
          type="password"
          data-vv-validate-on="blur"
          v-validate="'required'"
          v-model="user.oldPassword"
        />
        <span v-if="showErros" class="text-danger text-sm">{{ errors.first("oldPassword") }}</span>
      </div>
    </div>

    <div class="vx-row mb-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Nueva contraseñá</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <vs-input
          ref="newPassword"
          name="newPassword"
          class="w-full"
          type="password"
          data-vv-validate-on="blur"
          v-validate="'required|min:6'"
          v-model="user.password"
        />
        <span v-if="showErros" class="text-danger text-sm">{{ errors.first("newPassword") }}</span>
      </div>
    </div>

    <div class="vx-row mb-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Confirmar contraseñá</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <vs-input
          class="w-full"
          name="confirmNewPassword"
          type="password"
          data-vv-validate-on="blur"
          v-validate="'required|confirmed:newPassword|min:6'"
          v-model="user.confirmPassword"
        />
        <span v-if="showErros" class="text-danger text-sm">{{ errors.first("confirmNewPassword") }}</span>
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-end">
      <vs-button
        class="ml-auto mt-2"
        type="border"
        color="warning"
        @click="$router.push('/profile').catch(() => {})"
      >Cancelar</vs-button>
      <vs-button class="ml-4 mt-2" @click="change">Cambiar</vs-button>
    </div>
  </vx-card>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      showErros: false,
      user: {
        oldPassword: "",
        password: "",
        confirmPassword: ""
      },
      module: "auth",
      route: "changePassword"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    change() {
      this.$validator.validateAll().then(isvalid => {
        this.showErros = true;
        if (isvalid) {
          this.$vs.loading();
          this.$store
            .dispatch("auth/changePassword", this.user)
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
              this.$router.push("/profile");
            })
            .catch(err => {
              notify().then(({ notification }) => {
                notification(
                  "error",
                  err,
                  err.message.code,
                  this.$vs.notify,
                  undefined,
                  "Datos incorrectos"
                );
              });
              this.$vs.loading.close();
            });
        }
      });
    }
  },
  watch: {
    'user.oldPassword': {
      handler() {
        this.$validator.validate('oldPassword');
      }
    },
    'user.password': {
      handler() {
        this.$validator.validate('newPassword');
      }
    },
    'user.confirmPassword': {
      handler() {
        this.$validator.validate('confirmNewPassword');
      }
    }
  }
};
</script>