<template>
  <div class="h-screen flex w-full bg-img">
    <div class="vx-col w-4/5 sm:w-4/5 md:w-3/5 lg:w-3/4 xl:w-3/5 mx-auto self-center">
      <vx-card class="rounded-large">
        <div slot="no-body" class="full-page-bg-color rounded-large">
          <div class="vx-row">
            <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
              <img src="@/assets/images/pages/forgot-password-1.png" alt="login" class="mx-auto" />
            </div>
            <div
              class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg rounded-large"
            >
              <div class="p-8">
                <div class="vx-card__title mb-8">
                  <h4 class="mb-4">Recupera tu contraseña</h4>
                  <p>Ingrese su dirección de correo electrónico y le enviaremos instrucciones para acceder a su cuenta.</p>
                </div>
                <div class="vx-row mb-8">
                  <div class="vx-col w-full">
                    <vs-input
                      type="email"
                      label-placeholder="Email"
                      v-validate="'required|email|min:3'"
                      data-vv-validate-on="blur"
                      name="email"
                      icon-no-border
                      icon="icon icon-mail"
                      icon-pack="feather"
                      v-model="email"
                      class="w-full"
                      autocomplete="false"
                    />
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('email') }}</span>
                  </div>
                </div>

                <vs-button type="border" to="/login" class="px-4 w-full md:w-auto">Iniciar sesión</vs-button>
                <vs-button
                  class="float-right px-4 w-full md:w-auto mt-3 mb-8 md:mt-0 md:mb-0"
                  @click="recoverPassword"
                >Recuperar contraseña</vs-button>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      email: "",
      showValidation: false
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    recoverPassword() {
      this.$validator.validateAll().then(validate => {
        this.showValidation = true;
        if (validate) {
          this.$vs.loading();
          this.$store
            .dispatch("auth/recoverPassword", this.email)
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
              this.$router.push("/login");
            })
            .catch(err => {
              notify().then(({ notification }) => {
                notification("error", err, err.message.code, this.$vs.notify);
              });
              this.$vs.loading.close();
            });
        }
      });
    }
  },
  watch: {
    email: {
      handler() {
        this.$validator.validate("email");
      }
    }
  }
};
</script>
