
<template>
  <div
    class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center"
    id="page-login"
  >
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card class="rounded-large">
        <div slot="no-body" class="full-page-bg-color rounded-large">
          <div class="vx-row no-gutter justify-center items-center rounded-lg">
            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@/assets/images/pages/login-1.png" alt="login" class="mx-auto" />
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg rounded-large">
              <div class="px-8 pt-8 login-tabs-container">
                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Iniciar sesión</h4>
                  <p>Bienvenido de nuevo, inicie sesión en su cuenta.</p>
                </div>

                <br />
                <div class="vx-row mb-1">
                  <div class="vx-col w-full">
                    <vs-input
                      v-validate="'required|email|min:3'"
                      data-vv-validate-on="blur"
                      name="email"
                      icon-no-border
                      icon="icon icon-mail"
                      icon-pack="feather"
                      label-placeholder="Correo electrónico"
                      v-model="user.email"
                      class="w-full"
                      autocomplete="off"
                    />
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('email') }}</span>
                  </div>
                </div>
                <div class="vx-row mb-1">
                  <div class="vx-col w-full">
                    <vs-input
                      data-vv-validate-on="blur"
                      v-validate="'required|min:6'"
                      type="password"
                      name="password"
                      icon-no-border
                      icon="icon icon-lock"
                      icon-pack="feather"
                      label-placeholder="Contraseña"
                      v-model="user.password"
                      class="w-full mt-6"
                    />
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('password') }}</span>
                  </div>
                </div>

                <div class="flex flex-wrap justify-end mt-5 mb-6 pb-3">
                  <router-link to="/forgot-password">¿Olvidó su contraseña?</router-link>
                </div>
                <div class="flex flex-wrap justify-between mb-3">
                  <vs-button type="border" @click="requestUser">Unirme</vs-button>
                  <vs-button @click="login">Iniciar sesión</vs-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>


<script>
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      user: {
        email: "",
        password: ""
      },
      showValidation: false
    };
  },
  methods: {
    requestUser() {
      this.$router.push("/request");
    },
    login() {
      this.$validator.validateAll().then(validate => {
        this.showValidation = true;
        if (validate) {
          this.$vs.loading();
          this.$store
            .dispatch("auth/login", this.user)
            .then(resp => {
              notify().then(({ welcomeNotification }) => {
                welcomeNotification(
                  this.$vs.notify,
                  "Inicio exitoso",
                  `Hola ${resp.user.name}, bienvenido al portal`,
                  "primary",
                  "icon-star"
                );
              });
              this.$vs.loading.close();
            })
            .catch(err => {
              notify().then(({ notification }) => {
                notification(
                  "error",
                  err,
                  err.message.code,
                  this.$vs.notify,
                  undefined,
                  "Datos incorrectos"
                );
              });
              this.$vs.loading.close();
            });
        }
      });
    }
  },
  $_veeValidate: {
    validator: "new"
  },
  watch: {
    "user.email": {
      handler() {
        this.$validator.validate("email");
      }
    },
    "user.password": {
      handler() {
        this.$validator.validate("password");
      }
    }
  }
};
</script>

<style lang="scss">
.login-tabs-container {
  min-height: 505px;

  .con-tab {
    padding-bottom: 14px;
  }

  .con-slot-tabs {
    margin-top: 1rem;
  }
}
[dir="ltr"]
  .vs-input--input.hasIcon:not(.icon-after-input):focus
  + .vs-input--placeholder {
  padding-left: 0.7rem !important;
}
</style>
