<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center">
    <div class="vx-col h-auto xl:w-11/12 w-full">
      <vx-card class="rounded-large">
        <div slot="no-body" class="full-page-bg-color rounded-large">
          <div class="vx-row no-gutter">
            <div
              class="vx-col hidden sm:hidden md:block lg:block lg:w-1/2 md:w-1/2 sm:w-1/2 w-full mx-auto self-center"
            >
              <img src="@/assets/images/pages/register-1.png" alt="register" class="mx-auto" />
            </div>
            <div
              class="vx-col sm:w-full md:w-full lg:w-1/2 md:w-1/2 sm:w-1/2 w-full mx-auto self-center d-theme-dark-bg rounded-large"
            >
              <div class="p-12 register-tabs-container">
                <div class="vx-card__title mb-4">
                  <h4 class="mb-4">Solicitar ingreso</h4>
                  <p
                    class="mb-2"
                  >Llene el siguiente formulario para solicitar ser un paciente de nuestra organización.</p>
                </div>
                <div class="vx-row">
                  <div class="vx-col xl:w-1/2 lg:w-full md:w-1/2 w-full mb-2">
                    <vs-input
                      v-validate="'required|alpha_number_spaces|min:3'"
                      data-vv-validate-on="blur"
                      label-placeholder="Nombre"
                      name="name"
                      placeholder="Nombre"
                      v-model="data.name"
                      class="w-full"
                      autocomplete="off"
                    />
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('name') }}</span>
                  </div>

                  <div class="vx-col xl:w-1/2 lg:w-full md:w-1/2 w-full mb-2">
                    <vs-input
                      v-validate="'required|alpha_number_spaces|min:3'"
                      data-vv-validate-on="blur"
                      label-placeholder="Apellido"
                      name="lastname"
                      placeholder="Apellido"
                      v-model="data.lastname"
                      class="w-full"
                      autocomplete="off"
                    />
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('lastname') }}</span>
                  </div>

                  <div class="vx-col xl:w-1/2 lg:w-full md:w-1/2 w-full mb-2">
                    <vs-input
                      v-validate="'required|email'"
                      data-vv-validate-on="blur"
                      name="email"
                      type="email"
                      label-placeholder="Coreo electrónico"
                      placeholder="Coreo electrónico"
                      v-model="data.email"
                      class="w-full mt-6"
                      autocomplete="off"
                    />
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('email') }}</span>
                  </div>

                  <div class="vx-col xl:w-1/2 lg:w-full md:w-1/2 w-full mt-6 mb-2">
                    <datepicker
                      placeholder="Fecha de nacimiento"
                      v-model="data.birthdate"
                      v-validate="'required'"
                      :disabledDates="disabledDatesBirth"
                      data-vv-validate-on="blur"
                      name="birthdate"
                      :language="es"
                      :required="true"
                    ></datepicker>
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('birthdate') }}</span>
                  </div>

                  <div class="demo-alignment vx-col w-full mb-2">
                    <span class="text-sm">Género:</span>
                    <div class="flex">
                      <vs-radio
                        class="text-sm"
                        v-model="data.gender"
                        vs-value="F"
                        v-validate="'required'"
                        data-vv-validate-on="blur"
                        name="gender"
                      >Femenino</vs-radio>
                      <vs-radio
                        class="ml-2 text-sm"
                        v-model="data.gender"
                        vs-value="M"
                        v-validate="'required'"
                        data-vv-validate-on="blur"
                        name="gender"
                      >Masculino</vs-radio>
                    </div>
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('gender') }}</span>
                  </div>

                  <div class="vx-col xl:w-1/2 lg:w-full md:w-1/2 w-full mb-2">
                    <vs-input
                      v-validate="'required|alpha_number_spaces|min:3'"
                      data-vv-validate-on="blur"
                      label-placeholder="Nombre de familiar"
                      name="parentName"
                      placeholder="Nombre de familiar"
                      v-model="data.parentName"
                      class="w-full mt-6"
                      autocomplete="off"
                    />
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('parentName') }}</span>
                  </div>

                  <div class="mt-6 vx-col xl:w-1/2 lg:w-full md:w-1/2 w-full mb-2">
                    <datepicker
                      placeholder="Escoja una fecha para su cita inicial"
                      v-validate="'required'"
                      data-vv-validate-on="blur"
                      :disabledDates="disabledDates"
                      v-model="data.datePosible"
                      name="datePosible"
                      :required="true"
                      :language="es"
                    ></datepicker>
                    <span
                      v-if="showValidation"
                      class="text-danger text-sm"
                    >{{ errors.first('datePosible') }}</span>
                  </div>

                  <vs-checkbox
                    v-model="isTermsConditionAccepted"
                    class="mt-6 vx-col w-full mb-2"
                    name="isTermsConditionAccepted"
                  >Acepto los términos y condiciones.</vs-checkbox>
                </div>

                <vs-button type="border" to="/login" class="mt-6">Iniciar sesión</vs-button>
                <vs-button
                  class="float-right mt-6"
                  @click="sendRequestDialog"
                  :disabled="!isTermsConditionAccepted"
                >Enviar solicitud</vs-button>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
const notify = () => import("@/vendor/notify.js");
export default {
  inject: ["$validator"],
  data() {
    return {
      data: {
        name: "",
        lastname: "",
        email: "",
        birthdate: null,
        gender: "",
        parentName: "",
        datePosible: null
      },
      isTermsConditionAccepted: false,
      showValidation: false,
      es: es,
      disabledDates: {
        to: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()+1), 
      },
      disabledDatesBirth: {
        from: new Date(), 
      }
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    sendRequestDialog() {
      this.$validator.validateAll().then(async validate => {
        this.showValidation = true;
        if (validate && this.isTermsConditionAccepted) {
          notify().then(({ dialogWhitParameters }) => {
            dialogWhitParameters(
              this.$vs.dialog,
              "confirm",
              "primary",
              "Enviar solicitud",
              "Aceptar",
              "Cancelar",
              `¿Confirma que los datos son correctos?`,
              this.sendRequest
            );
          });
        }
      });
    },
    async sendRequest() {
      this.$vs.loading();
      await this.$store
        .dispatch("global/createSimple", {
          payload: this.data,
          route: "requests",
          module: "",
          data: "request"
        })
        .then(resp => {
          this.$vs.loading.close();
          this.$vs.dialog({
            color: "primary",
            title: "Listo",
            acceptText: "Ok",
            text: resp.message.text,
            accept: this.finish,
            close: this.finish
          });
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
        });
    },
    finish() {
      this.showValidation = false;
      this.data = {
        name: "",
        lastname: "",
        email: "",
        birthdate: null,
        gender: "",
        parentName: "",
        datePosible: null
      };
    }
  },
  watch: {
    "data.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "data.lastname": {
      handler() {
        this.$validator.validate("lastname");
      }
    },
    "data.email": {
      handler() {
        this.$validator.validate("email");
      }
    },
    "data.gender": {
      handler() {
        this.$validator.validate("gender");
      }
    },
    "data.parentName": {
      handler() {
        this.$validator.validate("parentName");
      }
    },
    "data.birthdate": {
      handler() {
        this.$validator.validate("birthdate");
      }
    },
    "data.datePosible": {
      handler() {
        this.$validator.validate("datePosible");
      }
    }
  },
  components: {
    Datepicker
  }
};
</script>

<style lang="scss">
.register-tabs-container {
  min-height: 517px;

  .con-tab {
    padding-bottom: 23px;
  }
  .vdp-datepicker input::placeholder {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    cursor: text;
  }
}
</style>
