<template>
  <div id="simple-calendar-app">
    <div class="vx-card no-scroll-content">
      <calendar-view
        ref="calendar"
        :displayPeriodUom="calendarView"
        :show-date="showDate"
        :events="calendarEvents"
        enableDragDrop
        :eventTop="windowWidth <= 400 ? '2rem' : '3rem'"
        eventBorderHeight="0px"
        eventContentHeight="1.65rem"
        class="theme-default"
        @click-event="openViewEvent"
      >
        <div slot="header" class="mb-4">
          <div class="vx-row no-gutter">
            <!-- Current Month -->
            <div
              class="vx-col sm:w-1/3 w-full sm:my-0 my-3 flex sm:justify-end justify-center order-last ml-6"
            >
              <div class="flex items-center">
                <feather-icon
                  :icon="$vs.rtl ? 'ChevronRightIcon' : 'ChevronLeftIcon'"
                  @click="updateMonth(-1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full"
                />

                <span class="mx-3 text-xl font-medium whitespace-no-wrap">{{ showDate | month }}</span>

                <feather-icon
                  :icon="$vs.rtl ? 'ChevronLeftIcon' : 'ChevronRightIcon'"
                  @click="updateMonth(1)"
                  svgClasses="w-5 h-5 m-1"
                  class="cursor-pointer bg-primary text-white rounded-full"
                />
              </div>
            </div>

            <div class="vx-col sm:w-1/3 w-full flex justify-center ml-6">
              <template v-for="(view, index) in calendarViewTypes">
                <vs-button
                  v-if="calendarView === view.val"
                  :key="String(view.val) + 'filled'"
                  type="filled"
                  class="p-3 md:px-8 md:py-3"
                  :class="{'border-l-0 rounded-l-none': index, 'rounded-r-none': calendarViewTypes.length !== index+1}"
                  @click="calendarView = view.val"
                >{{ view.label }}</vs-button>
                <vs-button
                  v-else
                  :key="String(view.val) + 'border'"
                  type="border"
                  class="p-3 md:px-8 md:py-3"
                  :class="{'border-l-0 rounded-l-none': index, 'rounded-r-none': calendarViewTypes.length !== index+1}"
                  @click="calendarView = view.val"
                >{{ view.label }}</vs-button>
              </template>
            </div>
          </div>

          <div class="vx-row sm:flex hidden mt-4">
            <div class="vx-col w-full flex">
              <!-- Labels -->
              <div class="flex flex-wrap sm:justify-start justify-center">
                <div
                  v-for="(label, index) in calendarLabels"
                  :key="index"
                  class="flex items-center mr-4 mb-2"
                >
                  <div class="h-3 w-3 inline-block rounded-full mr-2" :class="'bg-' + label.color"></div>
                  <span>{{ label.text }}</span>
                </div>
                <div class="flex items-center mr-4 mb-2">
                  <div class="h-3 w-3 inline-block rounded-full mr-2 bg-primary"></div>
                  <span>Hoy</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </calendar-view>
    </div>

    <!-- VIEW EVENT -->
    <vs-prompt
      class="calendar-event-dialog"
      title="Detalle del evento"
      buttons-hidden
      :active.sync="activePromptViewEvent"
    >
      <div v-if="event.title != 'Cita'">
        <small class="date-label">Nombre del evento</small>
        <div>{{ event.title }}</div>
      </div>
      <div class="my-4">
        <small class="date-label">Fecha del evento</small>
        <div>{{ event.startDate }}</div>
      </div>
      <div v-if="event.startTime">
        <small class="date-label">Horario del evento</small>
        <div>Desde las {{ event.startTime | timeFormat}}, hasta las {{ event.endTime | timeFormat }}</div>
      </div>
      <div class="calendar__label-container flex">
        <vs-chip
          v-if="labelLocal != 'none'"
          class="text-white ml-auto my-2 cursor-pointer"
          :class="'bg-' + labelColor(labelLocal)"
        >{{ labelLocal }}</vs-chip>
      </div>
    </vs-prompt>
  </div>
</template>

<script>
import { CalendarView, CalendarViewHeader } from "vue-simple-calendar";
require("vue-simple-calendar/static/css/default.css");

import Datepicker from "vuejs-datepicker";
import { en, he } from "vuejs-datepicker/src/locale";

import moment from "moment";

export default {
  components: {
    CalendarView,
    CalendarViewHeader,
    Datepicker
  },
  data() {
    return {
      event: {},
      showDate: new Date(),
      disabledFrom: false,
      labelLocal: "",
      langHe: he,
      langEn: en,
      calendarView: "month",
      activePromptViewEvent: false,
      calendarViewTypes: [
        {
          label: "Mes",
          val: "month"
        },
        {
          label: "Semana",
          val: "week"
        },
      ],
      module: "calendar",
      route: "calendar",
      singularProperty: "event",
      pluralProperty: "events"
    };
  },
  computed: {
    calendarEvents() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      );
    },
    calendarLabels() {
      return this.$store.getters["global/getItems"](this.module, "eventLabels");
    },
    labelColor() {
      return label => {
        if (label == "Servicio") return "success";
        if (label == "Actividad") return "warning";
        if (label == "Cita") return "danger";
      };
    },
    windowWidth() {
      return this.$store.state.windowWidth;
    }
  },
  methods: {
    updateMonth(val) {
      this.showDate = this.$refs.calendar.getIncrementedPeriod(val);
    },
    openViewEvent(event) {
      this.event = this.$store.getters["calendar/getEvent"](event.title);
      this.labelLocal = this.event.label;
      this.activePromptViewEvent = true;
    }
  },
  created() {
    this.$store.dispatch("calendar/fetchEvents");
    this.$store.dispatch("calendar/setEventLabels");
  },
  beforeDestroy() {},
  filters: {
    timeFormat: function(value) {
      let date = new Date();
      if (value) {
        date.setHours(parseInt(value.split(":")[0]));
        date.setMinutes(parseInt(value.split(":")[1]));
        return moment(String(date)).format("hh:mm A");
      }
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/apps/simple-calendar.scss";
#simple-calendar-app .theme-default .cv-weeks .cv-week {
    min-height: 35%;
}
</style>
