<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card :title="title">
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Nombre</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <vs-input
              class="w-full"
              icon-pack="feather"
              icon="icon-edit-1"
              icon-no-border
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              name="name"
              v-model="data.name"
              autocomplete="off"
            />
            <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("name") }}</span>
          </div>
        </div>
        <slot name="fields" />
        <div class="vx-row mb-6" v-if="isRecurrent">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Turno</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <v-select
              v-model="data.scheduleId"
              :reduce="option => option.val"
              :options="schedules"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              class="mt-select"
              placeholder="Seleccione un turno"
              data-vv-validate-on="blur"
              v-validate="'required'"
              key="scheduleId"
              ref="scheduleId"
              name="scheduleId"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
              </template>
            </v-select>
            <span
              v-if="showValidations"
              class="text-danger text-sm"
            >{{ errors.first("scheduleId") }}</span>
          </div>
        </div>
        <div class="vx-row mb-6" v-else>
          <div class="vx-col sm:w-2/12 w-full">
            <span>Bloque</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <v-select
              v-model="data.timeBlockId"
              :reduce="option => option.val"
              :options="getBlocks"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              class="mt-select"
              placeholder="Seleccione un bloque"
              data-vv-validate-on="blur"
              v-validate="'required'"
              ref="timeBlockId"
              key="timeBlockId"
              name="timeBlockId"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
              </template>
            </v-select>
            <span
              v-if="showValidations"
              class="text-danger text-sm"
            >{{ errors.first("timeBlockId") }}</span>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Capacidad</span>
          </div>
          <div class="vx-col">
            <vs-input-number
              v-model.number="data.capacity"
              min="1"
              data-vv-validate-on="blur"
              v-validate="'required|numeric|min:1'"
              name="capacity"
            />
            <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("capacity") }}</span>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>{{ isRecurrent ? 'Fecha de incio' : 'Fecha de ejecución'}}</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <flat-pickr
              :config="configdateTimePicker"
              v-model="data.date"
              data-vv-validate-on="blur"
              v-validate="'required'"
              name="date"
              class="w-full"
              placeholder="Escoge una fecha"
            />
            <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("date") }}</span>
          </div>
        </div>
        <div class="vx-row mb-6" v-if="data.resources.length">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Recursos</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <resource-data :resources.sync="data.resources" :options.sync="getResources" />
          </div>
        </div>
        <div class="vx-row mb-base pt-6" v-if="specialitiesWithQuantity.length">
          <div class="vx-col sm:w-2/12 w-full mb-6">Responsables</div>
          <div class="vx-col sm:w-10/12 w-full mb-6">
            <v-select
              multiple
              :reduce="option => option.val"
              :options="users"
              v-model="data.users"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              class="mt-select"
              placeholder="Seleccione los especialistas"
              data-vv-validate-on="blur"
              v-validate="'required'"
              ref="specialists"
              name="specialists"
              key="specialists"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
                <em v-else>No hay personal autorizado para atender {{ type }}.</em>
              </template>
              <template
                v-slot:option="option"
              >{{option.name}} {{option.lastname}} - {{option.specialities.join(", ")}}</template>
            </v-select>
            <span
              v-if="showValidations"
              class="text-danger text-sm"
            >{{ errors.first("specialists") }}</span>
          </div>
          <div class="vx-col sm:w-2/12 w-full" />
          <div class="vx-col sm:w-10/12 w-full">
            <vs-alert color="warning" title="Personal requerido" active="true">
              Para la configuración seleccionada se recomienda
              <vs-list>
                <vs-list-item
                  v-for="(speciality, index) in specialitiesWithQuantity"
                  :key="index"
                  icon-pack="feather"
                  icon="icon-shield"
                  :title="`${speciality.name} - Cantidad: ${speciality.quantity}`"
                ></vs-list-item>
              </vs-list>
            </vs-alert>
          </div>
        </div>
        <slot name="action-buttons" />
      </vx-card>
    </div>
  </div>
</template>


<script>
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import vSelect from "vue-select";
import ResourceData from "./ResourcesData.vue";

export default {
  inject: ["$validator"],
  data() {
    return {
      configdateTimePicker: {
        locale: SpanishLocale,
        altInput: true,
        altInputClass: "w-full flatpickr-input",
        altFormat: "d F Y",
        dateFormat: "Y/m/d",
        minDate: new Date()
      },
      users: [],
      moduleB: "block",
      routeB: "timeBlocks",
      propertyB: "timeBlocks",
      moduleR: "resource",
      routeR: "resources",
      propertyR: "resources",
      moduleU: "user",
      routeU: "users",
      propertyU: "users"
    };
  },
  props: {
    data: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    showValidations: {
      type: Boolean,
      required: true,
      default: false
    },
    isRecurrent: {
      type: Boolean,
      required: true
    },
    schedules: {
      type: Array,
      required: true
    },
    resourceType: {
      type: String,
      required: true
    },
    specialities: {
      type: Array,
      required: true
    },
    specialitiesWithQuantity: {
      type: Array,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    functions: {
      type: Array,
      required: true
    }
  },
  computed: {
    getBlocks() {
      return this.$store.getters[`${this.moduleB}/getCustomItems`];
    },
    getResources() {
      return this.$store.getters[`resource/getCustomResources`](
        this.resourceType
      );
    }
  },
  components: {
    flatPickr,
    vSelect,
    ResourceData
  },
  watch: {
    "data.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "data.scheduleId": {
      handler() {
        if (this.$refs.scheduleId) {
          this.$validator.validate("scheduleId");
        }
      }
    },
    "data.timeBlockId": {
      handler() {
        if (this.$refs.timeBlockId) {
          this.$validator.validate("timeBlockId");
        }
      }
    },
    "data.capacity": {
      handler() {
        this.$validator.validate("capacity");
      }
    },
    "data.date": {
      handler() {
        this.$validator.validate("date");
      }
    },
    "data.serviceConfigId": {
      handler() {
        if (this.$refs.scheduleId) {
          this.$validator.validate("scheduleId");
        }

        if (this.$refs.timeBlockId) {
          this.$validator.validate("timeBlockId");
        }
      }
    },
    'data.activityConfigId': {
      handler() {
        if (this.$refs.scheduleId) {
          this.$validator.validate("scheduleId");
        }

        if (this.$refs.timeBlockId) {
          this.$validator.validate("timeBlockId");
        }
      }
    },
    "data.users": {
      handler() {
        this.$validator.validate("specialists");
      }
    },
    specialities: {
      handler() {
        this.$set(this.data, "users", []);
        this.users = this.$store.getters[`${this.moduleU}/getCustomUser`]({
          specialities: this.specialities,
          functions: this.functions
        });
      }
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.routeB,
      module: this.moduleB,
      data: this.propertyB
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeR,
      module: this.moduleR,
      data: this.propertyR
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeU,
      module: this.moduleU,
      data: this.propertyU
    });
  }
};
</script>