<template>
  <vs-tabs
    :position="isSmallerScreen ? 'top' : 'left'"
    class="tabs-shadow-none vs-tabs__items"
    id="profile-tabs"
    :key="isSmallerScreen"
  >
    <vs-tab
      icon-pack="feather"
      icon="icon-alert-circle"
      :label="!isSmallerScreen ? 'Información' : ''"
    >
      <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
        <view-info
          :data.sync="data"
          :payload.sync="payload"
          :specialities.sync="specialities"
          :module="module"
          :route="route"
          :property="property"
          :title="title"
          :type="type"
          :isActivity="isActivity"
          :isService="isService"
          :resourceType="resourceType"
          :functions="functions"
          :isRecurrent="isRecurrent"
          :modeEdit="modeEdit"
          :showErrors="showErrors"
        >
          <template slot="fields-edit">
            <slot name="fields" />
          </template>
          <template slot="buttons">
            <slot name="action-buttons" />
          </template>
        </view-info>
      </div>
    </vs-tab>
    <vs-tab
      v-if="isService"
      icon-pack="feather"
      icon="icon-users"
      :label="!isSmallerScreen ? 'Pacientes' : ''"
    >
      <div class="tab-change-pwd md:ml-4 md:mt-0 mt-4 ml-0">
        <view-patients />
      </div>
    </vs-tab>
    <vs-tab
      v-if="isActivity"
      icon-pack="feather"
      icon="icon-trending-up"
      :label="!isSmallerScreen ? 'Resultados' : ''"
    >
      <div class="tab-info md:ml-4 md:mt-0 mt-4 ml-0">
        <view-results />
      </div>
    </vs-tab>
    <vs-tab icon-pack="feather" icon="icon-monitor" :label="!isSmallerScreen ? 'Incidencias' : ''">
      <div class="tab-info md:ml-4 md:mt-0 mt-4 ml-0">
        <view-incidents :incidentType="incidentType" :isService="isService" />
      </div>
    </vs-tab>
    <vs-tab icon-pack="feather" icon="icon-calendar" :label="!isSmallerScreen ? 'Replanificación' : ''">
      <div class="tab-info md:ml-4 md:mt-0 mt-4 ml-0">
        <view-replanning :module="module" :property="property"/>
      </div>
    </vs-tab>
  </vs-tabs>
</template>

<script>

import ViewInfo from "./ViewInfo.vue";
import ViewPatients from "./ViewPatients.vue";
import ViewIncidents from "./ViewIncidents.vue";
import ViewResults from "./ViewResults.vue";
import ViewReplanning from "./ViewReplanning.vue";

export default {
  props: {
    isActivity: {
      type: Boolean,
      default: false
    },
    isService: {
      type: Boolean,
      default: false
    },
    module: {
      type: String,
      required: true
    },
    route: {
      type: String,
      required: true
    },
    property: {
      type: String,
      required: true
    },
    data: {
      type: Object,
      required: true
    },
    payload: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    resourceType: {
      type: String,
      required: true
    },
    functions: {
      type: Array,
      required: true
    },
    isRecurrent: {
      type: Boolean,
      required: true
    },
    specialities: {
      type: Array,
      required: true
    },
    modeEdit: {
      type: Boolean,
      default: false
    },
    showErrors: {
      type: Boolean,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    incidentType: {
      type: String,
      required: true
    }
  },
  computed: {
    isSmallerScreen() {
      return this.$store.state.windowWidth < 768;
    }
  },
  components: {
    ViewInfo,
    ViewPatients,
    ViewIncidents,
    ViewResults,
    ViewReplanning
  }
};
</script>

<style lang="scss">
#profile-tabs {
  .vs-tabs--content {
    padding: 0;
  }
}

.vs-tabs__items {
  overflow: visible;
  .con-slot-tabs {
    overflow: visible;
  }
}
</style>
