<template>
  <div id="ag-grid-demo">
    <vx-card>
      <!-- TABLE ACTION ROW -->
      <div class="flex flex-wrap justify-between items-center">
        <!-- ITEMS PER PAGE -->
        <div class="mb-4 md:mb-0 mr-4 ag-grid-table-actions-left">
          <vs-dropdown vs-trigger-click class="cursor-pointer">
            <div
              class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
            >
              <span
                class="mr-2"
              >{{ currentPage * paginationPageSize - (paginationPageSize - 1) }} - {{ data.length - currentPage * paginationPageSize > 0 ? currentPage * paginationPageSize : data.length }} de {{ data.length }}</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <vs-dropdown-menu>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(20)">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(50)">
                <span>50</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(100)">
                <span>100</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(150)">
                <span>150</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>

        <!-- TABLE ACTION COL-2: SEARCH & EXPORT AS CSV -->
        <div class="flex flex-wrap items-center justify-between ag-grid-table-actions-right">
          <vs-input
            class="mb-4 md:mb-0 mr-4"
            v-model="searchQuery"
            @input="updateSearchQuery"
            placeholder="Buscar..."
          />
          <vs-prompt
          title="Exportar"
          class="export-options"
          @cancel="clearFields"
          @accept="exportToExcel"
          accept-text="Exportar"
          @close="clearFields"
          :active.sync="openExport"
        >
          <vs-input v-model="fileName" placeholder="Ingrese el nombre del archivo.." class="w-full" />
          <v-select v-model="selectedFormat" :options="formats" class="my-4" />
          <div class="flex">
            <span class="mr-4">Ancho de celda automático:</span>
            <vs-switch v-model="cellAutoWidth">Ancho de celda automático:</vs-switch>
          </div>
        </vs-prompt>

        <!-- Export button -->
        <vs-button :disabled="!data.length" @click="openExport=true">Exportar</vs-button>
        </div>
      </div>
      <ag-grid-vue
        ref="agGridTable"
        :gridOptions="gridOptions"
        class="ag-theme-material w-100 my-4 ag-grid-table"
        :columnDefs="columnDefs"
        :defaultColDef="defaultColDef"
        :animateRows="true"
        :rowData="data"
        rowSelection="single"
        colResizeDefault="shift"
        :floatingFilter="true"
        :pagination="true"
        :paginationPageSize="paginationPageSize"
        :suppressPaginationPanel="true"
        :enableRtl="$vs.rtl"
        :context="context"
        :frameworkComponents="components"
      ></ag-grid-vue>
      <vs-pagination :total="totalPages" :max="maxPageNumbers" v-model="currentPage" />
    </vx-card>
  </div>
</template>

<script>

import { AgGridVue } from "ag-grid-vue";
import localeEs from "./localeEs.json";
import "@/assets/scss/vuexy/extraComponents/agGridStyleOverride.scss";
import vSelect from "vue-select";

export default {
  props: {
    columns: {
      type: Array
    },
    data: {
      type: Array,
      required: true
    },
    path: {
      type: String,
    },
    components: {
      type: Object
    }
  },
  data() {
    return {
      searchQuery: "",
      context: null,
      gridOptions: {
        rowSelection: "single",
        onRowClicked: this.onRowClicked,
        localeText: localeEs
      },
      maxPageNumbers: 7,
      gridApi: null,
      defaultColDef: {
        flex: 2,
        minWidth: 210,
        sortable: true
      },
      fileName: "",
      formats:["xlsx", "csv", "txt"] ,
      cellAutoWidth: true,
      selectedFormat: "xlsx",
      openExport: false,
    };
  },
  computed: {
    columnDefs() {
      return this.columns;
    },
    paginationPageSize() {
      if (this.gridApi) return this.gridApi.paginationGetPageSize();
      else return 20;
    },
    totalPages() {
      if (this.gridApi) return this.gridApi.paginationGetTotalPages();
      else return 0;
    },
    currentPage: {
      get() {
        if (this.gridApi) return this.gridApi.paginationGetCurrentPage() + 1;
        else return 1;
      },
      set(val) {
        this.gridApi.paginationGoToPage(val - 1);
      }
    }
  },
  methods: {
    updateSearchQuery(val) {
      this.gridApi.setQuickFilter(val);
    },
    onRowClicked(event) {
      this.$store.commit("SET_BREADCRUMB", "");
      this.$router.push(`${this.path}/${event.node.data.id}`);
    },
    selectedItems(){
      return this.gridApi.getSelectedRows() ? this.gridApi.getSelectedRows() : this.gridApi.selectAll()
    },
    exportToExcel() {
      import('@/vendor/Export2Excel').then(excel => {
        const keys = Object.keys(this.data.slice()[0])
        let list = this.selectedItems().length ? JSON.parse(JSON.stringify(this.selectedItems()))  : JSON.parse(JSON.stringify(this.data));
        list = list.map(el => {
          for(let key of keys){
            let element;
            if(Array.isArray(el[key])){
              element=[]
              for(let item of el[key]){
                let value = item.name ? item.name : item;
                element.push(value)
              }
              element = element.join(",")
            }
            else {
              element = el[key] ? el[key].name ? el[key].name : el[key] : "-";
            }
            el[key] = element;
          }
          return el;
        })
        const data = this.formatJson(keys.map(el => el), list)
        excel.export_json_to_excel({
          header: keys,
          data,
          filename: this.fileName,
          autoWidth: this.cellAutoWidth, 
          bookType: this.selectedFormat
        })
        this.clearFields()
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        return v[j]
      }))
    },
    clearFields() {
      this.fileName = ""
      this.cellAutoWidth = true
      this.selectedFormat = "xlsx"
    }
  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridApi.sizeColumnsToFit();
    this.context = { componentParent: this };
    /* =================================================================
      NOTE:
      Header is not aligned properly in RTL version of agGrid table.
      However, we given fix to this issue. If you want more robust solution please contact them at gitHub
    ================================================================= */
    if (this.$vs.rtl) {
      const header = this.$refs.agGridTable.$el.querySelector(
        ".ag-header-container"
      );
      header.style.left =
        "-" + String(Number(header.style.transform.slice(11, -3)) + 9) + "px";
    }
  },
  components: {
    AgGridVue,
    vSelect,
  }
};
</script>
<style lang="scss">
.cell-status {
  line-height: initial !important;
  padding-top: 0.75rem;
}
[dir] .ag-theme-material {
  .ag-row-selected {
    background-color: #7367f040;
  }
  .ag-ltr .ag-has-focus {
    .ag-cell-focus:not(.ag-cell-range-selected), .ag-cell-focus:active, .ag-cell-focus:focus {
      border: none !important;
    }
  }
}
</style>