<template>
  <div>
    <div class="vx-row mb-3">
      <div class="vx-col sm:w-7/12 w-full">Recurso</div>
      <div class="vx-col m-0">Cantidad</div>
    </div>
    <div v-for="(res,index) in resources" :key="res.id" class="vx-row mb-3">
      <div class="vx-col sm:w-7/12 w-full">
        <v-select
          v-model="res.id"
          :options="options"
          :selectable="op => !resources.map(q => q.id).includes(op.id) || op.id == res.id"
          :reduce="res => res.id"
          @input="validate(index)"
          data-vv-as="recurso"
          data-vv-validate-on="blur"
          v-validate="'required'"
          :name="'resource'+index"
          :key="'resource'+index"
          ref="resource"
        >
          <template v-slot:no-options="{ search, searching }">
            <template v-if="searching">
              No se encontraron resultados para
              <em class="text-primary font-semibold">{{ search }}</em>.
            </template>
            <em v-else>No hay recursos disponibles.</em>
          </template>
        </v-select>
        <span
          v-if="errors.has('resource'+index)"
          class="text-danger text-sm"
        >{{errors.first('resource'+index)}}</span>
      </div>
      <div class="vx-col m-0">
        <vs-input-number v-model.number="res.quantity" min="1" class="my-0 centerx h-full" />
      </div>
      <div class="vx-col m-0">
        <vx-tooltip text="Quitar" position="right" delay=".3s" class="h-full">
          <feather-icon
            icon="Trash2Icon"
            class="px-4 py-2 cursor-pointer h-full text-danger"
            svgClasses="w-5 h-5 text-danger"
            @click="removeLine(index)"
          />
        </vx-tooltip>
      </div>
    </div>
    <vs-button v-if="options.length > resources.length" type="line" @click="addLine">Agregar recurso</vs-button>
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  inject: ["$validator"],
  props: {
    resources: {
      type: Array,
      required: true
    },
    options: {
      type: Array,
      required: true
    },
    resourceErrors: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      showErrors: false
    };
  },
  methods: {
    addLine() {
      this.$validator.validateAll(this.resources).then(validate => {
        if (validate) {
          this.resources.push({
            id: null,
            quantity: 1
          });
        }
      });
    },
    validate() {
      this.$validator.validateAll(this.resources);
    },
    removeLine(index) {
      if (this.resources.length == 1) {
        this.resources = [
          {
            id: null,
            quantity: 1
          }
        ];
      } else {
        this.resources.splice(index, 1);
      }
    },
    validateErrors() {
      for (let p of this.resources) {
        if (!p.id || p.quantity == 0) {
          this.$emit("update:resourceErrors", true);
          return;
        }
      }
      this.$emit("update:resourceErrors", false);
    }
  },
  components: {
    "v-select": vSelect
  },
  watch: {}
};
</script>


<style lang="scss">
.vs__dropdown-option--disabled {
  display: none;
}
</style>