<template>
  <span>
      <vs-chip v-if="params.value == 'PENDING'" color="primary">Pendiente</vs-chip>
      <vs-chip v-if="params.value == 'APPROVED'" color="success">Aprobado</vs-chip>
      <vs-chip v-if="params.value == 'REJECTED'" color="danger">Rechazado</vs-chip>
      <vs-chip v-if="params.value == 'FINISHED'" color="success">Finalizado</vs-chip>
    

  </span>
</template>
<script>
import Vue from 'vue';
export default Vue.extend({
  name:'vx-status',
  data() {
    return {
    };
  },
  beforeMount() {},
  mounted(){
    
  },
})
</script>
