<template>
  <vx-card no-shadow>
    <div class="vx-row mt-4 mb-6">
      <div class="vx-col sm:w-1/2 w-full">
        <h4>Pacientes inscritos</h4>
      </div>
      <div class="vx-col sm:w-1/2 w-full flex justify-end">
        <vs-button class="ml-auto mt-2" @click="activePromptPatients = true">Agregar</vs-button>
      </div>
    </div>
    <div class="vx-col w-full mt-12 md:mt-0">
      <vs-collapse accordion type="margin" class="p-0" v-if="getService.otherUsers.length">
        <vs-collapse-item
          v-for="(patient,index) in getService.otherUsers"
          class="faq-bg rounded-lg"
          :class="{'mt-0': !index}"
          :key="patient.id"
        >
          <div slot="header" class="flex justify-between">
            <h5>{{ patient.name }} {{ patient.lastname }}</h5>
            <h6 class="mr-5">
              Expediente
              <router-link
                :to="`/record/${patient.record.id}`"
                class="cursor-pointer"
              >{{ recordId(patient.record.id) }}</router-link>
            </h6>
          </div>
          <div class="flex flex-wrap items-center justify-between">
            <p>Parámetros</p>
            <vs-button class="ml-4 mt-2" @click="activePrompt(patient.record.id)">Agregar</vs-button>
          </div>
          <vs-list>
            <vs-list-header title="Resultados" />
            <vs-list-item v-for="(record, index) in getResultPerUser(patient.record.id)" :key="index" :title="`Fecha evaluación: ${ $options.filters.date(record.date) }, parámetro evaluado: ${record.param.name}`" :subtitle="`Valor inicial: ${ record.initialValue}, Valorfinal: ${ record.finalValue} | unidad de medida: ${record.param.um}`"></vs-list-item>
          </vs-list>
        </vs-collapse-item>
      </vs-collapse>
      <vs-alert
        v-else
        title="No hay pacientes inscritos"
        color="rgb(231, 154, 23)"
        active="true"
        class="mt-5 text-warning"
      >El servicio aún no cuenta con pacientes incritos, presiona el botón agregar para incluir pacientes.</vs-alert>
    </div>

    <vs-prompt
      title="Agregar paciente"
      accept-text="Agregar"
      cancel-text="Cancelar"
      :is-valid="isValid"
      @accept="addPatient"
      @cancel="cancel"
      :active.sync="activePromptPatients"
    >
      <div class="con-exemple-prompt">
        <span>Seleccione un paciente y presione agregar</span>
        <v-select
          v-model="patient"
          :options="getPatients"
          :reduce="op => op.val"
          data-vv-validate-on="blur"
          v-validate="'required'"
          placeholder="Seleccione un paciente"
          name="patient"
          :dir="$vs.rtl ? 'rtl' : 'ltr'"
        >
          <template v-slot:no-options="{ search, searching }">
            <template v-if="searching">
              No se encontraron resultados para
              <em class="text-primary font-semibold">{{ search }}</em>.
            </template>
            <em v-else>No hay pacientes que cumplan con las condiciones de este servicio.</em>
          </template>
        </v-select>
        <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("patient") }}</span>
      </div>
    </vs-prompt>

    <vs-prompt
      title="Agregar resultado"
      accept-text="Agregar"
      cancel-text="Cancelar"
      @accept="addResult"
      @cancel="cancelResult"
      @close="close"
      :active.sync="activePromptResults"
    >
      <div class="con-exemple-prompt">
        <span>Seleccione un parametro y agregue su valor inicial y final</span>
        <div class="vx-row mt-4">
          <div class="vx-col w-full mb-6">
            <v-select
              v-model="params.paramId"
              :options="getParameters"
              @input="paramsValue"
              :reduce="op => op.val"
              data-vv-validate-on="blur"
              v-validate="'required'"
              placeholder="Seleccione un parametro"
              name="paramId"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
            />
            <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("paramId") }}</span>
          </div>
          <div class="vx-col w-full mb-6">
            <vs-input
              v-model="params.initialValue"
              type="number"
              data-vv-validate-on="blur"
              v-validate="`required|numeric|between:${min},${max}`"
              :disabled="!paramSelected"
              name="initialValue"
              class="w-full input-parameter__value"
              label-placeholder="Valor inicial"
            />
            <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("initialValue") }}</span>
          </div>
          <div class="vx-col w-full mb-6">
            <vs-input
              v-model="params.finalValue"
              data-vv-validate-on="blur"
              type="number"
              v-validate="`required|numeric|between:${min},${max}`"
              :disabled="!paramSelected"
              name="finalValue"
              class="w-full input-parameter__value"
              label-placeholder="Valor final"
            />
            <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("finalValue") }}</span>
          </div>
          <div class="vx-col w-full" v-if="paramSelected">
            <vs-alert
              title="Valores para el parámetro"
              color="warning"
              active="true"
              class="mt-5 text-warning"
            >Para este parámetro debe seleccionar un valor que este entre {{ min }} y {{ max }}</vs-alert>
          </div>
        </div>
      </div>
    </vs-prompt>
  </vx-card>
</template>

<script>
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");
export default {
  inject: ["$validator"],
  data() {
    return {
      patient: null,
      max: null,
      min: null,
      params: {
        id: null,
        paramId: null,
        recordId: null,
        initialValue: null,
        finalValue: null
      },
      activePromptPatients: false,
      activePromptResults: false,
      paramSelected: false,
      showErrors: false,
      isValid: false
    };
  },
  computed: {
    getPatients() {
      return this.$store.getters["user/getPatients"]({
        gender: this.getService.serviceConfig.genreFor,
        age: JSON.parse(this.getService.serviceConfig.ageFor),
        phase: this.getService.serviceConfig.phaseFor
      })
        .slice()
        .filter(patient => {
          return !this.getService.otherUsers.find(
            user => user.id == patient.val
          );
        });
    },
    getService() {
      return this.$store.getters["global/getItem"]("service", "service");
    },
    getParameters() {
      return this.getService.serviceConfig.params.slice().map(param => {
        return {
          val: param.id,
          label: param.name,
          maxValue: param.maxValue,
          minValue: param.minValue
        };
      });
    },

    getResults() {
      return this.$store.getters['service/getResults'];
    }
  },
  methods: {
    addPatient() {
      this.activePromptPatients = true;
      this.$validator.validateAll().then(() => {
        this.$vs.loading();
        this.$store
          .dispatch("service/enroll", {
            userId: this.patient,
            serviceId: this.getService.id
          })
          .then(resp => {
            notify().then(({ notification }) => {
              notification("success", resp, resp.message.code, this.$vs.notify);
            });
            this.$vs.loading.close();
          })
          .catch(err => {
            notify().then(({ notification }) => {
              const code = err.hasOwnProperty("message")
                ? err.message.code
                : err.code;
              notification("error", err, code, this.$vs.notify);
            });
            this.$vs.loading.close();
          });
        this.patient = null;
        this.activePromptPatients = false;
      });
    },
    cancel() {
      this.patient = null;
    },
    activePrompt(recordId) {
      this.params.recordId = recordId;
      this.activePromptResults = true;
    },
    cancelResult() {
      this.activePromptResults = false;
      this.paramSelected = false;
      this.showErrors = false;
      this.params = {
        id: null,
        paramId: null,
        recordId: null,
        initialValue: null,
        finalValue: null
      };
    },
    close() {
      this.activePromptResults = true;
    },
    addResult() {
      this.activePromptResults = true;
      this.params.id = this.getService.id;
      this.$validator.validateAll(this.params).then(isValid => {
        this.showErrors = true;
        if (isValid) {
          this.$vs.loading();
          this.$store
            .dispatch("service/registerResult", this.params)
            .then(resp => {
              this.$vs.loading.close();
              this.activePromptResults = false;
              this.cancelResult();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    recordId(record) {
      return "EXP-00" + (record + 100).toString().slice(1);
    },
    paramsValue(value) {
      if (value) {
        let param = this.getParameters.find(param => param.val == value);
        this.paramSelected = true;
        this.max = param.maxValue;
        this.min = param.minValue;
      } else {
        this.paramSelected = false;
        this.params.paramId = null;
        this.max = null;
        this.min = null;
      }
    },
    getResultPerUser(id) {
      return this.getResults.slice().filter( result => {
        return result.record.id == id
      })
    }
  },
  components: {
    vSelect
  },
  watch: {
    patient: {
      handler() {
        this.$validator.validate("patient");
        if (this.$validator.validate("patient")) {
          this.showErrors = false;
          this.isValid = true;
        } else {
          this.showErrors = true;
          this.isValid = false;
        }
      }
    },
    "params.paramId": {
      handler() {
        this.$validator.validate("paramId");
      }
    },
    "params.initialValue": {
      handler() {
        this.$validator.validate("initialValue");
      }
    },
    "params.finalValue": {
      handler() {
        this.$validator.validate("finalValue");
      }
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      module: "user",
      route: "users",
      data: "users"
    });

    await this.$store.dispatch('service/getResults', this.getService.id);
  }
};
</script>

<style lang="scss">
.input-parameter__value {
  margin-top: 0;
}

.vs-collapse-item.open-item {
  .vs-collapse-item--content {
    overflow: visible;
  }
}
</style>
