<template>
  <vx-card no-shadow title="Registro de resultados">
    <div class="flex flex-wrap items-center justify-end">
      <vs-button class="ml-4 mt-2" @click="activePromptResult = true">Agregar</vs-button>
    </div>
    <ul v-if="getResults.length" class="vx-timeline">
      <li v-for="item in getResults" :key="item.id">
        <div class="timeline-icon bg-primary">
          <feather-icon icon="ActivityIcon" svgClasses="text-white stroke-current w-5 h-5" />
        </div>
        <div class="timeline-info">
          <p class="font-semibold">Fecha del registro {{ item.date | date }}</p>
          <span class="activity-desc font-semibold">Parámetro evaluado: {{ item.param.name }}</span>
          <br />
          <span
            class="activity-desc font-semibold text-primary"
          >Valor: {{ item.value }} - Unidad de medida: {{ item.param.um }}</span>
        </div>
      </li>
    </ul>
    <vs-alert
      v-else
      title="Sin registros"
      color="warning"
      active="true"
      class="mt-5 text-warning"
    >Aún no hay se han registrado resultados para esta actividad.</vs-alert>
    <vs-prompt
      @cancel="cancel"
      title="Registrar resultado"
      accept-text="Agregar"
      cancel-text="Cancelar"
      @accept="addparam"
      @close="close"
      :active.sync="activePromptResult"
    >
      <div class="con-exemple-prompt">
        <span>Indique el parámetro y su valor</span>
        <div class="vx-row my-6">
          <div class="vx-col w-full mt-4 mb-6">
            <v-select
              v-model="params.paramId"
              :options="getParameters"
              :reduce="op => op.val"
              @input="valueSelected"
              data-vv-validate-on="blur"
              v-validate="'required'"
              placeholder="Seleccione un parametro"
              name="paramId"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
            />
            <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("paramId") }}</span>
          </div>
          <div class="vx-col w-full mt-2">
            <vs-input
              v-model="params.value"
              type="number"
              :disabled="!isSelected"
              data-vv-validate-on="blur"
              v-validate="`required|numeric|between:${min},${max}`"
              name="value"
              class="w-full input-parameter__value"
              label-placeholder="Valor"
            />
            <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("value") }}</span>
          </div>
          <div class="vx-col w-full mt-2" v-if="isSelected">
            <vs-alert
              title="Valores para el parámetro"
              color="warning"
              active="true"
              class="mt-5 text-warning"
            >Para este parámetro debe seleccionar un valor que este entre {{ min }} y {{ max }}</vs-alert>
          </div>
        </div>
      </div>
    </vs-prompt>
  </vx-card>
</template>

<script>
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");
export default {
  inject: ["$validator"],
  data() {
    return {
      params: {
        id: null,
        paramId: null,
        value: null
      },
      isSelected: false,
      max: 0,
      min: 0,
      showErrors: false,
      activePromptResult: false
    };
  },
  computed: {
    getActivity() {
      return this.$store.getters["global/getItem"]("activity", "activity");
    },
    getParameters() {
      return this.getActivity.activityConfig.params.slice().map(param => {
        return {
          val: param.id,
          label: param.name,
          maxValue: param.maxValue,
          minValue: param.minValue
        };
      });
    },
    getResults() {
      return this.$store.getters["activity/getResults"];
    }
  },
  methods: {
    addparam() {
      this.params.id = this.getActivity.id;
      this.activePromptResult = true;
      this.$validator.validateAll().then(isValid => {
        this.showErrors = true;
        if (isValid) {
          this.$vs.loading();
          this.$store
            .dispatch("activity/registerResult", this.params)
            .then(resp => {
              this.$vs.loading.close();
              this.activePromptResult = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.cancel();
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    close() {
      this.activePromptResult = true;
    },
    cancel() {
      this.activePromptResult = false;
      this.showErrors = false;
      this.params = {
        paramId: null,
        value: null
      };
    },
    valueSelected(value) {
      if (value) {
        let parameter = this.getParameters.find(
          parameter => parameter.val == value
        );
        this.isSelected = true;
        this.min = parameter.minValue;
        this.max = parameter.maxValue;
      } else {
        this.isSelected = false;
        this.min = 0;
        this.max = 0;
      }
    }
  },
  watch: {
    "params.paramId": {
      handler() {
        this.$validator.validate("paramId");
      }
    },
    "params.value": {
      handler() {
        this.$validator.validate("value");
      }
    }
  },
  components: {
    vSelect
  },
  async created() {
    await this.$store.dispatch("activity/getResults", this.getActivity.id);
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/components/vxTimeline.scss";
</style>
