<template>
  <vx-card no-shadow title="Lista de replanificación">
    <ul v-if="getReplannings.length" class="vx-timeline">
      <li v-for="item in getReplannings" :key="item.id">
        <div class="timeline-icon bg-primary">
          <feather-icon icon="CalendarIcon" svgClasses="text-white stroke-current w-5 h-5" />
        </div>
        <div class="timeline-info">
          <p class="font-semibold">Fecha de replanificación {{ item.date | date }}</p>
          <span
            class="activity-desc font-semibold"
          >Hora {{ item.timeBlock.timeStart | hour }} - {{ item.timeBlock.timeEnd | hour }}</span>
          <br />
          <span class="activity-desc">Motivo {{ item.decription }}</span>
          <br />
          <span
            class="activity-desc font-semibold text-primary"
            v-if="Object.keys(item.place).length"
          >Lugar {{ item.place.name}}, {{ item.place.address}}</span>
        </div>
      </li>
    </ul>
    <vs-alert
      v-else
      title="Sin registros"
      color="warning"
      active="true"
      class="mt-5 text-warning"
    >Aún no hay se ha hecho una replanificación.</vs-alert>
  </vx-card>
</template>

<script>
export default {
  props: {
    module: {
      type: String,
      required: true
    },
    property: {
      type: String,
      required: true
    }
  },
  computed: {
    getItem() {
      return this.$store.getters["global/getItem"](this.module, this.property);
    },
    getReplannings() {
      return this.$store.getters[`${this.module}/getReplannings`];
    }
  },
  async created() {
    await this.$store.dispatch(
      `${this.module}/getReplannings`,
      this.getItem.id
    );
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/vuexy/components/vxTimeline.scss";
</style>

