<template>
  <vx-card no-shadow>
    <h4>{{ title }}: {{ data.name }}</h4>
    <div v-if="!modeEdit">
      <div class="vx-row mt-4" v-if="data.name">
        <div class="vx-col sm:w-2/12 w-full">
          <span class="font-medium">Nombre</span>
        </div>
        <div class="vx-col sm:w-5/12 w-full">
          <p class="w-full">{{ data.name }}</p>
        </div>
        <div class="vx-col sm:w-5/12 flex justify-end">
          <delete-reactivate
            :module="module"
            :property="property"
            :route="route"
            :id="$route.params.id"
            class="mr-2 delete-reactivate"
          ></delete-reactivate>
          <vs-button @click="activePromptReplanning = true">Replanificar</vs-button>
        </div>
      </div>

      <div class="vx-row mb-4">
        <div class="vx-col sm:w-2/12 w-full">
          <span class="font-medium">{{ data.timeBlock ? 'Fecha de ejecución' : 'Fecha de incio'}}</span>
        </div>
        <div class="vx-col sm:w-2/12 w-full">
          <p class="w-full">{{ data.date | date }}</p>
        </div>
        <div class="vx-col sm:w-2/12 w-full">
          <span class="font-medium">Capacidad</span>
        </div>
        <div class="vx-col sm:w-2/12 w-full">
          <p class="w-full">{{ data.capacity }}</p>
        </div>
      </div>
      <div class="vx-row mb-6" v-if="data.timeBlock">
        <div class="vx-col sm:w-2/12 w-full" v-if="Object.entries(data.timeBlock).length">
          <span class="font-medium">Hora de incio</span>
        </div>
        <div class="vx-col sm:w-2/12 w-full" v-if="Object.entries(data.timeBlock).length">
          <p class="w-full">{{ data.timeBlock.timeStart | hour}}</p>
        </div>
        <div class="vx-col sm:w-2/12 w-full" v-if="Object.entries(data.timeBlock).length">
          <span class="font-medium">Hora de fin</span>
        </div>
        <div class="vx-col sm:w-2/12 w-full" v-if="Object.entries(data.timeBlock).length">
          <p class="w-full">{{ data.timeBlock.timeEnd | hour}}</p>
        </div>
      </div>
      <div class="vx-row mb-6" v-if="data.schedule">
        <div class="vx-col w-full mb-6" v-if="Object.entries(data.schedule).length">
          <div class="vx-row">
            <div class="vx-col sm:w-2/12 w-full">
              <span class="font-medium">Hora de inicio</span>
            </div>
            <div class="vx-col sm:w-2/12 w-full">
              <p class="w-full">{{ data.schedule.timeStart | hour}}</p>
            </div>
            <div class="vx-col sm:w-2/12 w-full">
              <span class="font-medium">Hora de fin</span>
            </div>
            <div class="vx-col sm:w-2/12 w-full">
              <p class="w-full">{{ data.schedule.timeEnd | hour}}</p>
            </div>
          </div>
        </div>
        <div class="vx-col w-full" v-if="Object.entries(data.schedule).length">
          <div class="vx-row">
            <div class="vx-col sm:w-2/12 w-full">
              <span class="font-medium">Días</span>
            </div>
            <div class="vx-col sm:w-10/12 w-full">
              <p class="w-full">{{ getDays(data.schedule) }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="vx-row mb-4">
        <div class="vx-col sm:w-2/12 w-full">
          <span class="font-medium">Dirigido a</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full" v-if="isActivity &&  data.activityConfig">
          <p class="w-full">{{ data.activityConfig.userType.name.toLocaleLowerCase() | title }}</p>
        </div>
        <div class="vx-col sm:w-10/12 w-full" v-if="isService">
          <p class="w-full">Paciente</p>
        </div>
      </div>

      <div class="vx-row mb-4" v-if="data.resources">
        <div class="vx-col sm:w-2/12 w-full">
          <span class="font-medium">Recursos</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-list>
            <vs-list-item
              v-for="(resource, index) in data.resources"
              :key="index"
              :title="`${resource.name}, Cantidad: ${resource.quantity}`"
              class="pl-0"
            />
          </vs-list>
        </div>
      </div>

      <div class="vx-row mb-4" v-if="Object.entries(data).length">
        <div class="vx-col sm:w-2/12 w-full">
          <span class="font-medium">Responsables</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-list>
            <vs-list-item
              v-for="(user, index) in data.users ? data.users : data.responsibles"
              :key="index"
              :title="`${user.name} ${user.lastname}`"
              :subtitle="`${user.specialities.map( speciality => ' ' + speciality.name)}.`"
              class="pl-0"
            />
          </vs-list>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="vx-row my-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Nombre</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-edit-1"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|alpha_number_spaces|min:4|max:100'"
            name="name"
            v-model="payload.name"
            autocomplete="off"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("name") }}</span>
        </div>
      </div>
      <slot name="fields-edit" />
      <div class="vx-row mb-6" v-if="isRecurrent && payload.hasOwnProperty('scheduleId')">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Turno</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.scheduleId"
            :reduce="option => option.val"
            :options="payload.schedules"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            placeholder="Seleccione un turno"
            data-vv-validate-on="blur"
            v-validate="'required'"
            key="scheduleId"
            ref="scheduleId"
            name="scheduleId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("scheduleId") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6" v-if="!isRecurrent && payload.hasOwnProperty('timeBlockId')">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Bloque</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.timeBlockId"
            :reduce="option => option.val"
            :options="getBlocks"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            placeholder="Seleccione un bloque"
            data-vv-validate-on="blur"
            v-validate="'required'"
            ref="timeBlockId"
            key="timeBlockId"
            name="timeBlockId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("timeBlockId") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Capacidad</span>
        </div>
        <div class="vx-col">
          <vs-input-number
            v-model.number="payload.capacity"
            min="1"
            data-vv-validate-on="blur"
            v-validate="'required|numeric|min:1'"
            name="capacity"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("capacity") }}</span>
        </div>
      </div>

      <div class="vx-row mb-6" v-if="payload.resources.length">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Recursos</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <resource-data :resources.sync="payload.resources" :options.sync="getResources" />
        </div>
      </div>
      <div class="vx-row mb-base pt-6" v-if="payload.specialitiesWithQuantity.length">
        <div class="vx-col sm:w-2/12 w-full mb-6">Responsables</div>
        <div class="vx-col sm:w-10/12 w-full mb-6">
          <v-select
            multiple
            :reduce="option => option.val"
            :options="users"
            v-model="payload.users"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            placeholder="Seleccione los especialistas"
            data-vv-validate-on="blur"
            v-validate="'required'"
            ref="specialists"
            name="specialists"
            key="specialists"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>No hay personal autorizado para atender {{ type }}.</em>
            </template>
            <template
              v-slot:option="option"
            >{{option.name}} {{option.lastname}} - {{option.specialities.join(", ")}}</template>
          </v-select>
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("specialists") }}</span>
        </div>
        <div class="vx-col sm:w-2/12 w-full" />
        <div class="vx-col sm:w-10/12 w-full">
          <vs-alert color="warning" title="Personal requerido" active="true">
            Para la configuración seleccionada se recomienda
            <vs-list>
              <vs-list-item
                v-for="(speciality, index) in payload.specialitiesWithQuantity"
                :key="index"
                icon-pack="feather"
                icon="icon-shield"
                :title="`${speciality.name} - Cantidad: ${speciality.quantity}`"
              ></vs-list-item>
            </vs-list>
          </vs-alert>
        </div>
      </div>
    </div>
    <slot name="buttons" />
    <vs-prompt
      title="Replanificar"
      accept-text="Agregar"
      cancel-text="Cancelar"
      @cancel="cleanReplanning"
      @close="close"
      @accept="saveReplanning"
      :active.sync="activePromptReplanning"
    >
      <div class="con-exemple-prompt">
        <span>La replanificación es exclusiva para un único día.</span>
        <div class="vx-row my-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Fecha</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <flat-pickr
              :config="configdateTimePicker"
              v-model="replanning.date"
              data-vv-validate-on="blur"
              v-validate="'required'"
              name="date"
              class="w-full"
              placeholder="Escoge una fecha"
            />
            <span v-if="viewErros" class="text-danger text-sm">{{ errors.first("date") }}</span>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Bloque</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <v-select
              v-model="replanning.timeBlockId"
              :reduce="option => option.val"
              :options="getBlocks"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              class="mt-select"
              placeholder="Seleccione un bloque"
              data-vv-validate-on="blur"
              v-validate="'required'"
              ref="timeBlockId"
              key="timeBlockId"
              name="timeBlockId"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
              </template>
            </v-select>
            <span v-if="viewErros" class="text-danger text-sm">{{ errors.first("timeBlockId") }}</span>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Motivo</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <vs-textarea
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:1000'"
              name="description"
              class="vx-replanning__reason"
              v-model="replanning.description"
            />
            <span v-if="viewErros" class="text-danger text-sm">{{ errors.first("description") }}</span>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full" />
          <div class="vx-col sm:w-10/12 w-full">
            <vs-checkbox v-model="replanning.place">Escoge lugar</vs-checkbox>
          </div>
        </div>
        <div class="vx-row mb-6" v-if="replanning.place">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Lugar</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <v-select
              v-model="replanning.placeId"
              :reduce="option => option.val"
              :options="getPlaces"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              class="mt-select"
              placeholder="Seleccione un lugar"
              data-vv-validate-on="blur"
              v-validate="'required'"
              ref="placeId"
              key="placeId"
              name="placeId"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
              </template>
            </v-select>
            <span v-if="viewErros" class="text-danger text-sm">{{ errors.first("placeId") }}</span>
          </div>
        </div>
      </div>
    </vs-prompt>
  </vx-card>
</template>

<script>
import vSelect from "vue-select";
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import DeleteReactivate from "../../configuration/basic-data/components/DeleteRectivate.vue";
import ResourceData from "./ResourcesData.vue";
const notify = () => import("@/vendor/notify.js");
export default {
  inject: ["$validator"],
  data() {
    return {
      users: [],
      moduleB: "block",
      routeB: "timeBlocks",
      propertyB: "timeBlocks",
      moduleR: "resource",
      routeR: "resources",
      propertyR: "resources",
      moduleU: "user",
      routeU: "users",
      propertyU: "users",
      moduleS: "schedule",
      routeS: "schedules",
      propertyS: "schedules",
      moduleP: "place",
      routeP: "places",
      propertyP: "places",
      isValid: false,
      viewErros: false,
      activePromptReplanning: false,
      configdateTimePicker: {
        locale: SpanishLocale,
        altInput: true,
        altInputClass: "w-full flatpickr-input",
        altFormat: "d F Y",
        dateFormat: "Y/m/d",
        minDate: "today"
      },
      replanning: {
        date: null,
        description: "",
        timeBlockId: null,
        placeId: null,
        serviceId: this.payload.id,
        activityId: this.payload.id,
        place: false
      }
    };
  },
  props: {
    isActivity: {
      type: Boolean,
      default: false
    },
    isService: {
      type: Boolean,
      default: false
    },
    data: {
      type: Object,
      required: true
    },
    module: {
      type: String,
      requred: true
    },
    route: {
      type: String,
      required: true
    },
    property: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    resourceType: {
      type: String,
      required: true
    },
    functions: {
      type: Array,
      required: true
    },
    payload: {
      type: Object,
      required: true
    },
    isRecurrent: {
      type: Boolean,
      required: true
    },
    specialities: {
      type: Array,
      required: true
    },
    modeEdit: {
      type: Boolean,
      default: false
    },
    showErrors: {
      type: Boolean,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  methods: {
    getDays(schedule) {
      let days = [];

      if (schedule.monday) days.push(" Lunes");
      if (schedule.tuesday) days.push(" Martes");
      if (schedule.wednesday) days.push(" Miércoles");
      if (schedule.thursday) days.push(" Jueves");
      if (schedule.friday) days.push(" Viernes");
      if (schedule.saturday) days.push(" Sábado");
      if (schedule.sunday) days.push(" Domingo");

      return days.join(",");
    },

    saveReplanning() {
      this.replanning.serviceId = this.data.id;
      this.replanning.activityId = this.data.id;
      this.$validator.validateAll(this.replanning).then(isValid => {
        this.activePromptReplanning = true;
        this.viewErros = true;
        if (isValid) {
          this.$vs.loading();
          this.$store
            .dispatch(`${this.module}/replanning`, this.replanning)
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
              this.activePromptReplanning = false;
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
              this.$vs.loading.close();
            });
        }
      });
    },

    cleanReplanning() {
      this.activePromptReplanning = false;
      this.viewErros = false;
      this.replanning = {
        date: null,
        description: "",
        timeBlockId: null,
        placeId: null,
        serviceId: null,
        activityId: null,
        place: false
      };
    },

    close() {
      this.activePromptReplanning = true;
    }
  },
  computed: {
    getBlocks() {
      return this.$store.getters[`${this.moduleB}/getCustomItems`];
    },
    getResources() {
      return this.$store.getters[`resource/getCustomResources`](
        this.resourceType
      );
    },
    getPlaces() {
      return this.$store.getters[`${this.moduleP}/getCustomItems`];
    }
  },
  components: {
    vSelect,
    flatPickr,
    DeleteReactivate,
    ResourceData
  },
  watch: {
    specialities: {
      handler() {
        this.users = this.$store.getters[`${this.moduleU}/getCustomUser`]({
          specialities: this.specialities,
          functions: this.functions
        });
      }
    },
    "replanning.date": {
      handler() {
        this.$validator.validate("date");
      }
    },
    "replanning.timeBlockId": {
      handler() {
        this.$validator.validate("timeBlockId");
      }
    },
    "replanning.description": {
      handler() {
        this.$validator.validate("description");
      }
    },
    "replanning.placeId": {
      handler() {
        if (this.replanning.place) {
          this.$validator.validate("placeId");
        }
      }
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.routeB,
      module: this.moduleB,
      data: this.propertyB
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeR,
      module: this.moduleR,
      data: this.propertyR
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeP,
      module: this.moduleP,
      data: this.propertyP
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeU,
      module: this.moduleU,
      data: this.propertyU
    });

    this.users = this.$store.getters[`${this.moduleU}/getCustomUser`]({
      specialities: this.specialities,
      functions: this.functions
    });
  }
};
</script>

<style lang="scss">
.vx-replanning__reason {
  margin-bottom: 0 !important;
}
</style>
