<template>
  <vx-card no-shadow title="Lista de incidencias" v-if="!modeCreate">
    <vs-table
      v-model="selected"
      ref="table"
      pagination
      :max-items="itemsPerPage"
      @selected="handleSelected"
      noDataText="No hay incidencias registradas"
      search
      :data.sync="getItems"
      route="/service-incidents"
    >
      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
          <div
            class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
            @click="create"
          >
            <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
            <span class="ml-2 text-base text-primary">Crear</span>
          </div>
        </div>

        <!-- Items por pagina -->
        <vs-dropdown vs-trigger-click class="cursor-pointer mb-4 mr-4 items-per-page-handler">
          <div
            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
          >
            <span
              class="mr-2"
            >{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} - {{ currentPage * itemsPerPage > 0 ? currentPage * itemsPerPage : getItems.length }} de {{ queriedItems }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
          </div>
          <vs-dropdown-menu>
            <vs-dropdown-item @click="itemsPerPage = 4">
              <span>4</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 10">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 15">
              <span>15</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 20">
              <span>20</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

      <template slot="thead">
        <vs-th sort-key="name">Nombre</vs-th>
        <vs-th sort-key="date">Fecha</vs-th>
        <vs-th sort-key="date">Acción</vs-th>
      </template>

      <template slot-scope="{ data }">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <p class="product-name font-medium truncate">{{ tr.name }}</p>
            </vs-td>
            <vs-td>
              <p class="product-name font-medium">{{ tr.date | date }}</p>
            </vs-td>
            <vs-td>
              <vx-tooltip class="inline-block" color="danger" text="Eliminar" position="top">
                <feather-icon
                  icon="TrashIcon"
                  svgClasses="w-5 h-5 hover:text-danger stroke-current"
                  class="ml-3"
                  @click.stop="deleteDialog(tr.id)"
                />
              </vx-tooltip>
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
  </vx-card>
  <vx-card
    v-else-if="showIncident"
    no-shadow
    :title="`Incidencia ${infoIncident.name}`"
    class="vx-card__basic"
  >
    <div class="vx-row mb-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Nombre</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <p class="w-full">{{ infoIncident.name }}</p>
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Fecha</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <p class="w-full">{{ infoIncident.date | date }}</p>
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Descripción</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <p class="w-full">{{ infoIncident.description }}</p>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full flex justify-end">
        <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancelView">Cancelar</vs-button>
      </div>
    </div>
  </vx-card>
  <vx-card v-else no-shadow title="Crear incidencia" class="vx-card__basic">
    <div class="vx-row mb-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Nombre</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <vs-input
          class="w-full"
          icon-pack="feather"
          icon="icon-edit-1"
          icon-no-border
          data-vv-validate-on="blur"
          v-validate="'required|alpha_number_spaces|min:4|max:100'"
          name="name"
          v-model="data.name"
          autocomplete="off"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("name") }}</span>
      </div>
    </div>

    <div class="vx-row mb-6">
      <div class="vx-col sm:w-2/12 w-full">
        <span>Descripción</span>
      </div>
      <div class="vx-col sm:w-10/12 w-full">
        <vs-textarea
          class="w-full vx-text__description"
          v-model="data.description"
          data-vv-validate-on="blur"
          v-validate="'required'"
          name="description"
          autocomplete="off"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("description") }}</span>
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-end">
      <vs-button class="ml-auto mt-2" type="border" color="warning" @click="cancel">Cancelar</vs-button>
      <vs-button class="ml-4 mt-2" @click="save">Guardar</vs-button>
    </div>
  </vx-card>
</template>

<script>
const notify = () => import("@/vendor/notify.js");

export default {
  inject: ["$validator"],
  data() {
    return {
      data: {
        name: "",
        description: "",
        activityId: null,
        serviceId: null
      },
      infoIncident: null,
      showIncident: false,
      itemsPerPage: 4,
      isMounted: false,
      selected: [],
      modeCreate: false,
      showValidations: false
    };
  },
  props: {
    listItems: {
      type: Array,
      required: false
    },
    incidentType: {
      type: String,
      required: true
    },
    isService: {
      type: Boolean,
      rquired: true
    }
  },
  computed: {
    currentPage() {
      if (this.isMounted) {
        return this.$refs.table.currentx;
      }
      return 0;
    },
    queriedItems() {
      return this.$refs.table
        ? this.$refs.table.queriedResults.length
        : this.getItems.length;
    },
    getService() {
      return this.$store.getters["global/getItem"]("service", "service");
    },
    getActivity() {
      return this.$store.getters["global/getItem"]("activity", "activity");
    },
    getItems() {
      return this.$store.getters[
        `${this.isService ? "service" : "activity"}/getIncidences`
      ];
    }
  },
  methods: {
    save() {
      this.$validator.validateAll().then(isValid => {
        this.showValidations = true;
        if (isValid) {
          this.$vs.loading();
          if (this.isService) {
            this.data.serviceId = this.getService.id;
          } else {
            this.data.activityId = this.getActivity.id;
          }
          this.$store
            .dispatch("incident/create", {
              payload: this.data,
              type: this.incidentType
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
              this.showValidations = false;
              this.modeCreate = false;
              this.data = {
                name: "",
                description: "",
                activityId: null,
                serviceId: null
              };
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
              this.$vs.loading.close();
            });
        }
      });
    },

    deleteDialog(id) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea eliminar el registro? Una vez eliminado no podrá recuperarlos`,
          this.delete,
          [id]
        );
      });
    },

    async delete(parameters) {
      await this.$store
        .dispatch("incident/delete", {
          id: parameters[0],
          type: this.incidentType
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro eliminado"
            );
          });
        });
    },

    handleSelected(tr) {
      this.infoIncident = tr;
      this.showIncident = true;
      this.modeCreate = true;
    },

    cancelView() {
      this.showIncident = false;
      this.modeCreate = false;
    },

    create() {
      this.modeCreate = true;
    },

    cancel() {
      this.modeCreate = false;
    }
  },
  watch: {
    "data.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "data.description": {
      handler() {
        this.$validator.validate("description");
      }
    }
  },
  created() {
    if (this.isService) {
      this.$store.dispatch("service/getIncidences", this.getService.id);
    } else {
      this.$store.dispatch("activity/getIncidences", this.getActivity.id);
    }
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
.vx-select__user .vs__dropdown-option--disabled {
  display: block;
}
.vx-text__description {
  margin-bottom: 0;
}
</style>

