<template>
  <div>
    <vx-tooltip text="Canal de escucha" position="left">
      <vs-button class="button_channel" radius icon="icon-radio" icon-pack="feather" @click="activePrompt = true" />
    </vx-tooltip>
    <vs-prompt
      class="email-compose"
      title="Nuevo mensaje"
      accept-text="Enviar"
      @cancel="clearFields"
      @accept="sendMessage"
      @close="clearFields"
      :is-valid="validateMessageType"
      :active.sync="activePrompt"
    >
      <VuePerfectScrollbar class="scroll-area p-4" :settings="settings" :key="$vs.rtl">
        <form @submit.prevent>
          <v-select
            v-validate="'required'"
            v-model="message.messageType"
            class="w-full mb-6"
            :options="messageTypes"
            :reduce="opt => opt.val"
            name="messageType"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            :danger="!validateMessageType && message.messageType != ''"
            val-icon-danger="clear"
            :success="validateMessageType"
            val-icon-success="done"
            :color="validateMessageType ? 'success' : 'danger'"
          />

          <quill-editor v-model="message.message" :options="editorOption" />
        </form>
      </VuePerfectScrollbar>
    </vs-prompt>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import { quillEditor } from "vue-quill-editor";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      activePrompt: false,
      message: {
        message: "",
        messageType: "questions"
      },
      messageTypes: [
        { label: "PREGUNTA", val: "questions" },
        { label: "SUGERENCIA", val: "suggestions" },
        { label: "RECLAMO", val: "claims" }
      ],
      editorOption: {
        modules: {
          toolbar: [
            [
              "bold",
              "italic",
              "underline",
              "strike",
              "link",
              "blockquote",
              "code-block"
            ],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ font: [] }]
          ]
        },
        placeholder: "Escriba aquí su mensaje"
      },
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.3
      },
      module: "message",
      route: "messages",
      property: "contactMessage",
      path: "/messages"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    clearFields() {
      this.$nextTick(() => {
        this.message = {
          message: "",
          messageType: "questions"
        };
      });
    },
    async sendMessage() {
      this.message["name"] = this.$store.getters["auth/getUserAuth"].name;
      this.message["lastname"] = this.$store.getters[
        "auth/getUserAuth"
      ].lastname;
      this.message["email"] = this.$store.getters["auth/getUserAuth"].email;
      this.message["telephone"] = this.$store.getters[
        "auth/getUserAuth"
      ].telephone;
      this.$vs.loading();
      await this.$store
        .dispatch("global/create", {
          payload: this.message,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(resp => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
        });
      this.clearFields();
    }
  },
  computed: {
    validateMessageType() {
      return !this.errors.any() && this.message.messageType != "";
    }
  },
  components: {
    "v-select": vSelect,
    quillEditor,
    VuePerfectScrollbar
  }
};
</script>