<template>
  <div>
    <!-- Show info -->
    <vs-tabs alignment="fixed">
      <vs-tab label="General" icon-pack="feather" icon="icon-file-text">
        <info
          v-on:deletepathology="deleteAntecendet"
          class="mt-6"
          :data="data"
          :archiveRecord="true"
          :modalAction.sync="modalAction"
          :modalName.sync="modalName"
          :openModal.sync="openModal"
        ></info>
      </vs-tab>
      <vs-tab label="Históricos" icon-pack="feather" icon="icon-inbox">
        <history
          class="mt-6"
          v-on:addRecordDetail="addRecordDetail"
          :recordDetails="data.recordDetails || []"
          :serviceRecordDetails="data.serviceResults || []"
        ></history>
      </vs-tab>
    </vs-tabs>

    <!-- Prompt Agregar info expediente -->
    <vs-prompt
      class="prompt-appointment"
      @cancel="clearValMultiple"
      @accept="editRecord"
      accept-text="Aceptar"
      cancel-text="Cancelar"
      :title="modalAction +' '+ computedNameModal"
      :active.sync="openModal"
    >
      <div class="con-exemple-prompt">
        <social-status
          v-if="modalName == 'socialStatus'"
          :showValidation="showValidation"
          :socialStatus="socialStatus"
        ></social-status>
        <family-history
          v-if="modalName == 'familyHistory'"
          :familyHistory="antecedent"
          :showValidation="showValidation"
        ></family-history>
        <health-info
          :modalName="modalName"
          :healthInfo="healthInfo"
          v-if="modalName == 'allergies' || modalName == 'treatments'"
        ></health-info>
      </div>
    </vs-prompt>
  </div>
</template>
<script>
const notify = () => import("@/vendor/notify.js");
import Info from "./Info";
import SocialStatus from "./SocialStatus";
import FamilyHistory from "./FamilyHistory";
import HealthInfo from "./HealthInfo";
import History from "./History";
export default {
  data() {
    return {
      module: "record",
      route: "records",
      property: "record",
      path: "/record",
      data: {},
      socialStatus: {},
      healthInfo: { treatments: "", allergies: "" },
      pathologyId: null,
      antecedent: {},
      recordDetail: {},
      modalName: "",
      modalAction: "",
      openModal: false,
      showValidation: false
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          await this.assignPayload(this.data);
          this.$store.commit(
            "SET_BREADCRUMB",
            this.data.user.name + " " + this.data.user.lastname
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    clearValMultiple() {
      this.modalName = "";
      this.modalAction = "";
    },
    deleteAntecendet(id) {
      this.pathologyId = id;
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea eliminar el registro?`,
          this.editRecord
        );
      });
    },
    addRecordDetail(recordDetail) {
      this.recordDetail = recordDetail;
      this.editRecord();
    },
    editRecord() {
      this.$validator.validateAll().then(async validate => {
        this.showValidation = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
            .dispatch("global/update", {
              payload: {
                id: this.data.id,
                socialStatus: this.socialStatus,
                pathology: this.antecedent,
                treatments: this.healthInfo.treatments,
                allergies: this.healthInfo.allergies,
                pathologyId: this.pathologyId,
                recordDetail: this.recordDetail
              },
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(async resp => {
              this.$set(
                this,
                "data",
                JSON.parse(JSON.stringify(this.getItem(this.$route.params.id)))
              );
              this.$set(this, "antecedent", {});
              this.$set(this, "recordDetail", {});
              this.$set(this, "pathologyId", null);
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                this.$vs.loading.close();
                this.replanning = true;
                if (!Object.is(err.message.code, 404)) {
                  notification("error", err, err.message.code, this.$vs.notify);
                }
              });
            });
        } else {
          this.openModal = true;
        }
      });
    },
    assignPayload(data) {
      this.$set(
        this,
        "socialStatus",
        JSON.parse(JSON.stringify(this.data.socialStatus))
      );
      this.$set(this, "healthInfo", {
        treatments: data.treatments,
        allergies: data.allergies
      });
    }
  },
  components: {
    Info,
    SocialStatus,
    FamilyHistory,
    HealthInfo,
    History
  },
  computed: {
    computedNameModal() {
      if (this.modalName == "socialStatus") {
        return "estudio socio económico";
      }
      if (this.modalName == "familyHistory") {
        return "antecedentes";
      }
      if (this.modalName == "treatments") {
        return "tratamientos";
      }
      if (this.modalName == "allergies") {
        return "alergias";
      }
      return "";
    }
  },
  created() {
    this.getItem(this.$route.params.id);
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>