<template>
  <div>
     <v-select
      v-model="familyHistory.id"
      name="pathologyId"
      :options="pathologyIdOptions"
      data-vv-validate-on="blur"
      v-validate="'required'"
      placeholder="Patología"
      :reduce="opt => opt.val"
      class="mt-4 mb-2"
    ></v-select>
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('pathologyId') }}</span>
    <ul class="centerx">
      <li>
        <vs-radio v-model="origin" vs-value="P">Propia</vs-radio>
      </li>
      <li>
        <vs-radio v-model="origin" vs-value="F">Familiar</vs-radio>
      </li>
    </ul>

    <v-select
      v-model="familyHistory.kinship"
      v-if="origin=='F'"
      name="kinship"
      :options="kinshipOptions"
      data-vv-validate-on="blur"
      v-validate="'required'"
      placeholder="Parentesco"
      :reduce="opt => opt.val"
      class="mt-4 mb-8"
    ></v-select>
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('kinship') }}</span>

    <v-select
      v-model="familyHistory.origin"
      v-if="origin=='F' && !['MOTHER', 'FATHER'].includes(familyHistory.kinship)"
      name="origin"
      :options="originOptions"
      data-vv-validate-on="blur"
      v-validate="'required'"
      placeholder="Origen"
      :reduce="opt => opt.val"
      class="mt-4 mb-8"
    ></v-select>
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('origin') }}</span>
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  inject: ["$validator"],
  props:{
    familyHistory:{
      type: Object,
      required: true,
    },
    showValidation:{
      type: Boolean,
      required: true,
    }
  },
  data(){
    return{
      origin:null,
      kinshipOptions:[
        {
          label: "Madre",
          val: "MOTHER"
        },
        {
          label: "Padre",
          val: "FATHER"
        },
        {
          label: "Abuela",
          val: "GRANDMOTHER"
        },
        {
          label: "Abuelo",
          val: "GRANDFATHER"
        },
        {
          label: "Bisabuelo",
          val: "GREATGRANDFATHER"
        },
        {
          label: "Bisabuela",
          val: "GREATGRANDMOTHER"
        },
        {
          label: "Tío",
          val: "UNCLE"
        },
        {
          label: "Tía",
          val: "AUNT"
        }
      ],
      originOptions:[
        {
          label: "Materno(a)",
          val: "MOTHER"
        },
        {
          label: "Paterno(a)",
          val: "FATHER"
        },
      ]
    }
  },
  components: {
    "v-select": vSelect
  },
  computed:{
    pathologyIdOptions(){
      return this.$store.getters["pathology/getCustom"]
    }
  },
  created(){
    this.$store.dispatch("global/getItems", {
        route: "pathologies",
        module: "pathology",
        data: "pathologies"
      });
  }
}
</script>