<template>
  <div>
    <vs-textarea v-if="modalName == 'allergies'" class="w-full mb-4" data-vv-validate-on="blur"
        v-validate="'required'" placeholder="Alergias" v-model="healthInfo.allergies" name="allergies"/>
    <vs-textarea  v-if="modalName == 'treatments'" class="w-full mb-4" data-vv-validate-on="blur"
        v-validate="'required'" placeholder="Tratamientos" v-model="healthInfo.treatments" name="treatments"/>
  </div>
</template>
<script>
export default {
  props:{
    healthInfo:{
      type: Object,
      required: true,
    },
    modalName:{
      type:String,
      required: true,
    }
  }
}
</script>