<template>
  <div>
    <vs-card class="mb-base" title-color="primary">
      <div slot="header" class="m-2 mb-0 flex justify-between">
        <h4 class="text-primary">Registros históricos</h4>
        <vs-button
          color="primary"
          type="border"
          icon-pack="feather"
          icon="icon-plus"
          @click="addDetail"
        >Crear</vs-button>
      </div>

      <ul v-if="recordDetails.length" class="vx-timeline">
        <li v-for="item in recordDetails.slice().reverse()" :key="item.id">
          <div class="timeline-icon" :class="`bg-${item.result? 'success': 'primary'}`">
            <feather-icon icon="CalendarIcon" svgClasses="text-white stroke-current w-5 h-5" />
          </div>
          <div class="timeline-info">
            <p class="font-semibold">Registro {{ (item.id+1000).toString().slice(1) }}</p>
            <span class="activity-desc font-semibold text-primary">{{ item.phase | formatPhase }}</span>
            <span class="activity-desc">{{ item.description }}</span>
          </div>
          <small
            class="text-xs text-gray"
          >Creado el {{ item.date }}, por {{ item.createdBy.name }} {{ item.createdBy.lastname }}</small>
        </li>
      </ul>

      <vs-alert
        v-else
        title="Sin registros"
        color="warning"
        active="true"
        class="mt-5 text-warning"
      >Aún no hay registros en el expediente.</vs-alert>
    </vs-card>

    <vs-card class="mb-base" title-color="primary">
      <div slot="header" class="m-2 mb-0 flex justify-between">
        <h4 class="text-primary">Resultados de servicios</h4>
      </div>

      <ul v-if="serviceDetailgroups.length" class="vx-timeline">
        <li v-for="(item, index) in serviceDetailgroups" :key="index">
          <div class="timeline-icon" :class="`bg-${item.result? 'success': 'primary'}`">
            <feather-icon icon="CalendarIcon" svgClasses="text-white stroke-current w-5 h-5" />
          </div>
          <div class="timeline-info">
            <p class="font-semibold">Fecha {{ item.date | date }}</p>
            <div v-for="(param, indexP) in item.parameters" :key="indexP" class="mb-1">
              <span
                class="activity-desc font-semibold text-primary"
              >Servicio: {{ param.service.name }}</span>
              <br />
              <span
                class="activity-desc"
              >Parámetro evaluado: {{ param.param.name }}, valor inicial: {{param.initialValue}}, valor final: {{param.finalValue}}</span>
              <br />
              <span class="activity-desc">Unidad de medida: {{ param.param.um }}</span>
            </div>
          </div>
        </li>
      </ul>

      <vs-alert
        v-else
        title="Sin registros"
        color="warning"
        active="true"
        class="mt-5 text-warning"
      >El paciente no ha sido evaluado en ningún servicio.</vs-alert>
    </vs-card>

    <!-- @cancel="clearValMultiple"
    @accept="editRecord"-->
    <vs-prompt
      class="prompt-appointment"
      @accept="$emit('addRecordDetail', recordDetail)"
      accept-text="Aceptar"
      :is-valid="recordDetail.phase != null && recordDetail.description.length > 0"
      cancel-text="Cancelar"
      title="Crear registro"
      :active.sync="openModal"
    >
      <div class="con-exemple-prompt">
        <v-select
          v-model="recordDetail.phase"
          name="phase"
          :options="phases"
          data-vv-validate-on="blur"
          v-validate="'required'"
          placeholder="Estadío"
          :reduce="opt => opt.val"
          class="mt-4 mb-2"
        ></v-select>
        <span class="text-danger text-sm">{{ errors.first('phase') }}</span>
        <vs-textarea
          v-model="recordDetail.description"
          class="w-full mb-4"
          data-vv-validate-on="blur"
          v-validate="'required'"
          placeholder="Descripción"
        />
      </div>
    </vs-prompt>
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  inject: ["$validator"],
  props: {
    recordDetails: {
      type: Array,
      required: true
    },
    serviceRecordDetails: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      recordDetail: {
        phase: "",
        description: ""
      },
      openModal: false,
      timelineData: [
        {
          color: "primary",
          icon: "CalendarIcon",
          title: "Registro 001",
          desc: "Estadío I: Paciente admitido por .... ",
          time: "Creado el  10/07/2020 por Ana Hernández"
        }
      ],
      serviceDetailgroups: null
    };
  },
  methods: {
    addDetail() {
      this.recordDetail.phase = this.recordDetails.length
        ? this.recordDetails[this.recordDetails.length - 1].phase
        : null;
      this.openModal = true;
    },
    groupBy(arr, filter) {
      let arrGroup = arr.reduce(function(groups, item) {
        let val = item[filter];
        groups[val] = groups[val] || { date: item.date, parameters: [] };
        groups[val]["parameters"].push(item);
        return groups;
      }, {});

      return Object.values(arrGroup);
    }
  },
  components: {
    "v-select": vSelect
  },
  computed: {
    phases() {
      return this.$store.getters["userType/getPhases"].filter(
        el => el.label != "Todos"
      );
    }
  },
  filters: {
    formatPhase(value) {
      switch (value) {
        case "PHASE1":
          return "Estadío I";
        case "PHASE2":
          return "Estadío II";
        case "PHASE3":
          return "Estadío III";
        case "PHASE4":
          return "Estadío IV";
        case "PHASE5":
          return "Estadío V";
      }
    }
  },
  created() {
    this.serviceDetailgroups = this.groupBy(this.serviceRecordDetails, "date");
  }
};
</script>
<style lang="scss">
@import "@/assets/scss/vuexy/components/vxTimeline.scss";
</style>