<template>
  <div id="page-user-view">
    <div id="user-data" v-if="data.user">
      <vx-card
        :title=" 'Expediente: EXP-'+ ' '+(data.id+10000).toString().slice(1) "
        class="mb-base"
        title-color="primary"
      >
        <div class="vx-row">
          <div class="vx-col" id="avatar-col">
            <div class="img-container mb-4">
              <img :src="`${url}files/uploads/${data.user.image}`" class="rounded w-full" />
            </div>
          </div>
          <div class="vx-col flex-1" id="account-info-col-1">
            <table>
              <tr>
                <td class="font-semibold">Nombre</td>
                <td>{{ data.user.name }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Apellido</td>
                <td>{{ data.user.lastname }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Correo electrónico</td>
                <td>{{ data.user.email }}</td>
              </tr>
            </table>
          </div>

          <div class="vx-col flex-1" id="account-info-col-2">
            <table>
              <tr>
                <td class="font-semibold">Código</td>

                <td class="font-semibold">{{data.code}}</td>
              </tr>
              <tr>
                <td>
                  <vs-chip
                    v-if="data.recordDetails.length"
                    color="primary"
                    class="detail-tag-chip font-semibold"
                  >{{data.phase | formatPhase}}</vs-chip>

                  <vs-chip
                    v-else
                    color="primary"
                    class="detail-tag-chip font-semibold"
                  >Estadío: Por definir</vs-chip>
                </td>
              </tr>
            </table>
          </div>
          <!-- /Information - Col 2 -->
        </div>
        <div class="vx-row">
          <!-- Progress Bar -->
          <vs-progress class="w-full mx-2" :percent="progress" :color="progressColor"></vs-progress>
          <vs-alert
            class="vx-col md:w-1/2 w-full m-2"
            :vs-active="!true"
            :color="progressColor"
            icon-pack="feather"
            icon="icon-x"
          >{{ progress == 100 ? "La información del expediente está completa" : "Se debe completar la información del expediente" }}</vs-alert>
        </div>
      </vx-card>

      <div class="vx-row flex">
        <div class="vx-col w-full flex flex-1">
          <vx-card title="Información personal" class="mb-base">
            <table>
              <tr>
                <td class="font-semibold">Fecha de nacimiento</td>
                <td class="pl-3">{{ data.user.birthdate | dateFormat() }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Edad</td>
                <td class="pl-3">{{ data.user.birthdate | ageFormat() }} años</td>
              </tr>
              <tr>
                <td class="font-semibold">Teléfono</td>
                <td class="pl-3">{{ data.user.telephone }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Género</td>
                <td
                  v-if="data.user.gender"
                  class="pl-3"
                >{{ data.user.gender.includes('F') ? 'Femenino' : 'Masculino' }}</td>
              </tr>
            </table>
          </vx-card>
        </div>

        <div class="vx-col w-full flex flex-1">
          <vx-card title="Estudio socio-económico" class="mb-base">
            <template v-if="Object.entries(data.socialStatus).length">
              <table>
                <tr>
                  <td class="font-semibold">Estado civil</td>
                  <td
                    v-if="data.socialStatus.maritalStatus"
                    class="pl-3"
                  >{{data.socialStatus.maritalStatus}}</td>
                </tr>
                <!-- <tr>
                <td class="font-semibold">Grado de instrucción</td>
                <td v-if="data.socialStatus.instructionDegree" class="pl-3">{{data.socialStatus.instructionDegree}}</td>
                </tr>-->
                <tr>
                  <td class="font-semibold">Ocupación</td>
                  <td
                    v-if="data.socialStatus.occupation"
                    class="pl-3"
                  >{{data.socialStatus.occupation}}</td>
                </tr>
                <tr>
                  <td class="font-semibold">Ingresos mensuales</td>
                  <td
                    v-if="data.socialStatus.income"
                    class="pl-3"
                  >{{ data.socialStatus.currency == '$' ? '$':'' }} {{data.socialStatus.income}} {{ data.socialStatus.currency == 'Bs ' ? 'Bs ':'' }}</td>
                </tr>
                <tr>
                  <td class="font-semibold">Gastos mensuales</td>
                  <td
                    v-if="data.socialStatus.expenses"
                    class="pl-3"
                  >{{ data.socialStatus.currency == '$' ? '$':'' }} {{data.socialStatus.expenses}} {{ data.socialStatus.currency == 'Bs ' ? 'Bs ':'' }}</td>
                </tr>
                <tr>
                  <td class="font-semibold">Grupo familiar (Nro)</td>
                  <td
                    v-if="data.socialStatus.peopleHome"
                    class="pl-3"
                  >{{data.socialStatus.peopleHome}} personas</td>
                </tr>
              </table>
              <vs-row vs-justify="flex-end">
                <vs-button
                  type="border"
                  color="primary"
                  icon="edit"
                  @click="addInfo('Editar', 'socialStatus')"
                ></vs-button>
              </vs-row>
            </template>
            <vs-button
              v-else
              type="border"
              color="primary"
              icon-pack="feather"
              @click="addInfo('Agregar', 'socialStatus')"
              icon="icon-plus"
            >Agregar estatus social</vs-button>
            <div slot="footer"></div>
          </vx-card>
        </div>
      </div>

      <!-- Información medica -->
      <div class="vx-row flex">
        <div class="vx-col w-full flex flex-1">
          <vx-card title="Alergias" class="mb-base">
            <template v-if="data.allergies">
              <p>{{data.allergies}}</p>
              <vs-row vs-justify="flex-end">
                <vs-button
                  type="border"
                  color="primary"
                  icon="edit"
                  @click="addInfo('Editar', 'allergies')"
                ></vs-button>
              </vs-row>
            </template>
            <vs-button
              v-else
              type="border"
              color="primary"
              icon-pack="feather"
              icon="icon-plus"
              @click="addInfo('Agregar', 'allergies')"
            >Agregar alergias</vs-button>
          </vx-card>
        </div>

        <div class="vx-col w-full flex flex-1">
          <vx-card title="Tratamientos" class="mb-base">
            <template v-if="data.treatments">
              <p>{{data.treatments}}</p>
              <vs-row vs-justify="flex-end">
                <vs-button
                  type="border"
                  color="primary"
                  icon="edit"
                  @click="addInfo('Editar', 'treatments')"
                ></vs-button>
              </vs-row>
            </template>
            <vs-button
              v-else
              type="border"
              color="primary"
              icon-pack="feather"
              icon="icon-plus"
              @click="addInfo('Agregar', 'treatments')"
            >Agregar tratamientos</vs-button>
          </vx-card>
        </div>

        <vx-card class="mx-4">
          <div class="vx-row">
            <div class="vx-col w-full">
              <div class="flex items-end px-3">
                <feather-icon svgClasses="w-6 h-6" icon="ActivityIcon" class="mr-2" />
                <span class="font-medium text-lg leading-none">Antecedentes</span>
              </div>
              <vs-divider />
            </div>
          </div>

          <template v-if="data.pathologies.length">
            <div class="vx-row">
              <div class="vx-col md:w-1/3 w-full">
                <h6 class="font-semibold">Patología</h6>
              </div>
              <div class="vx-col md:w-2/3 w-full">
                <h6 class="font-semibold">Parentesco</h6>
              </div>
            </div>
            <div class="vx-row mt-3" v-for="history in data.pathologies" :key="history.id">
              <div class="vx-col md:w-1/3 w-full">
                <h6 class="font-semibold">{{history.name}}</h6>
              </div>
              <div class="vx-col md:w-2/3 w-full">
                <span>{{history.kinship | getKinship}} {{history.origin | getOrigin}}</span>
                <vx-tooltip
                  text="Quitar"
                  position="right"
                  delay=".3s"
                  class="inline-block float-right"
                >
                  <feather-icon
                    icon="Trash2Icon"
                    class="px-4 py-2 cursor-pointer text-danger"
                    svgClasses="w-5 h-5 text-danger"
                    @click="$emit('deletepathology', history.id)"
                  />
                </vx-tooltip>
              </div>
            </div>
          </template>
          <vs-button
            class="mt-4"
            type="border"
            color="primary"
            icon-pack="feather"
            icon="icon-plus"
            @click="addInfo('Agregar', 'familyHistory')"
          >Agregar antecedentes</vs-button>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    archiveRecord: {
      type: Boolean,
      required: true
    },
    modalName: {
      type: String,
      default: ""
    },
    modalAction: {
      type: String,
      default: ""
    }
  },
  data() {
    return {};
  },
  computed: {
    url() {
      return process.env.VUE_APP_URL;
    },
    progress() {
      let progress = 20;
      if (Object.entries(this.data.socialStatus).length) {
        progress += 20;
      }
      if (this.data.allergies) {
        progress += 20;
      }
      if (this.data.pathologies && this.data.pathologies.length) {
        progress += 20;
      }
      if (this.data.treatments && this.data.treatments.length) {
        progress += 20;
      }
      return progress;
    },
    progressColor() {
      let progressColor = "danger";
      if (this.progress > 40) {
        progressColor = "warning";
      }
      if (this.progress > 60) {
        progressColor = "success";
      }
      if (this.progress > 80) {
        progressColor = "primary";
      }
      return progressColor;
    }
  },
  methods: {
    addInfo(operation, name) {
      this.$emit("update:modalAction", operation);
      this.$emit("update:modalName", name);
      this.$emit("update:openModal", true);
    }
  },
  components: {
    moment
  },
  filters: {
    dateFormat: function(value) {
      return moment(String(value)).format("DD/MM/YYYY");
    },
    ageFormat: function(value) {
      return moment().diff(moment(value, "YYYY/MM/DD"), "years");
    },
    getKinship(value) {
      switch (value) {
        case "FATHER":
          return "Padre";
        case "MOTHER":
          return "Madre";
        case "GRANDFATHER":
          return "Abuelo";
        case "GRANDMOTHER":
          return "Abuela";
        case "GREATGRANDFATHER":
          return "Bisabuelo";
        case "GREATGRANDMOTHER":
          return "Bisabuela";
        case "UNCLE":
          return "Tío";
        case "AUNT":
          return "Tía";
        default:
          return " - ";
      }
    },
    getOrigin(value) {
      switch (value) {
        case "FATHER":
          return "paterno(a)";
        case "MOTHER":
          return "materno(a)";
        default:
          return "";
      }
    },
    formatPhase(value) {
      switch (value) {
        case "PHASE1":
          return "Estadío I";
        case "PHASE2":
          return "Estadío II";
        case "PHASE3":
          return "Estadío III";
        case "PHASE4":
          return "Estadío IV";
        case "PHASE5":
          return "Estadío V";
      }
    }
  }
};
</script>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

.detail-tag-chip {
  &.vs-chip-primary {
    background: rgba(var(--vs-primary), 0.15);
    color: rgba(var(--vs-primary), 1) !important;
    font-weight: 500;
  }
  &.vs-chip-success {
    background: rgba(var(--vs-success), 0.15);
    color: rgba(var(--vs-success), 1) !important;
    font-weight: 500;
  }
  &.vs-chip-danger {
    background: rgba(var(--vs-danger), 0.15);
    color: rgba(var(--vs-danger), 1) !important;
    font-weight: 500;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1211px),
  only screen and (min-width: 636px) and (max-width: 991px) {
  #account-info-col-1 {
    width: calc(100% - 12rem) !important;
  }
}
</style>
