<template>
  <div>
    <transaction-list :components="components" :columns="columns" :data="data" :path="path"></transaction-list>
  </div>
</template>
<script>
import TransactionList from "../components/List";
import StatusRendered from "../components/StatusRendered";
import moment from "moment";
export default {
  data() {
    return {
      columns: [
        {
          headerName: "Número",
          filter: true,
          width: 100,
          valueGetter: function(params) {
            //return  moment(String(params.data.date)).format("dd/mm/yyyy")
            return "EXP-00" + (params.data.id+100).toString().slice(1);
          }
        },
        {
          headerName: "Paciente",
          filter: true,

          valueGetter: function(params) {
            //return  moment(String(params.data.date)).format("dd/mm/yyyy")
            return params.data.user ? params.data.user.name + " " + params.data.user.lastname : "";
          }
        },
        {
          headerName: "Estadío",
          filter: true,
          width: 100,
          valueGetter: function(params) {
            //return  moment(String(params.data.date)).format("dd/mm/yyyy")
            if(params.data.recordDetails && params.data.recordDetails.length){
              switch(params.data.phase){
                case 'PHASE1': return 'Estadío I';
                case 'PHASE2': return 'Estadío II';
                case 'PHASE3': return 'Estadío III';
                case 'PHASE4': return 'Estadío IV';
                case 'PHASE5': return 'Estadío V';
              }
            }
            return "Por definir";
          }
        },
        {
          headerName: "Creado el",
          field: "date",
          filter: "agDateColumnFilter",
          valueGetter: function(params) {
            return  moment(String(params.data.date)).format("DD/MM/YYYY")
          },
          filterParams: {
            comparator: (filterLocalDateAtMidnight, cellValue) => {
              var dateAsString = cellValue;
              if (dateAsString == null) return -1;
              var dateParts = dateAsString.split("/");
              var cellDate = new Date(
                Number(dateParts[2]),
                Number(dateParts[1]) - 1,
                Number(dateParts[0])
              );
              if (filterLocalDateAtMidnight.getTime() == cellDate.getTime()) {
                return 0;
              }
              if (cellDate < filterLocalDateAtMidnight) {
                return -1;
              }
              if (cellDate > filterLocalDateAtMidnight) {
                return 1;
              }
            },
            browserDatePicker: true
          },
          width: 150,
          suppressSizeToFit: true
        },
      ],
      components: {},
      module: "record",
      route: "records",
      singularProperty: "record",
      pluralProperty: "records",
      path: "/record"
    };
  },
  components: {
    TransactionList,
    StatusRendered
  },
  computed: {
    data() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      ).slice().reverse();
    }
  },
  beforeMount() {
    this.components = {
      statusRenderer: StatusRendered
    };
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  },
};
</script>