<template>
  <div>
    <v-select
      v-model="socialStatus.maritalStatus"
      name="maritalStatus"
      :options="maritalStatusOptions"
      data-vv-validate-on="blur"
      v-validate="'required'"
      placeholder="Estado civil"
      class="mt-4 mb-2"
    ></v-select>
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('maritalStatus') }}</span>

    <!-- <v-select
      v-model="socialStatus.instructionDegree"
      name="instructionDegree"
      :options="instructionDegreeOptions"
      data-vv-validate-on="blur"
      v-validate="'required'"
      placeholder="Grado de instrucción"
      :reduce="opt => opt.val"
      class="mt-4 mb-8"
    ></v-select>
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('instructionDegree') }}</span> -->

    <vs-input class="w-full mb-4" data-vv-validate-on="blur"
        v-validate="'required'" label-placeholder="Ocupación" v-model="socialStatus.occupation" name="occupation"/>
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('occupation') }}</span>

    <div class="vx-row">
      <vs-input
        class="vx-col w-4/12 mb-4"
        label-placeholder="Ingresos"
        data-vv-validate-on="blur"
        v-validate="'required|numeric'"
        v-model="socialStatus.income"
        name="income"
      />
      <vs-input
        class="vx-col w-4/12 pl-1 mb-4"
        data-vv-validate-on="blur"
        v-validate="'required|numeric'"
        label-placeholder="Gastos"
        v-model="socialStatus.expenses"
        name="expenses"
      />
      <v-select
        v-model="socialStatus.currency"
        name="currency"
        :options="['$','Bs ']"
        :clearable="false"
        data-vv-validate-on="blur"
        v-validate="'required'"
        class="vx-col w-4/12 px-2 mb-4 pt-5"
      ></v-select>
      <span class="pl-4 text-danger text-sm">{{ errors.first('income') }}</span>
      <span class="pl-4 text-danger text-sm">{{ errors.first('expenses') }}</span>
      <span class="pl-4 text-danger text-sm">{{ errors.first('currency') }}</span>
    </div>
    <vs-input
      class="w-full mb-8"
      label-placeholder="Grupo familiar"
      data-vv-validate-on="blur"
      v-validate="'required|numeric'"
      v-model="socialStatus.peopleHome"
      name="peopleHome"
    />
    <span class="text-danger text-sm">{{ errors.first('peopleHome') }}</span>
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  inject: ["$validator"],
  props: {
    socialStatus: {
      type: Object
    },
    showValidation: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      maritalStatusOptions: ["Soltero(a)","Casado(a)","Divorciado(a)","Viudo(a)"],
      instructionDegreeOptions: ["Primaria","Secundaria","Bachiller","Técnico","Master"],
    };
  },
  watch: {
    "data.currency": {
      handler() {
        this.$validator.validate("currency");
      }
    },
    "data.expenses": {
      handler() {
        this.$validator.validate("expenses");
      }
    },
    "data.income": {
      handler() {
        this.$validator.validate("income");
      }
    },
    /* "data.instructionDegree": {
      handler() {
        this.$validator.validate("instructionDegree");
      }
    }, */
    "data.maritalStatus": {
      handler() {
        this.$validator.validate("maritalStatus");
      }
    },
    "data.occupation": {
      handler() {
        this.$validator.validate("occupation");
      }
    },
    "data.peopleHome": {
      handler() {
        this.$validator.validate("peopleHome");
      }
    },
  },
  components: {
    "v-select": vSelect
  }
};
</script>