<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Cita inicial">
        <info :data="data" v-if="Object.keys(data).length">
          <template slot="action-buttons">
            <div class="vx-col flex flex-grow justify-end">
              <vs-button
                v-if="data.stage == 'PENDING' && data.responsible.id == $store.state.auth.user.id"
                class="delete-reactivate"
                color="success"
                type="border"
                @click="attendAppointment = true"
                icon-pack="feather"
                icon="icon-check"
              >Atender</vs-button>
              <vs-button
                v-if="data.stage == 'PENDING' || data.stage == 'EXPIRED'"
                class="ml-3 delete-reactivate"
                color="warning"
                type="border"
                @click="openAccept"
                icon-pack="feather"
                icon="icon-clock"
              >Replanificar</vs-button>
              <vs-button
                v-if="data.result == 'REJECTED' "
                color="danger"
                type="border"
                @mouseenter="hover = true"
                @mouseleave="hover = false"
                @click="viewReason=true"
                icon-pack="feather"
                icon="icon-x"
              >{{ hover? "Ver motivo": "Rechazado"}}</vs-button>
              <vs-button
                v-if="data.stage == 'FINISHED' && data.result != 'REJECTED'"
                color="success"
                type="border"
                @mouseenter="hover = true"
                @mouseleave="hover = false"
                @click="viewReason=true"
                icon-pack="feather"
                icon="icon-x"
              >{{ hover? "Ver detalles": "Aprobado"}}</vs-button>
            </div>
          </template>
        </info>

        <!-- Prompt replanning -->
        <vs-prompt
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="sendReplanning"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          title="Replanificar cita inicial"
          :active.sync="replanning"
        >
          <div class="con-exemple-prompt">
            <replanning :showValidation="showValidation" :replanning="replanningPayload"></replanning>
          </div>
        </vs-prompt>

        <!-- Promp Atender -->
        <vs-prompt
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="sendAttend"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          title="Atención de cita inicial"
          :active.sync="attendAppointment"
        >
          <div class="con-exemple-prompt">
            <v-select
              v-model="attend.result"
              :options="optionResult"
              name="result"
              data-vv-validate-on="blur"
              placeholder="Resultado"
              v-validate="'required'"
              :reduce="opt => opt.val"
              class="mt-4 mb-2 w-full"
            ></v-select>
            <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('result') }}</span>
            <template v-if="attend.result == 'REJECTED'">
              Debe indicar el motivo para
              <b>denegar el ingreso de {{data.request.name}} {{data.request.lastname}} como nuevo paciente</b>

              <v-select
                v-model="attend.reasonRejectionId"
                :options="reasonsRejection"
                name="reasonRejectionId"
                data-vv-validate-on="blur"
                placeholder="Motivo de reachazo"
                v-validate="'required'"
                label="name"
                :reduce="opt => opt.id"
                class="mt-3"
              />
              <span
                v-if="showValidation"
                class="text-danger text-sm"
              >{{ errors.first('reasonRejectionId') }}</span>
              <template v-if="attend.reasonRejectionId">
                <div class="p-4">
                  <h5 class="mb-2">Mensaje</h5>
                  <p>{{ reasonsRejection.filter(r => r.id == attend.reasonRejectionId)[0].description }}</p>
                </div>
              </template>
              <vs-textarea class="mt-2" placeholder="Comentario" v-model="attend.comment" />
              <vs-alert
                class="mt-2"
                :vs-active="!true"
                color="warning"
                vs-icon="new_releases"
              >El motivo de rechazo será notificado a través de un correo electrónico a la siguiente direccion: {{ data.request.email }}</vs-alert>
            </template>

            <template v-if="attend.result == 'ACCEPTED'">
              <vs-textarea placeholder="Comentario" v-model="attend.comment" />
              <vs-alert
                class="mt-2"
                :vs-active="!true"
                color="warning"
                vs-icon="new_releases"
              >Una vez admitido el paciente, se le asignará un usuario y se creará su expediente.</vs-alert>
            </template>
          </div>
        </vs-prompt>

        <vs-popup v-if="data.result == 'REJECTED'" title="Motivo de rechazo" :active.sync="viewReason">
          <p>
            <strong>{{ data.reasonRejection.name }}:</strong>
            {{ data.reasonRejection.description }}
          </p>
        </vs-popup>
        <vs-popup v-if="data.result != 'REJECTED' && data.stage =='FINISHED'" title="Detalles" :active.sync="viewReason">
          <p>
            <strong>{{ data.request.name }} {{ data.request.lastname }} fue admitido(a) como paciente de la organización y su expediente ha sido creado.</strong>
          </p>
        </vs-popup>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
import Info from "./Info";
import Replanning from "./Replanning";
import vSelect from "vue-select";
import moment from "moment";

export default {
  data() {
    return {
      data: {},
      module: "appointment",
      route: "appointments",
      property: "appointment",
      attendAppointment: false,
      replanning: false,
      viewReason: false,
      reasonRejection: null,
      hover: false,
      blockOptions: [],
      record: null,
      replanningPayload: {
        date: new Date().fp_incr(1),
        timeBlockId: null
      },
      optionResult: [
        {
          label: "Admitir como paciente",
          val: "ACCEPTED"
        },
        {
          label: "Denegar admisión",
          val: "REJECTED"
        }
      ],
      attend: {
        result: "",
        comment: "",
        reasonRejectionId: null
      },
      showValidation: false,
      reasonRejectionId: null,
      appointment: {
        resources: [
          {
            id: null,
            quantity: 0
          }
        ],
        specialist: null,
      },
      resourceErrors: false,
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  components: {
    "v-select": vSelect,
    Info,
    Replanning,
    moment,
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit(
            "SET_BREADCRUMB",
            this.data.request.name + " " + this.data.request.lastname
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    sendReplanning() {
      this.$validator.validateAll(this.replanningPayload.timeBlockId).then(async validate => {
        this.showValidation = true;
        if (validate) {
          this.$vs.loading();
          this.replanningPayload.date = moment(
            String(this.replanningPayload.date)
          ).format();
          await this.$store
            .dispatch("appointment/replanning", {
              id: this.data.id,
              payload: this.replanningPayload
            })
            .then(async resp => {
              this.data = this.getItem(this.$route.params.id);
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                this.$vs.loading.close();
                this.replanning = true;
                if (!Object.is(err.message.code, 404)) {
                  notification("error", err, err.message.code, this.$vs.notify);
                }
              });
            });
        } else {
          this.replanning = true;
        }
      });
    },
    close() {
      this.clearValMultiple();
    },
    clearValMultiple() {
      this.attend = {
        result: "",
        comment: "",
        reasonRejectionId: null
      };
      this.replanningPayload = {
        date: new Date().fp_incr(1),
        timeBlockId: null
      };
    },
    async sendAttend() {
      this.$validator.validateAll(this.attend).then(async validate => {
        this.showValidation = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
            .dispatch(`appointment/attend`, {
              id: this.data.id,
              payload: this.attend
            })
            .then(async resp => {
              this.$vs.loading.close();
              if (this.attend.result == "ACCEPTED") {
                await this.getItem(this.$route.params.id);
                this.record = resp.user.record;
                this.$vs.dialog({
                  color: "primary",
                  title: "Listo",
                  acceptText: "Ver expediente",
                  text: resp.message.text,
                  accept: this.viewRecord,
                });
              } else {
                this.data = resp.appointment;
                notify().then(({ notification }) => {
                  notification(
                    "success",
                    resp,
                    resp.message.code,
                    this.$vs.notify
                  );
                });
              }
            })
            .catch(err => {
              notify().then(({ notification }) => {
                this.$vs.loading.close();
                this.attendAppointment = true;
                if (!Object.is(err.message.code, 404)) {
                  notification("error", err, err.message.code, this.$vs.notify);
                }
              });
            });
        } else {
          this.attendAppointment = true;
        }
      });
    },
    async openAccept() {
      this.replanning = true;
    },
    viewRecord(){
      this.$router.push({name: 'page-view-record', params: {id: this.record.id}}).catch(() => {})
    }
  },
  computed: {
    reasonsRejection() {
      return this.$store.getters["global/getItems"](
        "reasonRejection",
        "reasonRejections"
      );
    }
  },
  async mounted() {
    await this.$store.dispatch("global/getItems", {
      route: "reasonRejections",
      module: "reasonRejection",
      data: "reasonRejections"
    });
  },
  created() {
    this.getItem(this.$route.params.id);
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
.prompt-appointment .vs-dialog {
  max-width: 600px !important;
}
.ap.detail-tag-chip {
  position: absolute;
  top: -21px;
  left: 133px;
}
</style>