<template>
  <div v-if="data.request">
    <div class="vx-row mb-6">
      <div class="vx-col sm:w-6/12 w-full d-flex">
        <span>
          <strong>
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
            {{data.date | dateFormat }} - {{data.timeBlock.timeStart | timeFormat }}
          </strong>
        </span>
        <div class="vx-col w-full flex pl-8">
          <strong>Responsable:</strong>
          <p class="ml-3 bold">{{ data.responsible.name }} {{ data.responsible.lastname }}</p>
        </div>

        <vs-chip
          v-if="data.stage == 'FINISHED'"
          color="success"
          class="ml-2 ap detail-tag-chip"
        >Finalizada</vs-chip>
        <vs-chip v-if="isInPorgess" color="warning" class="ml-2 ap detail-tag-chip">En progeso</vs-chip>
        <vs-chip
          v-if="data.stage == 'PENDING' && !isExpired && !isInPorgess"
          color="primary"
          class="ml-2 ap detail-tag-chip"
        >Pendiente</vs-chip>
        <vs-chip
          v-if="data.stage == 'CANCELLED'"
          color="danger"
          class="ml-2 ap detail-tag-chip"
        >Cancelada</vs-chip>
        <vs-chip
          v-if="isExpired || data.stage == 'EXPIRED'"
          color="danger"
          class="ml-2 ap detail-tag-chip"
        >Expired</vs-chip>
      </div>
      <slot name="action-buttons"></slot>
    </div>
    <hr>
    <br>
    <div class="vx-row mb-6 mt-2">
      <div class="vx-col sm:w-6/12 w-full flex">
        <vs-icon class="mr-2" icon-pack="feather" icon="icon-edit"></vs-icon>
        <span>Nombre:</span>
        <p class="ml-3">{{ data.request.name }} {{ data.request.lastname }}</p>
      </div>
      <div class="vx-col sm:w-6/12 w-full flex">
        <vs-icon class="mr-2" icon-pack="feather" icon="icon-gift"></vs-icon>
        <span>Fecha de nacimiento:</span>
        <p class="ml-3">{{ data.request.birthdate | dateFormat }}</p>
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col sm:w-6/12 w-full flex">
        <vs-icon class="mr-2" icon-pack="fas" icon="fa-venus-mars"></vs-icon>
        <span>Género:</span>
        <p
          v-if="data.request.gender"
          class="ml-3"
        >{{ data.request.gender.includes('F') ? 'Femenino' : 'Masculino' }}</p>
      </div>
      <div class="vx-col sm:w-6/12 w-full flex">
        <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
        <span>Edad:</span>
        <p class="ml-3">{{ data.request.birthdate | ageFormat }} años</p>
      </div>
    </div>
    <div class="vx-row mb-6">
      <div class="vx-col sm:w-6/12 w-full flex">
        <vs-icon class="mr-2" icon-pack="feather" icon="icon-mail"></vs-icon>
        <span>{{ data.request.email }}</span>
      </div>
      <div class="vx-col sm:w-6/12 w-full flex">
        <vs-button
          color="success"
          type="line"
          icon-pack="feather"
          icon="icon-check"
          @click="$router.push({name: 'page-edit-request', params: {id: data.request.id }}).catch(() => {})"
        >Ver solicitud</vs-button>
      </div>
    </div>
    <hr>
    <br>
    <span><strong>Se requiere:</strong></span>
    <ul>
      <li v-for="resource in data.resources" :key="resource.id">
        {{ resource.quantity }} {{ resource.name }}
      </li>
    </ul>
  </div>
</template>
<script>
import moment from "moment";
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  components: {
    moment
  },
  computed: {
    isExpired() {
      if (
        new Date(this.data.date) < new Date() ||
        (new Date(this.data.date) < new Date() &&
          this.data.timeBlock.timeEnd.split(":")[0] > new Date().getHours())
      )
        return true;
      return false;
    },
    isInPorgess() {
      if (
        new Date(this.data.date) < new Date() &&
        this.data.timeBlock.timeEnd.split(":")[0] < new Date().getHours() &&
        this.data.timeBlock.timeStart.split(":")[0] > new Date().getHours()
      )
        return true;
      return false;
    }
  },
  methods:{

  },
  filters: {
    dateFormat: function(value) {
      return moment(String(value)).format("DD/MM/YYYY");
    },
    timeFormat: function(value) {
      let date = new Date();
      if (value) {
        date.setHours(parseInt(value.split(":")[0]));
        date.setMinutes(parseInt(value.split(":")[1]));
        return moment(String(date)).format("hh:mm A");
      }
    },
    ageFormat: function(value) {
      return moment().diff(moment(value, "YYYY/MM/DD"), "years");
    }
  }
};
</script>