<template>
  <div>
    <transaction-list :components="components" :columns="columns" :data="data" :path="path"></transaction-list>
  </div>
</template>
<script>
import TransactionList from "../components/List";
import StatusRendered from "../components/StatusRendered";
import moment from "moment";
export default {
  data() {
    return {
      columns: [
        {
          headerName: "Fecha",
          field: "date",
          filter: "agDateColumnFilter",
          valueGetter: function(params) {
            return  moment(String(params.data.date)).format("DD/MM/YYYY")
          },
          filterParams: {
            comparator: (filterLocalDateAtMidnight, cellValue) => {
              var dateAsString = cellValue;
              if (dateAsString == null) return -1;
              var dateParts = dateAsString.split("/");
              var cellDate = new Date(
                Number(dateParts[2]),
                Number(dateParts[1]) - 1,
                Number(dateParts[0])
              );
              if (filterLocalDateAtMidnight.getTime() == cellDate.getTime()) {
                return 0;
              }
              if (cellDate < filterLocalDateAtMidnight) {
                return -1;
              }
              if (cellDate > filterLocalDateAtMidnight) {
                return 1;
              }
            },
            browserDatePicker: true
          },
          width: 150,
          suppressSizeToFit: true
        },
        {
          headerName: "Nombre",
          filter: true,
          valueGetter: function(params) {
            //return  moment(String(params.data.date)).format("dd/mm/yyyy")
            return params.data.request.name + " " + params.data.request.lastname;
          }
        },
        {
          headerName: "Edad (años)",
          field: "birthdate",
          filter: "agNumberColumnFilter",
          valueGetter: function(params) {
            return moment().diff(moment(params.data.request.birthdate, "YYYY/MM/DD"), 'years');
          },
        },
        {
          headerName: "Estado",
          field: "stage",
          filter: true,
          cellRenderer: "statusRenderer",
          cellClass: "cell-status"
        }
      ],
      components: {},
      module: "appointment",
      route: "appointments",
      singularProperty: "appointment",
      pluralProperty: "appointments",
      path: "/appointment"
    };
  },
  components: {
    TransactionList,
    StatusRendered
  },
  computed: {
    data() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      ).slice().reverse();
    }
  },
  beforeMount() {
    this.components = {
      statusRenderer: StatusRendered
    };
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  }
};
</script>