<template>
  <div>
    <flat-pickr
      :config="configDatePicker"
      v-model="replanning.date"
      locale="es"
      name="date"
      data-vv-validate-on="blur"
      v-validate="'required'"
      placeholder="Fecha"
      class="flex"
    />
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('date') }}</span>

    <v-select
      v-model="replanning.timeBlockId"
      :options="blockOptions"
      name="block"
      data-vv-validate-on="blur"
      placeholder="Bloque horario"
      v-validate="'required'"
      :reduce="opt => opt.val"
      class="mt-4 mb-2"
    >
      <template v-slot:no-options="{ search, searching }">
        <template v-if="searching">
          No se encontraron resultados para
          <em class="text-primary font-semibold">{{ search }}</em>.
        </template>
        <em v-else>No hay bloques disponibles.</em>
      </template>
    </v-select>
    <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('block') }}</span>
    <vs-alert
      class="mt-2"
      :vs-active="!true"
      color="warning"
      vs-icon="new_releases"
    >La fecha y el responsable estan sujetos a la disponibilidad y horarios establecidos</vs-alert>
  </div>
</template>
<script>
const es = require("flatpickr/dist/l10n/es.js").default.es;
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import vSelect from "vue-select";
export default {
  inject: ["$validator"],
  props: {
    replanning:{
      data: Object,
      required: true,
    },
    showValidation:{
      type: Boolean,
      required: true,
    }
  },
  data(){
    return{
      es,
      blockOptions: [],
      configDatePicker: {
        altInput: true,
        altFormat: "d M y",
        dateFormat: "Y-m-d",
        locale: es,
        minDate: new Date().fp_incr(1),
        altInputClass: "w-full flatpickr-input",
      }
    }
  },
  components: {
    flatPickr,
    "v-select": vSelect,
  },
  async created(){
    await this.$store.dispatch("global/getItems", {
        route: "timeBlocks",
        module: "block",
        data: "timeBlocks"
      });
    this.blockOptions = await this.$store.getters["block/getCustomItems"];
  }
}
</script>