<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Solicitud de paciente">
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full">
            <span>
              <strong>
                <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
                {{data.date | dateFormat }}
              </strong>
            </span>
          </div>
          <div class="vx-col flex flex-grow justify-end">
            <vs-chip
              v-if="data.stage == 'APPROVED'"
              color="success"
              class="ml-2"
            >Aprobada</vs-chip>
            <vs-button
              v-if="data.stage == 'PENDING'"
              class="delete-reactivate"
              color="success"
              type="border"
              @click="openAccept"
              icon-pack="feather"
              icon="icon-check"
            >Aprobar</vs-button>
            <vs-button
              v-if="data.stage == 'PENDING'"
              class="ml-3 delete-reactivate"
              @mouseover="hover = true"
              @mouseleave="hover = false"
              color="danger"
              type="border"
              @click="rejectRequest = true"
              icon-pack="feather"
              icon="icon-x"
            >Rechazar</vs-button>
            <vs-button
              v-if="data.stage == 'REJECTED'"
              color="danger"
              type="border"
              @mouseenter="hover = true"
              @mouseleave="hover = false"
              @click="viewReason=true"
              icon-pack="feather"
              icon="icon-x"
            >{{ hover? "Ver motivo": "Rechazado"}}</vs-button>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-edit"></vs-icon>
            <span>Nombre:</span>
            <p class="ml-3">{{ data.name }} {{ data.lastname }}</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-gift"></vs-icon>
            <span>Fecha de nacimiento:</span>
            <p class="ml-3">{{ data.birthdate | dateFormat }}</p>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="fas" icon="fa-venus-mars"></vs-icon>
            <span>Género:</span>
            <p
              v-if="data.gender"
              class="ml-3"
            >{{ data.gender.includes('F') ? 'Femenino' : 'Masculino' }}</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
            <span>Edad:</span>
            <p class="ml-3">{{ data.birthdate | ageFormat }} años</p>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="fas" icon="fa-user-friends"></vs-icon>
            <span>Familiar:</span>
            <p class="ml-3">{{ data.parentName }}</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="far" icon="fa-calendar-check"></vs-icon>
            <span>Fecha tentativa:</span>
            <p class="ml-3">{{ data.datePosible | dateFormat }}</p>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-mail"></vs-icon>
            <span>{{ data.email }}</span>
          </div>
        </div>

        <!-- Promp Aceptar -->
        <vs-prompt
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="sendApprove"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          title="Asignar cita inicial"
          :active.sync="acceptRequest"
        >
          <div class="con-exemple-prompt">
            Debe crear una cita inicial para
            <b>aceptar la solicitud de ingreso</b>.
            <v-select
              v-model="appointment.responsibleId"
              :options="resposibleOptions"
              name="responsible"
              data-vv-validate-on="blur"
              placeholder="Responsable"
              v-validate="'required'"
              :reduce="opt => opt.id"
              class="mt-4 mb-2 w-full"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
                <em v-else>No hay personal autorizado para atender citas iniciales.</em>
              </template>
              <template
                v-slot:option="option"
              >{{option.name}} {{option.lastname}} - {{option.specialities.join(", ")}}</template>
            </v-select>
            <span
              v-if="showValidation"
              class="text-danger text-sm"
            >{{ errors.first('responsible') }}</span>
            <br />

            <flat-pickr
              :config="configDatePicker"
              v-model="appointment.date"
              locale="es"
              name="date"
              data-vv-validate-on="blur"
              v-validate="'required'"
              placeholder="Fecha"
            />
            <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('date') }}</span>

            <v-select
              v-model="appointment.timeBlockId"
              name="block"
              :options="blockOptions"
              data-vv-validate-on="blur"
              v-validate="'required'"
              placeholder="Bloque horario"
              :reduce="opt => opt.val"
              class="mt-4 mb-2"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
                <em v-else>No hay bloques disponibles.</em>
              </template>
            </v-select>
            <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('block') }}</span>

            <resource-data
              class="mt-2"
              :resourceErrors.sync="resourceErrors"
              :resources="appointment.resources"
              resourceType="appointment"
              label="recurso"
              model="resource"
            ></resource-data>
            <span
              v-if="showValidation && resourceErrors"
              class="text-danger text-sm"
            >El campo recurso es obligatorio</span>
            <vs-alert
              class="mt-2"
              :vs-active="!true"
              color="warning"
              vs-icon="new_releases"
            >La fecha y el responsable estan sujetos a la disponibilidad y horarios establecidos</vs-alert>
          </div>
        </vs-prompt>

        <!-- Prompt Rechazar -->
        <vs-prompt
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="sendRejection"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          title="Rechazar solicitud"
          :active.sync="rejectRequest"
        >
          <div class="con-exemple-prompt">
            Debe indicar el motivo para
            <b>rechazar la solicitud de ingreso de paciente</b>
            .
            <v-select
              v-model="reasonRejectionId"
              :options="reasonsRejection"
              name="reasonRejectionId"
              data-vv-validate-on="blur"
              placeholder="Motivo de reachazo"
              v-validate="'required'"
              label="name"
              :reduce="opt => opt.id"
              class="mt-3"
            />
            <template v-if="reasonRejectionId">
              <div class="p-4">
                <h5 class="mb-2">Mensaje</h5>
                <p>{{ reasonsRejection.filter(r => r.id == reasonRejectionId)[0].description }}</p>
              </div>
            </template>
            <span
              v-if="showValidation"
              class="text-danger text-sm"
            >{{ errors.first('reasonRejectionId') }}</span>
            <vs-alert
              class="mt-2"
              :vs-active="!true"
              color="warning"
              vs-icon="new_releases"
            >El motivo de rechazo será notificado a través de un correo electrónico a la siguiente direccion: {{ data.email }}</vs-alert>
          </div>
        </vs-prompt>

        <vs-popup
          v-if="data.reasonRejection"
          class="holamundo"
          title="Motivo de rechazo"
          :active.sync="viewReason"
        >
          <p>
            <strong>{{ data.reasonRejection.name }}:</strong>
            {{ data.reasonRejection.description }}
          </p>
        </vs-popup>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import ResourceData from "../../configuration/settings/components/ResourceData";
import vSelect from "vue-select";
import moment from "moment";

export default {
  data() {
    return {
      data: {},
      module: "request",
      route: "requests",
      property: "request",
      acceptRequest: false,
      rejectRequest: false,
      viewReason: false,
      reasonRejection: "",
      resposibleOptions: [],
      blockOptions: [],
      hover: false,
      reasonRejectionId: null,
      appointment: {
        resources: [
          {
            id: null,
            quantity: 0
          }
        ],
        responsibleId: null,
        date: null,
        timeBlockId: null
      },
      configDatePicker: {
        altInput: true,
        altFormat: "d F Y",
        dateFormat: "Y/m/d",
        altInputClass:'w-full flatpickr-input',
        minDate: new Date().fp_incr(1),
        locale: SpanishLocale,
      },
      resourceErrors: true,
      showValidation: false
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  components: {
    ResourceData,
    flatPickr,
    "v-select": vSelect,
    moment
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit(
            "SET_BREADCRUMB",
            this.data.name + " " + this.data.lastname
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    close() {},
    clearValMultiple() {},
    async sendRejection() {
      this.$validator
        .validateAll(this.reasonRejectionId)
        .then(async validate => {
          this.showValidation = true;
          if (validate) {
            this.$vs.loading();
            await this.$store
              .dispatch("request/reject", {
                id: this.data.id,
                reasonRejectionId: this.reasonRejectionId
              })
              .then(async resp => {
                this.data = await resp.request;
                this.$vs.loading.close();
                notify().then(({ notification }) => {
                  notification(
                    "success",
                    resp,
                    resp.message.code,
                    this.$vs.notify
                  );
                });
              })
              .catch(err => {
                notify().then(({ notification }) => {
                  this.$vs.loading.close();
                  if (!Object.is(err.message.code, 404)) {
                    notification(
                      "error",
                      err,
                      err.message.code,
                      this.$vs.notify
                    );
                    return;
                  }
                });
              });
          } else {
            this.acceptRequest = true;
          }
        });
    },
    async sendApprove() {
      this.$validator
        .validateAll(this.appointment.responsibleId)
        .then(async validate => {
          this.showValidation = true;
          if (validate && !this.resourceErrors) {
            this.$vs.loading();
            await this.$store
              .dispatch("request/approve", {
                id: this.data.id,
                payload: this.appointment
              })
              .then(async resp => {
                this.data = this.getItem(this.$route.params.id);
                this.$vs.loading.close();
                notify().then(({ notification }) => {
                  notification(
                    "success",
                    resp,
                    resp.message.code,
                    this.$vs.notify
                  );
                });
              })
              .catch(err => {
                notify().then(({ notification }) => {
                  this.$vs.loading.close();
                  if (!Object.is(err.message.code, 404)) {
                    notification(
                      "error",
                      err,
                      err.message.code,
                      this.$vs.notify
                    );
                  }
                });
              });
          } else {
            this.acceptRequest = true;
          }
        });
    },
    async openAccept() {
      await this.$store.dispatch("global/getItems", {
        route: "users",
        module: "user",
        data: "users"
      });
      this.resposibleOptions = await this.$store.getters["user/getUserCheck"]({
        functions: ["F-AG-01"]
      });
      await this.$store.dispatch("global/getItems", {
        route: "timeBlocks",
        module: "block",
        data: "timeBlocks"
      });

      this.blockOptions = await this.$store.getters["block/getCustomItems"];
      this.acceptRequest = true;
    }
  },
  filters: {
    dateFormat: function(value) {
      return moment(String(value)).format("DD/MM/YYYY");
    },
    ageFormat: function(value) {
      return moment().diff(moment(value, "YYYY/MM/DD"), "years");
    }
  },
  computed: {
    reasonsRejection() {
      return this.$store.getters["global/getItems"](
        "reasonRejection",
        "reasonRejections"
      );
    }
  },
  async mounted() {
    await this.$store.dispatch("global/getItems", {
      route: "reasonRejections",
      module: "reasonRejection",
      data: "reasonRejections"
    });
  },
  created() {
    this.getItem(this.$route.params.id);
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
.prompt-appointment .vs-dialog {
  max-width: 600px !important;
}
.ap .detail-tag-chip{
  position: initial;
}
</style>