<template>
  <basic-form :data="data" :showValidations="isValid" title="Crear tipo de centro">
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>

import BasicForm from "../components/BasicForm.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        description: "",
        status: true
      },
      isValid: false,
      module: 'centerType',
      route: 'centerTypes',
      property: 'centerType',
      path: '/center-types'
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          await this.$store
            .dispatch("global/create", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    }
  },
  components: {
    BasicForm
  }
};
</script>