<template>
  <div>
    <div class="flex flex-wrap-reverse items-center data-list-btn-container">
      <div
        class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
        @click="create"
      >
        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
        <span class="ml-2 text-base text-primary">Crear</span>
      </div>
    </div>

    <transaction-list :components="components" :columns="columns" :data="data" :path="path"></transaction-list>
  </div>
</template>
<script>
import TransactionList from "../../../transactions/components/List";
import vSelect from "vue-select";
// Cell Renderer
import CellRendererLink from "./cell-renderer/CellRendererLink.vue";
import CellRendererTags from "./cell-renderer/CellRendererTags.vue";
import CellRendererStatus from "./cell-renderer/CellRendererStatus.vue";
import CellRendererVerified from "./cell-renderer/CellRendererVerified.vue";
import CellRendererActions from "./cell-renderer/CellRendererActions.vue";

export default {
  data() {
    return {
      columns: [
        {
          headerName: "Nombre",
          field: "name",
          width: 400,
          filter: true,
          valueGetter: function(params) {
            return params.data.name + " " + params.data.lastname;
          },
          cellRenderer: "cellRendererLink",
          checkboxSelection: true,
          headerCheckboxSelectionFilteredOnly: true,
          headerCheckboxSelection: true
        },
        {
          headerName: "Correo electrónico",
          field: "email",
          filter: true,
          width: 225
        },
        {
          headerName: "Tipo",
          field: "userTypes",
          filter: true,
          valueGetter: function(params) {
            return params.data.userTypes.map(el => el.name).join(",");
          },
          cellRenderer: "cellRendererTags",
          width: 225
        },
        {
          headerName: "Estatus",
          field: "status",
          filter: true,
          valueGetter: function(params) {
            return params.data.status == 1 ? "Activo" : "Bloqueado" ;
          },
          cellRenderer: "cellRendererStatus",
          width: 50
        }
      ],

      components: {},
      module: "user",
      route: "users",
      singularProperty: "user",
      pluralProperty: "users",
      path: "/user",
      searchQuery: "",
    };
  },
  methods: {
    create(){
      this.$router.push(`${this.path}/create`);
    },
  },
  components: {
    TransactionList,
    CellRendererLink,
    CellRendererTags,
    CellRendererStatus,
    CellRendererVerified,
    CellRendererActions,
    "v-select": vSelect
  },
  computed: {
    data() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      );
    },
  },
  beforeMount() {
    this.components = {
      cellRendererLink: CellRendererLink,
      cellRendererTags: CellRendererTags,
      cellRendererStatus: CellRendererStatus,
      CellRendererVerified,
      CellRendererActions
    };
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  }
};
</script>