<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card v-if="data" title="Solicitud de actividad">
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
            <span>Fecha:</span>
            <strong>{{data.date | dateFormat }}</strong>
            <vs-chip
              v-if="data.stage == 'FINISHED'"
              color="success"
              class="ml-2 ap detail-tag-chip"
            >Finalizada</vs-chip>
            <vs-chip
              v-if="data.stage == 'PENDING'"
              color="primary"
              class="ml-2 ap detail-tag-chip"
            >Pendiente</vs-chip>
            <vs-chip
              v-if="data.stage == 'APPROVED'"
              color="success"
              class="ml-2 ap detail-tag-chip"
            >Aprobada</vs-chip>
            <vs-chip
              v-if="data.stage == 'REJECTED'"
              color="danger"
              class="ml-2 ap detail-tag-chip"
            >Rechazada</vs-chip>
          </div>
          <div class="vx-col flex flex-grow justify-end">
            <vs-button
              v-if="data.stage == 'PENDING'"
              class="delete-reactivate"
              color="success"
              type="border"
              @click="acceptRequest=true"
              icon-pack="feather"
              icon="icon-check"
            >Aprobar</vs-button>
            <vs-button
              v-if="data.stage == 'PENDING'"
              class="ml-3 delete-reactivate"
              @mouseover="hover = true"
              @mouseleave="hover = false"
              color="danger"
              type="border"
              @click="rejectRequest = true"
              icon-pack="feather"
              icon="icon-x"
            >Rechazar</vs-button>
            <vs-button
              v-if="data.stage == 'REJECTED'"
              color="danger"
              type="border"
              @mouseenter="hover = true"
              @mouseleave="hover = false"
              @click="viewReason=true"
              icon-pack="feather"
              icon="icon-x"
            >{{ hover? "Ver motivo": "Rechazado"}}</vs-button>
          </div>
        </div>
        <vs-divider></vs-divider>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <strong>Actividad solicitada</strong>
          </div>
        </div>
        <div v-if="data.activityConfig" class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-edit"></vs-icon>
            <span>Nombre:</span>
            <p class="ml-3">{{ data.activityConfig.name }}</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-edit"></vs-icon>
            <span>Modalidad:</span>
            <p class="ml-3">{{ eventual ? 'Eventual' : 'Recurrente'}}</p>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
            <span>Fecha tentativa:</span>
            <p class="ml-3">{{ data.datePosible | dateFormat }}</p>
          </div>
        </div>
        <vs-divider></vs-divider>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <strong>Usuario solicitante</strong>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-user"></vs-icon>
            <span>Nombre:</span>
            <p class="ml-3">{{ data.name }}</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="fas" icon="fa-venus-mars"></vs-icon>
            <span>Género:</span>
            <p class="ml-3">{{ data.gender == 'F' ? 'Femenino' : 'Masculino' }}</p>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-gift"></vs-icon>
            <span>Edad:</span>
            <p class="ml-3">{{ data.birthdate | ageFormat }} años</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-users"></vs-icon>
            <span>Familiar:</span>
            <p class="ml-3">{{ data.parentName}}</p>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-mail"></vs-icon>
            <span>{{ data.email }}</span>
          </div>
        </div>
        <vs-prompt
          v-if="data.activityConfig"
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="approveRequest"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          :title="`Aceptar solicitud: ${data.activityConfig.name}`"
          :active.sync="acceptRequest"
        >
          <div class="con-exemple-prompt">
            <p class="mb-6">Debe completar los datos de la actividad para aceptar la solicitud.</p>
            <div class="vx-row mb-6">
              <div class="vx-col sm:w-1/4 w-full">
                <span>Nombre:</span>
              </div>
              <div class="vx-col sm:w-3/4 w-full">
                <vs-input
                  class="w-full"
                  icon-pack="feather"
                  icon="icon-edit-1"
                  icon-no-border
                  data-vv-validate-on="blur"
                  v-validate="'required|alpha_number_spaces|min:4|max:100'"
                  name="name"
                  v-model="payload.name"
                  autocomplete="off"
                />
                <span v-if="showValidation" class="text-danger text-sm">{{ errors.first("name") }}</span>
              </div>
            </div>
            <div class="vx-row mb-6">
              <div v-if="eventual" class="vx-col sm:w-1/4 w-full">
                <span>Bloque</span>
              </div>
              <div v-else class="vx-col sm:w-1/4 w-full">
                <span>Turno:</span>
              </div>
              <div v-if="!eventual" class="vx-col sm:w-3/4 w-full">
                <v-select
                  v-model="payload.scheduleId"
                  :options="schedule"
                  name="scheduleId"
                  data-vv-validate-on="blur"
                  placeholder="Seleccione un turno"
                  v-validate="'required'"
                  label="name"
                  key="scheduleId"
                  ref="scheduleId"
                  :reduce="opt => opt.id"
                  class="mt-3"
                />
                <span
                  v-if="showValidation"
                  class="text-danger text-sm"
                >{{ errors.first('scheduleId') }}</span>
              </div>

              <div v-else class="vx-col sm:w-3/4 w-full">
                <v-select
                  v-model="payload.timeBlockId"
                  :reduce="option => option.val"
                  :options="getBlocks"
                  :dir="$vs.rtl ? 'rtl' : 'ltr'"
                  class="mt-select"
                  placeholder="Seleccione un bloque"
                  data-vv-validate-on="blur"
                  v-validate="'required'"
                  ref="timeBlockId"
                  key="timeBlockId"
                  name="timeBlockId"
                >
                  <template v-slot:no-options="{ search, searching }">
                    <template v-if="searching">
                      No se encontraron resultados para
                      <em
                        class="text-primary font-semibold"
                      >{{ search }}</em>.
                    </template>
                  </template>
                </v-select>
                <span
                  v-if="showValidation"
                  class="text-danger text-sm"
                >{{ errors.first("timeBlockId") }}</span>
              </div>
            </div>
            <div class="vx-row mb-6">
              <div class="vx-col sm:w-1/4 w-full">
                <span>Capacidad:</span>
              </div>
              <div class="vx-col">
                <vs-input-number
                  v-model.number="payload.capacity"
                  min="1"
                  data-vv-validate-on="blur"
                  v-validate="'required|numeric|min:1'"
                  name="capacity"
                />
                <span
                  v-if="showValidation"
                  class="text-danger text-sm"
                >{{ errors.first("capacity") }}</span>
              </div>
            </div>
            <div class="vx-row mb-6">
              <div class="vx-col sm:w-1/4 w-full">
                <span>Commentario:</span>
              </div>
              <div class="vx-col sm:w-3/4 w-full">
                <vs-textarea
                  data-vv-validate-on="blur"
                  name="description"
                  v-model="payload.description"
                />
              </div>
            </div>
            <span class="text-danger text-sm"></span>
            <vs-alert class="mt-2" :vs-active="!true" color="warning" vs-icon="new_releases">
              La actividad será realizada el
              <b>{{ data.datePosible | dateFormat }}</b>
            </vs-alert>
          </div>
        </vs-prompt>

        <vs-prompt
          v-if="data.activityConfig"
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="sendRejection"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          :title="`Rechazar solicitud: ${data.activityConfig.name}`"
          :active.sync="rejectRequest"
        >
          <div class="con-exemple-prompt">
            Debe indicar el motivo para
            <b>rechazar la solicitud de la actividad</b>
.
            <v-select
              v-model="reasonRejectionId"
              :options="reasonsRejection"
              name="reasonRejectionId"
              data-vv-validate-on="blur"
              placeholder="Motivo de reachazo"
              v-validate="'required'"
              label="name"
              :reduce="opt => opt.id"
              class="mt-3"
            />
            <span
              v-if="showValidation"
              class="text-danger text-sm"
            >{{ errors.first('reasonRejectionId') }}</span>
            <br />
            <template v-if="reasonRejectionId">
              <div class="p-4">
                <h5 class="mb-2">Mensaje</h5>
                <p>{{ reasonsRejection.filter(r => r.id == reasonRejectionId)[0].description }}</p>
              </div>
            </template>
            <vs-alert class="mt-2" :vs-active="!true" color="warning" vs-icon="new_releases">
              El motivo de rechazo será notificado a través de un correo electrónico a la siguiente dirección:
              <b>{{ data.email }}</b>
            </vs-alert>
          </div>
        </vs-prompt>

        <vs-popup
          v-if="data.reasonRejection"
          class="holamundo"
          title="Motivo de rechazo"
          :active.sync="viewReason"
        >
          <p>
            <strong>{{ data.reasonRejection.name }}:</strong>
            {{ data.reasonRejection.description }}
          </p>
        </vs-popup>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import vSelect from "vue-select";
import moment from "moment";

export default {
  data() {
    return {
      data: {},
      type: true,
      scheduleId: null,
      routeActivity: "page-edit-activity",
      pageExpedient: "page-view-record",
      module: "request",
      route: "requests",
      property: "request",
      acceptRequest: false,
      rejectRequest: false,
      viewReason: false,
      reasonRejection: "",
      eventual: false,
      activity: {},
      hover: false,
      showValidation: false,
      es,
      id: null,
      payload: {
        name: "",
        timeBlockId: null,
        capacity: 1,
        scheduleId: null,
        description: ""
      },
      description: "",
      reasonRejectionId: null
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  components: {
    Datepicker,
    "v-select": vSelect,
    moment
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );

          if (this.data.activityConfig.eventual) this.eventual = true;
          else this.eventual = false;
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    close() {
      this.clearValMultiple();
    },
    clearValMultiple() {
      (this.payload = {
        name: "",
        timeBlockId: null,
        capacity: 1,
        scheduleId: null,
        description: ""
      }),
        (this.reasonRejectionId = null);
    },
    viewActivity() {
      this.$router
        .push({ name: this.routeActivity, params: { id: this.activity.id } })
        .catch(() => {});
    },
    async approveRequest() {
      this.$validator.validateAll(this.payload).then(async validate => {
        this.showValidation = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
            .dispatch("request/approveRequest", {
              id: this.data.id,
              payload: this.payload,
              req: "approveActivity"
            })
            .then(async res => {
              this.activity = await res.activity;
              this.data = this.getItem(this.data.id);
              this.$vs.dialog({
                color: "primary",
                title: "Listo",
                acceptText: "Ver actividad",
                text: res.message.text,
                accept: this.viewActivity
              });
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                notification("success", res, res.message.code, this.$vs.notify);
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                this.$vs.loading.close();
                if (!Object.is(err.message.code, 404)) {
                  notification("error", err, err.message.code, this.$vs.notify);
                  return;
                }
                this.$router.push("/pages/error-404");
              });
            });
        } else {
          this.acceptRequest = true;
        }
      });
    },
    async sendRejection() {
      this.$validator
        .validateAll(this.reasonRejectionId)
        .then(async validate => {
          this.showValidation = true;
          if (validate) {
            this.$vs.loading();
            await this.$store
              .dispatch("request/rejectRequest", {
                id: this.data.id,
                reasonRejectionId: this.reasonRejectionId,
                req: "rejectActivity"
              })
              .then(async res => {
                this.data = await res.request;
                this.$vs.loading.close();
                notify().then(({ notification }) => {
                  notification(
                    "success",
                    res,
                    res.message.code,
                    this.$vs.notify
                  );
                });
              })
              .catch(err => {
                notify().then(({ notification }) => {
                  this.$vs.loading.close();
                  if (!Object.is(err.message.code, 404)) {
                    notification(
                      "error",
                      err,
                      err.message.code,
                      this.$vs.notify
                    );
                    return;
                  }
                  this.$router.push("/pages/error-404");
                });
              });
          } else {
            this.rejectRequest = true;
          }
        });
    }
  },
  filters: {
    dateFormat: function(value) {
      return moment(String(value)).format("DD/MM/YYYY");
    },
    ageFormat: function(value) {
      return moment().diff(moment(value, "YYYY/MM/DD"), "years");
    }
  },
  computed: {
    reasonsRejection() {
      return this.$store.getters["global/getItems"](
        "reasonRejection",
        "reasonRejections"
      );
    },

    schedule() {
      return this.$store.getters["global/getItems"]("schedule", "schedules");
    },
    getBlocks() {
      return this.$store.getters[`block/getCustomItems`];
    }
  },
  watch: {
    "payload.scheduleId": {
      handler() {
        if (this.$refs.scheduleId) {
          this.$validator.validate("scheduleId");
        }
      }
    },
    "payload.timeBlockId": {
      handler() {
        if (this.$refs.timeBlockId) {
          this.$validator.validate("timeBlockId");
        }
      }
    },
    "payload.capacity": {
      handler() {
        this.$validator.validate("capacity");
      }
    },
    "payload.name": {
      handler() {
        this.$validator.validate("name");
      }
    }
  },
  async created() {
    this.getItem(this.$route.params.id);
    await this.$store.dispatch("global/getItems", {
      route: "reasonRejections",
      module: "reasonRejection",
      data: "reasonRejections"
    });
    await this.$store.dispatch("global/getItems", {
      route: "schedules",
      module: "schedule",
      data: "schedules"
    });
    await this.$store.dispatch("global/getItems", {
      route: "timeBlocks",
      module: "block",
      data: "timeBlocks"
    });
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
.prompt-appointment .vs-dialog {
  max-width: 600px !important;
}
.ap.detail-tag-chip {
  position: absolute;
  top: -22px;
  left: 250px;
}
</style>