<template>
  <basic-form
    :data="data"
    :name="false"
    :description="false"
    :showValidations="isValid"
    title="Crear pregunta"
  >
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Titulo</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-edit-1"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|alpha_number_spaces|min:4|max:500'"
            name="title"
            v-model="data.title"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("title") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo de respuesta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="data.answerType"
            :reduce="option => option.val"
            :options="answerTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Tipo de respuesta|required'"
            name="answerType"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("answerType") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6" v-if="classAnswerType">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Opciones de la respuesta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <star-rating
            v-if="classAnswerType == 'stars'"
            :show-rating="false"
            :rating="5"
            :read-only="true"
            :rtl="$vs.rtl"
            :star-size="20"
          ></star-rating>
          <vs-chip
            v-else-if="classAnswerType != 'stars' && classAnswerType != null"
            v-for="(option, index) in options"
            :key="index"
          >{{ option }}</vs-chip>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import BasicForm from "../../basic-data/components/BasicForm.vue";
import vSelect from "vue-select";
import StarRating from "vue-star-rating";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        title: "",
        answerType: "Tipo de respuesta",
        status: true
      },
      options: null,
      classAnswerType: null,
      isValid: false,
      module: "question",
      route: "questions",
      property: "question",
      path: "/questions"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          await this.$store
            .dispatch("global/create", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    }
  },
  computed: {
    answerTypes() {
      return this.$store.getters[`${this.module}/getAnswerTypes`];
    }
  },
  watch: {
    "data.title": {
      handler() {
        this.$validator.validate("title");
      }
    },
    "data.answerType": {
      handler(value) {
        let opts = this.answerTypes.find(answerType => answerType.val == value);
        this.classAnswerType = null;
        if (opts != null) {
          this.options = opts.options;
          this.classAnswerType = opts.class;
        }
        this.$validator.validate("answerType");
      }
    }
  },
  components: {
    BasicForm,
    vSelect,
    StarRating
  }
};
</script>
