<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showName="false"
    :showDescription="false"
    :showValidations="isValid"
    :title="`Pregunta: ${data.title}`"
    :modeEdit="modeEdit"
  >
    <template slot="fields-view">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Pregunta</span>
        </div>
        <div class="vx-col sm:w-7/12 w-full">
          <p class="w-full">{{ data.title }}</p>
        </div>
        <div class="vx-col sm:w-3/12 flex justify-end">
          <delete-reactivate
            :module="module"
            :property="property"
            :route="route"
            :id="this.$route.params.id"
          ></delete-reactivate>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo de pregunta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.answerType"
            :reduce="option => option.val"
            :key="payload.answerType"
            :options="answerTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Tipo de pregunta|required'"
            name="answerType"
            disabled
          ></v-select>
        </div>
      </div>
      <div class="vx-row mb-6" v-if="classAnswerType">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Opciones de la respuesta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <star-rating
            v-if="classAnswerType == 'stars'"
            :show-rating="false"
            :rating="5"
            :read-only="true"
            :rtl="$vs.rtl"
            :star-size="20"
          ></star-rating>
          <vs-chip
            v-else-if="classAnswerType != 'stars' && classAnswerType != null"
            v-for="(option, index) in options"
            :key="index"
          >{{ option }}</vs-chip>
        </div>
      </div>
    </template>

    <template slot="fields-edit">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Pregunta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-edit-1"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|alpha_number_spaces|min:4|max:500'"
            name="title"
            v-model="payload.title"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("title") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo de pregunta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.answerType"
            :reduce="option => option.val"
            :options="answerTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Tipo de pregunta|required'"
            name="answerType"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("answerType") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6" v-if="classAnswerType">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Opciones de la respuesta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <star-rating
            v-if="classAnswerType == 'stars'"
            :show-rating="false"
            :rating="5"
            :read-only="true"
            :rtl="$vs.rtl"
            :star-size="20"
          ></star-rating>
          <vs-chip
            v-else-if="classAnswerType != 'stars' && classAnswerType != null"
            v-for="(option, index) in options"
            :key="index"
          >{{ option }}</vs-chip>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import vSelect from "vue-select";
import StarRating from "vue-star-rating";
import BasicDetail from "../../basic-data/components/BasicDetail.vue";
import DeleteReactivate from "../../basic-data/components/DeleteRectivate.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      modeEdit: false,
      isValid: false,
      options: null,
      classAnswerType: null,
      module: "question",
      route: "questions",
      property: "question"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  computed: {
    answerTypes() {
      return this.$store.getters[`${this.module}/getAnswerTypes`];
    }
  },
  methods: {
    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          delete this.payload["status"];
          await this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.data = JSON.parse(JSON.stringify(resp[this.property]));
              this.$store.commit("SET_BREADCRUMB", this.data.title);
              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },

    edit() {
      this.modeEdit = true;
    },

    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit("SET_BREADCRUMB", this.data.title);
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.$store.commit("SET_VIEW_DETAIL_STATUS",this.data.status == 1 ? true : false);
          let opts = this.answerTypes.find(answerType => answerType.val == this.payload.answerType);
          this.classAnswerType = null;
          if (opts != null) {
            this.options = opts.options;
            this.classAnswerType = opts.class;
          }
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    }
  },
  watch: {
    "payload.title": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("title");
        }
      }
    },
    "payload.answerType": {
      handler(value) {
        if (this.modeEdit) {
          let opts = this.answerTypes.find(answerType => answerType.val == value);
          this.classAnswerType = null;
          if (opts != null) {
            this.options = opts.options;
            this.classAnswerType = opts.class;
          }
          this.$validator.validate("answerType");
        }
      }
    }
  },
  components: {
    BasicDetail,
    DeleteReactivate,
    vSelect,
    StarRating
  },
  created() {
    this.getItem(this.$route.params.id);
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>