<template>
  <detail-service
    :isService="true"
    :module="module"
    :route="route"
    :property="property"
    :data.sync="data"
    :payload.sync="payload"
    :modeEdit.sync="modeEdit"
    type="el servicio"
    :specialities="specialities"
    title="Servicio"
    resourceType="service"
    incidentType="service"
    :functions="codes"
    :isRecurrent="isRecurrent"
    :showErrors="showErrors"
  >
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Configuración de servicio</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.serviceConfigId"
            :reduce="option => option.val"
            :options="getItemsServiceConfigs"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            placeholder="Seleccione una configuración"
            @input="getValues"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="serviceConfigId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("serviceConfigId") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="flex flex-wrap items-center justify-end" v-if="modeEdit">
        <vs-button class="ml-auto mt-2" type="border" color="warning" @click="cancelEdit">Cancelar</vs-button>
        <vs-button class="ml-4 mt-2" @click="save">Guardar</vs-button>
      </div>
      <div class="flex flex-wrap items-center justify-end" v-else>
        <vs-button class="ml-auto mt-2" type="border" color="warning" @click="cancel">Cancelar</vs-button>
        <vs-button class="ml-4 mt-2" @click="edit">Editar</vs-button>
      </div>
    </template>
  </detail-service>
</template>

<script>
import DetailService from "../components/Detail.vue";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      data: {},
      payload: {},
      copy: {},
      modeEdit: false,
      specialities: [],
      showErrors: false,
      isRecurrent: false,
      serviceConfig: [],
      codes: ["F-SE-02"],
      specialitiesWithQuantity: [],
      schedules: [],
      module: "service",
      route: "services",
      property: "service",
      path: "/services",
      moduleS: "serviceConfig",
      routeS: "serviceConfigs",
      propertyS: "serviceConfigs"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  computed: {
    getItemsServiceConfigs() {
      return this.$store.getters[`${this.moduleS}/getCustomItems`];
    }
  },
  methods: {
    async getValues(option) {
      if (!option) {
        this.payload.scheduleId = null;
        this.payload.timeBlockId = null;
        this.isRecurrent = false;
        this.payload.resources = [];
        this.payload.specialitiesWithQuantity = [];
      } else {
        this.payload.scheduleId = null;
        this.payload.timeBlockId = null;
        this.payload.users = [];
        this.payload["resources"] = [];
        this.payload.specialitiesWithQuantity = [];

        let configSelected = await this.serviceConfig.find(
          serv => serv.id == option
        );

        if (!configSelected.eventual) {
          this.isRecurrent = true;
          this.payload["schedules"] = this.getTurns(option);
        } else {
          this.isRecurrent = false;
        }

        this.payload["resources"] = await configSelected.resources.map(
          resource => {
            return { id: resource.id, quantity: resource.quantity };
          }
        );

        await configSelected.specialities.map(speciality => {
          this.payload["specialitiesWithQuantity"].push({
            name: speciality.name,
            quantity: speciality.quantity
          });
        });

        this.specialities = await configSelected.specialities.map(
          speciality => {
            return speciality.name;
          }
        );
      }
    },

    getTurns(id) {
      return this.serviceConfig
        .find(sc => sc.id == id)
        .schedules.map(schedule => {
          return {
            label: schedule.name,
            val: schedule.id
          };
        });
    },

    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async resp => {
          this.data = await JSON.parse(JSON.stringify(resp.service));
          this.payload = await JSON.parse(JSON.stringify(this.data));
          this.$set(
            this.payload,
            "serviceConfigId",
            this.payload.serviceConfig.id
          );

          if (Object.entries(this.payload.schedule).length) {
            this.$set(this.payload, "scheduleId", this.payload.schedule.id);
            this.$set(this.payload, "timeBlockId", null);
            this.isRecurrent = true;
          } else {
            this.$set(this.payload, "scheduleId", null);
            this.$set(this.payload, "timeBlockId", this.payload.timeBlock.id);
            this.isRecurrent = false;
          }

          let dataResources = await this.payload.resources.map(resource => {
            return { id: resource.id, quantity: resource.quantity };
          });

          this.$set(this.payload, "resources", dataResources);

          this.$set(this.payload, "specialitiesWithQuantity", []);

          this.specialities = await this.payload.serviceConfig.specialities.map(
            speciality => {
              this.payload["specialitiesWithQuantity"].push({
                name: speciality.name,
                quantity: speciality.quantity
              });

              return speciality.name;
            }
          );

          let dataSchedules = await this.payload.serviceConfig.schedules.map(
            schedule => {
              return {
                label: schedule.name,
                val: schedule.id
              };
            }
          );

          this.$set(this.payload, "schedules", dataSchedules);

          let dataUsers = this.payload["responsibles"].map(
            responsible => responsible.id
          );

          this.$set(this.payload, "users", dataUsers);

          this.copy = JSON.parse(JSON.stringify(this.payload));
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    save() {
      this.$validator.validateAll().then(validate => {
        this.showErrors = true;
        if (validate) {
          this.$vs.loading();
          this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(async resp => {
              this.data = await JSON.parse(JSON.stringify(resp.service));
              this.payload = await JSON.parse(JSON.stringify(this.data));
              this.$set(this.payload, "specialitiesWithQuantity", []);
              this.$set(
                this.payload,
                "serviceConfigId",
                this.payload.serviceConfig.id
              );

              if (Object.entries(this.payload.schedule).length) {
                this.$set(this.payload, "scheduleId", this.payload.schedule.id);
                this.$set(this.payload, "timeBlockId", null);
                this.isRecurrent = true;
              } else {
                this.$set(this.payload, "scheduleId", null);
                this.$set(
                  this.payload,
                  "timeBlockId",
                  this.payload.timeBlock.id
                );
                this.isRecurrent = false;
              }

              let dataResources = await this.payload.resources.map(resource => {
                return { id: resource.id, quantity: resource.quantity };
              });

              this.$set(this.payload, "resources", dataResources);

              this.specialities = await this.payload.serviceConfig.specialities.map(
                speciality => {
                  this.payload["specialitiesWithQuantity"].push({
                    name: speciality.name,
                    quantity: speciality.quantity
                  });

                  return speciality.name;
                }
              );

              let dataSchedules = await this.payload.serviceConfig.schedules.map(
                schedule => {
                  return {
                    label: schedule.name,
                    val: schedule.id
                  };
                }
              );

              this.$set(this.payload, "schedules", dataSchedules);

              let dataUsers = this.payload["responsibles"].map(
                responsible => responsible.id
              );

              this.$set(this.payload, "users", dataUsers);

              this.copy = JSON.parse(JSON.stringify(this.payload));
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.$store.commit(
                "SET_VIEW_DETAIL_STATUS",
                this.data.status == 1 ? true : false
              );
              this.$vs.loading.close();

              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                this.$vs.loading.close();
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    edit() {
      this.modeEdit = true;
    },
    cancelEdit() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.copy));
    },
    cancel() {
      this.$router.push(this.path);
    }
  },
  components: {
    DetailService,
    vSelect
  },
  watch: {
    "payload.name": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("name");
        }
      }
    },
    "payload.serviceConfigId": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("serviceConfigId");
        }
      }
    },
    "payload.scheduleId": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("scheduleId");
        }
      }
    },
    "payload.timeBlockId": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("timeBlockId");
        }
      }
    },
    /* "payload.date": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("date");
        }
      }
    }, */
    "payload.users": {
      handler() {
        if (this.modeEdit) {
          if (this.$refs.specialists) {
            this.$validator.validate("specialists");
          }
        }
      }
    }
  },
  async created() {
    this.getItem(this.$route.params.id);

    await this.$store.dispatch("global/getItems", {
      route: this.routeS,
      module: this.moduleS,
      data: this.propertyS
    });

    this.serviceConfig = await this.$store.getters["global/getItems"](
      this.moduleS,
      this.propertyS
    );
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>