<template>
  <vx-card no-shadow>
    <vs-alert
      color="warning"
      title="Configurar los datos básicos de tu organización"
      active="true"
      v-if="!thereOrganization"
    >
    Para agregar redes sociales a su organización, primero debe agregar los datos básicos de esta misma
    </vs-alert>
    <social-network-basic-form :btnDisabled="!thereOrganization"/>
  </vx-card>
</template>

<script>
import SocialNetworkBasicForm from "./components/SocialNetworkBasicForm.vue";

export default {
  components: {
    SocialNetworkBasicForm
  },

  computed: {
    thereOrganization() {
      return this.$store.getters["organization/thereOrganization"];
    }
  },

  created() {
    this.$store.dispatch("organization/getItems");
  }
};
</script>