<template>
    <vs-tabs :position="isSmallerScreen ? 'top' : 'left'" class="tabs-shadow-none" id="profile-tabs" :key="isSmallerScreen">
        <vs-tab icon-pack="feather" icon="icon-globe" :label="!isSmallerScreen ? 'Datos básicos' : ''">
            <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
                <organization-basic-data-settings/>
            </div>
        </vs-tab>
        <vs-tab icon-pack="feather" icon="icon-phone-call" :label="!isSmallerScreen ? 'Contacto' : ''">
            <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
                <organization-contacts-settings/>
            </div>
        </vs-tab>
        <vs-tab icon-pack="feather" icon="icon-facebook" :label="!isSmallerScreen ? 'Redes sociales' : ''">
            <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
                <organization-social-networks-settings/>
            </div>
        </vs-tab>
    </vs-tabs>
</template>

<script>
import OrganizationContactsSettings from "./OrganizationContactsSettings.vue"
import OrganizationSocialNetworksSettings from "./OrganizationSocialNetworksSettings.vue"
import OrganizationBasicDataSettings from './OrganizationBasicDataSettings.vue'

export default {
    inject: ['$validator'],
    computed: {
        isSmallerScreen() {
            return this.$store.state.windowWidth < 768
        }
    },
    components: {
        OrganizationContactsSettings,
        OrganizationSocialNetworksSettings,
        OrganizationBasicDataSettings
    },
}
</script>

<style lang="scss">
    #profile-tabs {
        .vs-tabs--content {
            padding: 0;
        }
    }
</style>
