<template>
  <vx-card no-shadow v-if="thereOrganization">
    <organization-view v-if="!modeEdit"/>
    <organization-edit v-else=""/>
  </vx-card>
  <vx-card no-shadow v-else="">
    <organization-create />
  </vx-card>
</template>

<script>

import OrganizationCreate from "./components/OrganizationCreate.vue";
import OrganizationEdit from "./components/OrganizationEdit.vue";
import OrganizationView from "./components/OrganizationView.vue";

export default {
  components: {
    OrganizationCreate,
    OrganizationEdit,
    OrganizationView
  },

  computed: {
    thereOrganization() {
      return this.$store.getters["organization/thereOrganization"];
    },
    modeEdit() {
      return this.$store.getters['organization/getMode'];
    },
  },

  created() {
    this.$store.dispatch("organization/getItems");
    this.$store.commit("organization/MODE_EDIT", false);
  }
};
</script>