<template>
  <vx-card no-shadow v-if="getViewValue">
    <telephone-create v-if="!modeEdit" />
    <telephone-edit v-else />
  </vx-card>
  <vx-card no-shadow v-else>
    <telephone-list />
  </vx-card>
</template>

<script>
import TelephoneList from "./components/TelephoneList.vue";
import TelephoneCreate from "./components/TelephoneCreate.vue";
import TelephoneEdit from "./components/TelephoneEdit.vue";

export default {
  data() {
    return {
      module: "telephone"
    };
  },
  computed: {
    getViewValue() {
      return this.$store.getters[`${this.module}/getViewValue`];
    },
    modeEdit() {
      return this.$store.getters[`${this.module}/getMode`];
    }
  },
  components: {
    TelephoneList,
    TelephoneCreate,
    TelephoneEdit
  },
  beforeCreate() {
    this.$store.commit("telephone/CHANGE_VIEW", false);
    this.$store.commit("telephone/DETAIL_VIEW", false);
    this.$store.commit("telephone/MODE_EDIT", false);
    this.$store.commit("telephone/SET_ITEM", null);
  }
};
</script>

<style lang="scss">
[dir="ltr"]
  .vs-input--input.hasIcon:not(.icon-after-input):focus
  + .vs-input--placeholder {
  padding-left: 0.7rem !important;
}

.mt-select {
  margin-top: 17px;
}
</style>