<template functional>
  <vx-card class="px-4" :class="data.staticClass">
    <!-- MESSAGE HEAD -->
    <div class="vx-row">
      <div
        class="vx-col w-full border-b border-l-0 border-r-0 border-t-0 d-theme-border-grey-light border-solid flex justify-between flex items-center"
      >
        <!-- Sender Details -->
        <div class="flex items-center">
          <div></div>

          <div class="flex flex-col">
            <h5 class="mb-1">{{ props.messageContent.name }} {{ props.messageContent.lastname }}</h5>
            <div class="flex items-center">
              <span class="text-sm">{{ props.messageContent.email }}</span>
              <vs-dropdown vs-custom-content vs-trigger-click class="inline-flex cursor-pointer">
                <feather-icon icon="ChevronDownIcon" class="w-3 h-3" />
                <vs-dropdown-menu style="z-index: 40001">
                  <div class="p-2">
                    <p class="text-sm mb-1">
                      De:
                      <span class="font-semibold">{{ props.messageContent.email }}</span>
                    </p>
                    <p class="text-sm mb-1">
                      Fecha:
                      <span
                        class="font-semibold"
                      >{{ props.messageContent.date | time }} {{ props.messageContent.date | date(true) }}</span>
                    </p>
                  </div>
                </vs-dropdown-menu>
              </vs-dropdown>
            </div>
          </div>
        </div>
        <!-- /Sender Details -->

        <!-- Message Time & Date -->
        <div class="flex flex-col justify-end">
          <span class="text-right">{{ props.messageContent.date | time }}</span>
          <div class="flex justify-end mt-2">
            <span class="text-right">{{ props.messageContent.date | date(true) }}</span>
          </div>
        </div>
      </div>
      <!-- /Message Time & Date -->
    </div>

    <!-- MESSAGE CONTENT -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mail__content break-words mt-8 mb-4" v-html="props.messageContent.message"></div>
      </div>
    </div>
  </vx-card>
</template>

<script>
export default {
  props: {
    messageContent: {
      type: Object,
      required: true
    }
  }
};
</script>
