<template>
  <div
    id="email-app"
    class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden"
  >
    <vs-sidebar
      class="items-no-padding"
      parent="#email-app"
      :click-not-close="clickNotClose"
      :hidden-background="clickNotClose"
      v-model="isMessageSidebarActive"
    >
      <messages-sidebar @closeSidebar="toggleMessageSidebar" :messageFilter="messageFilter" />
    </vs-sidebar>

    <div
      :class="{'sidebar-spacer': clickNotClose}"
      class="no-scroll-content border border-solid d-theme-border-grey-light border-r-0 border-t-0 border-b-0"
    >
      <!-- SEARCH BAR -->
      <div class="flex border d-theme-dark-bg items-center">
        <feather-icon
          class="md:inline-flex lg:hidden ml-4 mr-4 cursor-pointer"
          icon="MenuIcon"
          @click.stop="toggleMessageSidebar(true)"
        />
        <vs-input
          icon-no-border
          icon="icon-search"
          size="large"
          icon-pack="feather"
          placeholder="Buscar mensaje"
          v-model="searchQuery"
          class="vs-input-no-border vs-input-no-shdow-focus w-full"
        />
      </div>

      <!-- MESSAGE ACTION BAR -->
      <div
        class="email__actions flex items-center flex-wrap justify-between p-4 border border-r-0 border-l-0 border-solid d-theme-border-grey-light"
      >
        <div class="flex items-center">
          <vs-checkbox
            v-model="selectAllCheckBox"
            icon-pack="feather"
            :icon="selectAllIcon"
            class="select-all-chexkbox ml-0"
          >Seleccionar todos</vs-checkbox>
        </div>
        <div class="flex">
          <feather-icon
            icon="TrashIcon"
            class="cursor-pointer ml-5"
            svg-classes="h-6 w-6"
            @click="moveTo('trash')"
          />
        </div>
      </div>

      <!-- MESSAGES LIST -->
      <VuePerfectScrollbar
        class="email-content-scroll-area"
        :settings="settings"
        ref="messageListPS"
        :key="$vs.rtl"
      >
        <div v-if="messages.length > 0">
          <transition-group name="list-enter-up" class="email__mails" tag="ul" appear>
            <li
              class="cursor-pointer email__mail-item"
              v-for="(message, index) in messages"
              :key="String(messageFilter) + String(message.id)"
              @click="updateOpenMessage(message.id)"
              :style="{transitionDelay: (index * 0.1) + 's'}"
            >
              <message-item
                :message="message"
                :isSelected="isMessageSelected(message.id)"
                @addToSelected="addToSelectedMessages"
                @removeSelected="removeSelectedMessages"
              />
            </li>
          </transition-group>
        </div>
        <div class="text-center" v-if="messages.length === 0">
          <h2 class="text-primary">No hay mensajes para mostrar</h2>
        </div>
      </VuePerfectScrollbar>
    </div>

    <!-- EMAIL VIEW SIDEBAR -->
    <message-view
      :openMessageId="openMessageId"
      :isSidebarActive="isSidebarActive"
      :messageFilter="messageFilter"
      @removeMessage="removeOpenMessage"
      @previousMessage="previousMessage"
      @nextMessage="nextMessage"
      @closeSidebar="closeMessageViewSidebar"
    ></message-view>
  </div>
</template>

<script>
import MessagesSidebar from "./MessagesSidebar";
import MessageItem from "./MessageItem.vue";
import MessageView from "./MessageView.vue";
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  data() {
    return {
      openMessageId: null,
      selectedMessages: [],
      isSidebarActive: false,
      showThread: false,
      clickNotClose: true,
      isMessageSidebarActive: true,
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.3
      },
      module: "message",
      route: "messages",
      singularProperty: "contactMessage",
      pluralProperty: "contactMessages",
      path: "/messages"
    };
  },
  watch: {
    isSidebarActive(value) {
      if (!value) this.showThread = false;
    },
    messageFilter() {
      this.selectedMessages = [];
      this.$refs.messageListPS.$el.scrollTop = 0;
      this.$store.commit(
        "message/UPDATE_MESSAGE_FILTER",
        this.$route.params.filter
      );
      this.toggleMessageSidebar();
    },
    windowWidth() {
      this.setSidebarWidth();
    }
  },
  computed: {
    messageFilter() {
      return this.$route.params.filter;
    },
    searchQuery: {
      get() {
        return this.$store.state.message.messageSearchQuery;
      },
      set(val) {
        this.$store.dispatch("message/setMessageSearchQuery", val);
      }
    },
    selectAllCheckBox: {
      get() {
        return this.selectedMessages.length;
      },
      set(value) {
        value
          ? (this.selectedMessages = this.messages.map(message => message.id))
          : (this.selectedMessages = []);
      }
    },
    messages() {
      return this.$store.getters["message/filteredMessages"];
    },
    selectAllIcon() {
      return this.selectedMessages.length == this.messages.length
        ? "icon-check"
        : "icon-minus";
    },
    isMessageSelected() {
      return messageId =>
        this.selectedMessages.indexOf(messageId) == -1 ? false : true;
    },
    windowWidth() {
      return this.$store.state.windowWidth;
    }
  },
  methods: {
    updateOpenMessage(messageId) {
      this.openMessageId = messageId;
      this.isSidebarActive = true;
    },
    addToSelectedMessages(messageId) {
      if (this.selectedMessages.indexOf(messageId) === -1)
        this.selectedMessages.push(messageId);
    },
    removeSelectedMessages(messageId) {
      const messageIndex = this.selectedMessages.indexOf(messageId);
      if (messageIndex !== -1) this.selectedMessages.splice(messageIndex, 1);
    },
    /* moveTo(to) {
      this.selectedMessages.forEach(async id => {
        await this.$store
          .dispatch("message/delete", {
            id: id,
            route: this.route,
            module: this.module,
            data: this.singularProperty
          })
          .then(resp => {
            notify().then(({ notification }) => {
              notification("success", resp, resp.message.code, this.$vs.notify);
            });
          })
          .catch(err => {
            notify().then(({ notification }) => {
              const code = err.hasOwnProperty("message")
                ? err.message.code
                : err.code;
              notification(
                "error",
                err,
                code,
                this.$vs.notify,
                "Registro eliminado"
              );
            });
          });
      });
    }, */
    removeOpenMessage() {
      this.selectedMessages = [this.openMessageId];
      this.moveTo("trashed");
      this.isSidebarActive = false;
    },
    nextMessage() {
      const currentMessageIndex = this.messages.findIndex(
        message => message.id == this.openMessageId
      );
      if (this.messages[currentMessageIndex + 1])
        this.openMessageId = this.messages[currentMessageIndex + 1].id;
    },
    previousMessage() {
      const currentMessageIndex = this.messages.findIndex(
        message => message.id == this.openMessageId
      );
      if (this.messages[currentMessageIndex - 1])
        this.openMessageId = this.messages[currentMessageIndex - 1].id;
    },
    closeMessageViewSidebar() {
      this.isSidebarActive = false;
    },
    setSidebarWidth() {
      if (this.windowWidth < 992) {
        this.isMessageSidebarActive = this.clickNotClose = false;
      } else {
        this.isMessageSidebarActive = this.clickNotClose = true;
      }
    },
    toggleMessageSidebar(value = false) {
      if (!value) {
        this.closeMessageViewSidebar();
        if (this.clickNotClose) {
          return;
        }
      }
      this.isMessageSidebarActive = value;
    }
  },
  components: {
    MessageItem,
    MessagesSidebar,
    MessageView,
    VuePerfectScrollbar
  },
  async created() {
    this.setSidebarWidth();
    this.$store.commit(
      "message/UPDATE_MESSAGE_FILTER",
      this.$route.params.filter
    );

    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  },
  mounted() {
    this.$store.dispatch("message/setMessageSearchQuery", "");
  }
};
</script>


<style lang="scss">
@import "@/assets/scss/vuexy/apps/email.scss";
</style>
