<template>
  <div>
    <vs-sidebar
      click-not-close
      parent="#email-app"
      :hidden-background="true"
      class="full-vs-sidebar email-view-sidebar items-no-padding"
      v-model="isSidebarActive"
      position-right
    >
      <div class="mail-sidebar-content px-0 sm:pb-6 h-full" v-if="currentMessage">
        <div
          class="flex flex-wrap items-center email-header justify-between md:px-8 px-6 sm:pb-2 sm: pt-6 d-theme-dark-bg"
        >
          <div class="flex mb-4">
            <div class="flex items-center">
              <feather-icon
                :icon="$vs.rtl ? 'ArrowRightIcon' : 'ArrowLeftIcon'"
                @click="onChangeAnswer('hide');$emit('closeSidebar')"
                class="cursor-pointer mr-4"
                svg-classes="w-6 h-6"
              ></feather-icon>
              <h4>Mensaje</h4>
            </div>
          </div>
          <div class="ml-10 mb-4 mt-1">
            <div class="email__actions--single flex items-baseline">
              <feather-icon
                icon="TrashIcon"
                svg-classes="h-6 w-6"
                class="cursor-pointer ml-4"
                @click="onChangeAnswer('hide');$emit('removeMessage')"
              ></feather-icon>
              <feather-icon
                :icon="$vs.rtl ? 'ChevronsRightIcon' : 'ChevronsLeftIcon'"
                svg-classes="h-6 w-6"
                class="cursor-pointer ml-4 hidden sm:inline-flex"
                @click="onChangeAnswer('hide');$emit('previousMessage')"
              />
              <feather-icon
                :icon="$vs.rtl ? 'ChevronsLeftIcon' : 'ChevronsRightIcon'"
                svg-classes="h-6 w-6"
                class="cursor-pointer ml-4 hidden sm:inline-flex"
                @click="onChangeAnswer('hide'); $emit('nextMessage')"
              />
            </div>
          </div>
        </div>

        <VuePerfectScrollbar
          class="scroll-area-mail-content md:px-8 md:pb-8 pt-4 px-6 pb-6"
          :settings="settings"
          :key="$vs.rtl"
        >
          <div v-if="isSidebarActive">
            <!-- LATEST MESSAGE -->
            <div class="vx-row">
              <div class="vx-col w-full">
                <message-card :messageContent="currentMessage" />
              </div>
            </div>

            <div v-if="currentMessage.answer.title">
              <vx-card class="mt-6">
                <span class="text-primary font-semibold">Respuesta</span>
                <vs-dropdown vs-custom-content vs-trigger-click class="inline-flex cursor-pointer">
                  <feather-icon icon="ChevronDownIcon" class="w-3 h-3" />
                  <vs-dropdown-menu style="z-index: 40001">
                    <div class="p-2">
                      <p class="text-sm mb-1">
                        Por:
                        <span class="font-semibold">{{currentMessage.answer.user.email}}</span>
                      </p>
                    </div>
                  </vs-dropdown-menu>
                </vs-dropdown>
                <div class="vx-row mt-5">
                  <div class="vx-col w-full">
                    <span class="font-semibold cursor-pointer">{{currentMessage.answer.title}}</span>
                    <div
                      class="mail__content break-words mt-2 mb-4"
                      v-html="currentMessage.answer.content"
                    ></div>
                  </div>
                </div>
              </vx-card>
            </div>
            <div v-else>
              <div v-if="!toAnswer" class="vx-row" style="margin-top: 2.2rem">
                <div class="vx-col w-full">
                  <vx-card>
                    <div class="vx-row">
                      <div class="vx-col w-full flex justify-between">
                        <span class="text-lg">
                          Haga click aquí para
                          <span
                            class="text-primary font-semibold cursor-pointer"
                            @click="onChangeAnswer()"
                          >Responder</span>
                        </span>
                      </div>
                    </div>
                  </vx-card>
                </div>
              </div>
              <div v-else class="mt-6">
                <div class="vx-col w-full mt-5">
                  <vs-input
                    label="Título de la respuesta"
                    v-model="answer.title"
                    name="title"
                    v-validate="'required'"
                    class="w-full"
                    :danger="!validateTitle && answer.title != ''"
                    val-icon-danger="clear"
                    :success="validateTitle"
                    val-icon-success="done"
                    :color="validateTitle ? 'success' : 'danger'"
                  />
                </div>
                <span>Contenido de la respuesta</span>
                <quill-editor v-model="answer.content" :options="editorOption" />
                <div class="vx-col w-full flex justify-end mt-6">
                  <vs-button
                    @click="onChangeAnswer('hide')"
                    color="warning"
                    type="border"
                    class="mb-2"
                  >Cancelar</vs-button>
                  <vs-button @click="reply()" :disabled="!validateTitle" class="mb-2 ml-6">Responder</vs-button>
                </div>
              </div>
            </div>
          </div>
        </VuePerfectScrollbar>
      </div>
    </vs-sidebar>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import MessageCard from "./MessageCard.vue";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import { quillEditor } from "vue-quill-editor";
const notify = () => import("@/vendor/notify.js");

export default {
  props: {
    openMessageId: {
      required: true,
      validator: prop => typeof prop === "number" || prop === null
    },
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    messageFilter: {
      type: String
    }
  },
  data() {
    return {
      toAnswer: false,
      answer: {
        title: "",
        content: ""
      },
      showErrors: false,
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.5
      },
      editorOption: {
        modules: {
          toolbar: [
            [
              "bold",
              "italic",
              "underline",
              "strike",
              "link",
              "blockquote",
              "code-block"
            ],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ font: [] }]
          ]
        },
        placeholder: "Escriba aquí su mensaje"
      }
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  watch: {
    isSidebarActive(value) {
      if (!value) {
        this.onChangeAnswer("hide");
        this.$emit("closeSidebar");
      }
    }
  },
  computed: {
    currentMessage() {
      return this.$store.getters["message/getMessage"](this.openMessageId);
    },
    validateTitle() {
      return !this.errors.any() && this.answer.title != "";
    }
  },
  methods: {
    onChangeAnswer(hide) {
      this.answer = {
        title: "",
        content: ""
      };
      if (hide) this.toAnswer = false;
      else this.toAnswer = !this.toAnswer;
    },
    async reply() {
      if (this.validateTitle) {
        this.$vs.loading();
        await this.$store
          .dispatch("message/reply", {
            id: this.currentMessage.id,
            payload: this.answer,
            module: this.module
          })
          .then(resp => {
            this.$vs.loading.close();
            notify().then(({ notification }) => {
              notification("success", resp, resp.message.code, this.$vs.notify);
            });
          })
          .catch(err => {
            this.$vs.loading.close();
            notify().then(({ notification }) => {
              const code = err.hasOwnProperty("message")
                ? err.message.code
                : err.code;
              notification(
                "error",
                err,
                code,
                this.$vs.notify,
                "Registro eliminado"
              );
            });
          });
      }
    }
  },
  components: {
    VuePerfectScrollbar,
    quillEditor,
    MessageCard
  }
};
</script>
