<template>
  <div class="mail__mail-item sm:px-4 px-2 py-6">
    <div class="flex w-full">
      <div class="flex w-full justify-between items-start">
        <div class="mail__details">
          <div class="flex">
            <div class="flex items-center ml-1">
              <vs-checkbox
                v-model="isSelectedMessage"
                @click.stop
                class="vs-checkbox-small ml-0 mr-1"
              ></vs-checkbox>
              <h5 class="mb-1">{{ message.name }} {{ message.lastname }}</h5>
            </div>
          </div>

          <span>{{ message.email }}</span>>
        </div>

        <div class="mail-item__meta flex items-center">
          <div class="email__labels hidden sm:flex items-center"></div>
          <span>{{ message.date | date }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: Object,
      required: true
    },
    isSelected: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      isSelectedMessage: this.isSelected
    };
  },
  watch: {
    isSelected(value) {
      this.isSelectedMessage = value;
    },
    isSelectedMessage(val) {
      val
        ? this.$emit("addToSelected", this.message.id)
        : this.$emit("removeSelected", this.message.id);
    }
  }
};
</script>

