<template>
  <div class="email__email-sidebar h-full">
    <VuePerfectScrollbar class="email-filter-scroll-area" :settings="settings" :key="$vs.rtl">
      <div class="px-6 pb-2 flex flex-col mt-6">
        <!-- questions -->
        <router-link
          tag="span"
          :to="`${baseUrl}/questions`"
          class="flex justify-between items-center cursor-pointer"
          :class="{'text-primary': messageFilter == 'questions'}"
        >
          <div class="flex items-center mb-2">
            <feather-icon
              icon="HelpCircleIcon"
              :svgClasses="[{'text-primary stroke-current': messageFilter == 'questions'}, 'h-6 w-6']"
            ></feather-icon>
            <span class="text-lg ml-3">Preguntas</span>
          </div>
        </router-link>

        <!-- suggestions -->
        <router-link
          tag="span"
          :to="`${baseUrl}/suggestions`"
          class="flex items-center mt-4 mb-2 cursor-pointer"
          :class="{'text-primary': messageFilter == 'suggestions'}"
        >
          <feather-icon
            icon="SmileIcon"
            :svgClasses="[{'text-primary stroke-current': messageFilter == 'suggestions'}, 'h-6 w-6']"
          ></feather-icon>
          <span class="text-lg ml-3">Sugerencias</span>
        </router-link>

        <!-- claims -->
        <router-link
          tag="span"
          :to="`${baseUrl}/claims`"
          class="flex justify-between items-center mt-4 cursor-pointer"
          :class="{'text-primary': messageFilter == 'claims'}"
        >
          <div class="flex items-center mb-2">
            <feather-icon
              icon="AlertCircleIcon"
              :svgClasses="[{'text-primary stroke-current': messageFilter == 'claims'}, 'h-6 w-6']"
            ></feather-icon>
            <span class="text-lg ml-3">Reclamos</span>
          </div>
        </router-link>
      </div>
    </VuePerfectScrollbar>
  </div>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  props: {
    messageFilter: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.3
      }
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  computed: {
    baseUrl() {
      return "/messages";
    }
  },
  components: {
    VuePerfectScrollbar
  }
};
</script>

