<template>
  <basic-table :list="data" :route="path">
    <template slot="create-button">
      <div
        class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
        @click="create"
      >
        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
        <span class="ml-2 text-base text-primary">Crear</span>
      </div>
    </template>
    <template slot-scope="{ tr }">
      <vx-tooltip
        v-if="tr.status == 1"
        class="inline-block"
        color="gray"
        text="Archivar"
        position="top"
      >
        <feather-icon
          icon="ArchiveIcon"
          svgClasses="w-5 h-5 hover:text-gray stroke-current"
          class="ml-2"
          @click.stop="activeOrArchiveDialog(tr.id,'archive')"
        />
      </vx-tooltip>

      <vx-tooltip v-else class="inline-block" color="success" text="Activar" position="top">
        <feather-icon
          icon="CheckSquareIcon"
          svgClasses="w-5 h-5 hover:text-success stroke-current"
          class="ml-2"
          @click.stop="activeOrArchiveDialog(tr.id,'active')"
        />
      </vx-tooltip>

      <vx-tooltip class="inline-block" color="danger" text="Eliminar" position="top">
        <feather-icon
          icon="TrashIcon"
          svgClasses="w-5 h-5 hover:text-danger stroke-current"
          class="ml-3"
          @click.stop="deleteDialog(tr.id)"
        />
      </vx-tooltip>
    </template>
  </basic-table>
</template>

<script>
import BasicTable from "../components/BasicTable.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      module: "speciality",
      route: "specialities",
      singularProperty: "speciality",
      pluralProperty: "specialities",
      path: "/speciality"
    };
  },
  methods: {
    create() {
      this.$router.push(`${this.path}/create`);
    },

    activeOrArchiveDialog(id, action) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea ${action == "active" ? "activar" : "archivar"} el registro?`,
          this.activeOrArchive,
          [id, action]
        );
      });
    },

    async activeOrArchive(parameters) {
      await this.$store
        .dispatch(
          `global/${parameters[1] == "archive" ? "remove" : "unRemove"}`,
          {
            id: parameters[0],
            route: this.route,
            module: this.module,
            data: this.singularProperty
          }
        )
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro archivado"
            );
          });
        });
    },

    deleteDialog(id) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea eliminar el registro? Una vez eliminado no podrá recuperarlos`,
          this.delete,
          [id]
        );
      });
    },

    async delete(parameters) {
      await this.$store
        .dispatch("global/delete", {
          id: parameters[0],
          route: this.route,
          module: this.module,
          data: this.singularProperty
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro eliminado"
            );
          });
        });
    }
  },
  components: {
    BasicTable
  },
  computed: {
    data() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      );
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  }
};
</script>