<template>
  <basic-form :data="data" :showValidations="isValid" :description="false" title="Crear rol">
    <template slot="fields">
      <div class="functions-roles">
        <!-- block overflow-x-auto -->
        <vs-divider class="my-4" color="#ccc" position="left">
          <h6>Funciones</h6>
        </vs-divider>
        <vs-input
          class="inputx tree-search-input float-left mr-2"
          placeholder="Buscar función..."
          v-model.lazy="searchword"
        />
        <vs-button color="primary" type="filled" @click="search" class="mb-3">Buscar</vs-button>
        <v-tree
          ref="tree"
          :data="funcOptions"
          :draggable="true"
          :halfcheck="true"
          :multiple="true"
        />
        <vs-divider color="#ccc" />
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>

import BasicForm from "../components/BasicForm.vue";
import { VTree, VSelectTree}  from 'vue-tree-halower';
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        status: true,
        functions: [],
      },
      searchword: '',
      funcOptions:null,
      functions: [],
      isValid: false,
      module: "role",
      route: "roles",
      property: "role",
      path: "/roles"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    search () {
      this.$refs.tree.searchNodes(this.searchword)
    },
    create() {
      this.data.functions = this.itemsSelected;
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          await this.$store
            .dispatch("global/create", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    },
    markAll (checkMark){
      if(checkMark.target.checked)
        this.data.functions = this.functions.map(f => f.id);
      else{
        if(this.data.functions.sort((a,b) => a - b).slice().join('') == this.functions.map(f => f.id).join(''))
          this.data.functions = [];
      }
    },
    createTree(elements){
      let treeData = [
        {
          title: "Dashboard",
          expanded: true,
          children: elements.filter(el => el.code =="D-01" || el.code =="D-02")
          
        },
        {
          title: 'Funcionalidades',
          expanded: true,
          children: [
            {
              title: 'Gestión de usuarios',
              children: elements.filter(el => el.code.includes("-US-"))
            },
            {
              title: 'Pacientes',
              children: elements.filter(el => el.code.includes("-EX-"))
            },
            {
              title: 'Servicios',
              children: elements.filter(el => el.code.includes("-SE-"))
            },
            {
              title: 'Actividades',
              children: elements.filter(el => el.code.includes("-AC-"))
            },
            {
              title: 'Solicitudes',
              children: elements.filter(el => el.code.includes("-SO-"))
            },
            {
              title: 'Agenda',
              children: elements.filter(el => el.code.includes("-AG-"))
            },
            {
              title: 'Bitácora',
              children: elements.filter(el => el.code.includes("-BI-"))
            },
            {
              title: 'Reportes',
              children: elements.filter(el => el.code.includes("-RE-"))
            }
          ]
        },
        {
          title: 'Ajustes',
          expanded: true,
          children: [
            {
              title: 'Organización',
              children: elements.filter(el => el.code.includes("-OR-"))
            },
            {
              title: 'Datos básicos',
              children: elements.filter(el => el.code.includes("-DB-"))
            },
            {
              title: 'Seguridad funcional',
              children: elements.filter(el => el.code.includes("-SF-"))
            },
            {
              title: 'Canal de escucha',
              children: elements.filter(el => el.code.includes("-CE-"))
            },
            {
              title: 'Web móvil',
              children: elements.filter(el => el.code.includes("-WM-"))
            },
            {
              title: 'Configuración',
              children: elements.filter(el => el.code.includes("-CF-"))
            }, 
            {
              title: 'Base de datos',
              children: elements.filter(el => el.code.includes("-BD-"))
            }
            
          ]
        }
      ];
      return treeData;
    }
  },
  async created(){
    await this.$store.dispatch('role/getFunctions');
    this.functions = await this.$store.getters["role/getFunctions"].slice();
    this.funcOptions = await this.functions.map((el) => {
      return {
        id:el.id,
        name: el.name,
        title: el.name,
        description: el.description,
        code: el.code
      }
    })
    this.funcOptions = this.createTree(this.funcOptions);
  },
  components: {
    BasicForm,
    VTree,
    VSelectTree
  },
  computed:{
    itemsSelected() {
      return this.$refs.tree.getCheckedNodes().slice().filter(el => el.id).map(el => el.id);
    }
  }
};
</script>
<style lang="scss">
@import "@/assets/scss/vuexy/extraComponents/tree.scss";

button.btn-async{
  background: rgba(var(--vs-warning),0.15);
}

button.btn-delete{
  background: rgba(var(--vs-danger),0.15);
}
.functions-roles .vs-divider--text {
  padding-left: 0;
}
</style>