<template>
  <div>
    <vs-list>
      <vs-list-item  icon-pack="feather" icon="icon-check" v-for="functionRole in functions" :key="functionRole.id" :title="functionRole.name" :subtitle="functionRole.description"></vs-list-item>
    </vs-list>
  </div>
</template>
<script>
export default {
  computed: {
    functions() {
      return this.$store.getters["role/getFunctions"];
    }
  },
  async created() {
    await this.$store.dispatch("role/getFunctions");
  }
};
</script>