<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showValidations="isValid"
    :showDescription="false"
    :title="`Rol: ${data.name}`"
    :modeEdit="modeEdit"
  >
    <template slot="fields-view">
      <div class="functions-roles">
        <vs-divider class="my-4" color="#ccc" position="left">
          <h6>Funciones</h6>
        </vs-divider>
        <v-tree
          ref="tree"
          :data="funcOptions"
          :draggable="true"
          :disabled="true"
          :halfcheck="true"
          :multiple="false"
        />
        <vs-divider color="#ccc" />
      </div>
    </template>

    <template slot="fields-edit">
      <div class="functions-roles">
        <vs-divider class="my-4" color="#ccc" position="left">
          <h6>Funciones</h6>
        </vs-divider>
        <vs-input
          class="inputx tree-search-input float-left mr-2"
          placeholder="Buscar función..."
          v-model.lazy="searchword"
        />
        <vs-button color="primary" type="filled" @click="search" class="mb-3">Buscar</vs-button>
        <v-tree
          ref="tree"
          :data="funcOptions"
          :draggable="true"
          :halfcheck="true"
          :multiple="true"
        />
        <!-- <div class="vx-row mt-4">
          <div class="vx-col w-full flex justify-start mb-3">
            <div>
              <vs-checkbox v-model="functions.selected" @change="markAll" />
            </div>
            <div>
              <span>Marcar todas</span>
            </div>
          </div>
          <div
            v-for="functionRole in functions"
            :key="functionRole.id"
            class="vx-col w-full md:w-1/2 flex justify-start mb-3"
          >
            <div>
              <vs-checkbox v-model="payload.functions" :vs-value="functionRole.id" />
            </div>
            <div>
              <span>{{functionRole.name}}</span>
              <br />
              <span class="text-xs">
                <vs-icon icon-pack="feather" icon="icon-chevrons-right" />
                {{ functionRole.description }}
              </span>
            </div>
          </div>
        </div>-->
        <vs-divider color="#ccc" />
      </div>
    </template>

    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import BasicDetail from "../components/BasicDetail.vue";
import { VTree, VSelectTree } from "vue-tree-halower";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      functions: [],
      modeEdit: false,
      isValid: false,
      module: "role",
      route: "roles",
      property: "role",
      searchword: "",
      funcOptions: null
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    search() {
      this.$refs.tree.searchNodes(this.searchword);
    },
    save() {
      this.payload.functions = this.itemsSelected;
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          delete this.payload["status"];
          await this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(async resp => {
              await this.$store.dispatch('auth/getUserLogged');
              this.data = await JSON.parse(JSON.stringify(resp[this.property]));
              this.funcOptions = this.createTree();
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },
    edit() {
      this.modeEdit = true;
    },
    markAll(checkMark) {
      if (checkMark.target.checked)
        this.payload.functions = this.functions.map(f => f.id);
      else {
        if (
          this.payload.functions
            .sort((a, b) => a - b)
            .slice()
            .join("") == this.functions.map(f => f.id).join("")
        )
          this.payload.functions = [];
      }
    },
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    async createTree() {
      let elements = await this.functions.map(el => {
        return {
          id: el.id,
          name: el.name,
          title: el.name,
          description: el.description,
          code: el.code,
          selected: this.data.functions.includes(el.id),
          checked: this.data.functions.includes(el.id)
        };
      });

      let treeData = [
        {
          title: "Dashboard",
          expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code =="D-01" || el.code =="D-02"
              ).length,
          children: elements.filter(el => el.code =="D-01" || el.code =="D-02")
          
        },
        {
          title: "Funcionalidades",
          expanded: true,
          children: [
            {
              title: "Gestión de usuarios",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-OR-")
              ).length,
              children: elements.filter(el => el.code.includes("-US-"))
            },
            {
              title: 'Pacientes',
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-EX-")
              ).length,
              children: elements.filter(el => el.code.includes("-EX-"))
            },
            {
              title: "Servicios",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-SE-")
              ).length,
              children: elements.filter(el => el.code.includes("-SE-"))
            },
            {
              title: "Actividades",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-AC-")
              ).length,
              children: elements.filter(el => el.code.includes("-AC-"))
            },
            {
              title: "Solicitudes",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-SO-")
              ).length,
              children: elements.filter(el => el.code.includes("-SO-"))
            },
            {
              title: "Agenda",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-AG-")
              ).length,
              children: elements.filter(el => el.code.includes("-AG-"))
            },
            {
              title: 'Bitácora',
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-BI-")
              ).length,
              children: elements.filter(el => el.code.includes("-BI-"))
            },
            {
              title: 'Reportes',
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-RE-")
              ).length,
              children: elements.filter(el => el.code.includes("-RE-"))
            }
          ]
        },
        {
          title: "Ajustes",
          expanded: true,
          children: [
            {
              title: "Organización",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-OR-")
              ).length,
              children: elements.filter(el => el.code.includes("-OR-"))
            },
            {
              title: "Datos básicos",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-DB-")
              ).length,
              children: elements.filter(el => el.code.includes("-DB-"))
            },
            {
              title: "Seguridad funcional",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-SF-")
              ).length,
              children: elements.filter(el => el.code.includes("-SF-"))
            },
            {
              title: 'Canal de escucha',
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-CE-")
              ).length,
              children: elements.filter(el => el.code.includes("-CE-"))
            },
            {
              title: "Web móvil",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-WM-")
              ).length,
              children: elements.filter(el => el.code.includes("-WM-"))
            },
            {
              title: "Configuración",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-CF-")
              ).length,
              children: elements.filter(el => el.code.includes("-CF-"))
            },
            {
              title: "Base de datos",
              expanded: elements.filter(
                el =>
                  this.data.functions.includes(el.id) &&
                  el.code.includes("-BD-")
              ).length,
              children: elements.filter(el => el.code.includes("-BD-"))
            }
          ]
        }
      ];
      this.funcOptions = treeData;
    }
  },
  /*   computed: {
    get: function () {
      return this.data.functions;
    },
    // setter
    set: function (newValue) {
      this.data.functions = newValue;
    }
  }, */
  components: {
    BasicDetail,
    VTree,
    VSelectTree
  },
  async created() {
    this.getItem(this.$route.params.id);
    await this.$store.dispatch("role/getFunctions");
    this.functions = await this.$store.getters["role/getFunctions"].slice();
    this.createTree();
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  },
  computed: {
    itemsSelected() {
      return this.$refs.tree
        .getCheckedNodes()
        .slice()
        .filter(el => el.id)
        .map(el => el.id);
    }
  }
};
</script>
<style lang="scss">
@import "@/assets/scss/vuexy/extraComponents/tree.scss";

button.btn-async{
  background: rgba(var(--vs-warning),0.15);
}

button.btn-delete{
  background: rgba(var(--vs-danger),0.15);
}
.functions-roles .vs-divider--text {
  padding-left: 0;
}
[dir] .halo-tree .node-selected {
  background: rgba(var(--vs-primary), 0.15);
  color: rgba(var(--vs-primary), 1) !important;
  font-weight: 400;
}
</style>