<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Solicitud de servicio">
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
            <span>Fecha:</span>
              <strong>
                {{data.date | dateFormat }}
              </strong>
            <vs-chip
              v-if="data.stage == 'FINISHED'"
              color="success"
              class="ml-2 ap detail-tag-chip"
            >Finalizada
            </vs-chip>
            <vs-chip
              v-if="data.stage == 'PENDING'"
              color="primary"
              class="ml-2 ap detail-tag-chip"
            >Pendiente
            </vs-chip>
            <vs-chip
              v-if="data.stage == 'APPROVED'"
              color="success"
              class="ml-2 ap detail-tag-chip"
            >Aprobada
            </vs-chip>
            <vs-chip
              v-if="data.stage == 'REJECTED'"
              color="danger"
              class="ml-2 ap detail-tag-chip"
            >Rechazada
            </vs-chip>
          </div>
          <div class="vx-col flex flex-grow justify-end">
            <vs-button
              v-if="data.stage == 'PENDING'"
              class="delete-reactivate"
              color="success"
              type="border"
              @click="acceptRequest=true"
              icon-pack="feather"
              icon="icon-check"
            >Aprobar</vs-button>
            <vs-button
              v-if="data.stage == 'PENDING'"
              class="ml-3 delete-reactivate"
              @mouseover="hover = true"
              @mouseleave="hover = false"
              color="danger"
              type="border"
              @click="rejectRequest = true"
              icon-pack="feather"
              icon="icon-x"
            >Rechazar</vs-button>
            <vs-button
              v-if="data.stage == 'REJECTED'"
              color="danger"
              type="border"
              @mouseenter="hover = true"
              @mouseleave="hover = false"
              @click="viewReason=true"
              icon-pack="feather"
              icon="icon-x"
            >{{ hover? "Ver motivo": "Rechazado"}}</vs-button>
          </div>
        </div>
        <vs-divider></vs-divider>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <strong>Servicio solicitado</strong>
          </div>
        </div>
        <div v-if="data.service" class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-edit"></vs-icon>
            <span>Nombre:</span>
            <router-link class="text-success" :to="`/service/${data.service.id}`">
            <p class="ml-3">{{ data.service.name }}</p></router-link>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-calendar"></vs-icon>
            <span>Fecha:</span>
              <p class="ml-3">
                {{data.datePosible | dateFormat }}
              </p>
           </div>
        </div>
        <vs-divider></vs-divider>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <strong>Usuario solicitante</strong>
          </div>
        </div>
        <div v-if="data.user" class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-user"></vs-icon>
            <span>Nombre:</span>
            <p class="ml-3">{{ data.user.name }} {{ data.user.lastname }}</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-phone"></vs-icon>
            <span>Teléfono:</span>
            <p class="ml-3">{{ data.user.telephone }}</p>
          </div>
        </div>
        <div v-if="data.user" class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="fas" icon="fa-venus-mars"></vs-icon>
            <span>Género:</span>
            <p class="ml-3">{{ data.user.gender.includes('F') ? 'Femenino' : 'Masculino' }}</p>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-gift"></vs-icon>
            <span>Edad:</span>
            <p class="ml-3">{{ data.user.birthdate | ageFormat }} años</p>
          </div>
        </div>
        <div v-if="data.user" class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <vs-icon class="mr-2" icon-pack="feather" icon="icon-mail"></vs-icon>
            <span>{{ data.user.email }}</span>
          </div>
           <div class="vx-row mb-6 justify-end">
              <vs-button
              color="success"
              type="line"
              @click="$router.push({name: pageExpedient, params: {id: data.user.id }}).catch(() => {})"
            >Ver expediente</vs-button>
           </div>
        </div>
        <vs-prompt
          v-if="data.service"
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="acceptRequestS"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          :title="`Aceptar solicitud: ${data.service.name}`"
          :active.sync="acceptRequest"
        >
          <div class="con-exemple-prompt">
            <vs-textarea
              placeholder="Comentario"
              data-vv-validate-on="blur"
              name="description"
              v-model="description"
            />
            <span class="text-danger text-sm"></span>
            <vs-alert
              class="mt-2"
              :vs-active="!true"
              color="warning"
              vs-icon="new_releases"
            >El servicio se ejecutará el {{ data.datePosible | dateFormat }}</vs-alert>
          </div>
        </vs-prompt>

        <vs-prompt
          v-if="data.service"
          class="prompt-appointment"
          @cancel="clearValMultiple"
          @accept="sendRejection"
          @close="close"
          accept-text="Aceptar"
          cancel-text="Cancelar"
          :title="`Rechazar solicitud: ${data.service.name}`"
          :active.sync="rejectRequest"
        >
          <div class="con-exemple-prompt">
            Debe indicar el motivo para
            <b>rechazar la solicitud de servicio</b>.
            
            <v-select
              v-model="reasonRejectionId"
              :options="reasonsRejection"
              name="reasonRejectionId"
              data-vv-validate-on="blur"
              placeholder="Motivo de reachazo"
              v-validate="'required'"
              label="name"
              :reduce="opt => opt.id"
              class="mt-3"
            />
             <span
                v-if="showValidation"
                class="text-danger text-sm"
              >{{ errors.first('reasonRejectionId') }}</span>
            <br/>
            <template  v-if="reasonRejectionId">
              <div class="p-4">
                <h5 class="mb-2">Mensaje</h5>
                <p>{{ reasonsRejection.filter(r => r.id == reasonRejectionId)[0].description }}</p>
              </div>
            </template>
            <vs-alert
              v-if="data.user"
              class="mt-2"
              :vs-active="!true"
              color="warning"
              vs-icon="new_releases"
            >El motivo de rechazo será notificado a través de un correo electrónico a la siguiente dirección: <b>{{ data.user.email }}</b></vs-alert>
          </div>
        </vs-prompt>

        <vs-popup v-if="data.reasonRejection" class="holamundo" title="Motivo de rechazo" :active.sync="viewReason">
          <p><strong>{{ data.reasonRejection.name }}: </strong>{{ data.reasonRejection.description }}</p>
        </vs-popup>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
import Datepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import vSelect from "vue-select";
import moment from "moment";

export default {
  data() {
    return {
      data: {},
      description:"",
      routeService: "page-edit-service",
      pageExpedient: "page-view-record",
      module: "request",
      route: "requests",
      property: "request",
      acceptRequest: false,
      rejectRequest: false,
      viewReason: false,
      reasonRejection: "",
      modality: "Eventual",
      hover: false,
      personalized: false,
      showValidation: false,
      es,
      reasonRejectionId: null,
    }
  },
  $_veeValidate: {
    validator: "new"
  },
  components: {
    Datepicker,
    "v-select": vSelect,
    moment,
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        }); 
    },
    close() {
      this.clearValMultiple();
    },
    clearValMultiple() {
      this.description= "";
      this.reasonRejectionId= null;
    }, 
    async acceptRequestS() {
    this.$vs.loading();
    await this.$store
      .dispatch("request/approveRequest", {
        id: this.data.id,
        description: this.description,
        req: 'approveService'
      })
      .then(async resp => {
        this.data = this.getItem(this.$route.params.id);
        this.$vs.loading.close();
        notify().then(({ notification }) => {
          notification(
            "success",
            resp,
            resp.message.code,
            this.$vs.notify
          );
        });
      })
      .catch(err => {
        notify().then(({ notification }) => {
          this.$vs.loading.close();
          if (!Object.is(err.message.code, 404)) {
            notification(
              "error",
              err,
              err.message.code,
              this.$vs.notify
            );
          }
        });
      });
    },
    async sendRejection() {
      this.$validator.validateAll(this.reasonRejectionId).then(async validate => {
        this.showValidation = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
          .dispatch("request/rejectRequest", {
              id: this.data.id,
              reasonRejectionId: this.reasonRejectionId,
              req: 'rejectService'
            })
            .then(async (res) => {
              this.data = await res.request;
              this.$vs.loading.close();
            })
            .catch(err => {
              notify().then(({ notification }) => {
                this.$vs.loading.close();
                if (!Object.is(err.message.code, 404)) {
                  notification("error", err, err.message.code, this.$vs.notify);
                  return;
                }
                this.$router.push("/pages/error-404");
              });
            });
          }
          else {
            this.rejectRequest= true
          }
        }
    )}
  },
  filters: {
    dateFormat: function(value) {
      return  moment(String(value)).format("DD/MM/YYYY")
      },
    ageFormat: function(value) {
      return moment().diff(moment(value, "YYYY/MM/DD"), "years");
    }
  },
  computed: {
    reasonsRejection() {
      return this.$store.getters["global/getItems"]('reasonRejection','reasonRejections');
    },
  },
  async created() {
    this.getItem(this.$route.params.id);
    await this.$store.dispatch("global/getItems", {
      route: 'reasonRejections',
      module: 'reasonRejection',
      data: 'reasonRejections'
    })
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
.prompt-appointment .vs-dialog {
  max-width: 600px !important;
}
.ap.detail-tag-chip {
  position: absolute;
  top: -22px;
  left: 250px;
}
</style>