<template>
  <div>
    <vx-card title="Crear elemento">
      <div class="vx-row mb-3">
        <div class="vx-col sm:w-3/12 w-full mt-5">
          <upload-manual
            :formData.sync="element.image"
            class="vs-image_element"
            type="image"
            name="image"
          />
          <span
            v-if="imageError"
            class="ml-4 text-danger text-sm inline-block"
          >El campo imagen es obligatorio</span>
        </div>
        <div class="vx-col sm:w-9/12 w-full">
          <div class="vx-col w-full mt-5">
            <vs-input
              label="Nombre"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              v-model="element.name"
              name="name"
              class="w-full"
            />
            <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("name") }}</span>
          </div>
          <div class="vx-col w-full mt-5">
            <vs-checkbox v-model="hasButton" @change="setButton()">Incluir botón</vs-checkbox>
          </div>
          <div v-if="hasButton">
            <div class="vx-col w-full mt-5">
              <vs-input
                label="Texto del botón"
                v-model="element.buttonText"
                data-vv-validate-on="blur"
                v-validate="'required|alpha_number_spaces|min:3|max:100'"
                name="buttonText"
                class="w-full"
              />
              <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("buttonText") }}</span>
            </div>
            <div class="vx-col w-full mt-5">
              <span class="ml-2">Posición</span>
              <v-select
                v-model="element.buttonPosition"
                :options="options"
                :reduce="opt => opt.val"
                data-vv-validate-on="blur"
                v-validate="'required'"
                name="buttonPosition"
                :dir="$vs.rtl ? 'rtl' : 'ltr'"
              />
              <span
                v-if="showErrors"
                class="text-danger text-sm"
              >{{ errors.first("buttonPosition") }}</span>
            </div>
            <div class="vx-row">
              <div class="vx-col sm:w-1/2 w-full mt-5">
                <vs-input
                  label="Color del botón"
                  v-model="element.buttonColor"
                  name="buttonColor"
                  data-vv-validate-on="blur"
                  v-validate="'required|alpha_number_spaces|min:3|max:100'"
                  class="w-full"
                />
                <span
                  v-if="showErrors"
                  class="text-danger text-sm"
                >{{ errors.first("buttonColor") }}</span>
              </div>
              <div class="vx-col sm:w-1/2 w-full mt-5">
                <vs-input
                  label="Color de fondo"
                  v-model="element.buttonBackground"
                  data-vv-validate-on="blur"
                  v-validate="'required|alpha_number_spaces|min:4|max:100'"
                  name="buttonBackground"
                  class="w-full"
                />
                <span
                  v-if="showErrors"
                  class="text-danger text-sm"
                >{{ errors.first("buttonBackground") }}</span>
              </div>
            </div>
            <div class="vx-col w-full mt-5">
              <vs-input
                label="URL del botón"
                v-model="element.buttonUrl"
                name="buttonUrl"
                data-vv-validate-on="blur"
                v-validate="'required|url'"
                class="w-full"
              />
              <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("buttonUrl") }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="vx-col w-full flex justify-end">
        <vs-button color="warning" type="border" class="mb-2 mr-3" @click="cancel">Cancelar</vs-button>
        <vs-button class="mb-2" @click="save">Guardar</vs-button>
      </div>
    </vx-card>
  </div>
</template>

<script>
import vSelect from "vue-select";
import UploadManual from "../../../components/upload/UploadManual";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      element: {
        name: "",
        buttonText: "",
        buttonColor: "",
        buttonBackground: "",
        buttonUrl: "",
        buttonPosition: null,
        image: null
      },
      options: [
        { label: "Centro", val: "C" },
        { label: "Arriba a la derecha", val: "TR" },
        { label: "Arriba a la izquierda", val: "TL" },
        { label: "Abajo a la derecha", val: "BR" },
        { label: "Arriba a la izquierda", val: "BL" }
      ],
      hasButton: false,
      label: "elemento",
      showErrors: false,
      imageError: false,
      elementErrors: true,
      module: "element",
      route: "elements",
      property: "element",
      path: "/mobile-web-configuration"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    save() {
      this.$validator.validateAll().then(async validate => {
        this.showErrors = true;
        if (!this.element.image) {
          this.imageError = true;
        }
        if (validate && !this.imageError) {
          this.$vs.loading();
          await this.$store
            .dispatch("global/createWithImage", {
              payload: this.element,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
              this.$vs.loading.close();
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    },
    setButton() {
      this.element.buttonText = "";
      this.element.buttonColor = "";
      this.element.buttonBackground = "";
      this.element.buttonUrl = "";
      this.element.buttonPosition = null;
    }
  },
  watch: {
    "element.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "element.buttonText": {
      handler() {
        if (this.hasButton && this.showErrors) {
          this.$validator.validate("buttonText");
        }
      }
    },
    "element.buttonColor": {
      handler() {
        if (this.hasButton && this.showErrors) {
          this.$validator.validate("buttonColor");
        }
      }
    },
    "element.buttonBackground": {
      handler() {
        if (this.hasButton && this.showErrors) {
          this.$validator.validate("buttonBackground");
        }
      }
    },
    "element.buttonUrl": {
      handler() {
        if (this.hasButton && this.showErrors) {
          this.$validator.validate("buttonUrl");
        }
      }
    },
    "element.buttonPosition": {
      handler() {
        if (this.hasButton && this.showErrors) {
          this.$validator.validate("buttonPosition");
        }
      }
    },
    "element.image": {
      handler() {
        this.imageError = false;
      }
    }
  },
  components: {
    UploadManual,
    "v-select": vSelect
  }
};
</script>
<style lang="scss">
.vs-image_element .con-input-upload {
  width: 150px;
  height: 150px;
}
</style>
