<template>
  <div>
    <vx-card title="Datos técnicos">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-3/12 w-full">
          <span>Url de la página web</span>
        </div>
        <div class="vx-col sm:w-9/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-link"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|url|min:4|max:100'"
            name="urlWeb"
            v-model="config.urlWeb"
            autocomplete="off"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("urlWeb") }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-3/12 w-full">
          <span>Url de la app móvil</span>
        </div>
        <div class="vx-col sm:w-9/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-link"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|url|min:4|max:100'"
            name="urlAppAndroid"
            v-model="config.urlAppAndroid"
            autocomplete="off"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("urlAppAndroid") }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-3/12 w-full">
          <span>Clave Api Google Maps</span>
        </div>
        <div class="vx-col sm:w-9/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-map"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|alpha_num|min:4|max:100'"
            name="apiKeyGoogleMaps"
            v-model="config.apiKeyGoogleMaps"
            autocomplete="off"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("apiKeyGoogleMaps") }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-3/12 w-full">
          <span>Clave api MapBox</span>
        </div>
        <div class="vx-col sm:w-9/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-map-pin"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|alpha_num|min:4|max:100'"
            name="apiKeyMapBox"
            v-model="config.apiKeyMapBox"
            autocomplete="off"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("apiKeyMapBox") }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-3/12 w-full">
          <span>Política de privacidad</span>
        </div>
        <div class="vx-col sm:w-9/12 w-full">
          <vs-textarea
            class="w-full"
            data-vv-validate-on="blur"
            v-validate="'required|alpha_number_spaces|min:4|max:2000'"
            name="privacyPolicy"
            v-model="config.privacyPolicy"
            autocomplete="off"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("privacyPolicy") }}</span>
        </div>
      </div>

      <div class="vx-col w-full flex justify-end">
        <vs-button class="mb-2" @click="save">Guardar</vs-button>
      </div>
    </vx-card>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      config: {
        urlWeb: "",
        urlAppAndroid: "",
        apiKeyGoogleMaps: "",
        apiKeyMapBox: "",
        privacyPolicy: ""
      },
      showErrors: false,
      module: "configWebMobile",
      route: "configWebMobiles",
      property: "configWebMobile",
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    save() {
      this.$validator.validateAll().then(async validate => {
        this.showErrors = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
            .dispatch("global/create", {
              payload: this.config,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
              this.$vs.loading.close();
            });
        }
      });
    }
  },
  watch: {
    "config.urlWeb": {
      handler() {
        this.$validator.validate("urlWeb");
      }
    },
    "config.urlAppAndroid": {
      handler() {
        this.$validator.validate("urlAppAndroid");
      }
    },
    "config.apiKeyGoogleMaps": {
      handler() {
        this.$validator.validate("apiKeyGoogleMaps");
      }
    },
    "config.apiKeyMapBox": {
      handler() {
        this.$validator.validate("apiKeyMapBox");
      }
    },
    "config.privacyPolicy": {
      handler() {
        this.$validator.validate("privacyPolicy");
      }
    }
  }
};
</script>