<template>
  <config-web-mobile-view />
</template>

<script>

import ConfigWebMobileView from "./components/ConfigWebMobileView";

export default {
  created() {
    this.$store.dispatch("configWebMobile/getItems");
  },
  components: {
    ConfigWebMobileView
  }
};
</script>