<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showName="false"
    :showDescription="false"
    :showValidations="showErrors"
    :title="`Elemento: ${data.name}`"
    :modeEdit="modeEdit"
    class="center-view"
  >
    <template slot="fields-before-name-view">
      <div class="vx-row mb-3">
        <div class="vx-col sm:w-3/12 w-full">
          <upload-manual
            :formData.sync="multimedia"
            type="image"
            :url="`${url}files/uploads/${data.multimedia}`"
            class="vs-con-loading__container responsive rounded-lg vs-image_element"
            id="image__loading"
          />
        </div>
        <div class="vx-col sm:w-9/12 w-full mt-4">
          <div class="vx-row mb-5">
            <div class="vx-col sm:w-3/12 w-full">
              <span>Nombre</span>
            </div>
            <div class="vx-col sm:w-6/12 w-full">
              <p class="w-full">{{ data.name }}</p>
            </div>
            <div class="vx-col sm:w-3/12 w-full">
              <delete-reactivate
                :module="module"
                :property="property"
                :route="route"
                :id="this.$route.params.id"
                class="mr-2 delete-reactivate"
              />
            </div>
          </div>
          <div class="vx-row mb-5" v-if="data.buttonText">
            <div class="vx-col sm:w-3/12 w-full">
              <span>Texto del botón</span>
            </div>
            <div class="vx-col sm:w-9/12 w-full">
              <p class="w-full">{{ data.buttonText }}</p>
            </div>
          </div>

          <div class="vx-row mb-5" v-if="data.buttonText">
            <div class="vx-col sm:w-3/12 w-full">
              <span>Color del botón</span>
            </div>
            <div class="vx-col sm:w-6/12 w-full">
              <p class="w-full">{{ data.buttonColor }}</p>
            </div>
            <div class="vx-col sm:w-3/12">
              <vs-chip :color="`#${data.buttonColor}`">Color</vs-chip>
            </div>
          </div>

          <div class="vx-row mb-5" v-if="data.buttonText">
            <div class="vx-col sm:w-3/12 w-full">
              <span>Color de fondo del botón</span>
            </div>
            <div class="vx-col sm:w-6/12 w-full">
              <p class="w-full">{{ data.buttonBackground }}</p>
            </div>
            <div class="vx-col sm:w-3/12">
              <vs-chip :color="`#${data.buttonBackground}`">Color</vs-chip>
            </div>
          </div>

          <div class="vx-row mb-5" v-if="data.buttonText">
            <div class="vx-col sm:w-3/12 w-full">
              <span>Url del botón</span>
            </div>
            <div class="vx-col sm:w-9/12 w-full">
              <p class="w-full">{{ data.buttonUrl }}</p>
            </div>
          </div>

          <div class="vx-row mb-5" v-if="data.buttonText">
            <div class="vx-col sm:w-3/12 w-full">
              <span>Posición del botón</span>
            </div>
            <div class="vx-col sm:w-9/12 w-full">
              <p class="w-full">{{ getOption(data.buttonPosition) }}</p>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template slot="fields-before-name-edit">
      <div class="vx-row mb-3">
        <div class="vx-col sm:w-3/12 w-full">
          <upload-manual
            :formData.sync="multimedia"
            type="image"
            :url="`${url}files/uploads/${payload.multimedia}`"
            class="vs-con-loading__container responsive rounded-lg vs-image_element"
            id="image__loading"
          />
        </div>
        <div class="vx-col sm:w-9/12 w-full mt-4">
          <div class="vx-col w-full mt-5">
            <vs-input
              label="Nombre"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              v-model="payload.name"
              name="name"
              class="w-full"
            />
            <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("name") }}</span>
          </div>
          <div class="vx-col w-full mt-5">
            <vs-checkbox v-model="hasButton" @change="setButton()">Incluir botón</vs-checkbox>
          </div>
          <div v-if="hasButton">
            <div class="vx-col w-full mt-5">
              <vs-input
                label="Texto del botón"
                v-model="payload.buttonText"
                data-vv-validate-on="blur"
                v-validate="'required|alpha_number_spaces|min:3|max:100'"
                name="buttonText"
                class="w-full"
              />
              <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("buttonText") }}</span>
            </div>
            <div class="vx-col w-full mt-5">
              <span class="ml-2">Posición</span>
              <v-select
                v-model="payload.buttonPosition"
                :options="options"
                :reduce="opt => opt.val"
                data-vv-validate-on="blur"
                v-validate="'required'"
                name="buttonPosition"
                :dir="$vs.rtl ? 'rtl' : 'ltr'"
              />
              <span
                v-if="showErrors"
                class="text-danger text-sm"
              >{{ errors.first("buttonPosition") }}</span>
            </div>
            <div class="vx-row">
              <div class="vx-col sm:w-1/2 w-full mt-5">
                <vs-input
                  label="Color del botón"
                  v-model="payload.buttonColor"
                  name="buttonColor"
                  data-vv-validate-on="blur"
                  v-validate="'required|alpha_number_spaces|min:3|max:100'"
                  class="w-full"
                />
                <span
                  v-if="showErrors"
                  class="text-danger text-sm"
                >{{ errors.first("buttonColor") }}</span>
              </div>
              <div class="vx-col sm:w-1/2 w-full mt-5">
                <vs-input
                  label="Color de fondo"
                  v-model="payload.buttonBackground"
                  data-vv-validate-on="blur"
                  v-validate="'required|alpha_number_spaces|min:4|max:100'"
                  name="buttonBackground"
                  class="w-full"
                />
                <span
                  v-if="showErrors"
                  class="text-danger text-sm"
                >{{ errors.first("buttonBackground") }}</span>
              </div>
            </div>
            <div class="vx-col w-full mt-5">
              <vs-input
                label="URL del botón"
                v-model="payload.buttonUrl"
                name="buttonUrl"
                data-vv-validate-on="blur"
                v-validate="'required|url'"
                class="w-full"
              />
              <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("buttonUrl") }}</span>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template slot="action-buttons">
      <div class="vx-row mt-base">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import BasicDetail from "../../basic-data/components/BasicDetail.vue";
import DeleteReactivate from "../../basic-data/components/DeleteRectivate.vue";
import UploadManual from "../../../components/upload/UploadManual";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      multimedia: null,
      hasButton: false,
      modeEdit: false,
      elementErrors: true,
      showErrors: false,
      module: "element",
      route: "elements",
      property: "element",
      url: process.env.VUE_APP_URL,
      options: [
        { label: "Centro", val: "C" },
        { label: "Arriba a la derecha", val: "TR" },
        { label: "Arriba a la izquierda", val: "TL" },
        { label: "Abajo a la derecha", val: "BR" },
        { label: "Arriba a la izquierda", val: "BL" }
      ]
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    setButton() {
      this.payload.buttonText = "";
      this.payload.buttonColor = "";
      this.payload.buttonBackground = "";
      this.payload.buttonUrl = "";
      this.payload.buttonPosition = "";
    },
    async save() {
      this.$validator.validateAll().then(validate => {
        this.showErrors = true;
        if (validate) {
          this.$vs.loading();
          delete this.payload["status"];
          this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.$vs.loading.close();
              this.data = JSON.parse(JSON.stringify(resp[this.property]));
              this.modeEdit = false;
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.hasButton = this.data.buttonText ? true : false;
              this.payload = JSON.parse(JSON.stringify(this.data));
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    async upload() {
      this.$vs.loading({ container: "#image__loading", scale: 0.45 });
      await this.$store
        .dispatch("global/upload", {
          id: this.data["id"],
          image: this.multimedia,
          data: this.property,
          module: this.module,
          route: this.route
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        });
    },

    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },

    edit() {
      this.modeEdit = true;
    },

    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          if (this.data.buttonText) this.hasButton = true;
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.payload = JSON.parse(JSON.stringify(this.data));
          if (this.payload.buttonText) {
            this.hasButton = true;
          }
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    getOption(value) {
      return this.options.find(option => option.val == value).label;
    }
  },
  watch: {
    "payload.name": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("name");
        }
      }
    },
    "payload.buttonText": {
      handler() {
        if (this.hasButton && this.showErrors && this.modeEdit) {
          this.$validator.validate("buttonText");
        }
      }
    },
    "payload.buttonColor": {
      handler() {
        if (this.hasButton && this.showErrors && this.modeEdit) {
          this.$validator.validate("buttonColor");
        }
      }
    },
    "payload.buttonBackground": {
      handler() {
        if (this.hasButton && this.showErrors && this.modeEdit) {
          this.$validator.validate("buttonBackground");
        }
      }
    },
    "payload.buttonUrl": {
      handler() {
        if (this.hasButton && this.showErrors && this.modeEdit) {
          this.$validator.validate("buttonUrl");
        }
      }
    },
    "payload.buttonPosition": {
      handler() {
        if (this.hasButton && this.showErrors && this.modeEdit) {
          this.$validator.validate("buttonPosition");
        }
      }
    },
    multimedia: {
      handler() {
        if (this.multimedia) {
          this.upload();
        }
      }
    }
  },
  computed: {},
  components: {
    BasicDetail,
    UploadManual,
    DeleteReactivate,
    "v-select": vSelect
  },
  created() {
    this.getItem(this.$route.params.id);
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
.vs-image_element .con-input-upload {
  width: 150px;
  height: 150px;
}
</style>