<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showName="false"
    :showDescription="false"
    :showValidations="showErrors"
    title="Datos técnicos"
    :modeEdit="modeEdit"
    class="center-view"
  >
    <template slot="fields-view">
      <div class="vx-col sm:w-4/6 w-full">
        <vs-list>
          <vs-list-item title="Url de la web" :subtitle="payload.urlWeb"></vs-list-item>
          <vs-list-item title="Url de la aplicación móvil" :subtitle="payload.urlAppAndroid"></vs-list-item>
          <vs-list-item title="Key para la API de GoogleMaps" :subtitle="payload.apiKeyGoogleMaps"></vs-list-item>
          <vs-list-item title="Key para la API de MapBox" :subtitle="payload.apiKeyMapBox"></vs-list-item>
          <vs-list-item title="Política de privacidad" :subtitle="payload.privacyPolicy"></vs-list-item>
        </vs-list>
      </div>
    </template>

    <template slot="fields-edit">
      <div class="vx-row">
        <div class="vx-col w-full mt-5">
          <vs-input
            label="Url de la web"
            v-model="payload.urlWeb"
            name="urlWeb"
            class="w-full"
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:128'"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("urlWeb") }}</span>
        </div>
        <div class="vx-col w-full mt-5">
          <vs-input
            label="Url de la aplicación móvil"
            v-model="payload.urlAppAndroid"
            name="urlAppAndroid"
            class="w-full"
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:128'"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("urlAppAndroid") }}</span>
        </div>
        <div class="vx-col w-full mt-5">
          <vs-input
            label="Key para la API de GoogleMaps"
            v-model="payload.apiKeyGoogleMaps"
            name="apiKeyGoogleMaps"
            class="w-full"
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:128'"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("apiKeyGoogleMaps") }}</span>
        </div>
        <div class="vx-col w-full mt-5">
          <vs-input
            label="Key para la API de MapBox"
            v-model="payload.apiKeyMapBox"
            name="apiKeyMapBox"
            class="w-full"
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:128'"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("apiKeyMapBox") }}</span>
        </div>
        <div class="vx-col w-full mt-5">
          <vs-textarea
            label="Política de privacidad"
            v-model="payload.privacyPolicy"
            name="privacyPolicy"
            class="w-full"
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:128'"
          />
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("privacyPolicy") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import BasicDetail from "../../basic-data/components/BasicDetail.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      modeEdit: false,
      showErrors: false,
      module: "configWebMobile",
      route: "configWebMobiles",
      property: "configWebMobile"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    async save() {
      this.$validator.validateAll().then(validate => {
        this.showErrors = true;
        if (validate) {
          this.$vs.loading();
          delete this.payload["status"];
          this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.$vs.loading.close();
              this.data = JSON.parse(JSON.stringify(resp[this.property]));
              this.modeEdit = false;
              this.payload = JSON.parse(JSON.stringify(this.data));
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },

    edit() {
      this.modeEdit = true;
    }
  },
  watch: {
    "payload.urlWeb": {
      handler() {
        if( this.modeEdit) this.$validator.validate("urlWeb");
      }
    },
    "payload.urlAppAndroid": {
      handler() {
        if( this.modeEdit) this.$validator.validate("urlAppAndroid");
      }
    },
    "payload.apiKeyGoogleMaps": {
      handler() {
        if(this.modeEdit) this.$validator.validate("apiKeyGoogleMaps");
      }
    },
    "payload.apiKeyMapBox": {
      handler() {
        if(this.modeEdit) this.$validator.validate("apiKeyMapBox");
      }
    },
    "payload.privacyPolicy": {
      handler() {
        if(this.modeEdit) this.$validator.validate("privacyPolicy");
      }
    }
  },
  components: {
    BasicDetail
  },
  async created() {
    this.$vs.loading();
    let config = await this.$store.dispatch('configWebMobile/getItems');
    if( config ) {
      this.data = await this.$store.getters["configWebMobile/getConfig"];
      this.payload = await JSON.parse(JSON.stringify(this.data));
    }
    this.$vs.loading.close();
  }
}

</script>