<template>
  <basic-form :data="data" :showValidations="isValid" title="Crear recurso" :description="false">
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Clase</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            multiple
            v-model="data.classResource"
            :reduce="option => option.val"
            :options="resourceClasses"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Clase de recurso|required'"
            name="classResource"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("classResource") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="data.resourceTypeId"
            :reduce="option => option.val"
            :options="resourceTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Tipo de recurso|required'"
            name="resourceTypeId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay tipos de recursos disponibles,
                <router-link class="text-primary font-semibold" to="/resource-type/create">crear</router-link>
              </em>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("resourceTypeId") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import vSelect from "vue-select";
import BasicForm from "../components/BasicForm.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        classResource: null,
        resourceTypeId: null,
        status: true
      },
      resourceClasses: [],
      isValid: false,
      module: "resourceType",
      route: "resourceTypes",
      property: "resourceTypes",
      moduleBase: "resource",
      routeBase: "resources",
      propertyBase: "resource",
      path: "/resources"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          let copy = JSON.parse(JSON.stringify(this.data));
          copy.classResource = copy.classResource.join();
          await this.$store
            .dispatch("global/create", {
              payload: copy,
              route: this.routeBase,
              module: this.moduleBase,
              data: this.propertyBase
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    cancel() {
      this.$router.push(this.path);
    }
  },
  computed: {
    resourceTypes() {
      return this.$store.getters[`${this.module}/getCustomItems`];
    }
  },
  components: {
    BasicForm,
    vSelect
  },
  watch: {
    "data.classResource": {
      handler() {
        this.$validator.validate("classResource");
      }
    },
    "data.resourceTypeId": {
      handler() {
        this.$validator.validate("resourceTypeId");
      }
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });
  },
  mounted() {
    this.resourceClasses = this.$store.getters[
      `${this.moduleBase}/getResourceClasses`
    ];
  }
};
</script>

<style lang="scss">
[dir] .vs--single .vs__selected {
  font-size: 13px;
}
</style>