<template>
  <basic-detail
    :data="payload"
    :module="moduleBase"
    :property="propertyBase"
    :route="routeBase"
    :showValidations="isValid"
    :title="`Tipo de recurso: ${data.name}`"
    :modeEdit="modeEdit"
    :showDescription="false"
  >
    <template slot="fields-view">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Clase</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            multiple
            v-model="payload.classResource"
            :reduce="op => op.val"
            :options="resourceClasses"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="classResource"
            disabled
          />
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.resourceTypeId"
            :reduce="option => option.val"
            :key="payload.resourceTypeId"
            :options="resourceTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Tipo de recurso|required'"
            name="resourceTypeId"
            disabled
          ></v-select>
        </div>
      </div>
    </template>
    <template slot="fields-edit">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Clase</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            multiple
            v-model="payload.classResource"
            :options="resourceClasses"
            :reduce="op => op.val"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="classResource"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("classResource") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.resourceTypeId"
            :reduce="option => option.val"
            :key="payload.resourceTypeId"
            :options="resourceTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Tipo de recurso|required'"
            name="resourceTypeId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("resourceTypeId") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import BasicDetail from "../components/BasicDetail.vue";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      modeEdit: false,
      isValid: false,
      module: "resourceType",
      route: "resourceTypes",
      property: "resourceTypes",
      moduleBase: "resource",
      routeBase: "resources",
      propertyBase: "resource",
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          delete this.payload["status"];
          let resource = this.data = JSON.parse(JSON.stringify(this.payload));
          resource['classResource'] = resource['classResource'].join();
          await this.$store
            .dispatch("global/update", {
              payload: resource,
              route: this.routeBase,
              module: this.moduleBase,
              data: this.propertyBase
            })
            .then(async resp => {
              this.data = JSON.parse(JSON.stringify(resp[this.propertyBase]));
              this.data = { ...this.data, resourceTypeId: this.data.resourceType.id };
              let copy = this.data['classResource'].split(",");
              this.data['classResource'] = await this.resourceClasses
                  .filter( r => { if( copy.includes(r.val)) return r })
                  .map(a => a.val)
              delete this.data["resourceType"];
              this.payload = JSON.parse(JSON.stringify(this.data));
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },
    edit() {
      this.modeEdit = true;
    },
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.routeBase,
          module: this.moduleBase,
          data: this.propertyBase
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.moduleBase,
            this.propertyBase
          );
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    }
  },
  computed: {
    resourceTypes() {
      return this.$store.getters[`${this.module}/getCustomItems`];
    },
    resourceClasses() {
      return this.$store.getters[`${this.moduleBase}/getResourceClasses`];
    }
  },
  watch: {
    "payload.classResource": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("classResource");
        }
      }
    },
    "payload.resourceTypeId": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("resourceTypeId");
        }
      }
    }
  },
  components: {
    BasicDetail,
    vSelect
  },
  async created() {
    this.getItem(this.$route.params.id);
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });

    this.data = await JSON.parse(
      JSON.stringify(
        this.$store.getters["global/getItem"](
          this.moduleBase,
          this.propertyBase
        )
      )
    );
    this.data = { ...this.data, resourceTypeId: this.data.resourceType.id };
    delete this.data["resourceType"];
    let copy = this.data.classResource.split(",");
    this.data['classResource'] = this.resourceClasses
        .filter( classR => { if( copy.includes(classR.val)) return classR })
        .map(classR => classR.val)
    this.payload = JSON.parse(JSON.stringify(this.data));
  },
  beforeDestroy() {
    this.$store.commit(`${this.moduleBase}/SET_ITEM`, null);
  }
};
</script>

<style lang="scss">
[dir] .vs--single .vs__selected {
  font-size: 13px;
}
</style>