<template>
  <span>
    <button style="height: 20px; line-height: 0.5" class="btn btn-info">Invoke Parent</button>
  </span>
</template>

<script>

import Vue from "vue";

export default Vue.extend ({
  name: 'vx-status',
  data() {
    return {};
  },
  beforeMount() {},
  mounted() {},
});
</script>