<template>
  <div id="page-user-view">
    <vs-alert color="danger" title="Usuario no encontrado" :active.sync="user_not_found">
      <span>Usuario con id: {{ $route.params.id }} no encontrado. </span>
      <span>
        <span>Ir a</span>
        <router-link :to="{name:'page-user'}" class="text-inherit underline">Todos los usuarios</router-link>
      </span>
    </vs-alert>

    <div id="user-data" v-if="data">
      <vx-card :title=" data.name +' '+data.lastname " class="mb-base">
        <!-- Avatar -->
        <div class="vx-row">
          <!-- Avatar Col -->
          <div class="vx-col" id="avatar-col">
            <div class="img-container mb-4">
              <img :src="`${url}files/uploads/${data.image}`" class="rounded w-full" />
            </div>
          </div>
          <!-- Information - Col 1 -->
          <div class="vx-col flex-1" id="account-info-col-1">
            <table>
              <tr>
                <td class="font-semibold">Nombre</td>
                <td>{{ data.name }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Apellido</td>
                <td>{{ data.lastname }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Correo electrónico</td>
                <td>{{ data.email }}</td>
              </tr>
            </table>
          </div>
          <!-- /Information - Col 1 -->
          <!-- Information - Col 2 -->
          <div class="vx-col flex-1" id="account-info-col-2">
            <table>
              <tr>
                <td class="font-semibold">Status</td>
                <td>{{ data.status }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Tipo de usuario</td>
                <td>Personal</td>
                <td>Voluntario</td>
              </tr>
<!--               <tr>
                <td class="font-semibold">Company</td>
                <td>{{ data.company }}</td>
              </tr> -->
            </table>
          </div>
          <!-- /Information - Col 2 -->
          <div class="vx-col w-full flex" id="account-manage-buttons">
            <vs-button
              icon-pack="feather"
              icon="icon-edit"
              class="mr-4"
              :to="{name: 'page-edit-user', params: { id: $route.params.userId }}"
            >Editar</vs-button>
            <vs-button
              type="border"
              color="danger"
              icon-pack="feather"
              icon="icon-trash"
              @click="confirmDeleteRecord"
            >Delete</vs-button>
          </div>
        </div>
      </vx-card>

      <div class="vx-row">
        <div class="vx-col lg:w-1/2 w-full">
          <vx-card title="Information" class="mb-base">
            <table>
              <tr>
                <td class="font-semibold">Fecha de nacimiento</td>
                <td>{{ data.birthdate }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Teléfono</td>
                <td>{{ data.telephone }}</td>
              </tr>
              <!-- <tr>
                <td class="font-semibold">Website</td>
                <td>{{ data.website }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Languages</td>
                <td>{{ data.languages_known.join(", ") }}</td>
              </tr>-->
              <tr> 
                <td class="font-semibold">Gender</td>
                <td>{{ data.gender }}</td>
              </tr>
              <!-- <tr>
                <td class="font-semibold">Contact</td>
                <td>{{ data.contact_options.join(", ") }}</td>
              </tr> -->
            </table>
          </vx-card>
        </div>

        <div class="vx-col lg:w-1/2 w-full">
          <vx-card title="Social Links" class="mb-base">
            <table>
              <!-- <tr>
                <td class="font-semibold">Twitter</td>
                <td>{{ user_data.social_links.twitter }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Facebook</td>
                <td>{{ user_data.social_links.facebook }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Instagram</td>
                <td>{{ user_data.social_links.instagram }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Github</td>
                <td>{{ user_data.social_links.github }}</td>
              </tr>
              <tr>
                <td class="font-semibold">CodePen</td>
                <td>{{ user_data.social_links.codepen }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Slack</td>
                <td>{{ user_data.social_links.slack }}</td>
              </tr>-->
            </table>
          </vx-card>
        </div>
      </div>

      <!-- Permissions -->
      <vx-card>
        <div class="vx-row">
          <div class="vx-col w-full">
            <div class="flex items-end px-3">
              <feather-icon svgClasses="w-6 h-6" icon="LockIcon" class="mr-2" />
              <span class="font-medium text-lg leading-none">Permissions</span>
            </div>
            <vs-divider />
          </div>
        </div>

        <div class="block overflow-x-auto">
          <table class="w-full permissions-table">
            <tr>
              <th
                class="font-semibold text-base text-left px-3 py-2"
                v-for="heading in ['Module', 'Read', 'Write', 'Create', 'Delete']"
                :key="heading"
              >{{ heading }}</th>
            </tr>

            <!-- <tr v-for="(val, name) in user_data.permissions" :key="name">
              <td class="px-3 py-2">{{ name }}</td>
              <td v-for="(permission, name) in val" class="px-3 py-2" :key="name+permission">
                <vs-checkbox v-model="val[name]" class="pointer-events-none" />
              </td>
            </tr>-->
          </table>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: null,
      payload: null,
      module: "user",
      route: "users",
      property: "user",
      user_not_found: false
    };
  },
  computed: {
    userAddress() {
      let str = "";
      for (var field in this.data.location) {
        str += field + " ";
      }
      return str;
    },
    url() {
      return process.env.VUE_APP_URL;
    }
  },
  methods: {
    confirmDeleteRecord() {
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Confirm Delete`,
        text: `You are about to delete "${this.data.username}"`,
        accept: this.deleteRecord,
        acceptText: "Delete"
      });
    },
    deleteRecord() {
      this.$router.push({ name: "app-user-list" });
      this.showDeleteSuccess();
    },
    showDeleteSuccess() {
      this.$vs.notify({
        color: "success",
        title: "User Deleted",
        text: "The selected user was successfully deleted"
      });
    },
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit(
            "SET_BREADCRUMB",
            this.data.name + " " + this.data.lastname
          );
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          if (err.message.code === 404) {
            this.user_not_found = true;
          }
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            /*             this.$router.push("/pages/error-404"); */
          });
        });
    }
  },
  created() {
    this.getItem(this.$route.params.id);
  }
};
</script>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

#page-user-view {
  table {
    td {
      vertical-align: top;
      min-width: 140px;
      padding-bottom: 0.8rem;
      word-break: break-all;
    }

    &:not(.permissions-table) {
      td {
        @media screen and (max-width: 370px) {
          display: block;
        }
      }
    }
  }
}

// #account-info-col-1 {
//   // flex-grow: 1;
//   width: 30rem !important;
//   @media screen and (min-width:1200px) {
//     & {
//       flex-grow: unset !important;
//     }
//   }
// }

@media screen and (min-width: 1201px) and (max-width: 1211px),
  only screen and (min-width: 636px) and (max-width: 991px) {
  #account-info-col-1 {
    width: calc(100% - 12rem) !important;
  }

  // #account-manage-buttons {
  //   width: 12rem !important;
  //   flex-direction: column;

  //   > button {
  //     margin-right: 0 !important;
  //     margin-bottom: 1rem;
  //   }
  // }
}
</style>
