<template>
  <basic-form
    :data="data"
    :name="false"
    :description="false"
    :showValidations="isValid"
    title="Crear Publicación"
  >
    <template slot="fields-before-name">
      <div class="vx-row mb-4">
        <div class="vx-col sm:w-1/4 mb-2">
          <upload-manual :formData.sync="data.image" type="image" id="image-post" />
        </div>
        <div class="vx-col sm:w-3/4 w-full mb-2">
          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <vs-input
                class="w-full"
                icon-no-border
                icon-pack="feather"
                data-vv-validate-on="blur"
                v-validate="'required|min:4|max:50'"
                label="Titulo"
                name="title"
                v-model="data.title"
                autocomplete="off"
              />
              <span v-if="isValid" class="text-danger text-sm">
                {{
                errors.first("title")
                }}
              </span>
            </div>
          </div>
          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label class="vs-input--label">Categoria</label>
              <v-select
                :options="categories"
                :reduce="op => op.id"
                data-vv-validate-on="blur"
                v-validate="'required'"
                label="name"
                v-model="data.categoryId"
                name="categoryId"
                :dir="$vs.rtl ? 'rtl' : 'ltr'"
              >
                <template v-slot:no-options="{ search, searching }">
                  <template v-if="searching">
                    No se encontraron resultados para
                    <em
                      class="text-primary font-semibold"
                    >{{ search }}</em>.
                  </template>
                  <em v-else>
                    No hay tipos categorías disponibles,
                    <router-link class="text-primary font-semibold" to="/category/create">crear</router-link>
                  </em>
                </template>
              </v-select>
              <span v-if="isValid" class="text-danger text-sm">{{ errors.first("categoryId") }}</span>
            </div>
          </div>
          <div class="vx-row mb-base">
            <div class="vx-col w-full">
              <label class="vs-input--label">Descripción</label>
              <quill-editor
                class="w-full"
                v-model="data.description"
                :options="editorOption"
                data-vv-validate-on="blur"
                v-validate="'required'"
                name="description"
              />
              <span v-if="isValid" class="text-danger text-sm">{{ errors.first("description") }}</span>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mb-2 mr-3" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import BasicForm from "../../basic-data/components/BasicForm.vue";
import UploadManual from "../../../components/upload/UploadManual";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        description: "",
        title: "",
        categoryId: null,
        image: null,
        status: true
      },
      isValid: false,
      module: "post",
      route: "posts",
      property: "post",
      path: "/posts",
      showValidations: false,
      theme: "snow",
      editorOption: {
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            [{ size: ["small", false, "large", "huge"] }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }]
          ]
        }
      }
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
            .dispatch("global/createWithImage", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    }
  },
  watch: {
    "data.title": {
      handler() {
        this.$validator.validate("title");
      }
    },
    "data.categoryId": {
      handler() {
        this.$validator.validate("categoryId");
      }
    },
    "data.description": {
      handler() {
        this.$validator.validate("description");
      }
    }
  },
  computed: {
    categories() {
      return this.$store.getters["global/getItems"]("category", "categories");
    }
  },
  components: {
    BasicForm,
    UploadManual,
    quillEditor,
    "v-select": vSelect
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: "categories",
      module: "category",
      data: "categories"
    });
  }
};
</script>
<style lang="scss">
#image-post .con-input-upload {
  width: 140px;
  height: 140px;
  margin-left: 0;
}

.con-img-upload {
  padding-left: 0;
}
</style>
