<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showName="false"
    :showDescription="false"
    :showValidations="isValid"
    :title="`Publicación: ${data.title}`"
    :modeEdit="modeEdit"
    class="center-view"
  >
    <template slot="fields-before-name-view">
      <div class="vx-row mb-4">
        <div class="vx-col sm:w-1/4 w-full">
          <upload-manual
            type="image"
            :url="`${url}files/uploads/${payload.image}`"
            :formData.sync="image"
            class="vs-con-loading__container vs-con-image__post"
            id="image__loading"
          />
        </div>
        <div class="vx-col sm:w-3/4 w-full mt-4">
          <div class="vx-row mb-6">
            <div class="vx-col sm:w-2/12 w-full">
              <span>Titulo</span>
            </div>
            <div class="vx-col sm:w-6/12 w-full">
              <p class="w-full"> {{ payload.title}}</p>
            </div>
            <div class="vx-col sm:w-4/12">
              <delete-reactivate
                :module="module"
                :property="property"
                :route="route"
                :id="this.$route.params.id"
              ></delete-reactivate>
            </div>
          </div>
          <div class="vx-row mb-6">
            <div class="vx-col sm:w-2/12 w-full">
              <span>Categoría:</span>
            </div>
            <div class="vx-col sm:w-10/12 w-full">
              <p class="w-full">{{ payload.categoryId ? payload.category.name : "Todas" }}</p>
            </div>
          </div>
          <div class="vx-row mb-6">
            <div class="vx-col sm:w-2/12 w-full">
              <span>Descripción</span>
            </div>
            <div class="vx-col sm:w-9/12 w-full">
              <p class="w-full" v-html="payload.description"></p>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template slot="fields-view"></template>

    <template slot="fields-before-name-edit">
      <div class="vx-row mb-4">
        <div class="vx-col sm:w-1/4 mb-2">
          <upload-manual
            type="image"
            :url="`${url}files/uploads/${payload.image}`"
            :formData.sync="image"
            class="vs-con-loading__container vs-con-image__post"
            id="image__loading"
          />
        </div>
        <div class="vx-col sm:w-3/4 w-full mb-2">
          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <vs-input
                class="w-full"
                icon-no-border
                icon-pack="feather"
                data-vv-validate-on="blur"
                v-validate="'required|min:4|max:50'"
                label="Titulo"
                name="title"
                v-model="payload.title"
                autocomplete="off"
              />
              <span v-if="isValid" class="text-danger text-sm">
                {{
                errors.first("title")
                }}
              </span>
            </div>
          </div>
          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label class="vs-input--label">Categoria</label>
              <v-select
                :options="categories"
                :reduce="op => op.id"
                data-vv-validate-on="blur"
                v-validate="'required'"
                label="name"
                v-model="payload.categoryId"
                name="categoryId"
                :dir="$vs.rtl ? 'rtl' : 'ltr'"
              >
                <template v-slot:no-options="{ search, searching }">
                  <template v-if="searching">
                    No se encontraron resultados para
                    <em
                      class="text-primary font-semibold"
                    >{{ search }}</em>.
                  </template>
                  <em v-else>
                    No hay tipos categorías disponibles,
                    <router-link class="text-primary font-semibold" to="/category/create">crear</router-link>
                  </em>
                </template>
              </v-select>
              <span v-if="isValid" class="text-danger text-sm">{{ errors.first("categoryId") }}</span>
            </div>
          </div>
          <div class="vx-row mb-base">
            <div class="vx-col w-full">
              <label class="vs-input--label">Descripción</label>
              <quill-editor
                class="w-full"
                v-model="payload.description"
                :options="editorOption"
                data-vv-validate-on="blur"
                v-validate="'required'"
                name="description"
              />
              <span v-if="isValid" class="text-danger text-sm">{{ errors.first("description") }}</span>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save" :disabled="isLoad">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import BasicDetail from "../../basic-data/components/BasicDetail.vue";
import UploadManual from "../../../components/upload/UploadManual";
import DeleteReactivate from "../../basic-data/components/DeleteRectivate.vue";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      image: null,
      data: {},
      payload: {},
      modeEdit: false,
      isValid: false,
      isLoad: false,
      module: "post",
      route: "posts",
      property: "post",
      url: process.env.VUE_APP_URL,
      theme: "snow",
      editorOption: {
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            [{ size: ["small", false, "large", "huge"] }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }]
          ]
        }
      }
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.$vs.loading();
          delete this.payload["status"];
          await this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.$vs.loading.close();
              this.data = JSON.parse(JSON.stringify(resp[this.property]));
              this.$store.commit("SET_BREADCRUMB", this.data.title);
              this.payload = JSON.parse(JSON.stringify(this.data));
              this.payload.categoryId = this.payload.category.id;
              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
      this.payload.categoryId = this.payload.category.id;
    },

    edit() {
      this.modeEdit = true;
    },

    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(resp => {
          this.data = JSON.parse(JSON.stringify(resp[this.property]));
          this.$store.commit("SET_BREADCRUMB", this.data.title);
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.payload.categoryId = this.payload.category.id;

          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },

    async upload() {
      this.$vs.loading({ container: "#image__loading", scale: 0.45 });
      this.isLoad = true;

      await this.$store
        .dispatch("global/upload", {
          id: this.data.id,
          image: this.image,
          data: this.property,
          module: this.module,
          route: this.route
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.data.image = resp[this.property].image
          this.payload.image = resp[this.property].image;
          this.$vs.loading.close("#image__loading > .con-vs-loading");
          this.isLoad = false;
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
          this.isLoad = false;
        });
    },
  },
  watch: {
    "payload.title": {
      handler() {
        if (this.modeEdit) this.$validator.validate("title");
      }
    },
    "payload.categoryId": {
      handler() {
        if (this.modeEdit) this.$validator.validate("categoryId");
      }
    },
    "data.description": {
      handler() {
        if (this.modeEdit) this.$validator.validate("description");
      }
    },
    'image': {
      handler() {
        if( this.image ) {
          this.upload();
        }
      }
    }
  },
  computed: {
    categories() {
      return this.$store.getters["global/getItems"]("category", "categories");
    }
  },
  components: {
    BasicDetail,
    UploadManual,
    DeleteReactivate,
    quillEditor,
    "v-select": vSelect
  },
  async created() {
    this.getItem(this.$route.params.id);
    await this.$store.dispatch("global/getItems", {
      route: 'categories',
      module: 'category',
      data: 'categories'
    });
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>

<style lang="scss">
.vs-con-image__post .con-input-upload {
  width: 140px;
  height: 140px;
  margin-left: 0;
}

.con-img-upload {
  padding-left: 0;
}
</style>