<template>
  <div ref="content">
    <div class="mb-6 p-4" v-show="exporting">
      <img class="logo-org" :src="url+'organizations/1/logo'" alt />
      <div class="vx-row float-right">
        <div class="vx-col">
          <h4 class="inline-block">{{$store.state.organization.organization.name}}</h4>
        </div>
        <div class="vx-col">
          <h6 class="inline-block">{{$store.state.organization.organization.rif}}</h6>
        </div>
      </div>
      <div class="vx-row ml-2">
        <div class="vx-col w-full">
          <span>{{$store.state.organization.organization.address}}</span>
        </div>
        <div
          class="vx-col w-full"
        >{{$store.state.telephone.telephones.length? ($store.state.telephone.telephones[0].title+': ' + $store.state.telephone.telephones[0].code+'-'+$store.state.telephone.telephones[0].number) : ''}}</div>
      </div>
    </div>
    <vx-card title="Resumen" class="mb-8">
      <h4>Estadísticas: {{ modelSelected.publicName }} desde el {{ fromDate | date }} hasta {{toDate | date}}</h4>
      <vs-button
        v-show="!exporting"
        color="primary"
        @click="exportPdf"
        class="mt-6 mr-4 absolute top-0 right-0"
      >Exportar</vs-button>
    </vx-card>

    <statistic-general :groupBy="groupBy" :fromDate="fromDate" :toDate="toDate" :data="rows"></statistic-general>
    <ul v-if="!exporting" class="centerx">
      <li>
        <vs-checkbox @click="changeAdvanced" v-model="advanced">Estadísticas avanzadas</vs-checkbox>
      </li>
    </ul>
    <div v-if="advanced && !exporting" class="vx-col sm:w-8/12 w-full h-auto">
      <div class="vx-col w-full my-5">
        <span>Parámetro</span>
        <v-select
          placeholder="Variable de estudio"
          :options="fields"
          v-model="field"
          :dir="$vs.rtl ? 'rtl' : 'ltr'"
          :reduce="op => op.name"
          label="publicName"
        />
      </div>
    </div>
    <statistic-custom v-if="fieldSelected" :cols="columns" :property="fieldSelected" :rows="rows"></statistic-custom>
  </div>
</template>
<script>
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
import StatisticGeneral from "./StatisticGeneral";
import StatisticCustom from "./StatisticCustom";
import vSelect from "vue-select";
import domtoimage from "dom-to-image";
import jsPDF from "jspdf";
export default {
  data() {
    return {
      url: process.env.VUE_APP_URL,
      field: null,
      advanced: false,
      exporting: false
    };
  },
  props: {
    rows: {
      type: Array,
      required: true
    },
    modelSelected: {
      type: Object,
      required: true
    },
    fromDate: {
      type: String,
      required: true
    },
    toDate: {
      type: String,
      required: true
    },
    groupBy: {
      type: String,
      required: true
    }
  },
  components: {
    StatisticGeneral,
    StatisticsCardLine,
    StatisticCustom,
    vSelect
  },
  methods: {
    changeAdvanced() {
      if (this.advanced) this.field = null;
    },
    async exportPdf() {
      this.$vs.loading();
      this.exporting = true;
      await domtoimage
        .toPng(this.$refs.content)
        .then(function(dataUrl) {
          var img = new Image();
          img.src = dataUrl;
          const doc = new jsPDF({
            orientation: "portrait",
            format: [900, 1400]
          });
          doc.addImage(img, "JPEG", 30, 30);
          const date = new Date();
          const filename =
            "Reporte" +
            date.getFullYear() +
            ("0" + (date.getMonth() + 1)).slice(-2) +
            ("0" + date.getDate()).slice(-2) +
            ("0" + date.getHours()).slice(-2) +
            ("0" + date.getMinutes()).slice(-2) +
            ("0" + date.getSeconds()).slice(-2) +
            ".pdf";
          doc.save(filename);
        })
        .catch(function(error) {
        });
      this.exporting = false;
      this.$vs.loading.close();
    }
  },
  computed: {
    fields() {
      return this.modelSelected ? this.modelSelected.fields : [];
      //return ['a','b']
    },
    fieldSelected() {
      return this.fields.find(el => el.name == this.field);
    },
    columns() {
      return this.modelSelected ? this.modelSelected.columns : [];
      //return ['a','b']
    }
  }
};
</script>
<style lang="scss">
.select-params .con-slot-tabs,
.select-params .con-vs-tabs {
  overflow: hidden;
}
</style>