<template>
  <div class="vx-row mb-3">
    <vx-card title="Seleccione los datos para el reporte">
      <div class="vx-row">
        <div class="vx-col sm:w-6/12 w-full">
          <span>Entidad</span>
          <v-select
            placeholder="Seleccione una opción"
            v-model="entity"
            :options="models"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            :reduce="op => op.name"
            label="publicName"
          />
          
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-6/12">
          <div v-if="entity" class="flex justify-between w-full">
            <div class="mt-5 mr-4 flex-1">
              <span>Desde</span>
              <flat-pickr
                :config="configFromdateTimePicker"
                v-model="fromDate"
                placeholder="Desde"
                @on-change="onFromChange"
              />
            </div>
            <div class="mt-5 flex-1">
              <span>Hasta</span>
              <flat-pickr
                :config="configTodateTimePicker"
                v-model="toDate"
                placeholder="Hasta"
                @on-change="onToChange"
              />
            </div>
          </div>
        </div>
        <div class="vx-col w-6/12">
          <div class="flex justify-between w-full">
            <div v-if="toDate && fromDate" class="mt-5 flex-1 mr-4">
              <span>Agrupar por</span>
              <v-select
                placeholder="Agrupar por"
                :options="optionGroup"
                v-model="groupBy"
                :dir="$vs.rtl ? 'rtl' : 'ltr'"
              />
            </div>
  
            <div class="mt-5 flex-1">
              <vs-button
                color="primary"
                type="gradient"
                v-if="groupBy"
                @click="generateReport"
                class="mt-6 mr-4"
              >Generar reporte</vs-button>
            </div>
          </div>
        </div>
      </div>


    </vx-card>

    <vs-tabs v-if="data.length" alignment="left" class="mt-5 select-params">
      <vs-tab label="Reporte" icon-pack="feather" icon="icon-file-text">
        <structured :cols="columns" :rows="data"></structured>
      </vs-tab>
      <vs-tab label="Estadísticas" icon-pack="feather" icon="icon-pie-chart">
        <no-structured class="mt-4" :groupBy="groupBy" :fromDate="fromDate" :toDate="toDate" :modelSelected="modelSelected" :rows="data"></no-structured>
      </vs-tab>
    </vs-tabs>
  </div>
</template>
<script>
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import flatPickr from "vue-flatpickr-component";
import NoStructured from "./NoStructured";
import Structured from "./Structured";
import vSelect from "vue-select";
import moment from "moment";
import "flatpickr/dist/flatpickr.css";

export default {
  data() {
    return {
      entity: null,
      field: null,
      fromDate: null,
      toDate: null,
      groupBy: null,
      data: [],
      configFromdateTimePicker: {
        altInput: true,
        altInputClass: "w-full flatpickr-input",
        altFormat: "d F Y",
        dateFormat: "Y/m/d",
        locale: SpanishLocale
      },
      configTodateTimePicker: {
        altInput: true,
        altInputClass: "w-full flatpickr-input",
        altFormat: "d F Y",
        dateFormat: "Y/m/d",
        locale: SpanishLocale
      }
    };
  },
  components: {
    "v-select": vSelect,
    flatPickr,
    Structured,
    NoStructured
  },
  methods: {
    onFromChange(selectedDates, dateStr, instance) {
      this.$set(this.configTodateTimePicker, "minDate", dateStr);
    },
    onToChange(selectedDates, dateStr, instance) {
      this.$set(this.configFromdateTimePicker, "maxDate", dateStr);
    },
    async generateReport() {
      await this.$store.dispatch("global/getItems", {
        route: this.modelSelected.route,
        module: this.modelSelected.module,
        data: this.modelSelected.property
      });
      this.data = this.$store.getters["global/getItemsByDate"](
        this.modelSelected.module,
        this.modelSelected.property,
        this.toDate,
        this.fromDate
      );
    },
  },
  computed: {
    models() {
      return this.$store.getters["global/getEntitiesrReport"];
    },
    fields() {
      return this.modelSelected ? this.modelSelected.fields : [];
      //return ['a','b']
    },
    columns() {
      return this.modelSelected ? this.modelSelected.columns : [];
      //return ['a','b']
    },
    fieldSelected() {
      return this.fields.find(el => el.name == this.field);
    },
    modelSelected() {
      return this.entity
        ? this.models.find(el => el.name == this.entity)
        : null;
    },
    optionGroup(){
      let options = [];
      if(moment(new Date(this.toDate)).diff( new Date(this.fromDate), 'days') < 31 )
        options.push('Días');
      if(new Date(this.toDate).getMonth() - new Date(this.fromDate).getMonth() > 0 || new Date(this.toDate).getYear() - new Date(this.fromDate).getYear() > 0)
        options.push('Meses')
      if(new Date(this.toDate).getYear() - new Date(this.fromDate).getYear() > 0)
        options.push('Años')
      return options;
    }
  }
};
</script>
