<template>
  <div>
    <div class="vx-row">
      <div class="vx-col w-full sm:w-1/2 md:w-1/2">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChartIcon"
          icon-right
          :statistic="calcTrendClass"
          statisticTitle="Clase modal"
          color="primary"
        />
      </div>
      <div class="vx-col w-full sm:w-1/2 md:w-1/2">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChartIcon"
          icon-right
          :statistic="calcTrend"
          statisticTitle="Moda"
          color="primary"
        />
      </div>
      
    </div>
    <!-- <div class="vx-row">
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChart2Icon"
          icon-right
          statistic="5"
          statisticTitle="Media"
        />
      </div>

      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChart2Icon"
          icon-right
          statistic="18"
          statisticTitle="Mediana"
          color="primary"
        />
      </div>

      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChartIcon"
          icon-right
          :statistic="calcTrend"
          statisticTitle="Moda"
          color="primary"
        />
      </div>
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="ActivityIcon"
          icon-right
          statistic="2"
          statisticTitle="Varianza"
          color="success"
        />
      </div>
    </div> -->
    <div class="vx-row">
      <div class="vx-col md:w-1/2 flex flex-1 mb-8">
        <vx-card>
          <vs-table max-items="3" pagination :data="lines">
            <template slot="header">
              <h4 class="m-3">Tabla de frecuencia</h4>
            </template>
            <template slot="thead">
              <vs-th>{{property.publicName}}</vs-th>
              <vs-th>Frecuencia</vs-th>
            </template>

            <template slot-scope="{data}">
              <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                <vs-td>{{data[indextr].publicName}}</vs-td>
                <vs-td>{{calcFrequency(data[indextr].name)}}</vs-td>
              
              </vs-tr>
            </template>
          </vs-table>
        </vx-card>
      </div>
      <div class="vx-col md:w-1/2 flex flex-1">
        <vx-card title="Gráfico" class="mb-base">
          <e-charts autoresize :options="pie" ref="pie" auto-resize />
        </vx-card>
      </div>
    </div>
  </div>
</template>
<script>
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
import ECharts from "vue-echarts/components/ECharts";
import "echarts/lib/component/tooltip";
import "echarts/lib/component/legend";
import "echarts/lib/chart/pie";
export default {
  data() {
    return {
      lines: [],
      colors: ["#FF9F43", "#28C76F", "#EA5455", "#87ceeb", "#7367F0"],
      mean: null,
      median: null,
      trend: null,
      variance: null,
      formattedData: [],
      /* Pie chart data */
      pie: {
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          orient: "vertical",
          left: "left",
          data: []
        },
        series: [
          {
            name: this.property.publicName,
            type: "pie",
            radius: "55%",
            center: ["50%", "60%"],
            color: [],
            data: [],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)"
              }
            }
          }
        ]
      }
      /* End pie chart data */
    };
  },
  props: {
    property: {
      type: Object,
      required: true
    },
    cols: {
      type: Array,
      required: true
    },
    rows: {
      type: Array,
      required: true
    }
  },
  components: {
    StatisticsCardLine,
    ECharts
  },
  methods: {
    getValues() {
      this.lines = this.property.values
        ? this.property.values
        : Array.from(new Set(this.rows.map(el => el[this.property.name]))).map(el => {
          return {
            name: el,
            publicName: el,
          }
        }).filter(el => el.name);
    },
    calcFrequency(value) {
      return this.rows.filter(el => el[this.property.name] == value).length;
    }
  },
  computed: {
    calcTrend() {
      return this.formattedData.length
        ?  this.formattedData.sort((a, b) => a.value - b.value)[this.formattedData.length - 1].value
        : "";
    },
    calcTrendClass() {
      let trendClass = "";
      if (this.formattedData.length) {
        trendClass = this.formattedData.filter(
          el => el.value == this.calcTrend
        )[0].name;
        if (
          this.formattedData.filter(el => el.value == this.calcTrend).length > 1
        ) {
          trendClass +=
            "( +" +
            (
              this.formattedData.filter(el => el.value == this.calcTrend)
                .length - 1
            ).toString() +
            " )";
        }
      }
      return trendClass;
    }
  },
  created() {
    this.getValues();
    this.pie.legend.data = this.lines
      ? this.lines.map(el => (el ? el.publicName : ""))
      : [];
    this.pie.series.color = this.colors.slice(this.pie.legend.data.length);
    this.formattedData = this.lines.map(el => {
      return {
        name: el.publicName,
        value: this.calcFrequency(el.name)
      };
    });
    this.pie.series[0].data = this.formattedData;
  },
  watch: {
    "property":{
      handler() {
        this.getValues();
        this.pie.legend.data = this.lines
          ? this.lines.map(el => (el ? el.publicName : ""))
          : [];
        this.pie.series.color = this.colors.slice(this.pie.legend.data.length);
        this.formattedData = this.lines.map(el => {
          return {
            name: el.publicName,
            value: this.calcFrequency(el.name)
          };
        });
        this.pie.series[0].data = this.formattedData;
      }
    }
  },
  mounted() {
    /* Pie chart */
    let dataIndex = -1;
    let pie = this.$refs.pie;
    let dataLen = pie.options.series[0].data.length;
    setInterval(() => {
      pie.dispatchAction({
        type: "downplay",
        seriesIndex: 0,
        dataIndex
      });
      dataIndex = (dataIndex + 1) % dataLen;
      pie.dispatchAction({
        type: "highlight",
        seriesIndex: 0,
        dataIndex
      });
      pie.dispatchAction({
        type: "showTip",
        seriesIndex: 0,
        dataIndex
      });
    }, 1000);
    /* End pie chart */
  }
};
</script>
