<template>
  <div>
    <div class="vx-row">
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChart2Icon"
          icon-right
          :statistic="meanData"
          statisticTitle="Media"
        />
      </div>

      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChart2Icon"
          icon-right
          :statistic="medianData"
          statisticTitle="Mediana"
          color="primary"
        />
      </div>

      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="BarChartIcon"
          icon-right
          :statistic="trendData"
          statisticTitle="Moda"
          color="primary"
        />
      </div>
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4">
        <statistics-card-line
          hideChart
          class="mb-base"
          icon="ActivityIcon"
          icon-right
          :statistic="stdData"
          statisticTitle="Desviación estándar"
          color="success"
        />
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col md:w-1/2 flex flex-1 mb-8">
        <vx-card>
          <vs-table  ref="table" pagination :max-items="itemsPerPage" :data="[xAxis,yAxis]" route='/'>
            <template slot="header">
              <h4 class="m-3">Tabla de frecuencia: {{$parent.modelSelected.publicName}}</h4>
            </template>
            <template slot="thead">
              <vs-th>{{ groupBy }}</vs-th>
              <template v-if="typeof(yAxis[0]) == 'number'">
                <vs-th>Cantidad {{$parent.modelSelected.publicName}}</vs-th>
              </template>
              <template v-else>
                <vs-th
                  :key="indexth"
                  v-for="(tr, indexth) in yAxis"
                >{{tr.name}} ({{$parent.modelSelected.publicName}})</vs-th>
              </template>
              
            </template>

            <template slot-scope="{data}">
              <template v-if="typeof(yAxis[0]) == 'number'">
                <vs-tr :key="indextr" v-for="(tr, indextr) in xAxis">
                  <vs-td v-if=" groupBy == 'Días'">{{xAxis[indextr] | date}}</vs-td>
                  <vs-td v-else>{{xAxis[indextr]}}</vs-td>

                  <vs-td>{{yAxis[indextr]}}</vs-td>
                </vs-tr>
              </template>
              <template v-else >
                <vs-tr :key="indextr" v-for="(tr, indextr) in data[0]">
                  <vs-td>{{data[0][indextr]}}</vs-td>
                  <vs-td :key="indextrAxis" v-for="(tr, indextrAxis) in yAxis">{{tr.data[indextr]}}</vs-td>
                </vs-tr>
              </template>
              
            </template>
          </vs-table>
        </vx-card>
      </div>
      <div class="vx-col md:w-1/2 flex flex-1">
        <vx-card title="Gráfico" class="mb-base">
          <vue-apex-charts
            type="area"
            height="350"
            :options="lineAreaChartSpline.chartOptions"
            :series="lineAreaChartSpline.series"
          ></vue-apex-charts>
        </vx-card>
      </div>
    </div>
  </div>
</template>
<script>
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import { mean, median, max, std, round } from 'mathjs';
import VueApexCharts from "vue-apexcharts";
import moment from "moment";
export default {
  data() {
    return {
      itemsPerPage: 4,
      isMounted: false,
      meanData: 0,
      trendData: 0,
      medianData: 0,
      stdData: 0,
      themeColors: ["#7367F0", "#28C76F", "#EA5455", "#FF9F43", "#1E1E1E"],
      lineAreaChartSpline: {
        series: [],
        chartOptions: {}
      },
      month: [
        "Ene",
        "Feb",
        "Mar",
        "Abr",
        "May",
        "Jun",
        "Jul",
        "Ago",
        "Sep",
        "Oct",
        "Nov",
        "Dic"
      ]
    };
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    fromDate: {
      type: String,
      required: true
    },
    toDate: {
      type: String,
      required: true
    },
    groupBy: {
      type: String,
      required: true
    }
  },
  methods: {
    getTags() {
      Date.prototype.addDays = function(days) {
        var dat = new Date(this.valueOf());
        dat.setDate(dat.getDate() + days);
        return dat;
      };

      function getDates(startDate, stopDate) {
        var dateArray = new Array();
        var currentDate = startDate;
        while (currentDate <= stopDate) {
          dateArray.push(currentDate);
          currentDate = currentDate.addDays(1);
        }
        return dateArray;
      }

      function getYears(startDate, stopDate) {
        var dateArray = new Array();
        var currentYear = startDate.getFullYear();
        while (currentYear <= stopDate.getFullYear()) {
          dateArray.push(currentYear);
          currentYear++;
        }
        return dateArray;
      }

      let tags = [];
      switch (this.groupBy) {
        case "Días":
          tags = getDates(new Date(this.fromDate), new Date(this.toDate));
          break;
        case "Meses":
          if (
            new Date(this.fromDate).getFullYear() !=
            new Date(this.toDate).getFullYear()
          )
            tags = this.month;
          else
            tags = this.month
              .slice()
              .splice(
                new Date(this.fromDate).getMonth(),
                new Date(this.toDate).getMonth()
              );
          break;
        case "Años":
          tags = getYears(new Date(this.fromDate), new Date(this.toDate));
          break;
        default:
          tags = [];
          break;
      }
      return tags;
    },
    getValues() {
      let values = [];
      let years =
        new Date(this.toDate).getFullYear() -
        new Date(this.fromDate).getFullYear();
      let index;
      let yearsData = new Array(years).map(el => new Array());
      for (let i = 0; i <= years; i++)
        yearsData[i] = {
          name: (new Date(this.toDate).getFullYear() - i).toString(),
          data: new Array()
        };

      if (this.xAxis.length) {
        for (let tag of this.xAxis) {
          switch (this.groupBy) {
            case "Días":
              values.push(
                this.data.filter(
                  el => new Date(el.date.split("-").join("/")) - tag == 0
                ).length
              );
              break;
            case "Meses":
              index = this.month.findIndex(el => el == tag);

              for (let i = 0; i <= years; i++) {
                yearsData[i].data.push(
                  this.data.filter(
                    el =>
                      new Date(el.date).getFullYear() ==
                        new Date(this.toDate).getFullYear() - i &&
                      new Date(el.date).getMonth() == index
                  ).length
                );
              }
              break;
            case "Años":
              values.push(
                this.data.filter(
                  el =>
                    new Date(el.date.split("-").join("/")).getFullYear() == tag
                ).length
              );
              break;
            default:
              values = [];
              break;
          }
        }

        if (this.groupBy == "Meses") values = yearsData;
      }
      return values;
    },
    drawChart() {
      moment.locale("es");
      if (this.groupBy != "Meses")
        this.lineAreaChartSpline.series = [
          {
            name: this.$parent.modelSelected.publicName,
            data: this.yAxis
          }
        ];
      else this.lineAreaChartSpline.series = this.yAxis;
      let categories = [];
      switch (this.groupBy) {
        case "Días":
          categories = this.xAxis.map(date => moment(date).format("DD MMMM"));
          break;
        case "Meses":
          categories = this.xAxis;
          break;
        case "Años":
          categories = this.xAxis;
          break;
      }
      this.lineAreaChartSpline.chartOptions = {
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: "smooth"
        },
        colors: this.themeColors,
        yaxis: {
          title: {
            text: this.$parent.modelSelected.publicName
          }
        },
        xaxis: {
          type: "datetime",
          categories: categories
        },
        tooltip: {
          x: {
            format: "dd/MM/yy"
          }
        }
      };
    },
    calcParams(){
      this.meanData = round(mean(this.lineAreaChartSpline.series.map(el => el.data).flat()),3)
      this.trendData = round(max(this.lineAreaChartSpline.series.map(el => el.data).flat()),3)
      this.medianData = round(median(this.lineAreaChartSpline.series.map(el => el.data).flat()),3)
      this.stdData = round(std(this.lineAreaChartSpline.series.map(el => el.data).flat()),3)
    }
  },
  computed: {
    xAxis() {
      return this.getTags();
    },
    yAxis() {
      return this.getValues();
    },
    currentPage() {
      if (this.isMounted) {
        return this.$refs.table.currentx;
      }
      return 0;
    },
    queriedItems() {
      return this.$refs.table
        ? this.$refs.table.queriedResults.length
        : this.xAxis.length;
    }
  },
  components: {
    moment,
    StatisticsCardLine,
    VueApexCharts
  },
  mounted() {
    this.drawChart();
    this.calcParams()
    this.isMounted = true;
  }
};
</script>
