<template>
  <div class="w-full mt-6">
    <div class="vx-row">
      <div class="vx-col w-full">
        <transaction-list :components="components" :columns="cols" :data="rows"></transaction-list>
      </div>
    </div>
  </div>
</template>
<script>
import TransactionList from "../transactions/components/List";
import StatusRendered from "../transactions/components/StatusRendered";
import moment from "moment";
export default {
  data() {
    return {
      columns: null,
      data: null,
      components: {}
    };
  },
  props: {
    cols: {
      type: Array,
      required: true
    },
    rows: {
      type: Array,
      required: true
    }
  },
  components: {
    TransactionList,
    StatusRendered,
    moment
  },
  beforeMount() {
    this.components = {
      statusRenderer: StatusRendered
    };
  }
};
</script>