<template>
  <basic-form
    title="Crear actividad"
    :showValidations="showErrors"
    :data="data"
    :isRecurrent="isRecurrent"
    :schedules="schedules"
    resourceType="activity"
    :specialities="specialities"
    :specialitiesWithQuantity="specialitiesWithQuantity"
    type="actividades"
    :functions="codes"
  >
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Configuración de actividad</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="data.activityConfigId"
            :reduce="option => option.val"
            :options="getItemsActivityConfigs"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            @input="getValues"
            class="mt-select"
            placeholder="Seleccione una configuración"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="activityConfigId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("activityConfigId") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import BasicForm from "../components/BasicForm.vue";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        date: null,
        activityConfigId: null,
        resources: [],
        timeBlockId: null,
        scheduleId: null,
        users: [],
        capacity: 1
      },
      codes: ["F-AC-02"],
      specialities: [],
      specialitiesWithQuantity: [],
      activityConfig: null,
      isRecurrent: false,
      showErrors: false,
      module: "activity",
      route: "activities",
      property: "activity",
      moduleA: "activityConfig",
      routeA: "activityConfigs",
      propertyA: "activityConfigs",
      moduleS: "schedule",
      routeS: "schedules",
      propertyS: "schedules",
      path: "/activities"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  computed: {
    getItemsActivityConfigs() {
      return this.$store.getters[`${this.moduleA}/getCustomItems`];
    },
    schedules() {
      return this.$store.getters[`${this.moduleS}/getCustomItems`];
    }
  },
  methods: {
    async getValues(option) {
      if (!option) {
        this.data.scheduleId = null;
        this.isRecurrent = false;
        this.data.resources = [];
        this.specialitiesWithQuantity = [];
      } else {
        this.data.timeBlockId = null;
        this.data.scheduleId = null;
        this.specialitiesWithQuantity = [];

        let configSelected = await this.activityConfig.find(
          act => act.id == option
        );

        this.specialities = await configSelected.specialities.map(
          speciality => {
            this.specialitiesWithQuantity.push({
              name: speciality.name,
              quantity: speciality.quantity
            });

            return speciality.name;
          }
        );

        this.data.resources = await configSelected.resources.map(resource => {
          return {
            id: resource.id,
            quantity: resource.quantity
          };
        });

        if (!configSelected.eventual) {
          this.isRecurrent = true;
        } else {
          this.isRecurrent = false;
        }
      }
    },
    create() {
      this.$validator.validateAll().then(validate => {
        this.showErrors = true;
        if (validate) {
          this.$vs.loading();

          this.$store
            .dispatch("global/create", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
              this.$vs.loading.close();
            });
        }
      });
    },
    cancel() {
      this.$router.push("/services");
    }
  },
  watch: {
    "data.activityConfigId": {
      handler() {
        this.$validator.validate("activityConfigId");
      }
    }
  },
  components: {
    BasicForm,
    vSelect
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.routeA,
      module: this.moduleA,
      data: this.propertyA
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeS,
      module: this.moduleS,
      data: this.propertyS
    });

    this.activityConfig = this.$store.getters["global/getItems"](
      this.moduleA,
      this.propertyA
    );
  }
};
</script>