<template>
  <div>
    <div class="flex flex-wrap-reverse items-center data-list-btn-container">
      <div
        class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
        @click="create"
      >
        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
        <span class="ml-2 text-base text-primary">Crear</span>
      </div>
    </div>
    <service-list :components="components" :columns="columns" :data="data" :path="path"></service-list>
  </div>
</template>

<script>
import ServiceList from "../components/List";
import StatusRendered from "../components/StatusRendered";
import moment from "moment";
export default {
  data() {
    return {
      columns: [
        {
          headerName: "Nombre",
          field: "name",
          filter: true
        },
        {
          headerName: "Capacidad máxima",
          field: "capacity",
          filter: true
        },
        {
          headerName: "Fecha",
          field: "date",
          filter: "agDateColumnFilter",
          valueGetter: function(params) {
            return moment(String(params.data.date)).format("DD/MM/YYYY");
          },
          filterParams: {
            comparator: (filterLocalDateAtMidnight, cellValue) => {
              var dateAsString = cellValue;
              if (dateAsString == null) return -1;
              var dateParts = dateAsString.split("/");
              var cellDate = new Date(
                Number(dateParts[2]),
                Number(dateParts[1]) - 1,
                Number(dateParts[0])
              );
              if (filterLocalDateAtMidnight.getTime() == cellDate.getTime()) {
                return 0;
              }
              if (cellDate < filterLocalDateAtMidnight) {
                return -1;
              }
              if (cellDate > filterLocalDateAtMidnight) {
                return 1;
              }
            },
            browserDatePicker: true
          },
          width: 150,
          suppressSizeToFit: true
        },
        {
          headerName: "Estado",
          field: "stage",
          filter: true,
          cellRenderer: "statusRenderer",
          cellClass: "cell-status"
        }
      ],
      components: {},
      module: "activity",
      route: "activities",
      singularProperty: "activity",
      pluralProperty: "activities",
      path: "/activity"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$router.push(`${this.path}/create`);
    }
  },
  components: {
    ServiceList,
    StatusRendered
  },
  computed: {
    data() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      )
        .slice()
        .reverse();
    }
  },
  beforeMount() {
    this.components = {
      statusRenderer: StatusRendered
    };
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  }
};
</script>