<template>
  <detail-activity
    :isActivity="true"
    :module="module"
    :route="route"
    :property="property"
    :data.sync="data"
    :payload.sync="payload"
    :modeEdit.sync="modeEdit"
    :path="path"
    title="Actividad"
    type="la actividad"
    :specialities="specialities"
    resourceType="activity"
    incidentType="activity"
    :functions="codes"
    :isRecurrent="isRecurrent"
    :showErrors="showErrors"
  >
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Configuración de actividad</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="payload.activityConfigId"
            :reduce="option => option.val"
            :options="getItemsActivityConfigs"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            placeholder="Seleccione una configuración"
            @input="getValues"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="activityConfigId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="showErrors" class="text-danger text-sm">{{ errors.first("activityConfigId") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="flex flex-wrap items-center justify-end" v-if="modeEdit">
        <vs-button class="ml-auto mt-2" type="border" color="warning" @click="cancelEdit">Cancelar</vs-button>
        <vs-button class="ml-4 mt-2" @click="save">Guardar</vs-button>
      </div>
      <div class="flex flex-wrap items-center justify-end" v-else>
        <vs-button class="ml-auto mt-2" type="border" color="warning" @click="cancel">Cancelar</vs-button>
        <vs-button class="ml-4 mt-2" @click="edit">Editar</vs-button>
      </div>
    </template>
  </detail-activity>
</template>

<script>
import DetailActivity from "../components/Detail.vue";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      data: {},
      payload: {},
      copy: {},
      modeEdit: false,
      specialities: [],
      showErrors: false,
      isRecurrent: false,
      activityConfig: [],
      codes: ["F-AC-02"],
      specialitiesWithQuantity: [],
      module: "activity",
      route: "activities",
      property: "activity",
      moduleA: "activityConfig",
      routeA: "activityConfigs",
      propertyA: "activityConfigs",
      moduleS: "schedule",
      routeS: "schedules",
      propertyS: "schedules",
      path: "/activities"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  computed: {
    getItemsActivityConfigs() {
      return this.$store.getters[`${this.moduleA}/getCustomItems`];
    },
    schedules() {
      return this.$store.getters[`${this.moduleS}/getCustomItems`];
    }
  },
  methods: {
    async getValues(option) {
      if (!option) {
        this.payload.scheduleId = null;
        this.payload.timeBlockId = null;
        this.isRecurrent = false;
        this.payload.resources = [];
        this.payload.specialitiesWithQuantity = [];
      } else {
        this.payload.scheduleId = null;
        this.payload.timeBlockId = null;
        this.payload.users = [];
        this.payload["resources"] = [];
        this.payload.specialitiesWithQuantity = [];

        let configSelected = await this.activityConfig.find(
          act => act.id == option
        );

        if (!configSelected.eventual) {
          this.isRecurrent = true;
        } else {
          this.isRecurrent = false;
        }

        this.payload["resources"] = await configSelected.resources.map(
          resource => {
            return { id: resource.id, quantity: resource.quantity };
          }
        );

        await configSelected.specialities.map(speciality => {
          this.payload["specialitiesWithQuantity"].push({
            name: speciality.name,
            quantity: speciality.quantity
          });
        });

        this.specialities = await configSelected.specialities.map(
          speciality => {
            return speciality.name;
          }
        );
      }
    },
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async resp => {
          this.data = await JSON.parse(JSON.stringify(resp.activity));
          this.payload = await JSON.parse(JSON.stringify(this.data));
          this.$set(
            this.payload,
            "activityConfigId",
            this.payload.activityConfig.id
          );

          if (Object.entries(this.payload.schedule).length) {
            this.$set(this.payload, "scheduleId", this.payload.schedule.id);
            this.$set(this.payload, "timeBlockId", null);
            this.isRecurrent = true;
          } else {
            this.$set(this.payload, "scheduleId", null);
            this.$set(this.payload, "timeBlockId", this.payload.timeBlock.id);
            this.isRecurrent = false;
          }

          let dataResources = await this.payload.resources.map(resource => {
            return { id: resource.id, quantity: resource.quantity };
          });

          this.$set(this.payload, "resources", dataResources);

          this.$set(this.payload, "specialitiesWithQuantity", []);

          this.specialities = await this.payload.activityConfig.specialities.map(
            speciality => {
              this.payload["specialitiesWithQuantity"].push({
                name: speciality.name,
                quantity: speciality.quantity
              });

              return speciality.name;
            }
          );

          this.$set(this.payload, "schedules", this.schedules);

          let dataUsers = this.payload["users"].map(user => user.id);

          this.$set(this.payload, "users", dataUsers);

          this.copy = JSON.parse(JSON.stringify(this.payload));
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },

    save() {
      this.$validator.validateAll().then(validate => {
        this.showErrors = true;
        if (validate) {
          this.$store
            .dispatch("global/update", {
              payload: this.payload,
              module: this.module,
              route: this.route,
              data: this.property
            })
            .then(async resp => {
              this.data = await JSON.parse(JSON.stringify(resp.activity));
              this.payload = await JSON.parse(JSON.stringify(this.data));
              this.$set(this.payload, "specialitiesWithQuantity", []);
              this.$set(
                this.payload,
                "activityConfigId",
                this.payload.activityConfig.id
              );

              if (Object.entries(this.payload.schedule).length) {
                this.$set(this.payload, "scheduleId", this.payload.schedule.id);
                this.$set(this.payload, "timeBlockId", null);
                this.isRecurrent = true;
              } else {
                this.$set(this.payload, "scheduleId", null);
                this.$set(
                  this.payload,
                  "timeBlockId",
                  this.payload.timeBlock.id
                );
                this.isRecurrent = false;
              }
              let dataResources = await this.payload.resources.map(resource => {
                return { id: resource.id, quantity: resource.quantity };
              });

              this.$set(this.payload, "resources", dataResources);

              this.specialities = await this.payload.activityConfig.specialities.map(
                speciality => {
                  this.payload["specialitiesWithQuantity"].push({
                    name: speciality.name,
                    quantity: speciality.quantity
                  });

                  return speciality.name;
                }
              );

              this.$set(this.payload, "schedules", this.schedules);

              let dataUsers = this.payload["users"].map(user => user.id);

              this.$set(this.payload, "users", dataUsers);

              this.copy = JSON.parse(JSON.stringify(this.payload));
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.$store.commit(
                "SET_VIEW_DETAIL_STATUS",
                this.data.status == 1 ? true : false
              );
              this.$vs.loading.close();

              this.modeEdit = false;

              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                this.$vs.loading.close();
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    edit() {
      this.modeEdit = true;
    },
    cancelEdit() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.copy));
    },
    cancel() {
      this.$router.push(this.path);
    }
  },
  components: {
    DetailActivity,
    vSelect
  },
  watch: {
    "payload.name": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("name");
        }
      }
    },
    "payload.activityConfigId": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("activityConfigId");
        }
      }
    },
    "payload.scheduleId": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("scheduleId");
        }
      }
    },
    "payload.timeBlockId": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("timeBlockId");
        }
      }
    },
    "payload.date": {
      handler() {
        if (this.modeEdit) {
          this.$validator.validate("date");
        }
      }
    },
    "payload.users": {
      handler() {
        if (this.modeEdit) {
          if (this.$refs.specialists) {
            this.$validator.validate("specialists");
          }
        }
      }
    }
  },
  async created() {
    this.getItem(this.$route.params.id);

    await this.$store.dispatch("global/getItems", {
      route: this.routeS,
      module: this.moduleS,
      data: this.propertyS
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeA,
      module: this.moduleA,
      data: this.propertyA
    });

    this.activityConfig = await this.$store.getters["global/getItems"](
      this.moduleA,
      this.propertyA
    );
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>