<template>
  <div id="dashboard-analytics">
    <div class="vx-row">
      <!-- CARD 1: CONGRATS -->
      <div class="vx-col w-full mb-base">
        <vx-card slot="no-body" class="text-center bg-primary-gradient greet-user">
          <img
            src="@/assets/images/elements/decore-left.png"
            class="decore-left"
            alt="Decore Left"
            width="200"
          />
          <img
            src="@/assets/images/elements/decore-right.png"
            class="decore-right"
            alt="Decore Right"
            width="175"
          />
          <feather-icon
            icon="AwardIcon"
            class="p-6 mb-8 bg-primary inline-flex rounded-full text-white shadow"
            svgClasses="h-8 w-8"
          ></feather-icon>
          <h1
            v-if="$store.state.auth.user"
            class="mb-6 text-white"
          >{{$store.state.auth.user.gender.includes("F") ? "Bienvenida" : "Bienvenido"}} {{ $store.state.auth.user.name }}</h1>
          <p
            class="xl:w-3/4 lg:w-4/5 md:w-2/3 w-4/5 mx-auto text-white"
          >Consulta las estadísticas de la semana.</p>
        </vx-card>
      </div>

      <!-- Cantidad de solicitues de ingreso -->
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="UsersIcon"
          :statistic="requests.quantity"
          statisticTitle="Solicitudes de ingreso"
          :chartData="requests.series"
          type="area"
        ></statistics-card-line>
      </div>

      <!-- Cantidad de solicitues de servicio -->
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="LayersIcon"
          :statistic="requestsService.quantity"
          statisticTitle="Solicitudes de servicio"
          :chartData="requestsService.series"
          type="area"
        ></statistics-card-line>
      </div>

      <!-- Cantidad de solicitues de actividad -->
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="ClipboardIcon"
          :statistic="requestsActivity.quantity"
          statisticTitle="Solicitudes de actividad"
          :chartData="requestsActivity.series"
          type="area"
        ></statistics-card-line>
      </div>

      <!-- Cantidad de citas -->
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="LayersIcon"
          :statistic="appointments.quantity"
          statisticTitle="Citas atendidas"
          :chartData="appointments.series"
          type="area"
        ></statistics-card-line>
      </div>
    </div>

  
  </div>
</template>

<script>
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import VueApexCharts from "vue-apexcharts";
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
import analyticsData from "./ui-elements/card/analyticsData.js";
import ChangeTimeDurationDropdown from "@/components/ChangeTimeDurationDropdown.vue";
import VxTimeline from "@/components/timeline/VxTimeline";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      config: {},
      configDatePicker: {
        altInput: true,
        dateFormat: "Y/m/d",
        altFormat: "d F Y",
        locale: SpanishLocale,
        minDate: new Date().fp_incr(1),
        altInputClass: "w-full flatpickr-input"
      },
      activePromptRequestService: false,
      activePromptRequestActivity: false,
      disable: false,
      showValidation: false,
      checkpointReward: {},
      subscribersGained: {},
      ordersRecevied: {},
      salesBarSession: {},
      supportTracker: {},
      productsOrder: {},
      salesRadar: {},
      activity: {},
      service: {},
      services: [],
      activities: [],
      isActivity: false,
      requestService: {
        name: "",
        date: null,
        serviceId: null
      },
      requestActivity: {
        name: "",
        activityConfigId: null,
        datePosible: null,
        description: ""
      },
      analyticsData: analyticsData,
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  components: {
    VueApexCharts,
    StatisticsCardLine,
    ChangeTimeDurationDropdown,
    VxTimeline,
    flatPickr
  },
  computed: {
    url() {
      return process.env.VUE_APP_URL;
    },
    requests() {
      let list = [];
      let req = this.$store.getters["global/getItems"]("request", "requests")
        .slice()
        .filter(r => r.typeRequest == "PACIENTE");
      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Solicitudes",
            data: list
          }
        ]
      };
    },
    appointments() {
      let list = [];
      let req = this.$store.getters["global/getItems"](
        "appointment",
        "appointments"
      )
        .slice()
        .filter(r => r.stage == "FINISHED");

      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Citas atendidas",
            data: list
          }
        ]
      };
    },
    requestsActivity() {
      let list = [];
      let req = this.$store.getters["global/getItems"]("request", "requests")
        .slice()
        .filter(r => r.typeRequest == "ACTIVIDAD");
      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Solicitudes",
            data: list
          }
        ]
      };
    },
    requestsService() {
      let list = [];
      let req = this.$store.getters["global/getItems"]("request", "requests")
        .slice()
        .filter(r => r.typeRequest == "SERVICIO");
      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Solicitudes",
            data: list
          }
        ]
      };
    },
    getActivities() {
      return this.$store.getters["global/getItems"](
        "activityConfig",
        "activityConfigs"
      )
        .slice(0, 4)
        .filter(r => r.status == 1);
    },
    getServices() {
      return this.$store.getters["global/getItems"]("service", "services")
        .slice(0, 4)
        .filter(r => r.status == 1);
    }
  },

  methods: {
    showPromptRequestService(id, name, date) {
      this.activePromptRequestService = true;
      this.requestService = {
        name: name,
        date: date,
        serviceId: id
      };
    },

    cancelRequestService() {
      this.activePromptRequestService = false;
      this.requestService = {
        name: "",
        date: null,
        serviceId: null
      };
    },

    showPromptRequestActivity(configId, name) {
      this.activePromptRequestActivity = true;
      this.requestActivity["name"] = name;
      this.requestActivity["activityConfigId"] = configId;
    },

    cancelRequestActivity() {
      this.activePromptRequestActivity = false;
      this.requestActivity = {
        name: "",
        activityConfigId: null,
        datePosible: null,
        description: ""
      };
    },

    sendRequestService() {
      this.$vs.loading();
      this.activePromptRequestService = true;
      this.$store
        .dispatch("request/sendRequest", {
          data: this.requestService,
          req: "service"
        })
        .then(resp => {
          this.$vs.loading.close();
          this.cancelRequestService();
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
        });
    },

    sendRequestActivity() {
      this.activePromptRequestActivity = true;
      this.$validator.validateAll().then(isValid => {
        this.showValidation = true;
        if (isValid) {
          this.$vs.loading();

          this.$store
            .dispatch("request/sendRequest", {
              data: this.requestActivity,
              req: "activity"
            })
            .then(resp => {
              this.$vs.loading.close();
              this.cancelRequestActivity();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      module: "request",
      route: "requests",
      data: "requests"
    });

    await this.$store.dispatch("global/getItems", {
      module: "activityConfig",
      route: "activityConfigs",
      data: "activityConfigs"
    });

    await this.$store.dispatch("global/getItems", {
      module: "service",
      route: "services",
      data: "services"
    });

    await this.$store.dispatch("global/getItems", {
      module: "appointment",
      route: "appointments",
      data: "appointments"
    });
  }
};
</script>

<style lang="scss">
/*! rtl:begin:ignore */
#dashboard-analytics {
  .greet-user {
    position: relative;

    .decore-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    .decore-right {
      position: absolute;
      right: 0;
      top: 0;
    }
    .ap.services-tag {
      position: absolute;
      top: -22px;
      left: 200px;
    }
  }

  @media (max-width: 576px) {
    .decore-left,
    .decore-right {
      width: 140px;
    }
  }
}
/*! rtl:end:ignore */
</style>
