<template>
  <div id="dashboard-analytics">
    <div class="vx-row">
      <!-- CARD 1: CONGRATS -->
      <div class="vx-col md:w-2/3 lg:w-3/4 mb-base flex flex-1">
        <vx-card slot="no-body" class="text-center bg-primary-gradient greet-user">
          <img
            src="@/assets/images/elements/decore-left.png"
            class="decore-left"
            alt="Decore Left"
            width="200"
          />
          <img
            src="@/assets/images/elements/decore-right.png"
            class="decore-right"
            alt="Decore Right"
            width="175"
          />
          <feather-icon
            icon="AwardIcon"
            class="p-6 mb-8 bg-primary inline-flex rounded-full text-white shadow"
            svgClasses="h-8 w-8"
          ></feather-icon>
          <h1
            v-if="$store.state.auth.user"
            class="mb-6 text-white"
          >{{$store.state.auth.user.gender.includes("F") ? "Bienvenida" : "Bienvenido"}} {{ $store.state.auth.user.name }}</h1>
          <p
            class="xl:w-3/4 lg:w-4/5 md:w-2/3 w-4/5 mx-auto text-white"
          >No te pierdas de las últimas novedades en {{$store.state.organization.organization.name}}</p>
        </vx-card>
      </div>

      <!-- Cantidad de nuevos pacientes -->
      <div class="vx-col w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mb-base">
        <statistics-card-line
          icon="UsersIcon"
          :statistic="newPatients.quantity"
          statisticTitle="Nuevos pacientes"
          :chartData="newPatients.series"
          type="line"
        ></statistics-card-line>
      </div>

      <!-- Cantidad de solicitues de servicio -->
      <!-- <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="LayersIcon"
          :statistic="requestsService.quantity"
          statisticTitle="Solicitudes de servicio"
          :chartData="requestsService.series"
          type="area"
        ></statistics-card-line>
      </div>-->

      <!-- Cantidad de solicitues de actividad -->
      <!--  <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="ClipboardIcon"
          :statistic="requestsActivity.quantity"
          statisticTitle="Solicitudes de actividad"
          :chartData="requestsActivity.series"
          type="area"
        ></statistics-card-line>
      </div>-->

      <!-- Cantidad de citas -->
      <!-- <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="LayersIcon"
          :statistic="appointments.quantity"
          statisticTitle="Citas atendidas"
          :chartData="appointments.series"
          type="area"
        ></statistics-card-line>
      </div>-->

      <!--  Solicitudes de actividad -->
      <div class="vx-col w-full mb-base mt-4">
        <h4 class="mb-4">¿Te perdiste de estas actividades? Solicítala aquí</h4>
        <div class="vx-row">
          <div
            class="vx-col w-full sm:w-1/2 lg:w-1/3 mb-base flex flex-1"
            v-for="(item, index) in getActivities"
            :key="index"
          >
            <vx-card>
              <div slot="no-body" class="img-container">
                <img
                  :src="`${url}files/uploads/${item.image}`"
                  alt="content-img"
                  class="responsive card-img-top w-auto h-32 mx-auto my-4"
                />
              </div>
              <h5 class="mb-2">{{ item.name }}</h5>
              <p class="text-grey h-8">Tipo de actividad {{ item.activityType.name }}</p>
              <div class="flex mt-auto justify-end flex-wrap">
                <vs-button
                  class="mt-4"
                  type="border"
                  color="success"
                  @click="showPromptRequestActivity(item.id, item.name)"
                >Solicitar</vs-button>
              </div>
            </vx-card>
          </div>
        </div>
      </div>

      <vs-prompt
        class="prompt-appointment"
        @cancel="cancelRequestActivity"
        @accept="sendRequestActivity"
        @close="cancelRequestActivity"
        accept-text="Aceptar"
        cancel-text="Cancelar"
        :title="`Solicitar actividad: ${ requestActivity.name }`"
        :active.sync="activePromptRequestActivity"
      >
        <div class="con-exemple-prompt">
          <p>Debe indicar una fecha posible para solicitar la actividad</p>
          <br />
          <div class="vx-row mb-6">
            <div class="vx-col w-full sm:w-1/4">
              <span>Fecha posible</span>
            </div>
            <div class="vx-col w-full sm:w-3/4">
              <flat-pickr
                :config="configDatePicker"
                v-model="requestActivity.datePosible"
                data-vv-validate-on="blur"
                v-validate="'required'"
                name="date"
                class="w-full"
                placeholder="Escoge una posible fecha"
              />
              <span v-if="showValidation" class="text-danger text-sm">{{ errors.first('date') }}</span>
            </div>
          </div>
          <div class="vx-row">
            <div class="vx-col w-full sm:w-1/4">
              <span>Descripción</span>
            </div>
            <div class="vx-col w-full sm:w-3/4">
              <vs-textarea
                data-vv-validate-on="blur"
                v-validate="'required|alpha_number_spaces|min:4|max:500'"
                name="description"
                v-model="requestActivity.description"
              />
              <span
                v-if="showValidation"
                class="text-danger text-sm"
              >{{ errors.first('description') }}</span>
            </div>
          </div>
          <div class="vx-row">
            <div class="vx-col w-full sm:w-1/4" />
            <div class="vx-col w-full sm:w-3/4">
              <vs-alert :vs-active="!true" color="warning" vs-icon="new_releases">
                En los próximos días se le notificará el resultado de la solicitud a su dirección de
                correo electrónico.
              </vs-alert>
            </div>
          </div>
        </div>
      </vs-prompt>

      <!-- Solicitudes de servicio -->
      <div class="vx-col w-full mb-base mt-4">
        <h4 class="mb-4">Servicios que puedes solicitar</h4>
        <div class="vx-row">
          <div
            class="vx-col w-full sm:w-1/2 lg:w-1/3 mb-base flex flex-1"
            v-for="(item, index) in getServices"
            :key="index"
          >
            <vx-card>
              <div slot="no-body" class="img-container">
                <img
                  :src="`${url}files/uploads/${item.serviceConfig.image}`"
                  alt="content-img"
                  class="responsive card-img-top w-auto h-32 mx-auto my-4"
                />
              </div>
              <h5 class="mb-2">{{ item.name }}</h5>
              <p class="text-grey">Fecha de ejecución {{ item.date | date }}</p>
              <p class="text-grey">Capacidad {{ item.capacity }} personas</p>
              <div class="flex justify-end flex-wrap">
                <vs-button
                  class="mt-4"
                  type="border"
                  color="success"
                  @click="showPromptRequestService(item.id, item.name, item.date)"
                >Solicitar</vs-button>
              </div>
            </vx-card>
          </div>
        </div>
      </div>

      <vs-prompt
        class="prompt-appointment"
        @cancel="cancelRequestService"
        @accept="sendRequestService"
        @close="cancelRequestService"
        accept-text="Aceptar"
        cancel-text="Cancelar"
        :title="`Solicitar servicio: ${requestService.name}`"
        :active.sync="activePromptRequestService"
      >
        <div class="con-exemple-prompt">
          <vs-alert class="mt-2" :vs-active="!true" color="warning" vs-icon="new_releases">
            El servicio de
            <b>{{ requestService.name }}</b> será realizado en la fecha correspondiente el
            <b>{{ requestService.date | date }}</b>, en los próximos días se le notificará el resultado de la solicitud a su dirección de correo electrónico.
          </vs-alert>
        </div>
      </vs-prompt>
    </div>

  </div>
</template>

<script>
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import VueApexCharts from "vue-apexcharts";
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
import analyticsData from "./ui-elements/card/analyticsData.js";
import ChangeTimeDurationDropdown from "@/components/ChangeTimeDurationDropdown.vue";
import VxTimeline from "@/components/timeline/VxTimeline";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      config: {},
      configDatePicker: {
        altInput: true,
        dateFormat: "Y/m/d",
        altFormat: "d F Y",
        locale: SpanishLocale,
        minDate: new Date().fp_incr(1),
        altInputClass: "w-full flatpickr-input"
      },
      activePromptRequestService: false,
      activePromptRequestActivity: false,
      disable: false,
      showValidation: false,
      checkpointReward: {},
      subscribersGained: {},
      ordersRecevied: {},
      salesBarSession: {},
      supportTracker: {},
      productsOrder: {},
      salesRadar: {},
      activity: {},
      service: {},
      services: [],
      activities: [],
      isActivity: false,
      requestService: {
        name: "",
        date: null,
        serviceId: null
      },
      requestActivity: {
        name: "",
        activityConfigId: null,
        datePosible: null,
        description: ""
      },
      timelineData: [
        {
          color: "primary",
          icon: "PlusIcon",
          title: "Client Meeting",
          desc: "Bonbon macaroon jelly beans gummi bears jelly lollipop apple",
          time: "25 mins Ago"
        },
        {
          color: "warning",
          icon: "MailIcon",
          title: "Email Newsletter",
          desc: "Cupcake gummi bears soufflé caramels candy",
          time: "15 Days Ago"
        },
        {
          color: "danger",
          icon: "UsersIcon",
          title: "Plan Webinar",
          desc: "Candy ice cream cake. Halvah gummi bears",
          time: "20 days ago"
        },
        {
          color: "success",
          icon: "LayoutIcon",
          title: "Launch Website",
          desc:
            "Candy ice cream cake. Halvah gummi bears Cupcake gummi bears soufflé caramels candy.",
          time: "25 days ago"
        },
        {
          color: "primary",
          icon: "TvIcon",
          title: "Marketing",
          desc: "Candy ice cream cake. Halvah gummi bears Cupcake gummi bears.",
          time: "28 days ago"
        }
      ],
      analyticsData: analyticsData,
      dispatchedOrders: []
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  components: {
    VueApexCharts,
    StatisticsCardLine,
    ChangeTimeDurationDropdown,
    VxTimeline,
    flatPickr
  },
  computed: {
    url() {
      return process.env.VUE_APP_URL;
    },
    newPatients() {
      let list = [];
      let req = this.$store.getters["global/getItems"](
        "record",
        "records"
      ).slice();
      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Pacientes",
            data: list
          }
        ]
      };
    },
    appointments() {
      let list = [];
      let req = this.$store.getters["global/getItems"](
        "appointment",
        "appointments"
      )
        .slice()
        .filter(r => r.stage == "FINISHED");

      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Citas atendidas",
            data: list
          }
        ]
      };
    },
    requestsActivity() {
      let list = [];
      let req = this.$store.getters["global/getItems"]("request", "requests")
        .slice()
        .filter(r => r.typeRequest == "ACTIVIDAD");
      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Solicitudes",
            data: list
          }
        ]
      };
    },
    requestsService() {
      let list = [];
      let req = this.$store.getters["global/getItems"]("request", "requests")
        .slice()
        .filter(r => r.typeRequest == "SERVICIO");
      for (let i = 8; i > 0; i--) {
        list.push(
          req.filter(
            r => new Date(r.date).getDate() == new Date().getDate() - i
          ).length
        );
      }
      return {
        quantity: req.length,
        series: [
          {
            name: "Solicitudes",
            data: list
          }
        ]
      };
    },
    getActivities() {
      return this.$store.getters["global/getItems"](
        "activityConfig",
        "activityConfigs"
      )
        .slice(0, 3)
        .filter(r => r.status == 1);
    },
    getServices() {
      return this.$store.getters["global/getItems"]("service", "services")
        .slice(0, 3)
        .filter(r => r.status == 1);
    }
  },

  methods: {
    showPromptRequestService(id, name, date) {
      this.activePromptRequestService = true;
      this.requestService = {
        name: name,
        date: date,
        serviceId: id
      };
    },

    cancelRequestService() {
      this.activePromptRequestService = false;
      this.requestService = {
        name: "",
        date: null,
        serviceId: null
      };
    },

    showPromptRequestActivity(configId, name) {
      this.activePromptRequestActivity = true;
      this.requestActivity["name"] = name;
      this.requestActivity["activityConfigId"] = configId;
    },

    cancelRequestActivity() {
      this.activePromptRequestActivity = false;
      this.requestActivity = {
        name: "",
        activityConfigId: null,
        datePosible: null,
        description: ""
      };
    },

    sendRequestService() {
      this.$vs.loading();
      this.activePromptRequestService = true;
      this.$store
        .dispatch("request/sendRequest", {
          data: this.requestService,
          req: "service"
        })
        .then(resp => {
          this.$vs.loading.close();
          this.cancelRequestService();
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
        });
    },

    sendRequestActivity() {
      this.activePromptRequestActivity = true;
      this.$validator.validateAll().then(isValid => {
        this.showValidation = true;
        if (isValid) {
          this.$vs.loading();

          this.$store
            .dispatch("request/sendRequest", {
              data: this.requestActivity,
              req: "activity"
            })
            .then(resp => {
              this.$vs.loading.close();
              this.cancelRequestActivity();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      module: "record",
      route: "records",
      data: "records"
    });

    await this.$store.dispatch("global/getItems", {
      module: "activityConfig",
      route: "activityConfigs",
      data: "activityConfigs"
    });

    await this.$store.dispatch("global/getItems", {
      module: "service",
      route: "services",
      data: "services"
    });

    await this.$store.dispatch("global/getItems", {
      module: "appointment",
      route: "appointments",
      data: "appointments"
    });
  }
};
</script>

<style lang="scss">
/*! rtl:begin:ignore */
#dashboard-analytics {
  .greet-user {
    position: relative;

    .decore-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    .decore-right {
      position: absolute;
      right: 0;
      top: 0;
    }
    .ap.services-tag {
      position: absolute;
      top: -22px;
      left: 200px;
    }
  }

  @media (max-width: 576px) {
    .decore-left,
    .decore-right {
      width: 140px;
    }
  }
}
/*! rtl:end:ignore */
</style>
