<template>
  <div v-if="data.length" id="page-request-as" class="vx-row">
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base" v-for="dat in data" :key="dat.id">
      <vx-card v-if="!isActivity" :title="dat.name" :subtitle="dat.date | dateFormat">
        <div class="vx-row">
          <!-- <img :src="`${url}files/uploads/${service.image}`" class="rounded w-full" />  -->
        </div>
        <vs-divider></vs-divider>
        <div class="vx-row flex flex-grow justify-end">
          <vs-button
            type="border"
            class="mr-4"
            color="success"
            @click="req(dat.name, dat.id, dat.date)"
          >Solicitar</vs-button>
        </div>
      </vx-card>
      <vx-card v-if="isActivity" :title="dat.name" :subtitle="dat.activityType.name">
        <div class="vx-row">
          <img :src="`${url}files/uploads/${activity.image}`"  /> 
        </div>
        <vs-divider></vs-divider>
        <div  class="vx-row flex flex-grow justify-end">
          <vs-button
            type="border"
            class="mr-4"
            color="primary"
            @click="req(dat.name, dat.id)"
          >Solicitar</vs-button>
        </div>
      </vx-card>
    </div>
    
    </div>
</template>

<script>
import moment from "moment";

export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    isActivity: {
      type: Boolean,
      default: false
    },
    openModal: {
      type: Boolean,
      default: false
    },
    modalName:{
      type: String,
      default: ""
    },
    modalId:{
      type: Number,
      default: null
    },
    modalDate:{
      type: String,
      default: ""
    }
  },
  computed:{
    url() {
      return process.env.VUE_APP_URL;
    },
  },
  filters: {
    dateFormat: function(value) {
      return  moment(String(value)).format("DD/MM/YYYY")
      },
    },
  methods: {
    req(name,id,date){
      this.$emit("update:modalId", id);
      this.$emit("update:modalName", name);
      this.$emit("update:openModal", true);
      this.$emit("update:modalDate", date);
      },
  },
}
</script>
<style lang="scss">
.prompt-appointment .vs-dialog {
  max-width: 600px !important;
}
</style>
