<template>
  <!-- NOTIFICATIONS -->
  <vs-dropdown
    vs-custom-content
    vs-trigger-click
    class="cursor-pointer"
    @focus="readNotifications()"
  >
    <feather-icon
      icon="BellIcon"
      class="cursor-pointer mt-1 sm:mr-6 mr-2"
      :badge="unReadNotifications.length"
    />

    <vs-dropdown-menu class="notification-dropdown dropdown-custom vx-navbar-dropdown">
      <div class="notification-top text-center p-5 bg-primary text-white">
        <h3 class="text-white">{{ unReadNotifications.length }} Nuevas</h3>
        <p class="opacity-75">Notificaciones</p>
      </div>

      <VuePerfectScrollbar
        ref="mainSidebarPs"
        class="scroll-area--nofications-dropdown p-0 mb-10"
        :settings="settings"
        :key="$vs.rtl"
      >
        <ul class="bordered-items">
          <li
            v-for="ntf in notify"
            :key="ntf.id"
            class="flex justify-between px-4 py-4 notification cursor-pointer"
            :style="{ 'background-color': ntf.status ===1 ? '#ddf3f5' : null }"
          >
            <!-- {{ntf.service}} -->
            <div class="flex items-start">
              <!-- <feather-icon :icon="ntf.icon" :svgClasses="[`text-${ntf.category}`, 'stroke-current mr-1 h-6 w-6']"></feather-icon> -->
              <div class="mx-2">
                <span
                  class="font-medium block notification-title"
                  :class="[`text-${ntf.notificationType.name}`]"
                >{{ ntf.service }}</span>
                <small>{{ ntf.message }}</small>
              </div>
            </div>
            <small class="mt-1 whitespace-no-wrap">{{ elapsedTime(ntf.time) }}</small>
          </li>
        </ul>
      </VuePerfectScrollbar>

      <!-- <div
        class="checkout-footer fixed bottom-0 rounded-b-lg text-primary w-full p-2 font-semibold text-center border border-b-0 border-l-0 border-r-0 border-solid d-theme-border-grey-light cursor-pointer"
      >
        <span>Ver todas las notificaciones</span>
      </div>-->
    </vs-dropdown-menu>
  </vs-dropdown>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  components: {
    VuePerfectScrollbar
  },
  data() {
    return {
      settings: {
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },
  methods: {
    elapsedTime(startTime) {
      let x = new Date(startTime);
      let now = new Date();
      var timeDiff = now - x;
      timeDiff /= 1000;

      var seconds = Math.round(timeDiff);
      timeDiff = Math.floor(timeDiff / 60);

      var minutes = Math.round(timeDiff % 60);
      timeDiff = Math.floor(timeDiff / 60);

      var hours = Math.round(timeDiff % 24);
      timeDiff = Math.floor(timeDiff / 24);

      var days = Math.round(timeDiff % 365);
      timeDiff = Math.floor(timeDiff / 365);

      var years = timeDiff;

      if (years > 0) {
        return "Hace " + years + (years > 1 ? " años " : " año ");
      } else if (days > 0) {
        return "Hace " + days + (days > 1 ? " días " : " día ");
      } else if (hours > 0) {
        return "Hace " + hours + (hours > 1 ? " hrs " : " hora ");
      } else if (minutes > 0) {
        return "Hace " + minutes + (minutes > 1 ? " mins " : " min ");
      } else if (seconds > 0) {
        return seconds > 1 ? `Hace ${seconds} segundos` : "Hace un momento";
      }

      return "Hace un momento";
    },
    getNotify() {
      this.$store.dispatch("global/getItems", {
        route: "notificationAutoConfigs",
        module: "notification",
        data: "notificationAutoConfigs"
      });
    },
    readNotifications() {
      this.$store.dispatch("notification/setReadNotifications");
      // this.$store.dispatch(
      //   "notification/setReadNotifications",
      //   this.unReadNotifications
      // );
    }
  },
  computed: {
    notify() {
      return this.$store.getters["global/getItems"](
        "notification",
        "notifications"
      )
        .slice()
        .reverse();
    },
    unReadNotifications() {
      return this.notify.filter(n => n.status === 1);
    }
  },
  created() {
    this.$crontab.addJob({
      name: "notify",
      interval: {
        seconds: "/5"
      },
      job: this.getNotify
    });
  }
};
</script>

