<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Configurar servicio">
        <form-wizard
          color="rgba(var(--vs-primary), 1)"
          :title="null"
          :subtitle="null"
          errorColor="rgba(var(--vs-danger), 1)"
          finishButtonText="Guardar"
          nextButtonText="Siguiente"
          backButtonText="Anterior"
          @on-complete="formSubmitted"
        >
          <!-- Datos básicos -->
          <tab-content
            title="Datos básicos"
            class="mb-5"
            icon="feather icon-home"
            :before-change="validateBasic"
          >
            <basic-data
              :data.sync="data"
              :showValidations="isValid"
              property="serviceTypeId"
              register="Tipo de servicio"
              module="serviceType"
              route="serviceTypes"
              attribute="serviceTypes"
              routeRegister="/service-type/create"
              :isService="true"
            >
              <template slot="show-field" v-if="data.recurrent">
                <div class="vx-row">
                  <div class="vx-col w-full md:mt-5">
                    <label class="vs-input--label">Seleccionar turnos</label>
                    <v-select
                      multiple
                      v-model="data.schedules"
                      placeholder="Seleccionar"
                      :reduce="option => option.val"
                      data-vv-validate-on="blur"
                      v-validate="'required'"
                      :options="turns"
                      :dir="$vs.rtl ? 'rtl' : 'ltr'"
                      name="schedules"
                    >
                      <template v-slot:no-options="{ search, searching }">
                        <template v-if="searching">
                          No se encontraron resultados para
                          <em
                            class="text-primary font-semibold"
                          >{{ search }}</em>.
                        </template>
                        <em v-else>
                          No hay ningún turno disponible.
                          <router-link class="text-primary font-semibold" to="/schedule/create">crear</router-link>
                        </em>
                      </template>
                    </v-select>
                    <span v-if="isValid" class="text-danger text-sm">{{ errors.first("schedules") }}</span>
                  </div>
                </div>
              </template>
            </basic-data>
          </tab-content>

          <!-- Recursos -->
          <tab-content
            title="Recursos"
            class="mb-5"
            icon="feather icon-briefcase"
            :before-change="validateResources"
          >
            <resource-data
              :resourceErrors.sync="resourceErrors"
              :resources="data.resources"
              label="recurso"
              model="resource"
              resourceType="service"
            ></resource-data>
          </tab-content>

          <!-- Personal -->
          <tab-content
            title="Personal"
            class="mb-5"
            icon="feather icon-user"
            :before-change="validatePersonal"
          >
            <resource-data
              :resourceErrors.sync="specialistErrors"
              :resources="data.specialities"
              label="especialista"
              model="speciality"
            ></resource-data>
          </tab-content>

          <!-- Evaluación -->
          <tab-content
            title="Evaluación"
            class="mb-5"
            icon="feather icon-clipboard"
            :before-change="validateEvaluation"
          >
            <p>Ya casi terminas, en este espacio debes indicar cómo quieres medir el desempeño de tus servicios por cada paciente, a través de resultados.</p>
            <!-- Parametros -->
            <param-data :paramErrors.sync="paramErrors" :params="data.params"></param-data>
            <!-- Preguntas (calificación) -->
            <review-data
              class="mt-10"
              :questionErrors.sync="questionErrors"
              :questions="data.questions"
            ></review-data>
            <p class="my-10">
              La evaluación de los servicios es el primer paso para mejorar. Recuerda que
              <strong>lo que no se mide, no mejora!</strong>
            </p>
          </tab-content>
        </form-wizard>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import BasicData from "../components/BasicData";
import ResourceData from "../components/ResourceData";
import ParamData from "../components/ParamData";
import ReviewData from "../components/ReviewData";
import vSelect from "vue-select";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      selected: null,
      data: {
        name: "",
        image: null,
        serviceTypeId: null,
        genreFor: null,
        ageFor: null,
        phaseFor: null,
        recurrent: false,
        eventual: true,
        schedules: null,
        resources: [
          {
            id: null,
            quantity: 0
          }
        ],
        specialities: [
          {
            id: null,
            quantity: 0
          }
        ],
        params: [
          {
            id: null,
            idealValue: 0,
            minValue: 0,
            maxValue: 0
          }
        ],
        questions: [
          {
            id: null,
            toResponsible: false,
            toUsers: false
          }
        ]
      },
      questionErrors: true,
      paramErrors: true,
      specialistErrors: true,
      resourceErrors: true,
      showValidations: false,
      isValid: false,
      module: "serviceConfig",
      route: "serviceConfigs",
      property: "serviceConfig",
      path: "/service-configs"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    formSubmitted() {
      this.$vs.loading();
      this.$store
        .dispatch("global/createWithImage", {
          payload: this.data,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$vs.loading.close();
          this.$router.push(this.path);
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close();
        });
    },
    validateBasic() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll().then(validate => {
          this.isValid = true;
          if (validate) {
            resolve(true);
          } else {
            reject("valores incorrectos");
          }
        });
      });
    },
    validateResources() {
      return new Promise((resolve, reject) => {
        if (!this.resourceErrors) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
    validatePersonal() {
      return new Promise((resolve, reject) => {
        if (!this.specialistErrors) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
    validateEvaluation() {
      return new Promise((resolve, reject) => {
        if (!this.paramErrors && !this.questionErrors) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    }
  },
  computed: {
    turns() {
      return this.$store.getters["schedule/getCustomItems"];
    }
  },
  watch: {
    "data.schedules": {
      handler() {
        if (this.data.recurrent) {
          this.$validator.validate("schedules");
        }
      }
    },
    "data.eventual": {
      handler() {
        if (this.data.eventual) {
          this.data.schedules = null;
        }
      }
    }
  },
  components: {
    FormWizard,
    TabContent,
    BasicData,
    ResourceData,
    ParamData,
    ReviewData,
    "v-select": vSelect
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: "schedules",
      module: "schedule",
      data: "schedules"
    });
  },
};
</script>
