<template>
  <div id="page-edit-activity-setting" class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Configurar servicio">
        <template>
          <div class="vx-col w-full flex justify-end">
            <vs-button
              color="warning"
              type="border"
              class="mr-3 mb-2"
              :to="{name: pageView, params: {id:$route.params.id}}"
            >Cancelar</vs-button>
          </div>
        </template>
        <form-wizard
          color="rgba(var(--vs-primary), 1)"
          :title="null"
          :subtitle="null"
          errorColor="rgba(var(--vs-danger), 1)"
          finishButtonText="Guardar Cambios"
          nextButtonText="Siguiente"
          backButtonText="Anterior"
          @on-complete="formSubmitted"
        >
          <tab-content
            title="Datos básicos"
            class="mb-5"
            icon="feather icon-home"
            :before-change="validateBasic"
          >
            <basic-edit
              :payload="payload"
              :showValidations="isValid"
              propertyEdit="serviceConfig"
              routeEdit="serviceConfigs"
              property="serviceTypeId"
              register="Tipo de servicio"
              module="serviceType"
              route="serviceTypes"
              attribute="serviceTypes"
              routeRegister="/service-type/create"
            />
          </tab-content>

          <!--  Recursos -->
          <tab-content
            title="Recursos"
            class="mb-5"
            icon="feather icon-briefcase"
            :before-change="validateResources"
          >
            <resource-edit
              :showValidations="isValid"
              :resourceErrors.sync="resourceErrors"
              :resources="payload.resources"
              resourceType="service"
              label="recurso"
              model="resource"
            ></resource-edit>
          </tab-content>

          <!-- Personal -->
          <tab-content
            title="Personal"
            class="mb-5"
            icon="feather icon-user"
            :before-change="validatePersonal"
          >
            <resource-edit
              :showValidations="isValid"
              :resourceErrors.sync="specialistErrors"
              :resources="payload.specialities"
              label="especialista"
              model="speciality"
            ></resource-edit>
          </tab-content>

          <!-- Evaluación -->
          <tab-content
            title="Evaluación"
            class="mb-5"
            icon="feather icon-clipboard"
            :before-change="validateEvaluation"
          >
            <!-- Parametros -->
            <param-edit
              :showValidations="isValid"
              :paramErrors.sync="paramErrors"
              :params="payload.params"
            ></param-edit>

            <!--- Preguntas (calificación) -->
            <review-edit
              :showValidations="isValid"
              class="mt-10"
              :questionErrors.sync="questionErrors"
              :questions="payload.questions"
            ></review-edit>
            <p class="my-10">
              La evaluación de las actividades es el primer paso para mejorar. Recuerda que
              <strong>lo que no se mide, no mejora!</strong>
            </p>
          </tab-content>
        </form-wizard>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import BasicEdit from "../components/BasicEdit";
import ParamEdit from "../components/ParamEdit";
import ReviewEdit from "../components/ReviewEdit";
import ResourceEdit from "../components/ResourceEdit";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      pageView: "page-config-service",
      module: "serviceConfig",
      route: "serviceConfigs",
      property: "serviceConfig",
      path: "/service-configs",
      questionErrors: true,
      paramErrors: true,
      specialistErrors: true,
      resourceErrors: true,
      showValidations: false,
      isValid: false
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    formSubmitted() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          delete this.payload["status"];
          await this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(async resp => {
              this.data = JSON.parse(JSON.stringify(resp[this.property]));
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.$router.push({ name: "page-config-service" });
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    validateBasic() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll().then(validate => {
          this.isValid = true;
          if (validate) {
            resolve(true);
          } else {
            reject("valores incorrectos");
          }
        });
      });
    },
    validateResources() {
      return new Promise((resolve, reject) => {
        if (
          !this.resourceErrors ||
          (this.resourceErrors &&
            this.data.resources.length == 1 &&
            this.data.resources[0].id &&
            this.data.resources[0].quantity)
        ) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
    validatePersonal() {
      return new Promise((resolve, reject) => {
        if (
          !this.specialistErrors ||
          (this.specialistErrors &&
            this.data.specialist.length == 1 &&
            this.data.specialist[0].id &&
            this.data.specialist[0].quantity)
        ) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
    validateEvaluation() {
      return new Promise((resolve, reject) => {
        if (
          !this.paramErrors ||
          (this.paramErrors &&
            this.data.params.length == 1 &&
            this.params[0].id) ||
          !this.questionErrors ||
          (this.questionErrors &&
            this.questions.length == 1 &&
            this.questions[0].id)
        ) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async resp => {
          this.data = await JSON.parse(JSON.stringify(resp.serviceConfig));
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.data["type"] = this.data.serviceType.id;
          this.data["serviceTypeId"] = this.data.serviceType.id;
          this.data["userTypeForId"] = this.$store.getters[
            "userType/getPatientId"
          ];
          delete this.data["serviceType"];
          this.data["resources"] = this.getFieldWithQuantity(
            this.data["resources"]
          );
          this.data["specialities"] = this.getFieldWithQuantity(
            this.data["specialities"]
          );
          this.data["questions"] = this.getFieldQuestions(
            this.data["questions"]
          );
          this.data["params"] = this.getFieldParams(this.data["params"]);
          if (this.data["phaseFor"] == "null" || !this.data["phaseFor"]) {
            this.data["phaseFor"] = null;
          }
          console.log(this.data["ageFor"])
          let age = this.data["ageFor"] ? JSON.parse(this.data["ageFor"]) : this.data["ageFor"];
          this.data["range"] = this.getAgeRange(age);
          this.data["val"] = this.getIntervalRange(age);
          this.data["ageFor"] = age ? age : null;
          this.data["ageMin"] = age ? age[0] : 0;
          this.data["ageMax"] = age ? age[1] : 0;
          this.data["genreFor"] =
            this.data["genreFor"] == "null"
              ? JSON.parse(this.data["genreFor"])
              : this.data["genreFor"];
          if (
            this.data["genreFor"] ||
            this.data["phaseFor"] ||
            this.data["ageFor"]
          ) {
            this.data["personalized"] = true;
          } else {
            this.data["personalized"] = false;
          }
          this.data["modality"] = this.data.eventual ? "eventual" : "recurrent";
          this.data["isSchedules"] = false;
          if (this.data.recurrent) {
            this.data["schedules"] = this.getSchedulesForId(
              this.data["schedules"]
            );
            this.data["isSchedules"] = true;
          }
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    getFieldWithQuantity(items) {
      return items.map(item => {
        return {
          id: item.id,
          quantity: item.quantity
        };
      });
    },
    getFieldParams(items) {
      return items.map(item => {
        return {
          id: item.id,
          idealValue: item.idealValue,
          maxValue: item.maxValue,
          minValue: item.minValue
        };
      });
    },
    getFieldQuestions(items) {
      return items.map(item => {
        return {
          id: item.id,
          toResponsible: item.toResponsible,
          toUsers: item.toUsers
        };
      });
    },
    getAgeRange(age) {
      if (age) {
        if (age[0] == 0 || age[1] == 100) {
          return false;
        } else {
          return true;
        }
      } else {
        return false;
      }
    },
    getIntervalRange(age) {
      if (age) {
        if (age[0] == 0) {
          return "less";
        } else if (age[1] == 100) {
          return "higher";
        } else {
          return "between";
        }
      } else {
        return null;
      }
    },
    getSchedulesForId(items) {
      return items.map(item => item.id);
    }
  },
  async created() {
    this.getItem(this.$route.params.id);
  },
  components: {
    FormWizard,
    TabContent,
    BasicEdit,
    ResourceEdit,
    ParamEdit,
    ReviewEdit,
    "v-select": vSelect
  }
};
</script>
