<template>
  <div id="page-config-view">
    <basic-view
      :genero="genero"
      :personalized="personalized"
      :pageEdit="pageEdit"
      :type="type"
      :payload="payload"
      :module="module"
      :route="route"
      :property="property"
      :isService="true"
      :isPatient="true"
    />
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
import BasicView from "../components/BasicView";

export default {
  data() {
    return {
      data: {},
      payload: {},
      genero: "",
      personalized: false,
      pageEdit: "page-edit-service-config",
      type: "servicio",
      module: "serviceConfig",
      route: "serviceConfigs",
      property: "serviceConfig",
      pluralProperty: "serviceConfigs",
      path: "/service-config/edit"
    };
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async resp => {
          this.data = await JSON.parse(JSON.stringify(resp.serviceConfig));
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.data["type"] = await this.data.serviceType.name;
          this.payload = await JSON.parse(JSON.stringify(this.data));
          if (!this.payload.ageFor == "") {
            this.personalized = true;
          }
          if (this.payload.genreFor == "M") this.genero = "Masculino";
          else if (this.payload.genreFor == "F") this.genero = "Femenino";
          else this.genero = "Ambos géneros";

          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    }
  },
  async created() {
    this.getItem(this.$route.params.id);
  },
  components: {
    BasicView
  }
};
</script>