<template>
  <basic-form :data="data" :showValidations="isValid" title="Crear turno" :description="false">
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Horario</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
        <div class="vx-row mb-6">
          <flat-pickr
            class="mr-2"
            :config="configFromdateTimePicker"
            v-model="fromTime"
            placeholder="Desde"
            v-validate="'required|not_equals:endTime'"
            name="startTime"
            ref="startTime"
            @on-change="onFromChange"
          />
          <flat-pickr
            :config="configTodateTimePicker"
            v-model="toTime"
            name="endTime"
            data-vv-validate-on="blur"
						v-validate="'required|not_equals:startTime'"
            placeholder="Hasta"
            @on-change="onToChange"
          />

          <span class="text-danger text-sm">{{ errors.first("endTime") }}</span>
          <div class="vx-row mb-6">
          <span class="text-danger text-sm">{{ errors.first("startTime") }} </span>
          </div>
        </div>
        </div>
      </div>
     
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Días</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full" >
          <days :data="data"></days>
          <span v-if="mes" class="text-danger text-sm">{{message}}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import BasicForm from "../components/BasicForm.vue";
import Days from "./Days.vue";
import flatPickr from "vue-flatpickr-component";
import moment from "moment";
import "flatpickr/dist/flatpickr.css";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        description: "",
        status: true,
        timeStart: null,
        timeEnd: null,
        monday: false,
        tuesday: false,
        wednesday: false,
        thursday: false,
        friday: false,
        saturday: false,
        sunday: false
      },
      mes: false,
      message: 'Debe seleccionar por lo menos una casilla',
      isValid: false,
      vali: false,
      module: "schedule",
      route: "schedules",
      property: "schedule",
      path: "/schedules",
      fromTime: null,
      toTime: null,
      configFromdateTimePicker: {
        enableTime: true,
        enableSeconds: false,
        noCalendar: true,
        dateFormat: "h:i K",
        time_24hr: false,
        minDate: "4:00 AM",
        maxDate: null
      },
      configTodateTimePicker: {
        enableTime: true,
        enableSeconds: false,
        noCalendar: true,
        dateFormat: "h:i K",
        time_24hr: false,
        minDate: this.fromTime
      }
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    complete() {
      if( this.data.monday == false && this.data.sunday == false && 
          this.data.tuesday == false  && this.data.thursday == false &&
          this.data.wednesday ==false && this.data.friday == false &&
          this.data.saturday == false )
          {
        return false

          }
      else 
        return true
    },
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        this.vali = this.complete()
        if(this. vali){
          if (validate) {
            await this.$store
              .dispatch("global/create", {
                payload: this.data,
                route: this.route,
                module: this.module,
                data: this.property
              })
              .then(resp => {
                notify().then(({ notification }) => {
                  notification(
                    "success",
                    resp,
                    resp.message.code,
                    this.$vs.notify
                  );
                });
                this.$router.push(this.path);
              })
              .catch(err => {
                notify().then(({ notification }) => {
                  const code = err.hasOwnProperty("message")
                    ? err.message.code
                    : err.code;
                  notification("error", err, code, this.$vs.notify);
                });
              });
          }
        }else
        this.mes=true
      });
    },

    cancel() {
      this.$router.push(this.path);
    },
    onFromChange(selectedDates, dateStr) {
      this.data.timeStart = moment(String(selectedDates.slice()[0])).format(
        "HH:mm:ss"
      );
      this.$set(this.configTodateTimePicker, "minDate", dateStr);
    },
    onToChange(selectedDates, dateStr) {
      this.data.timeEnd = moment(String(selectedDates.slice()[0])).format(
        "HH:mm:ss"
      );
      this.$set(this.configFromdateTimePicker, "maxDate", dateStr);
    }
  },
  components: {
    BasicForm,
    Days,
    flatPickr,
    moment
  },
  watch: {
    "fromTime": {
      handler() {
        this.$validator.validate('startTime');
      }
    },
    "toTime": {
      handler() {
        this.$validator.validate('endTime');
      }
    }
  },
};
</script>