<template>
  <ul class="demo-alignment vx-col sm:w-10/12 w-full">
    <li class="vx-col sm:w-5/12 w-full">
      <vs-checkbox :disabled="disabled" v-model="data.monday">Lunes</vs-checkbox>
    </li>
    <li class="vx-col sm:w-5/12 w-full">
      <vs-checkbox :disabled="disabled" v-model="data.tuesday">Martes</vs-checkbox>
    </li>
    <li class="vx-col sm:w-5/12 w-full">
      <vs-checkbox :disabled="disabled" v-model="data.wednesday">Miércoles</vs-checkbox>
    </li>
    <li class="vx-col sm:w-5/12 w-full">
      <vs-checkbox :disabled="disabled" v-model="data.thursday">Jueves</vs-checkbox>
    </li>
    <li class="vx-col sm:w-5/12 w-full">
      <vs-checkbox :disabled="disabled" v-model="data.friday">Viernes</vs-checkbox>
    </li>
    <li class="vx-col sm:w-5/12 w-full">
      <vs-checkbox :disabled="disabled" v-model="data.saturday">Sábado</vs-checkbox>
    </li>
    <li class="vx-col sm:w-5/12 w-full">
      <vs-checkbox :disabled="disabled" v-model="data.sunday">Domingo</vs-checkbox>
    </li>
  </ul>
</template>
<script>
export default {
  props: {
    data: {
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false,
    }
  }
}
</script>