<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showDescription="false"
    :showValidations="isValid"
    :title="`Turno: ${data.name}`"
    :modeEdit="modeEdit"
  >
    <template slot="fields-view">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Horario</span>
        </div>
        <div
          class="vx-col sm:w-10/12 w-full"
        >Desde las {{ data.timeStart | timeFormat}}, hasta las {{ data.timeEnd | timeFormat }}</div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Días</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <days :data="data" :disabled="true"></days>
        </div>
      </div>
    </template>
    <template slot="fields-edit">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Horario</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <div class="vx-row mb-6">
            <flat-pickr
              class="mr-2"
              :config="configFromdateTimePicker"
              v-model="fromTime"
              placeholder="Desde"
              name="startTime"
              ref="startTime"
              v-validate="'required'"
              @on-change="onFromChange"
            />-
            <flat-pickr
              :config="configTodateTimePicker"
              v-model="toTime"
              placeholder="Hasta"
              @on-change="onToChange"
              v-validate="'required|not_equals:startTime'"
              name="endTime"
            />
            <span class="text-danger text-sm">{{ errors.first("endTime") }}</span>
            <div class="vx-row mb-6">
              <span class="text-danger text-sm">{{ errors.first("startTime") }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Días</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <days :data="payload"></days>
          <span v-if="mes" class="text-danger text-sm">{{message}}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import BasicDetail from "../components/BasicDetail.vue";
import Days from "./Days.vue";
import flatPickr from "vue-flatpickr-component";
import moment from "moment";
import "flatpickr/dist/flatpickr.css";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      modeEdit: false,
      mes: false,
      message: "Debe seleccionar por lo menos una casilla",
      vali: false,
      isValid: false,
      module: "schedule",
      route: "schedules",
      property: "schedule",
      fromTime: null,
      toTime: null,
      configFromdateTimePicker: {
        enableTime: true,
        enableSeconds: false,
        noCalendar: true,
        dateFormat: "h:i K",
        time_24hr: false,
        minDate: "4:00 AM",
        maxDate: null
      },
      configTodateTimePicker: {
        enableTime: true,
        enableSeconds: false,
        noCalendar: true,
        dateFormat: "h:i K",
        time_24hr: false,
        minDate: this.fromTime
      }
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    complete() {
      if (
        this.payload.monday == false &&
        this.payload.sunday == false &&
        this.payload.tuesday == false &&
        this.payload.thursday == false &&
        this.payload.wednesday == false &&
        this.payload.friday == false &&
        this.payload.saturday == false
      ) {
        return false;
      } else return true;
    },
    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        this.vali = this.complete();
        if (this.vali) {
          if (validate) {
            delete this.payload["status"];
            await this.$store
              .dispatch("global/update", {
                payload: this.payload,
                route: this.route,
                module: this.module,
                data: this.property
              })
              .then(resp => {
                this.data = JSON.parse(JSON.stringify(resp[this.property]));
                this.$store.commit("SET_BREADCRUMB", this.data.name);
                this.modeEdit = false;
                notify().then(({ notification }) => {
                  notification(
                    "success",
                    resp,
                    resp.message.code,
                    this.$vs.notify
                  );
                });
              })
              .catch(err => {
                notify().then(({ notification }) => {
                  const code = err.hasOwnProperty("message")
                    ? err.message.code
                    : err.code;
                  notification("error", err, code, this.$vs.notify);
                });
              });
          }
        } else this.mes = true;
      });
    },
    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },

    edit() {
      this.modeEdit = true;
    },

    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.setTime(this.payload);
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    onFromChange(selectedDates, dateStr) {
      this.payload.timeStart = moment(String(selectedDates.slice()[0])).format(
        "HH:mm:ss"
      );
      this.$set(this.configTodateTimePicker, "minDate", dateStr);
    },
    onToChange(selectedDates, dateStr) {
      this.payload.timeEnd = moment(String(selectedDates.slice()[0])).format(
        "HH:mm:ss"
      );
      this.$set(this.configFromdateTimePicker, "maxDate", dateStr);
    },
    setTime(data) {
      let date = new Date();
      if (date) {
        date.setHours(parseInt(data.timeStart.split(":")[0]));
        date.setMinutes(parseInt(data.timeStart.split(":")[1]));
        this.fromTime = moment(String(date)).format("hh:mm A");
        date.setHours(parseInt(data.timeEnd.split(":")[0]));
        date.setMinutes(parseInt(data.timeEnd.split(":")[1]));
        this.toTime = moment(String(date)).format("hh:mm A");
      }
      /* this.fromTime =  timeFormat(data.timeStart); */
    }
  },
  filters: {
    timeFormat: function(value) {
      let date = new Date();
      if (value) {
        date.setHours(parseInt(value.split(":")[0]));
        date.setMinutes(parseInt(value.split(":")[1]));
        return moment(String(date)).format("hh:mm A");
      }
    }
  },
  components: {
    BasicDetail,
    flatPickr,
    moment,
    Days
  },
  watch: {
    toTime: {
      handler() {
        this.$validator.validate("endTime");
      }
    },
    fromTime: {
      handler() {
        this.$validator.validate("startTime");
      }
    }
  },
  created() {
    this.getItem(this.$route.params.id);
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>