<template>
  <basic-form
    :data="data"
    :description="false"
    :showValidations="isValid"
    title="Crear centro"
  >
    <template slot="fields-before-name">
      <div class="center_image">
        <upload-manual class="w-full" :formData.sync="data.image" type="image"></upload-manual>
      </div>
    </template>
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo de centro</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            :options="centerTypes"
            :reduce="op => op.id"
            data-vv-validate-on="blur"
            v-validate="'required'"
            label="name"
            v-model="data.centerTypeId"
            name="centerTypeId"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay tipos de centro disponibles,
                <router-link class="text-primary font-semibold" to="/center-type/create">crear</router-link>
              </em>
            </template>
            <template #option="{name}">
              <span>{{name}}</span>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("centerTypeId") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Teléfono</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-input
            class="w-full"
            icon-no-border
            icon-pack="feather"
            icon="icon-phone"
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:50'"
            name="phone"
            v-model="data.phone"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{
            errors.first("phone")
          }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Dirección</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vx-input-group>
            <vs-input
              class="w-full"
              icon-no-border
              data-vv-validate-on="blur"
              v-validate="'required|min:4|max:120'"
              name="address"
              v-model="data.address"
              autocomplete="off"
            />
            <template slot="append">
              <div class="append-text btn-addon">
                <vs-button
                  icon-pack="feather"
                  icon="icon-map-pin"
                  color="primary"
                  @click="geoCodeAddress"
                  >Geolocalización</vs-button
                >
              </div>
            </template>
          </vx-input-group>

          <span v-if="isValid" class="text-danger text-sm">{{
            errors.first("address")
          }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Coordenadas</span>
        </div>
        <div class="vx-col sm:w-5/12 w-full mb-6">
          <vs-input
            class="w-full"
            icon-no-border
            icon-pack="feather"
            icon="icon-map"
            data-vv-validate-on="blur"
            readonly="true"
            placeholder="Latitud"
            v-validate="'required'"
            name="latitude"
            v-model="data.latitude"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("latitude") }}</span>
        </div>
        <div class="vx-col sm:w-5/12 w-full mb-3">
          <vs-input
            class="w-full"
            icon-no-border
            icon-pack="feather"
            icon="icon-map"
            data-vv-validate-on="blur"
            readonly="true"
            placeholder="Longitud"
            v-validate="'required'"
            name="longitude"
            v-model="data.longitude"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("longitude") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button
            color="warning"
            type="border"
            class="mb-2 mr-3"
            @click="cancel"
            >Cancelar</vs-button
          >
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import BasicForm from "../../basic-data/components/BasicForm.vue";
import UploadManual from "../../../components/upload/UploadManual";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        address: "",
        phone: "",
        centerTypeId: null,
        latitude: "",
        longitude: "",
        image:null,
        status: true
      },
      isValid: false,
      module: "center",
      route: "centers",
      property: "center",
      path: "/centers",
      address: "",
      types: [],
      showValidations: false,
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {

    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
            .dispatch("global/createWithImage", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then( resp => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    },

    async geoCodeAddress() {
      this.$vs.loading();
      if (this.data.address != this.address) {
        await this.$store
          .dispatch("center/getCoordinates", {
            address: this.data.address
          })
          .then(resp => {
            this.$vs.loading.close();
            if (resp.status != "OK") {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                this.$vs.loading.close();
                notification("error", "Error", 500, this.$vs.notify);
              });
            } else {
              this.address = this.data.address;
              this.data.latitude = resp.results[0].geometry.location.lat;
              this.data.longitude = resp.results[0].geometry.location.lng;
            }
          })
          .catch(err => {
            this.$vs.loading.close();
            notify().then(({ notification }) => {
              this.$vs.loading.close();
              notification("error", err, 500, this.$vs.notify);
            });
          });
      } else {
        this.$vs.loading.close();
      }
    }
  },
  watch: {
    "data.address": {
      handler() {
        this.$validator.validate("address");
      }
    },
    "data.phone": {
      handler() {
        this.$validator.validate("phone");
      }
    },
    "data.centerTypeId": {
      handler() {
        this.$validator.validate("centerTypeId");
      }
    },
    "data.latitude": {
      handler() {
        this.$validator.validate("latitude");
      }
    },
    "data.longitude": {
      handler() {
        this.$validator.validate("longitude");
      }
    },
  },
  computed: {
    centerTypes() {
      return this.$store.getters["global/getItems"]('centerType','centerTypes');
    } 
  },
  components: {
    BasicForm,
    UploadManual,
    "v-select": vSelect
  }
};
</script>
<style lang="scss">
  @media (max-width: 976px) {
    .center_image .con-input-upload{
      float: none !important;
    } 
  }
</style>
