<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showDescription="false"
    :showValidations="isValid"
    :title="`Centro: ${data.name}`"
    :modeEdit="modeEdit"
    class="center-view"
  >

    <template slot="fields-before-name-view">
      <div  class="vx-row mb-6 con-img ml-3 mb-6">
        <img
          :src="`${url}files/uploads/${data.image}`"
          alt="content-img"
          class="w-1/4 rounded shadow-md cursor-pointer block"
        />
      </div>
    </template>

    <template slot="fields-view">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo de centro</span>
        </div>
        <div class="vx-col sm:w-7/12 w-full">
          <p class="w-full">{{ data.centerType ? data.centerType.name : "" }}</p>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Teléfono</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <p class="w-full">{{ data.phone }}</p>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Dirección</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <p class="w-full">{{ data.address }}</p>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Coordenadas</span>
        </div>
        <div class="vx-col sm:w-5/12 w-full">
          <p class="w-full">{{ data.latitude }}</p>
        </div>
        <div class="vx-col sm:w-5/12 w-full">
          <p class="w-full">{{ data.longitude }}</p>
        </div>
      </div>
    </template>

    <template slot="fields-before-name-edit">
      <div class="center_image">
        <upload-manual class="w-full" :formData.sync="payload.image" :url="`${url}files/uploads/${data.image}`" type="image"></upload-manual>
      </div>
    </template>

    <template slot="fields-edit">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo de centro</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            :options="centerTypes"
            :reduce="op => op.id"
            data-vv-validate-on="blur"
            v-validate="'required'"
            label="name"
            v-model="payload.centerTypeId"
            name="centerTypeId"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay tipos de centro disponibles,
                <router-link class="text-primary font-semibold" to="/center-type/create">crear</router-link>
              </em>
            </template>
            <template #option="{name}">
              <span>{{name}}</span>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("centerTypeId") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Teléfono</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-input
            class="w-full"
            icon-no-border
            icon-pack="feather"
            icon="icon-phone"
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:50'"
            name="phone"
            v-model="payload.phone"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{
            errors.first("phone")
          }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Dirección</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vx-input-group>
            <vs-input
              class="w-full"
              icon-no-border
              data-vv-validate-on="blur"
              v-validate="'required|min:4|max:120'"
              name="address"
              v-model="payload.address"
              autocomplete="off"
            />
            <template slot="append">
              <div class="append-text btn-addon">
                <vs-button
                  icon-pack="feather"
                  icon="icon-map-pin"
                  color="primary"
                  @click="geoCodeAddress"
                  >Geolocalización</vs-button
                >
              </div>
            </template>
          </vx-input-group>

          <span v-if="isValid" class="text-danger text-sm">{{
            errors.first("address")
          }}</span>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Coordenadas</span>
        </div>
        <div class="vx-col sm:w-5/12 w-full mb-6">
          <vs-input
            class="w-full"
            icon-no-border
            icon-pack="feather"
            icon="icon-map"
            data-vv-validate-on="blur"
            readonly="true"
            placeholder="Latitud"
            v-validate="'required'"
            name="latitude"
            v-model="payload.latitude"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("latitude") }}</span>
        </div>
        <div class="vx-col sm:w-5/12 w-full mb-3">
          <vs-input
            class="w-full"
            icon-no-border
            icon-pack="feather"
            icon="icon-map"
            data-vv-validate-on="blur"
            readonly="true"
            placeholder="Longitud"
            v-validate="'required'"
            name="longitude"
            v-model="payload.longitude"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("longitude") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import BasicDetail from "../../basic-data/components/BasicDetail.vue";
import UploadManual from "../../../components/upload/UploadManual";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      modeEdit: false,
      isValid: false,
      module: "center",
      route: "centers",
      property: "center",
      address:"",
      url: process.env.VUE_APP_URL
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    async geoCodeAddress() {
      this.$vs.loading();
      if (this.data.address != this.address) {
        await this.$store
          .dispatch("center/getCoordinates", {
            address: this.data.address
          })
          .then(resp => {
            this.$vs.loading.close();
            if (resp.status != "OK") {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                this.$vs.loading.close();
                notification("error", "Error", 500, this.$vs.notify);
              });
            } else {
              this.address = this.payload.address;
              this.payload.latitude = resp.results[0].geometry.location.lat;
              this.payload.longitude = resp.results[0].geometry.location.lng;
            }
          })
          .catch(err => {
            this.$vs.loading.close();
            notify().then(({ notification }) => {
              this.$vs.loading.close();
              notification("error", err, 500, this.$vs.notify);
            });
          });
      } else {
        this.$vs.loading.close();
      }
    },

    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.$vs.loading();
          delete this.payload["status"];
          await this.$store
            .dispatch("global/updateWithImage", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.$vs.loading.close();
              this.data = JSON.parse(JSON.stringify(resp[this.property]));
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },

    edit() {
      this.modeEdit = true;
    },

    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.payload.centerTypeId = this.payload.centerType.id;
          this.payload.image = null;
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    }
  },
  watch: {
    "payload.address": {
      handler() {
        if(this.modeEdit)
          this.$validator.validate("address");
      }
    },
    "payload.phone": {
      handler() {
        if(this.modeEdit)
          this.$validator.validate("phone");
      }
    },
    "payload.centerTypeId": {
      handler() {
        if(this.modeEdit)
          this.$validator.validate("centerTypeId");
      }
    },
    "payload.latitude": {
      handler() {
        if(this.modeEdit)
          this.$validator.validate("latitude");
      }
    },
    "payload.longitude": {
      handler() {
        if(this.modeEdit)
          this.$validator.validate("longitude");
      }
    },
  },
  computed: {
    centerTypes() {
      return this.$store.getters["global/getItems"]('centerType','centerTypes');
    } 
  },
  components: {
    BasicDetail,
    UploadManual,
    "v-select": vSelect,
  },
  created() {
    this.getItem(this.$route.params.id);
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
  .center-view .delete-reactivate{
    position: absolute;
    top: 0;
    right: 0;
  }
</style>