<template>
  <basic-form :data="data" :showValidations="isValid" title="Crear parámetro" :description="false">
    <template slot="fields">
      <div class="vx-row mb-6">
				<div class="vx-col sm:w-2/12 w-full">
					<span>Unidad de medida</span>
				</div>
				<div class="vx-col sm:w-10/12 w-full">
					<vs-input
						class="w-full"
						icon-pack="feather"
						icon="icon-thermometer"
						icon-no-border
						data-vv-validate-on="blur"
						v-validate="'required|alpha_number_spaces|min:1|max:200'"
						name="um"
						v-model="data.um"
						autocomplete="off"
					/>
					<span v-if="isValid" class="text-danger text-sm">{{ errors.first("um") }}</span>
				</div>
			</div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>

import BasicForm from "../components/BasicForm.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        um: "",
        status: true
      },
      isValid: false,
      module: "param",
      route: "params",
      property: 'param',
      path: '/params'
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          await this.$store
            .dispatch("global/create", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    }
  },
  watch: {
		'data.um': {
			handler() {
				this.$validator.validate('um');
			}
		},
	},
  components: {
    BasicForm
  }
};
</script>