<template>
      <span>
        <vs-chip color="primary" class="ag-grid-cell-chip" v-for="(type,index) in params.value.split(',')" :key="index">
          {{type}}
        </vs-chip>
      </span>
</template>

<script>

import Vue from "vue";

export default Vue.extend ({
  name: 'CellRendererTags',
  data() {
    return {
    };
  },
  computed: {

    },
  beforeMount() {},
  mounted() {},
});
</script>

