<template>
    <vs-chip class="ag-grid-cell-chip" :color="chipColor(params.value)">
      <span>{{ params.value }}</span>
    </vs-chip>
</template>

<script>
import Vue from "vue";
    export default Vue.extend({
        name: 'CellRendererStatus',
        computed: {
          chipColor() {
            return (value) => {
              if(value == "Activo") return "success"
              else return "danger"
            }
          },
          chipText() {
            return (value) => {
              if(value == 1) return "Activo"
              else return  "Bloqueado";
            }
          }
        }
    })
</script>

