<template>
  <div class="flex items-center">
    <vs-avatar :src="`${url}files/uploads/${params.data.image}`" class="flex-shrink-0 mr-2" size="30px" />
    <span class="text-primary cursor-pointer">{{ params.value }}</span>
  </div>
</template>

<script>

import Vue from "vue";

export default Vue.extend ({
  name: 'CellRendererLink',
  data() {
    return {

    };
  },
  computed: {
          url() {
            return process.env.VUE_APP_URL
          }
        },
  beforeMount() {},
  mounted() {},
});
</script>

