<template>
  <basic-form
    :data="data"
    :name="false"
    :description="false"
    :showValidations="isValid"
    title="Crear pregunta frecuente"
  >
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Pregunta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-input
            class="w-full"
            icon-pack="feather"
            icon="icon-edit-1"
            icon-no-border
            data-vv-validate-on="blur"
            v-validate="'required|alpha_number_spaces|min:4|max:200'"
            name="question"
            v-model="data.question"
            autocomplete="off"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("question") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Respuesta</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-textarea
            data-vv-validate-on="blur"
            v-validate="'required|min:4|max:1000'"
            name="answer"
            v-model="data.answer"
          />
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("answer") }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import BasicForm from "../../basic-data/components/BasicForm.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        question: "",
        answer: "",
        status: true
      },
      isValid: false,
      module: "faq",
      route: "faqs",
      property: "faq",
      path: "/faqs"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          await this.$store
            .dispatch("global/create", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    }
  },
  watch: {
    "data.question": {
      handler() {
        this.$validator.validate("question");
      }
    },
    "data.answer": {
      handler() {
        this.$validator.validate("answer");
      }
    }
  },
  components: {
    BasicForm
  }
};
</script>
