<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Crear usuario">
        <user-form
          :data="data"
          :showValidations="isValid"
          :modeEdit="false"
          :personalInfo="true"
          :extraInfo="true"
          :accessInfo="true"
          :userIsStaff.sync="isStaff"
          :userIsVoluntary.sync="isVoluntary"
        ></user-form>

        <div class="vx-row" style="z-index: 1;">
          <div class="vx-col w-full flex justify-end">
            <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
            <vs-button class="mb-2" @click="create">Guardar</vs-button>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import UserForm from "./UserForm.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        lastname: "",
        birthdate: "",
        gender: "",
        email: "",
        telephone: "",
        userTypes: null,
        positionId: "",
        specialities: null,
        roles: null,
        password: "",
        confirmPassword: "",
        codePatient: ""
      },
      isValid: false,
      module: "user",
      route: "users",
      property: "user",
      path: "/users",
      isStaff: false,
      isVoluntary: false
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.$vs.loading();
          await this.validateRules();
          await this.$store
            .dispatch("global/createWithImage", {
              payload: this.data,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.$router.push(this.path);
    },
    validateRules() {
      if (!this.isVoluntary && !this.isStaff) {
        this.data.specialities = null;
      }
    }
  },
  components: {
    UserForm
  }
};
</script>