<template>
  <div>
    <user-data :data.sync="data" :modeEdit.sync="modeEdit" v-if="!modeEdit" :editImage="true"></user-data>
    <vx-card :modeEdit.sync="modeEdit" v-if="modeEdit" title="Editar perfil">
      <user-form
        :data="payload"
        :showValidations="isValid"
        :personalInfo="true"
        :modeEdit.sync="modeEdit"
        :extraInfo="true"
        :accessInfo="false"
        :isStaff.sync="isStaff"
        :isVoluntary.sync="isVoluntary"
      ></user-form>

      <div class="vx-row" style="z-index: 1;">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar</vs-button>
        </div>
      </div>
    </vx-card>
  </div>
</template>
<script>
import UserData from './UserData';
import UserForm from "./UserForm.vue";
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      data:{},
      payload: {},
      module: "user",
      route: "users",
      property: "user",
      modeEdit: false,
      isValid: false,
      isStaff: false,
      isVoluntary: false
    }
   },
   $_veeValidate: {
    validator: "new"
  },
   methods:{
    cancel(){
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },
    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          await this.validateRules();
          delete this.payload["status"];
          await this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then( async resp => {
              await this.$store.dispatch("auth/updateProfile", resp.user);
              this.data = JSON.parse(JSON.stringify(resp.user));
              this.$store.commit("SET_BREADCRUMB", this.data.name+" "+this.data.lastname);
              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    }, 
    validateRules() {
      if (!(this.isVoluntary || this.isStaff)) {
        this.payload.specialities = [];
      }
    }
   },
  components: {
    UserData,
    UserForm
  },
  mounted(){

  },
  async created() {
    this.data = await this.$store.getters["auth/getUserAuth"];
    this.$store.commit(
      "SET_BREADCRUMB",
      this.data.name + " " + this.data.lastname
    );
    this.payload = JSON.parse(JSON.stringify(this.data));
    this.payload.positionId = this.payload.position ? this.payload.position.id : null;
    this.payload.specialities = this.payload.specialities ? this.payload.specialities.map(el => el.id): null;
    this.payload.roles = this.payload.roles? this.payload.roles.map(el => el.id) : null;
    this.payload.functions = this.payload.functions ? this.payload.functions : null;
    this.payload.userTypes = this.payload.userTypes? this.payload.userTypes.map(el => el.id) : null;

  }

}
</script>
