
<template>
  <div id="page-user-edit">
    <div class="tabs-container px-6 pt-6">
      <vs-tabs class="tab-action-btn-fill-conatiner overflow-visible">
        <vs-tab label="Cuenta" icon-pack="feather" icon="icon-user">
          <div class="tab-text">
            <div class="vx-row mb-6">
              <div class="vx-col sm:w-2/12 w-full">
                <span>Nombre</span>
              </div>
              <div class="vx-col sm:w-10/12 w-full mb-6">
                <vs-input
                  class="w-full"
                  :disabled="!personalInfo"
                  data-vv-validate-on="blur"
                  v-validate="'required|alpha_number_spaces|min:2|max:200'"
                  name="name"
                  v-model="data.name"
                  autocomplete="off"
                />
                <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("name") }}</span>
              </div>
              <div class="vx-col sm:w-2/12 w-full">
                <span>Apellido</span>
              </div>

              <div class="vx-col sm:w-10/12 w-full mb-2">
                <vs-input
                  :disabled="!personalInfo"
                  class="w-full"
                  icon-no-border
                  data-vv-validate-on="blur"
                  v-validate="'required|alpha_number_spaces|min:4|max:100'"
                  name="lastname"
                  v-model="data.lastname"
                  autocomplete="off"
                />
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first("lastname") }}</span>
              </div>

              <div class="vx-col sm:w-2/12 w-full my-auto">
                <span>Correo electrónico</span>
              </div>
              <div class="vx-col sm:w-10/12 w-full mb-2">
                <vs-input
                  v-validate="'required|email'"
                  data-vv-validate-on="blur"
                  name="email"
                  type="email"
                  :disabled="modeEdit"
                  placeholder="Correo electrónico"
                  v-model="data.email"
                  class="w-full mt-6"
                />
                <span v-if="showValidations" class="text-danger text-sm">{{ errors.first('email') }}</span>
              </div>
              <div class="vx-col sm:w-2/12 w-full my-auto">
                <span>Tipo de usuario</span>
              </div>
              <div class="vx-col sm:w-10/12 w-full mb-6">
                <v-select
                  class="mt-6"
                  :options="userTypes"
                  :reduce="op => op.id"
                  :disabled="!accessInfo"
                  multiple
                  data-vv-validate-on="blur"
                  v-validate="'required'"
                  label="name"
                  v-model="data.userTypes"
                  name="userTypes"
                  :dir="$vs.rtl ? 'rtl' : 'ltr'"
                />
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first("userTypes") }}</span>
              </div>
              <div class="vx-col sm:w-2/12 w-full my-auto" v-if="isParent">
                <span>Código del paciente</span>
              </div>
              <div class="vx-col sm:w-10/12 w-full mb-2" v-if="isParent">
                <vs-input
                  v-validate="'required|alpha_number_spaces'"
                  data-vv-validate-on="blur"
                  name="codePatient"
                  key="codePatient"
                  ref="codePatient"
                  :disabled="!modeEdit"
                  placeholder="Código del paciente"
                  v-model="data.codePatient"
                  class="w-full mt-6"
                />
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first('codePatient') }}</span>
              </div>
            </div>
          </div>
        </vs-tab>
        <vs-tab label="Información" icon-pack="feather" icon="icon-info">
          <div class="tab-text">
            <div class="vx-row mb-6">
              <div class="vx-col sm:w-2/12 my-auto w-full">
                <span>Fecha de nacimiento</span>
              </div>
              <div class="vx-col sm:w-4/12 w-full mb-2">
                <flat-pickr
                  placeholder="Selccione la fecha de nacimiento"
                  :config="configdateTimePicker"
                  :disabled="!personalInfo"
                  v-model="data.birthdate"
                  :value="data.birthdate"
                  data-vv-validate-on="blur"
                  v-validate="'required'"
                  name="birthdate"
                  class="mt-6"
                />
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first('birthdate') }}</span>
              </div>

              <div class="vx-col sm:w-2/12 w-full my-auto">
                <span>Género</span>
              </div>
              <div class="demo-alignment vx-col sm:w-4/12 w-full mb-2">
                <div class="flex mt-6">
                  <vs-radio
                    class="text-sm"
                    :disabled="!personalInfo"
                    v-model="data.gender"
                    vs-value="F"
                    v-validate="'required'"
                    data-vv-validate-on="blur"
                    name="gender"
                  >Femenino</vs-radio>
                  <vs-radio
                    class="ml-2 text-sm"
                    v-model="data.gender"
                    :disabled="!personalInfo"
                    vs-value="M"
                    v-validate="'required'"
                    data-vv-validate-on="blur"
                    name="gender"
                  >Masculino</vs-radio>
                </div>
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first('gender') }}</span>
              </div>

              <div class="vx-col sm:w-2/12 w-full my-auto">
                <span>Teléfono</span>
              </div>
              <div class="vx-col sm:w-4/12 w-full">
                <vs-input
                  class="w-full mt-6"
                  icon-no-border
                  icon-pack="feather"
                  icon="icon-phone"
                  :disabled="!personalInfo"
                  data-vv-validate-on="blur"
                  v-validate="'required|min:4|max:50'"
                  name="telephone"
                  v-model="data.telephone"
                  autocomplete="off"
                />
                <span v-if="showValidations" class="text-danger text-sm">
                  {{
                  errors.first("telephone")
                  }}
                </span>
              </div>
              <div v-if="isStaff || isVoluntary" class="vx-col sm:w-2/12 w-full my-auto">
                <span>Cargo</span>
              </div>
              <div v-if="isStaff || isVoluntary" class="vx-col sm:w-4/12 w-full mt-6">
                <v-select
                  :options="positions"
                  :reduce="op => op.id"
                  data-vv-validate-on="blur"
                  v-validate="'required'"
                  label="name"
                  :disabled="!accessInfo"
                  v-model="data.positionId"
                  name="positionId"
                  ref="positionId"
                  key="positionId"
                  :dir="$vs.rtl ? 'rtl' : 'ltr'"
                />
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first("positionId") }}</span>
              </div>

              <div v-if="isStaff || isVoluntary" class="vx-col sm:w-2/12 w-full my-auto">
                <span>Especialidad</span>
              </div>
              <div v-if="isStaff || isVoluntary" class="vx-col sm:w-10/12 w-full mt-6">
                <v-select
                  v-if="isStaff || isVoluntary"
                  :options="specialities"
                  :reduce="op => op.id"
                  data-vv-validate-on="blur"
                  v-validate="'required'"
                  multiple
                  :disabled="!extraInfo"
                  label="name"
                  v-model="data.specialities"
                  name="specialities"
                  key="specialities"
                  ref="specialities"
                  :dir="$vs.rtl ? 'rtl' : 'ltr'"
                />
                <span
                  v-if="showValidations "
                  class="text-danger text-sm"
                >{{ errors.first("specialities") }}</span>
              </div>
            </div>
          </div>
        </vs-tab>
        <vs-tab label="Acceso" icon-pack="feather" icon="icon-lock">
          <div class="tab-text">
            <div class="vx-row mb-6">
              <div class="vx-col sm:w-2/12 w-full my-auto">
                <span>Rol(es)</span>
              </div>
              <div class="vx-col sm:w-10/12 w-full mt-6">
                <v-select
                  :disabled="!accessInfo"
                  :options="roles"
                  :reduce="op => op.id"
                  data-vv-validate-on="blur"
                  v-validate="'required'"
                  multiple
                  label="name"
                  v-model="data.roles"
                  name="roles"
                  :dir="$vs.rtl ? 'rtl' : 'ltr'"
                />
                <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("roles") }}</span>
              </div>

              <div v-if="!modeEdit" class="vx-col sm:w-2/12 w-full my-auto">
                <span>Contraseña</span>
              </div>
              <div v-if="!modeEdit" class="vx-col sm:w-4/12 w-full my-6">
                <vs-input
                  ref="password"
                  type="password"
                  data-vv-validate-on="blur"
                  v-validate="'required|min:6|max:10'"
                  name="password"
                  placeholder="Contraseña"
                  v-model="data.password"
                  class="w-full"
                />
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first('password') }}</span>
              </div>

              <div v-if="!modeEdit" class="vx-col sm:w-2/12 w-full my-auto">
                <span>Confirmación</span>
              </div>
              <div v-if="!modeEdit" class="vx-col sm:w-4/12 w-full my-6">
                <vs-input
                  type="password"
                  v-validate="'min:6|max:10|confirmed:password'"
                  data-vv-validate-on="blur"
                  data-vv-as="password"
                  name="confirmPassword"
                  placeholder="Confirmar contraseña"
                  v-model="data.confirmPassword"
                  class="w-full"
                />
                <span
                  v-if="showValidations"
                  class="text-danger text-sm"
                >{{ errors.first('confirmPassword') }}</span>
              </div>
            </div>
          </div>
        </vs-tab>
      </vs-tabs>
    </div>
  </div>
</template>
<script>
import flatPickr from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.min.css";
import { Spanish as SpanishLocale } from "flatpickr/dist/l10n/es.js";
import vSelect from "vue-select";
export default {
  inject: ["$validator"],
  props: {
    data: {
      type: Object,
      required: true
    },
    showValidations: {
      type: Boolean,
      required: true,
      default: false
    },
    modeEdit: {
      type: Boolean,
      required: true
    },
    personalInfo: {
      type: Boolean,
      default: false
    },
    extraInfo: {
      type: Boolean,
      default: false
    },
    accessInfo: {
      type: Boolean,
      default: false
    },
    userIsStaff: {
      type: Boolean,
      default: false
    },
    userIsVoluntary: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      configdateTimePicker: {
        locale: SpanishLocale,
        altInput: true,
        altInputClass: "w-full flatpickr-input",
        altFormat: "d F Y",
        dateFormat: "Y/m/d",
        maxDate: "today"
      }
    };
  },

  computed: {
    userTypes() {
      return this.$store.getters["global/getItems"]("userType", "userTypes")
        .slice()
        .filter(userType => userType.name.toLowerCase() != "paciente");
    },
    positions() {
      return this.$store.getters["global/getItems"]("position", "positions");
    },
    specialities() {
      return this.$store.getters["global/getItems"](
        "speciality",
        "specialities"
      );
    },
    roles() {
      return this.$store.getters["global/getItems"]("role", "roles");
    },
    isPatient() {
      if (this.data.userTypes) {
        return this.data.userTypes.includes(
          this.userTypes.find(el => el.name.toLowerCase() == "paciente").id
        );
      }
      return false;
    },
    isStaff() {
      if (this.data.userTypes) {
        return this.data.userTypes.includes(
          this.userTypes.find(el => el.name.toLowerCase() == "personal").id
        );
      }
      return false;
    },
    isVoluntary() {
      if (this.data.userTypes) {
        return this.data.userTypes.includes(
          this.userTypes.find(el => el.name.toLowerCase() == "voluntario").id
        );
      }
      return false;
    },
    isParent() {
      if (this.data.userTypes) {
        return this.data.userTypes.includes(
          this.userTypes.find(el => el.name.toLowerCase() == "familiar").id
        );
      }
      return false;
    }
  },
  components: {
    flatPickr,
    "v-select": vSelect
  },
  watch: {
    "data.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "data.lastname": {
      handler() {
        this.$validator.validate("lastname");
      }
    },
    "data.gender": {
      handler() {
        this.$validator.validate("gender");
      }
    },
    "data.email": {
      handler() {
        this.$validator.validate("email");
      }
    },
    "data.birthdate": {
      handler() {
        this.$validator.validate("birthdate");
      }
    },

    "data.telephone": {
      handler() {
        this.$validator.validate("telephone");
      }
    },
    "data.password": {
      handler() {
        this.$validator.validate("password");
      }
    },
    "data.confirmPassword": {
      handler() {
        this.$validator.validate("confirmPassword");
      }
    },

    "data.userTypes": {
      handler() {
        this.$validator.validate("userTypes");
        if (this.isStaff) {
          this.$emit("update:userIsStaff", true);
        } else {
          this.$emit("update:userIsStaff", false);
        }
        if (this.isVoluntary) {
          this.$emit("update:userIsVoluntary", true);
        } else {
          this.$emit("update:userIsVoluntary", false);
        }
        if (!this.isParent) {
          this.$set(this.data, "codePatient", "");
        }
      }
    },
    "data.roles": {
      handler() {
        this.$validator.validate("roles");
      }
    },
    "data.positionId": {
      handler() {
        if (this.isStaff || this.isVoluntary) {
          if (this.$refs.positionId) {
            this.$validator.validate("positionId");
          }
        }
      }
    },
    "data.specialities": {
      handler() {
        if (this.isStaff || this.isVoluntary) {
          if (this.$refs.specialities) {
            this.$validator.validate("specialities");
          }
        }
      }
    },
    "data.codePatient": {
      handler() {
        if (this.$refs.codePatient) {
          this.$validator.validate("codePatient");
        }
      }
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: "userTypes",
      module: "userType",
      data: "userTypes"
    });

    await this.$store.dispatch("global/getItems", {
      route: "positions",
      module: "position",
      data: "positions"
    });

    await this.$store.dispatch("global/getItems", {
      route: "specialities",
      module: "speciality",
      data: "specialities"
    });

    await this.$store.dispatch("global/getItems", {
      route: "roles",
      module: "role",
      data: "roles"
    });
  },
  mounted() {
    if (this.isStaff) {
      this.$emit("update:userIsStaff", true);
    } else {
      this.$emit("update:userIsStaff", false);
    }
    if (this.isVoluntary) {
      this.$emit("update:userIsVoluntary", true);
    } else {
      this.$emit("update:userIsVoluntary", false);
    }
  }
};
</script>
<style lang="scss">
.overflow-visible .con-slot-tabs {
  overflow: visible;
}
</style>