<template>
  <div id="page-user-view">
    <vs-alert color="danger" title="Usuario no encontrado" :active.sync="user_not_found">
      <span>Usuario con id: {{ $route.params.id }} no encontrado.</span>
      <span>
        <span>Ir a</span>
        <router-link :to="{name:'page-user'}" class="text-inherit underline">Todos los usuarios</router-link>
      </span>
    </vs-alert>

    <div id="user-data" v-if="data">
      <vx-card :title=" data.name +' '+data.lastname " class="mb-base">
        <div class="vx-row">
          <div class="vx-col" id="avatar-col">
            <div class="img-container mb-4">
              <img
                v-if="!editImage"
                :src="`${url}files/uploads/${data.image}`"
                class="rounded w-full"
              />

              <upload-manual
                v-if="editImage"
                :formData.sync="image"
                type="image"
                :url="`${url}files/uploads/${data.image}`"
                class="vs-con-loading__container responsive rounded-lg"
                id="image__loading"
              />
            </div>
          </div>

          <div class="vx-col flex-1" id="account-info-col-1">
            <table>
              <tr>
                <td class="font-semibold">Nombre</td>
                <td>{{ data.name }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Apellido</td>
                <td>{{ data.lastname }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Correo electrónico</td>
                <td>{{ data.email }}</td>
              </tr>
            </table>
          </div>

          <div class="vx-col flex-1" id="account-info-col-2">
            <table>
              <tr>
                <td class="font-semibold">Status</td>
                <td>
                  <vs-chip v-if="data.status == 1" color="success" class="detail-tag-chip">Activo</vs-chip>
                  <vs-chip v-else color="danger" class="detail-tag-chip">Bloqueado</vs-chip>
                </td>
              </tr>
              <tr>
                <td class="font-semibold">Tipo de usuario</td>
                <td>
                  <vs-chip
                    v-for="type in data.userTypes"
                    :key="type.id"
                    color="primary"
                    class="detail-tag-chip"
                  >{{type.name}}</vs-chip>
                </td>
              </tr>
            </table>
          </div>
          <!-- /Information - Col 2 -->
          <div class="vx-col w-full flex" id="account-manage-buttons">
            <vs-button icon-pack="feather" icon="icon-edit" class="mr-4" @click="edit()">Editar</vs-button>
            <vs-button
              v-if="data.id == userInfo.id"
              icon-pack="feather"
              icon="icon-lock"
              class="mr-4"
              type="border"
              color="danger"
              @click="$router.push('/change-password').catch(() => {})"
            >Cambiar contraseña</vs-button>
            <vs-button
              v-if="blockButton"
              type="border"
              :color="this.data.status ==1 ?'danger' : 'success'"
              icon-pack="feather"
              :icon="this.data.status ==1 ?'icon-x' : 'icon-check'"
              @click="blockUserDialog"
            >{{this.data.status ==1 ?'Bloquear' : 'Desbloquear'}}</vs-button>
          </div>
        </div>
      </vx-card>

      <div class="vx-row flex">
        <div class="vx-col w-full flex-1">
          <vx-card title="Información personal" class="mb-base">
            <table>
              <tr>
                <td class="font-semibold">Fecha de nacimiento</td>
                <td class="pl-3">{{ data.birthdate | dateFormat() }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Edad</td>
                <td class="pl-3">{{ data.birthdate | ageFormat() }} años</td>
              </tr>
              <tr>
                <td class="font-semibold">Teléfono</td>
                <td class="pl-3">{{ data.telephone }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Género</td>
                <td
                  v-if="data.gender"
                  class="pl-3"
                >{{ data.gender.includes('F') ? 'Femenino' : 'Masculino' }}</td>
              </tr>
            </table>
          </vx-card>
        </div>

        <div v-if="isStaffOrVoluntary" class="vx-col w-full flex flex-1">
          <vx-card title="Información adicional" class="mb-base">
            <table>
              <tr>
                <td class="font-semibold">Cargo</td>
                <td>
                  <vs-chip
                    v-if="data.position"
                    color="primary"
                    class="detail-tag-chip"
                  >{{data.position.name}}</vs-chip>
                </td>
              </tr>
              <tr>
                <td class="font-semibold">Especialidades</td>
                <td>
                  <span v-if="data.specialities">{{data.specialities.map(el => el.name).join(", ")}}</span>
                </td>
              </tr>
            </table>
          </vx-card>
        </div>
      </div>

      <!-- Permissions -->
      <vx-card>
        <div class="vx-row">
          <div class="vx-col w-full">
            <div class="flex items-end px-3">
              <feather-icon svgClasses="w-6 h-6" icon="LockIcon" class="mr-2" />
              <span class="font-medium text-lg leading-none">Roles</span>
            </div>
            <vs-divider />
          </div>
        </div>
        <!-- <div class="block overflow-x-auto"> -->
        <div class="vx-row">
          <div class="vx-col md:w-1/3 w-full">
            <h6 class="font-semibold">Rol</h6>
          </div>
          <div class="vx-col md:w-2/3 w-full">
            <h6 class="font-semibold">Función</h6>
          </div>
        </div>

        <div class="vx-row mt-3" v-for="role in data.roles" :key="role.id">
          <div class="vx-col md:w-1/3 w-full">
            <h6 class="font-semibold">{{ role.name }}</h6>
          </div>
          <div class="vx-col md:w-2/3 w-full">
            <span v-if="role.functions">{{ role.functions.map(f => f.name).join(", ") }}</span>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
import UploadManual from "../../components/upload/UploadManual.vue";
import moment from "moment";
export default {
  props: {
    data: {
      type: Object,
      require: true
    },
    editImage: {
      type: Boolean,
      default: false
    },
    blockButton: {
      type: Boolean,
      defalut: false
    }
  },
  data() {
    return {
      module: "user",
      route: "users",
      property: "user",
      user_not_found: false,
      image: null
    };
  },
  computed: {
    url() {
      return process.env.VUE_APP_URL;
    },
    isStaffOrVoluntary() {
      if (this.data.userTypes) {
        return this.data.userTypes.filter(
          el =>
            el.name.toLowerCase().includes("personal") ||
            el.name.toLowerCase().includes("voluntario")
        ).length;
      }
    },
    userInfo() {
      return this.$store.state.auth.user;
    }
  },
  methods: {
    blockUserDialog() {
      this.$vs.dialog({
        type: "confirm",
        color: "primary",
        title: `Confirmar`,
        text: `¿Desea ${
          this.data.status == 1 ? "bloquear" : "desbloquear"
        } al usuario ${this.data.name} ${this.data.lastname}?"`,
        accept: this.activeOrArchive,
        acceptText: "Aceptar",
        cancel: "Cancelar"
      });
    },
    async activeOrArchive() {
      this.$store.commit("SET_VIEW_DETAIL_STATUS", this.data.status == 1);
      await this.$store
        .dispatch(`global/${this.data.status == 1 ? "remove" : "unRemove"}`, {
          id: this.data.id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(resp => {
          this.$emit("update:data", resp.user);
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Usuario bloqueado"
            );
          });
        });
    },
    edit() {
      this.$emit("update:modeEdit", true);
    },
    async upload() {
      this.$vs.loading({ container: "#image__loading", scale: 0.45 });
      this.isLoad = true;
      await this.$store
        .dispatch("global/upload", {
          id: this.data.id,
          image: this.image,
          data: "user",
          module: "user",
          route: "users"
        })
        .then(resp => {
          notify().then(({ notification }) => {
            this.$store.dispatch("auth/updateProfile", resp.user);
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        });
    }
  },
  components: {
    UploadManual,
    moment
  },
  filters: {
    dateFormat: function(value) {
      return moment(String(value)).format("DD/MM/YYYY");
    },
    ageFormat: function(value) {
      return moment().diff(moment(value, "YYYY/MM/DD"), "years");
    }
  },
  watch: {
    image: {
      handler() {
        if (this.image) {
          this.upload();
        }
      }
    }
  }
};
</script>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

#page-user-view {
  table {
    td {
      vertical-align: top;
      min-width: 140px;
      padding-bottom: 0.8rem;
      word-break: break-all;
    }

    &:not(.permissions-table) {
      td {
        @media screen and (max-width: 370px) {
          display: block;
        }
      }
    }
  }
}

.con-input-upload {
  width: 110px;
  height: 110px;
  margin: 0;
}

.detail-tag-chip {
  &.vs-chip-primary {
    background: rgba(var(--vs-primary), 0.15);
    color: rgba(var(--vs-primary), 1) !important;
    font-weight: 500;
  }
  &.vs-chip-success {
    background: rgba(var(--vs-success), 0.15);
    color: rgba(var(--vs-success), 1) !important;
    font-weight: 500;
  }
  &.vs-chip-danger {
    background: rgba(var(--vs-danger), 0.15);
    color: rgba(var(--vs-danger), 1) !important;
    font-weight: 500;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1211px),
  only screen and (min-width: 636px) and (max-width: 991px) {
  #account-info-col-1 {
    width: calc(100% - 12rem) !important;
  }
}
</style>
