<template>
  <div>
    <user-data :data.sync="data" :modeEdit.sync="modeEdit" v-if="!modeEdit" :blockButton="true"></user-data>
    <vx-card :modeEdit.sync="modeEdit" v-if="modeEdit" title="Editar usuario">
      <user-form
        :data="payload"
        :showValidations="isValid"
        :personalInfo="false"
        :modeEdit.sync="modeEdit"
        :extraInfo="true"
        :accessInfo="true"
        :userIsStaff.sync="isStaff"
        :userIsVoluntary.sync="isVoluntary"
      ></user-form>

      <div class="vx-row" style="z-index: 1;">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar</vs-button>
        </div>
      </div>
    </vx-card>
  </div>
</template>
<script>
import UserData from "./UserData";
import UserForm from "./UserForm.vue";
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      data: {},
      payload: {},
      module: "user",
      route: "users",
      property: "user",
      modeEdit: false,
      isValid: false,
      isStaff: false,
      isVoluntary: false
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  computed: {
    userTypes() {
      return this.$store.getters["global/getItems"]("userType", "userTypes");
    }
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async resp => {
          this.data = JSON.parse(JSON.stringify(resp.user));
          this.$store.commit(
            "SET_BREADCRUMB",
            this.data.name + " " + this.data.lastname
          );
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.payload.positionId = Object.entries(this.payload.position).length
            ? this.payload.position.id
            : "";
          this.payload.specialities = this.payload.specialities
            ? this.payload.specialities.map(el => el.id)
            : null;
          this.payload.activities = this.payload.activities
            ? this.payload.activities.map(el => el.id)
            : null;
          this.payload.roles = this.payload.roles
            ? this.payload.roles.map(el => el.id)
            : null;
          this.payload.userTypes = this.payload.roles
            ? this.payload.userTypes.map(el => el.id)
            : null;
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          if (err.message.code == 404) {
            this.user_not_found = true;
            this.$router.push("/pages/error-404");
          }
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
          });
        });
    },
    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },
    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.$vs.loading();
          //await this.validateRules();
          delete this.payload["status"];
          await this.$store
            .dispatch("global/update", {
              payload: this.payload,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              this.data = JSON.parse(JSON.stringify(resp[this.property]));
              this.$store.commit(
                "SET_BREADCRUMB",
                this.data.name + " " + this.data.lastname
              );
              if (this.$store.state.auth.user.id === this.data.id) {
                this.$store.dispatch("auth/updateProfile", resp.user);
              }
              this.modeEdit = false;
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              this.$vs.loading.close();
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    validateRules() {
      if (!(this.isVoluntary && this.isStaff)) {
        this.payload.specialities = null;
      }
    },
  },
  components: {
    UserData,
    UserForm
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: "userTypes",
      module: "userType",
      data: "userTypes"
    });

    this.getItem(this.$route.params.id);
  }
};
</script>