<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Limpiar base de datos">
        <vs-alert color="warning" vs-icon="new_releases">
        Al limpiar la base de datos, todos los registros serán eliminados definitivamete. Puede restaurar un respaldo creado previamente, o bien cargar uno desde su equipo. Por su seguridad, recomendamos que realice un respaldo antes de realizar esta acción, ya que los cambios son irreversibles.
      </vs-alert>
      <vs-button class="mt-6" @click="openConfirm()" color="danger">Limpiar base de datos</vs-button>
      </vx-card>
    </div>
  </div>
</template>
<script>
const notify = () => import("@/vendor/notify.js");
export default {
  data: () => ({
    activeConfirm: false
  }),
  methods: {
    openConfirm() {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: `Confirmar`,
        acceptText: "Aceptar",
        cancelText: "Cancelar",
        text: '¿Seguro que desea limpiar la base de datos? Todos los registros serán eliminados',
        accept: this.acceptAlert
      })
    },
    async acceptAlert() {
      this.$vs.loading();
      await this.$store
        .dispatch("database/clean", {
              payload: this.data})
        .then(resp => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$router.push('/backup');
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify, "Restauración");
          });
        });
    },
  }
}
</script>