<template>
  <basic-table :list="data" :route="path" :showStatus="false" :redirect="false">
    <template slot="create-button">
      <div
        class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
        @click="create"
      >
        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
        <span class="ml-2 text-base text-primary">Crear</span>
      </div>
    </template>
    <template slot="table-options">
      <vs-th sort-key="size">Tamaño</vs-th>
      <vs-th sort-key="date">Fecha</vs-th>
    </template>
    <template slot="table-td" slot-scope="{ tr }">
      <vs-td>{{ tr.size | sizeFormat }}</vs-td>
      <vs-td>{{ tr.date | dateFormat }}</vs-td>
    </template>
    <template slot-scope="{ tr }">
      <vx-tooltip class="inline-block" color="success" text="Descargar" position="top">
        <feather-icon
          icon="DownloadIcon"
          svgClasses="w-5 h-5 hover:text-success stroke-current"
          class="ml-2"
          @click.stop="download(tr.name)"
        />
      </vx-tooltip>

      <vx-tooltip class="inline-block" color="primary" text="Restaurar" position="top">
        <feather-icon
          icon="RefreshCwIcon"
          svgClasses="w-5 h-5 hover:text-primary stroke-current"
          class="ml-3"
          @click.stop="restoreDialog(tr)"
        />
      </vx-tooltip>
    </template>
  </basic-table>
</template>

<script>
import BasicTable from "../configuration/basic-data/components/BasicTable";
const notify = () => import("@/vendor/notify.js");
import moment from "moment";

export default {
  data() {
    return {
      module: "category",
      route: "categories",
      singularProperty: "category",
      pluralProperty: "categories",
      path: "/category"
    };
  },
  methods: {
    forceFileDownload(response, filename) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", `${filename}`); //or any other extension
      document.body.appendChild(link);
      link.click();
    },
    async create() {
      this.$vs.loading();
      await this.$store
        .dispatch("database/createBackup")
        .then( resp => {
          this.$vs.loading.close();
          notify().then(({ dialogWhitParameters }) => {
            dialogWhitParameters(
              this.$vs.dialog,
              "confirm",
              "primary",
              "Listo",
              "Si",
              "No",
              `Respaldo creado exitosamente ¿Descargar?`,
              this.download,
              [resp.backup.name]
            );
          });
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify, "Respaldo");
          });
        });
    },

    async download(parameters) {
      let filename = Array.isArray(parameters[0]) ? parameters[0] : parameters;
      await this.$store
        .dispatch("database/downloadBackup", { filename })
        .then(resp => {
          this.forceFileDownload(resp, filename);
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify, "Descarga");
          });
        });
    },

    restoreDialog(backup) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea restaurar la base de datos a la version ${backup.name} creada el ${backup.date}`,
          this.restore,
          [backup.name]
        );
      });
    },

    async restore(parameters) {
      let filename = parameters[0];
      this.$vs.loading();
      await this.$store
        .dispatch("database/restoreName", { filename })
        .then(resp => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify, "Descarga");
          });
        });
    },
  },
  filters: {
    dateFormat: function(value) {
      return  moment(String(value)).format("DD/MM/YYYY, h:mm:ss a")
      },
    sizeFormat : function (value) {
      return value/1024 +" Kb";
    }
    
  },
  components: {
    BasicTable,
    moment
  },
  computed: {
    data() {
      return this.$store.getters["global/getItems"]("database", "backups").slice().reverse();
    }
  },
  async created() {
    await this.$store.dispatch("database/getBackups");
  }
};
</script>