<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Cargar respaldo">
        
        <div class="vx-row">
          <div class="center_image">
        <upload-tar class="w-full" :formData.sync="data.file"></upload-tar>
        </div>
        </div>
        <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button
            color="warning"
            type="border"
            class="mb-2 mr-3"
            @click="cancel"
            >Cancelar</vs-button
          >
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
      </vx-card>
    </div>
  </div>
</template>
<script>
import UploadTar from "../components/upload/UploadTar";
const notify = () => import("@/vendor/notify.js");
export default {
  data(){
    return{
      data : {
        file: null
      }
      
    }
  },
  components: {
    UploadTar,
  },

  methods: {

    async create() {
      this.$vs.loading();
      await this.$store
        .dispatch("database/restoreUpload", {
              payload: this.data})
        .then(resp => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$router.push('/backup');
        })
        .catch(err => {
          this.$vs.loading.close();
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify, "Restauración");
          });
        });
    },

    cancel() {
      this.$router.push(this.path);
    },
  }
}
</script>