<template>
  <div class="con-upload">
    <div class="con-input-upload">
      <img v-if="loaded" src="@/assets/images/pages/tar_file.jpg" class="view-image" />
      <input
        type="file"
        name="file"
        accept="tar"
        class="input-file z-50"
        @change="getImage($event)"
      />
        <span class="text-input" v-if="!loaded">Subir archivo</span>
      <slot name="upload-button"></slot>

      
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      file: null,
      loaded: false,
      errorUpload: false
    };
  },
  props: {
    messageError: {
      type: String, 
      default: "Solo se permiten archivos de formato .tar"
    },
    formData: {
      type: File,
      default: null
    },
    url: {
      type: String
    }
  },

  methods: {
    getImage(event) {
      // let frmData = new FormData();
      // frmData.append("image", event.target.files[0]);

      let data = event.target.files[0];

      if (data.type.includes("tar")) {
        this.$emit("update:formData", event.target.files[0]);
        let reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = e => {
          this.file = e.target.result;
          this.loaded = true;
        };
      } else {
        this.$vs.notify({
          title: "Formato invalido",
          time: 5000,
          text: this.messageError,
          color: "warning",
          iconPack: "feather",
          icon: "icon-alert-triangle"
        });
      }
    }
  }
};
</script>

<style lang="scss">
.view-image {
  max-width: 100%;
  border-radius: 8px;
}

.con-img-upload .img-upload .btn-x-file {
  right: 5px;
}
</style>