<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Configurar actividad">
        <form-wizard
          color="rgba(var(--vs-primary), 1)"
          :title="null"
          :subtitle="null"
          errorColor="rgba(var(--vs-danger), 1)"
          finishButtonText="Guardar"
          nextButtonText="Siguiente"
          backButtonText="Anterior"
          @on-complete="formSubmitted"
        >
          <!-- Datos básicos -->
          <tab-content
            title="Datos básicos"
            class="mb-5"
            icon="feather icon-home"
            :before-change="validateBasic"
          >
            <basic-data
              :data="data"
              :showValidations="isValid"
              property="activityTypeId"
              register="Tipo de actividad"
              module="activityType"
              route="activityTypes"
              attribute="activityTypes"
              routeRegister="/activity-type/create"
              :isActivity="true"
            />
          </tab-content>

          <!-- Recursos -->
          <tab-content
            title="Recursos"
            class="mb-5"
            icon="feather icon-briefcase"
            :before-change="validateResources"
          >
            <resource-data
              :resourceErrors.sync="resourceErrors"
              :resources="data.resources"
              label="recurso"
              model="resource"
              resourceType="activity"
            ></resource-data>
          </tab-content>

          <!-- Personal -->
          <tab-content
            title="Personal"
            class="mb-5"
            icon="feather icon-user"
            :before-change="validatePersonal"
          >
            <resource-data
              :resourceErrors.sync="specialistErrors"
              :resources="data.specialities"
              label="especialista"
              model="speciality"
            ></resource-data>
          </tab-content>

          <!-- Evaluación -->
          <tab-content
            title="Evaluación"
            class="mb-5"
            icon="feather icon-clipboard"
            :before-change="validateEvaluation"
          >
            <p>Ya casi terminas, en este espacio debes indicar cómo quieres medir el desempeño de tus actividades, a través de resultados.</p>
            <!-- Parametros -->
            <param-data :paramErrors.sync="paramErrors" :params="data.params"></param-data>
            <!-- Preguntas (calificación) -->
            <review-data
              class="mt-10"
              :questionErrors.sync="questionErrors"
              :questions="data.questions"
            ></review-data>
            <p class="my-10">
              La evaluación de las actividades es el primer paso para mejorar. Recuerda que
              <strong>lo que no se mide, no mejora!</strong>
            </p>
          </tab-content>
        </form-wizard>
      </vx-card>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import { FormWizard, TabContent } from "vue-form-wizard";
import BasicData from "../components/BasicData";
import ResourceData from "../components/ResourceData";
import ParamData from "../components/ParamData";
import ReviewData from "../components/ReviewData";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        name: "",
        image: null,
        activityTypeId: null,
        userTypeForId: null,
        genreFor: null,
        ageFor: null,
        phaseFor: null,
        recurrent: false,
        eventual: true,
        resources: [
          {
            id: null,
            quantity: 0
          }
        ],
        specialities: [
          {
            id: null,
            quantity: 0
          }
        ],
        params: [
          {
            id: null,
            idealValue: 0,
            minValue: 0,
            maxValue: 0
          }
        ],
        questions: [
          {
            id: null,
            toResponsible: false,
            toUsers: false
          }
        ]
      },
      questionErrors: true,
      paramErrors: true,
      specialistErrors: true,
      resourceErrors: true,
      showValidations: false,
      isValid: false,
      module: "activityConfig",
      route: "activityConfigs",
      property: "activityConfig",
      path: "/activity-configs"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    formSubmitted() {
      this.$vs.loading();
      this.$store
        .dispatch("global/createWithImage", {
          payload: this.data,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$vs.loading.close();
          this.$router.push(this.path);
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close();
        });
    },
    validateBasic() {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll().then(validate => {
          this.isValid = true;
          if (validate) {
            resolve(true);
          } else {
            reject("valores incorrectos");
          }
        });
      });
    },
    validateResources() {
      return new Promise((resolve, reject) => {
        if (
          !this.resourceErrors ||
          (this.resourceErrors &&
            this.data.resources.length == 1 &&
            this.data.resources[0].id &&
            this.data.resources[0].quantity)
        ) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
    validatePersonal() {
      return new Promise((resolve, reject) => {
        if (!this.specialistErrors) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
    validateEvaluation() {
      return new Promise((resolve, reject) => {
        if (!this.paramErrors && !this.questionErrors) {
          resolve(true);
        } else {
          reject("Errors");
        }
      });
    },
  },
  components: {
    FormWizard,
    TabContent,
    BasicData,
    ResourceData,
    ParamData,
    ReviewData,
    "v-select": vSelect
  }
};
</script>
