<template>
  <vs-tabs
    :position="isSmallerScreen ? 'top' : 'left'"
    class="tabs-shadow-none"
    id="profile-tabs"
    :key="isSmallerScreen"
  >
    <vs-tab
      icon-pack="feather"
      icon="feather icon-copy"
      :label="!isSmallerScreen ? 'Elementos' : ''"
    >
      <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
        <vx-card>
          <basic-table :list="elements" :route="path">
            <template slot="create-button">
              <div
                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                @click="create"
              >
                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                <span class="ml-2 text-base text-primary">Crear</span>
              </div>
            </template>
            <template slot-scope="{ tr }">
              <vx-tooltip
                v-if="tr.status == 1"
                class="inline-block"
                color="gray"
                text="Archivar"
                position="top"
              >
                <feather-icon
                  icon="ArchiveIcon"
                  svgClasses="w-5 h-5 hover:text-gray stroke-current"
                  class="ml-2"
                  @click.stop="activeOrArchiveDialog(tr.id, 'archive')"
                />
              </vx-tooltip>

              <vx-tooltip v-else class="inline-block" color="success" text="Activar" position="top">
                <feather-icon
                  icon="CheckSquareIcon"
                  svgClasses="w-5 h-5 hover:text-success stroke-current"
                  class="ml-2"
                  @click.stop="activeOrArchiveDialog(tr.id, 'active')"
                />
              </vx-tooltip>

              <vx-tooltip class="inline-block" color="danger" text="Eliminar" position="top">
                <feather-icon
                  icon="TrashIcon"
                  svgClasses="w-5 h-5 hover:text-danger stroke-current"
                  class="ml-3"
                  @click.stop="deleteDialog(tr.id)"
                />
              </vx-tooltip>
            </template>
          </basic-table>
        </vx-card>
      </div>
    </vs-tab>
    <vs-tab
      icon-pack="feather"
      icon="feather icon-settings"
      :label="!isSmallerScreen ? 'Datos técnicos' : ''"
    >
      <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
        <create-config v-if="!thereConfig"/>
        <view-edit-config v-else=""/>
      </div>
    </vs-tab>
  </vs-tabs>
</template>

<script>
import BasicTable from "../../../basic-data/components/BasicTable";

import ViewEditConfig from '../ViewEditConfig';
import CreateConfig from '../CreateConfig.vue';

const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      module: "element",
      route: "elements",
      singularProperty: "element",
      pluralProperty: "elements",
      path: "/element"
    };
  },
  computed: {
    isSmallerScreen() {
      return this.$store.state.windowWidth < 768;
    },
    elements() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      );
    },
    thereConfig() {
      return this.$store.getters["configWebMobile/thereConfig"];
    }
  },
  methods: {
    create() {
      this.$router.push(`${this.path}/create`);
    },
    activeOrArchiveDialog(id, action) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea ${action == "active" ? "activar" : "archivar"} el registro?`,
          this.activeOrArchive,
          [id, action]
        );
      });
    },

    async activeOrArchive(parameters) {
      await this.$store
        .dispatch(
          `global/${parameters[1] == "archive" ? "remove" : "unRemove"}`,
          {
            id: parameters[0],
            route: this.route,
            module: this.module,
            data: this.singularProperty
          }
        )
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro archivado"
            );
          });
        });
    },

    deleteDialog(id) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea eliminar el registro? Una vez eliminado no podrá recuperarlos`,
          this.delete,
          [id]
        );
      });
    },

    async delete(parameters) {
      await this.$store
        .dispatch("global/delete", {
          id: parameters[0],
          route: this.route,
          module: this.module,
          data: this.singularProperty
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro eliminado"
            );
          });
        });
    },
    async getConfig() {
      this.$vs.loading();
      this.data = await this.$store.getters["configWebMobile/getConfig"];
      this.payload = JSON.parse(JSON.stringify(this.data));
      this.$store.commit(
        "SET_VIEW_DETAIL_STATUS",
        this.data.status == 1 ? true : false
      );
      this.$vs.loading.close();
    }
  },
  components: {
    BasicTable,
    CreateConfig,
    ViewEditConfig
  },
  watch: {
    "payload.name": {
      handler() {
        if (this.modeEdit) this.$validator.validate("name");
      }
    },
    "payload.urlWeb": {
      handler() {
        if (this.modeEdit) this.$validator.validate("urlWeb");
      }
    },
    "payload.urlAppAndroid": {
      handler() {
        if (this.modeEdit) this.$validator.validate("urlAppAndroid");
      }
    },
    "payload.apiKeyGoogleMaps": {
      handler() {
        if (this.modeEdit) this.$validator.validate("apiKeyGoogleMaps");
      }
    },
    "payload.apiKeyMapBox": {
      handler() {
        if (this.modeEdit) this.$validator.validate("apiKeyMapBox");
      }
    },
    "payload.privacyPolicy": {
      handler() {
        if (this.modeEdit) this.$validator.validate("privacyPolicy");
      }
    }
  },
  async created() {
    await this.$store.dispatch('configWebMobile/getItems');
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  },
};
</script>

<style lang="scss">
.vs-list--item {
  border-bottom: none;
}
#profile-tabs {
  .vs-tabs--content {
    padding: 0;
  }
}
</style>
