<template>
  <div id="config-data">
    <vx-card title="Información" class="mb-base">
      <div class="vx-row">
        <div class="vx-col sm:w-2/12 mr-4" id="avatar-col">
          <div class="img-container mb-4">
            <img
              v-if="payload.image"
              :src="`${url}files/uploads/${payload.image}`"
              class="rounded w-full"
            />
          </div>
        </div>

        <div class="vx-col sm:w-5/12 flex-1" id="config-info-col-1">
          <table>
            <tr>
              <td class="font-semibold">Nombre</td>
              <td>{{ payload.name }}</td>
            </tr>
            <tr>
              <td class="font-semibold">Dirigido a</td>
              <td>{{ payload.userType ? ( $options.filters.title(payload.userType.name.toLocaleLowerCase()) ) : 'Pacientes'}}</td>
            </tr>
            <tr>
              <td class="font-semibold">Tipo de {{ type }}</td>
              <td>{{ payload.type }}</td>
            </tr>
            <tr v-if="isPatient || payload.userType">
              <td
                class="font-semibold"
                v-if="isPatient || payload.userType.name.toLocaleLowerCase() == 'paciente'"
              >Estadío</td>
              <td
                v-if="isPatient || payload.userType.name.toLocaleLowerCase() == 'paciente'"
              >{{ getPhase(payload.phaseFor) }}</td>
            </tr>
          </table>
        </div>
        <div class="vx-col sm:w-5/12 flex-1" id="config-info-col-2">
          <table>
            <tr v-if="payload.ageFor">
              <td class="font-semibold">Edad</td>
              <td>De {{ JSON.parse(payload.ageFor)[0] }} a {{ JSON.parse(payload.ageFor)[1] }} años</td>
            </tr>
            <tr>
              <td class="font-semibold">Género</td>
              <td>{{ genero}}</td>
            </tr>
            <tr>
              <td class="font-semibold">Modalidad</td>
              <td>{{ payload.eventual ? 'Eventual' : 'Recurrente' }}</td>
            </tr>
          </table>
        </div>
        <div class="vx-col w-full flex" id="account-manage-buttons">
          <vs-button
            icon-pack="feather"
            icon="icon-edit"
            class="mr-4"
            :to="{name: pageEdit, params: {id:$route.params.id}}"
          >Editar</vs-button>
          <delete-reactivate
            :module="module"
            :property="property"
            :route="route"
            :id="this.$route.params.id"
            class="mr-2"
          ></delete-reactivate>
        </div>
      </div>
    </vx-card>

    <div class="vx-row">
      <div class="vx-col lg:w-1/2 w-full">
        <vx-card title="Recursos" class="mb-base">
          <table>
            <tr>
              <td class="font-semibold">Recurso</td>
              <td class="font-semibold text-center">Cantidad</td>
            </tr>
            <tr v-for="(res, index) in payload.resources" :key="index">
              <td class="font-semibold">{{ res.name }}</td>
              <td class="text-center">{{ res.quantity }}</td>
            </tr>
          </table>
        </vx-card>
      </div>
      <div class="vx-col lg:w-1/2 w-full">
        <vx-card title="Especialistas" class="mb-base">
          <table>
            <tr>
              <td class="font-semibold">Especialista</td>
              <td class="font-semibold text-center">Cantidad</td>
            </tr>
            <tr v-for="(esp, index) in payload.specialities" :key="index">
              <td class="font-semibold">{{esp.name}}</td>
              <td class="text-center">{{esp.quantity}}</td>
            </tr>
          </table>
        </vx-card>
      </div>
    </div>
    <div>
      <vx-card title="Parámetros" class="mb-base">
        <table>
          <tr>
            <td class="font-semibold">Parámetro</td>
            <td class="font-semibold text-center">Valor mínimo</td>
            <td class="font-semibold text-center">Valor máximo</td>
            <td class="font-semibold text-center">Valor ideal</td>
          </tr>
          <tr v-for="(par, index) in payload.params" :key="index">
            <td class="font-semibold">{{par.name}}</td>
            <td class="text-center">{{par.minValue}}</td>
            <td class="text-center">{{par.maxValue}}</td>
            <td class="text-center">{{par.idealValue}}</td>
          </tr>
        </table>
      </vx-card>
    </div>
    <div>
      <vx-card title="Preguntas" class="mb-base">
        <table>
          <tr>
            <td class="font-semibold">Pregunta</td>
            <td class="font-semibold text-center">Usuario objetivo</td>
          </tr>
          <tr v-for="(ques, index) in payload.questions" :key="index">
            <td class="font-semibold">{{ques.title}}</td>
            <td v-if="ques.toResponsible" class="text-center">Responsable</td>
            <td v-if="ques.toUsers" class="text-center">Asistente</td>
          </tr>
        </table>
      </vx-card>
    </div>
    <div v-if="payload.schedules">
      <vx-card title="Turnos" class="mb-base" v-if=" payload.schedules.length">
        <table>
          <tr>
            <td class="font-semibold">Turno</td>
            <td class="font-semibold text-center">Hora inicio</td>
            <td class="font-semibold text-center">Hora Fin</td>
            <td class="font-semibold text-center">Dias de la semana</td>
          </tr>
          <tr v-for="(schedule, index) in payload.schedules" :key="index">
            <td class="font-semibold">{{schedule.name}}</td>
            <td class="text-center">{{ getHourFormat(schedule.timeStart) }}</td>
            <td class="text-center">{{ getHourFormat(schedule.timeEnd) }}</td>
            <td class="text-center">{{ getDays(schedule).join(", ") }}</td>
          </tr>
        </table>
      </vx-card>
    </div>
  </div>
</template>

<script>
import DeleteReactivate from "../../basic-data/components/DeleteRectivate.vue";
import moment from "moment";
export default {
  data() {
    return {
      url: process.env.VUE_APP_URL
    };
  },
  props: {
    genero: {
      type: String
    },
    personalized: {
      type: Boolean,
      default: false
    },
    isService: {
      type: Boolean,
      default: false
    },
    pageEdit: {
      type: String
    },
    payload: {
      type: Object
    },
    type: {
      type: String
    },
    module: {
      type: String,
      requerid: true
    },
    route: {
      type: String,
      requerid: true
    },
    property: {
      type: String,
      requerid: true
    },
    pathEdit: {
      type: String,
      requerid: true
    },
    isPatient: {
      type: Boolean,
      default: false
    }
  },
  components: {
    DeleteReactivate,
    moment
  },
  methods: {
    getDays(item) {
      let days = [];
      if (item.monday) days.push("Lunes");
      if (item.tuesday) days.push("Martes");
      if (item.wednesday) days.push("Miércoles");
      if (item.thursday) days.push("Jueves");
      if (item.friday) days.push("Viernes");
      if (item.saturday) days.push("Sábado");
      if (item.sunday) days.push("Domingo");

      return days;
    },
    getHourFormat(hour) {
      let date = new Date();
      if (date) {
        date.setHours(parseInt(hour.split(":")[0]));
        date.setMinutes(parseInt(hour.split(":")[1]));
        return moment(String(date)).format("hh:mm A");
      }
      return false;
    },
    getPhase(phase) {
      if (Object.is(phase, "PHASE1")) return "Estadío I";
      else if (Object.is(phase, "PHASE2")) return "Estadío II";
      else if (Object.is(phase, "PHASE3")) return "Estadío III";
      else if (Object.is(phase, "PHASE4")) return "Estadío IV";
      else if (Object.is(phase, "PHASE5")) return "Estadío V";
      else return "Todos";
    }
  }
};
</script>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

#page-config-view {
  table {
    td {
      vertical-align: top;
      min-width: 140px;
      padding-bottom: 0.6rem;
      word-break: break-all;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1211px),
  only screen and (min-width: 636px) and (max-width: 991px) {
  #config-info-col-1 {
    width: calc(100% - 12rem) !important;
  }
}
</style>