<template>
  <div class="vx-row">
    <div class="vx-col sm:w-1/4 w-full mt-5">
      <upload-manual :formData.sync="data.image" type="image"></upload-manual>
    </div>
    <div class="vx-col sm:w-3/4 w-full mt-5">
      <div class="vx-col w-full mt-5">
        <vs-input
          label="Nombre"
          v-model="data.name"
          name="name"
          class="w-full"
          data-vv-validate-on="blur"
          v-validate="'required|alpha_number_spaces|min:4|max:100'"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("name") }}</span>
      </div>
      <div class="vx-col w-full mt-5">
        <div>
          <label class="vs-input--label">{{register}}</label>
          <v-select
            v-model="type"
            :reduce="option => option.val"
            :options="list"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            data-vv-validate-on="blur"
            v-validate="'excluded:Seleccione una opción|required'"
            :name="property"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay ningún {{register}} disponibles.
                <router-link class="text-primary font-semibold" :to="routeRegister">crear</router-link>
              </em>
            </template>
          </v-select>
          <span v-if="showValidations" class="text-danger text-sm">{{ errors.first(property) }}</span>
        </div>
      </div>
      <div class="vx-col w-full mt-5" v-if="isActivity">
        <div>
          <label class="vs-input--label">Dirigido a</label>
          <v-select
            ref="userTypeForId"
            v-model="data.userTypeForId"
            :reduce="option => option.id"
            :options="userTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="userTypeForId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span
            v-if="showValidations"
            class="text-danger text-sm"
          >{{ errors.first("userTypeForId") }}</span>
        </div>
      </div>
      <div class="vx-col w-full mt-5">
        <vs-checkbox
          icon-pack="feather"
          icon="icon-message-square"
          color="success"
          v-model="personalized"
        >Personalizada</vs-checkbox>
        <div class="vx-col w-full mt-5" v-if="personalized">
          <div class="vx-col w-full mb-5" v-if="isPatient">
            <label class="vs-input--label">Estadío</label>
            <v-select
              v-model="data.phaseFor"
              :reduce="option => option.val"
              :options="phases"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              name="phase"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
              </template>
            </v-select>
          </div>
          <div class="vx-col w-full">
            <div class="vx-row">
              <div class="vx-col sm:w-4/12 w-full">Edad</div>
              <div class="vx-col sm:w-3/12 w-full">{{ range ? 'Desde' : 'Valor'}}</div>
              <div class="vx-col sm:w-3/12 w-full" v-if="range">Hasta</div>
            </div>
            <div class="vx-row">
              <div class="vx-col sm:w-4/12 w-full">
                <v-select
                  v-model="ageOption"
                  :dir="$vs.rtl ? 'rtl' : 'ltr'"
                  :options="agesIntervals"
                  :reduce="option => option.val"
                />
              </div>
              <div class="vx-col sm:w-3/12 w-full">
                <vs-input-number v-model.number="ageMin" min="1" class="ml-0" />
              </div>
              <div class="vx-col sm:w-3/12 w-full" v-if="range">
                <vs-input-number v-model.number="ageMax" :min="ageMin+1" max="99" class="ml-0" />
              </div>
            </div>
          </div>
          <div class="vx-col w-full">
            <div class="demo-alignment">
              <span>Género:</span>
              <div class="flex">
                <vs-radio v-model="data.genreFor" vs-value="F" class="mr-4">Femenino</vs-radio>
                <vs-radio v-model="data.genreFor" vs-value="M" class="mr-4">Masculino</vs-radio>
                <vs-radio v-model="data.genreFor" :vs-value="null">Ambos</vs-radio>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vx-col w-full md:mt-3">
        <div class="demo-alignment">
          <span>Modalidad:</span>
          <div class="flex">
            <vs-radio
              v-model="modality"
              @change="check()"
              vs-value="eventual"
              class="mr-4"
            >Eventual</vs-radio>
            <vs-radio
              v-model="modality"
              @change="check()"
              vs-value="recurrent"
            >Recurrente</vs-radio>
          </div>
        </div>
      </div>
      <slot name="show-field"></slot>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import UploadManual from "../../../components/upload/UploadManual.vue";
export default {
  inject: ["$validator"],
  props: {
    data: {
      type: Object
    },
    showValidations: {
      type: Boolean
    },
    register: {
      type: String,
      required: true
    },
    routeRegister: {
      type: String,
      required: true
    },
    module: {
      type: String,
      required: true
    },
    route: {
      type: String,
      required: true
    },
    attribute: {
      type: String,
      required: true
    },
    property: {
      type: String,
      required: true
    },
    isActivity: {
      type: Boolean,
      default: false
    },
    isService: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      type: null,
      modality: "eventual",
      moduleU: "userType",
      routeU: "userTypes",
      propertyU: "userTypes",
      isPatient: false,
      personalized: false,
      ageMin: 0,
      ageMax: 0,
      value: null,
      range: false,
      ageOption: null,
      agesIntervals: [
        {
          val: "higher",
          label: "Mayor que"
        },
        {
          val: "less",
          label: "Menor que"
        },
        {
          val: "between",
          label: "Rango"
        }
      ]
    };
  },
  methods: {
    check() {
      if (this.modality == "eventual") {
        this.$set(this.data, "eventual", true);
        this.$set(this.data, "recurrent", false);
      } else {
        this.$set(this.data, "recurrent", true);
        this.$set(this.data, "eventual", false);
      }
    },
    updateAges(type) {
      if (type == "between" && this.ageMin > 0) {
        this.value = [this.ageMin, this.ageMax];
      } else if (type == "higher" && this.ageMin > 0) {
        this.value = [this.ageMin, 100];
      } else if (type == "less" && this.ageMin > 0) {
        this.value = [0, this.ageMin];
      } else {
        this.value = null;
      }

      this.$set(this.data, "ageFor", this.value);
    }
  },
  computed: {
    list() {
      return this.$store.getters[`${this.module}/getCustomItems`];
    },
    userTypes() {
      return this.$store.getters[`${this.moduleU}/getCustomItems`];
    },
    phases() {
      return this.$store.getters[`${this.moduleU}/getPhases`];
    }
  },
  watch: {
    "data.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    type: {
      handler(val) {
        this.data[this.property] = val;
        this.$validator.validate(this.property);
      }
    },
    "data.userTypeForId": {
      handler(value) {
        if (this.$refs.userTypeForId) {
          if (this.data.userTypeForId) {
            if (
              this.userTypes
                .find(user => user.id == value)
                .label.toLocaleLowerCase() == "paciente"
            ) {
              this.isPatient = true;
            } else {
              this.isPatient = false;
              this.data.phaseFor = null;
            }
            this.$validator.validate("userTypeForId");
          }
        }
      }
    },
    personalized: {
      handler() {
        if (!this.personalized) {
          this.data.phaseFor = null;
          this.data.ageFor = null;
          this.data.genreFor = null;
          this.ageMin = 0;
          this.ageMax = 0;
          this.value = null;
          this.range = false;
        }
      }
    },
    ageOption: {
      handler(value) {
        if (value == "between") {
          this.range = true;
        } else {
          this.range = false;
        }
        this.updateAges(value);
      }
    },
    ageMin: {
      handler(value) {
        if (this.ageMin > this.ageMax) {
          this.ageMin = parseInt(value);
          this.ageMax = parseInt(value) + 1;
        } else {
          this.ageMin = parseInt(value);
        }
        this.updateAges(this.ageOption);
      }
    },
    ageMax: {
      handler(value) {
        if (this.ageMin > this.ageMax) {
          this.ageMin = parseInt(value) - 1;
          this.ageMax = parseInt(value);
        } else {
          this.ageMax = parseInt(value);
        }
        this.updateAges(this.ageOption);
      }
    }
  },
  components: {
    vSelect,
    UploadManual
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.attribute
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeU,
      module: this.moduleU,
      data: this.propertyU
    });

    if (this.isService) {
      this.isPatient = true;
    }
  }
};
</script>

<style lang="scss">
.con-input-upload {
  width: 150px;
  height: 150px;
  margin-top: 0;
  margin-left: 0;
}

.con-img-upload {
  padding-left: 0;
}
.vs--open {
  .vs__dropdown-toggle {
    border: 1px solid rgba(var(--vs-primary), 1) !important;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  }
  ~ label.vs-input--label {
    color: var(--vs-primary);
  }
}
[dir] .vs--single .vs__selected {
  font-size: 13px;
}

.con-vs-checkbox {
  margin-left: 0;
}
</style>