<template>
  <div class="vx-row">
    <div class="vx-col sm:w-1/4 w-full mt-5">
      <upload-manual
        :formData.sync="image"
        :url="`${url}files/uploads/${payload.image}`"
        type="image"
        class="vs-con-loading__container"
        id="image__loading"
      ></upload-manual>
    </div>
    <div class="vx-col sm:w-3/4 w-full mt-5">
      <div class="vx-col w-full">
        <vs-input
          label="Nombre"
          v-model="payload.name"
          name="name"
          class="w-full"
          data-vv-validate-on="blur"
          v-validate="'required|alpha_number_spaces|min:4|max:100'"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("name") }}</span>
      </div>
      <div class="vx-col w-full mt-5">
        <div>
          <label class="vs-input--label">{{register}}</label>
          <v-select
            v-model="payload.type"
            :reduce="option => option.val"
            :options="list"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            data-vv-validate-on="blur"
            v-validate="'excluded:Seleccione una opción|required'"
            :name="property"
            :key="payload.type"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay ningún {{register}} disponibles.
                <router-link class="text-primary font-semibold" :to="routeRegister">crear</router-link>
              </em>
            </template>
          </v-select>
          <span v-if="showValidations" class="text-danger text-sm">{{ errors.first(property) }}</span>
        </div>
      </div>
      <div class="vx-col w-full mt-5" v-if="isActivity">
        <div>
          <label class="vs-input--label">Dirigido a</label>
          <v-select
            ref="userTypeForId"
            v-model="payload.userTypeForId"
            :reduce="option => option.id"
            :options="userTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            data-vv-validate-on="blur"
            v-validate="'required'"
            @input="updateUserType"
            name="userTypeForId"
            :key="payload.userTypeForId"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span
            v-if="showValidations"
            class="text-danger text-sm"
          >{{ errors.first("userTypeForId") }}</span>
        </div>
      </div>
      <div class="vx-col w-full mt-5">
        <vs-checkbox
          icon-pack="feather"
          icon="icon-message-square"
          color="success"
          v-model="personalized"
        >Personalizada</vs-checkbox>
        <div class="vx-col w-full mt-5" v-if="personalized">
          <div class="vx-col w-full mb-5" v-if="isPatient">
            <label class="vs-input--label">Estadío</label>
            <v-select
              v-model="payload.phaseFor"
              :reduce="option => option.val"
              :options="phases"
              :dir="$vs.rtl ? 'rtl' : 'ltr'"
              name="phase"
            >
              <template v-slot:no-options="{ search, searching }">
                <template v-if="searching">
                  No se encontraron resultados para
                  <em
                    class="text-primary font-semibold"
                  >{{ search }}</em>.
                </template>
              </template>
            </v-select>
          </div>
          <div class="vx-col w-full">
            <div class="vx-row">
              <div class="vx-col sm:w-4/12 w-full">Edad</div>
              <div class="vx-col sm:w-3/12 w-full">{{ range ? 'Desde' : 'Valor'}}</div>
              <div class="vx-col sm:w-3/12 w-full" v-if="payload.range">Hasta</div>
            </div>
            <div class="vx-row">
              <div class="vx-col sm:w-4/12 w-full">
                <v-select
                  v-model="ageOption"
                  :dir="$vs.rtl ? 'rtl' : 'ltr'"
                  :options="agesIntervals"
                  :reduce="option => option.val"
                />
              </div>
              <div class="vx-col sm:w-3/12 w-full">
                <vs-input-number v-model.number="payload.ageMin" min="0" class="ml-0" />
              </div>
              <div class="vx-col sm:w-3/12 w-full" v-if="payload.range">
                <vs-input-number
                  v-model.number="payload.ageMax"
                  :min="ageMin+1"
                  max="100"
                  class="ml-0"
                />
              </div>
            </div>
          </div>
          <div class="vx-col w-full">
            <div class="demo-alignment">
              <span>Género:</span>
              <div class="flex">
                <vs-radio v-model="payload.genreFor" vs-value="F" class="mr-4">Femenino</vs-radio>
                <vs-radio v-model="payload.genreFor" vs-value="M" class="mr-4">Masculino</vs-radio>
                <vs-radio v-model="payload.genreFor" :vs-value="null">Ambos</vs-radio>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vx-col w-full md:mt-3">
        <div class="demo-alignment">
          <span>Modalidad:</span>
          <div class="flex">
            <vs-radio
              v-model="payload.modality"
              @change="check()"
              vs-value="eventual"
              class="mr-4"
              name="modality"
            >Eventual</vs-radio>
            <vs-radio v-model="payload.modality" @change="check()" vs-value="recurrent">Recurrente</vs-radio>
          </div>
        </div>
      </div>
      <div class="vx-row" v-if="!isActivity && payload.recurrent">
        <div class="vx-col w-full md:mt-5">
          <label class="vs-input--label">Seleccionar turnos</label>
          <v-select
            multiple
            v-model="payload.schedules"
            placeholder="Seleccionar"
            :reduce="option => option.val"
            data-vv-validate-on="blur"
            v-validate="'required'"
            :options="turns"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            key="schedules"
            ref="schedules"
            name="schedules"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay ningún turno disponible.
                <router-link class="text-primary font-semibold" to="/schedule/create">crear</router-link>
              </em>
            </template>
          </v-select>
          <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("schedules") }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import UploadManual from "../../../components/upload/UploadManual.vue";
const notify = () => import("@/vendor/notify.js");
export default {
  inject: ["$validator"],
  props: {
    payload: {
      type: Object
    },
    showValidations: {
      type: Boolean
    },
    register: {
      type: String,
      required: true
    },
    routeRegister: {
      type: String,
      required: true
    },
    module: {
      type: String,
      required: true
    },
    route: {
      type: String,
      required: true
    },
    attribute: {
      type: String,
      required: true
    },
    property: {
      type: String,
      required: true
    },
    isActivity: {
      type: Boolean,
      default: false
    },
    propertyEdit: {
      type: String,
      required: true
    },
    routeEdit: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      image: null,
      url: process.env.VUE_APP_URL,
      moduleU: "userType",
      routeU: "userTypes",
      propertyU: "userTypes",
      isPatient: false,
      personalized: false,
      ageMin: 0,
      ageMax: 0,
      value: null,
      range: false,
      ageOption: null,
      agesIntervals: [
        {
          val: "higher",
          label: "Mayor que"
        },
        {
          val: "less",
          label: "Menor que"
        },
        {
          val: "between",
          label: "Rango"
        }
      ]
    };
  },
  methods: {
    check() {
      if (this.payload.modality == "eventual") {
        this.$set(this.payload, "eventual", true);
        this.$set(this.payload, "recurrent", false);
      } else {
        this.$set(this.payload, "recurrent", true);
        this.$set(this.payload, "eventual", false);
      }
    },
    updateAges(type) {
      if (type == "between" && this.payload.ageMin > 0) {
        this.value = [this.payload.ageMin, this.payload.ageMax];
      } else if (type == "higher" && this.payload.ageMin > 0) {
        this.value = [this.payload.ageMin, 100];
      } else if (type == "less" && this.payload.ageMin > 0) {
        this.value = [0, this.payload.ageMin];
      } else {
        this.value = null;
      }
      this.$set(this.payload, "ageFor", this.value);
    },
    updateUserType(value) {
      if (value) {
        if (
          this.userTypes
            .find(user => user.id == value)
            .label.toLocaleLowerCase() == "paciente"
        ) {
          this.isPatient = true;
        } else {
          this.isPatient = false;
        }
      } else {
        this.isPatient = false;
      }
      this.$set(this.payload, "phaseFor", null);
    },
    async upload() {
      this.$vs.loading({ container: "#image__loading", scale: 0.45 });

      await this.$store
        .dispatch("global/upload", {
          id: this.payload.id,
          image: this.image,
          data: this.propertyEdit,
          module: this.propertyEdit,
          route: this.routeEdit
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        });
    }
  },
  computed: {
    list() {
      return this.$store.getters[`${this.module}/getCustomItems`];
    },
    userTypes() {
      return this.$store.getters[`${this.moduleU}/getCustomItems`];
    },
    phases() {
      return this.$store.getters[`${this.moduleU}/getPhases`];
    },
    turns() {
      return this.$store.getters["schedule/getCustomItems"];
    }
  },
  watch: {
    "payload.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "payload.type": {
      handler(val) {
        this.$set(this.payload, this.property, val);
        this.$validator.validate(this.property);
      }
    },
    "payload.userTypeForId": {
      handler() {
        if (this.$refs.userTypeForId) {
          this.$validator.validate("userTypeForId");
        }
      }
    },
    personalized: {
      handler() {
        if (!this.personalized) {
          this.$set(this.payload, "phaseFor", null);
          this.$set(this.payload, "ageFor", null);
          this.$set(this.payload, "genreFor", null);
          this.$set(this.payload, "ageMin", 0);
          this.$set(this.payload, "ageMax", 0);
          this.$set(this.payload, "range", false);
          this.value = null;
        }
      }
    },
    ageOption: {
      handler(value) {
        if (value == "between") {
          this.$set(this.payload, "range", true);
        } else {
          this.$set(this.payload, "range", false);
        }
        this.updateAges(value);
      }
    },
    "payload.eventual": {
      handler() {
        if (this.payload.eventual) {
          this.$set(this.payload, "schedules", null);
        }
      }
    },
    "payload.ageMin": {
      handler(value) {
        if (this.payload.ageMin > this.payload.ageMax) {
          this.$set(this.payload, "ageMin", parseInt(value));
          this.$set(this.payload, "ageMax", parseInt(value) + 1);
        } else {
          this.$set(this.payload, "ageMin", parseInt(value));
        }
        this.updateAges(this.ageOption);
      }
    },
    "payload.ageMax": {
      handler(value) {
        if (this.payload.ageMin > this.payload.ageMax) {
          this.$set(this.payload, "ageMin", parseInt(value) - 1);
          this.$set(this.payload, "ageMax", parseInt(value));
        } else {
          this.$set(this.payload, "ageMax", parseInt(value));
        }
        this.updateAges(this.ageOption);
      }
    },
    "payload.schedules": {
      handler() {
        if (this.payload.recurrent) {
          if (this.$refs.schedules) {
            this.$validator.validate("schedules");
          }
        }
      }
    },
    image: {
      handler() {
        if (this.image) {
          this.upload();
        }
      }
    }
  },
  components: {
    vSelect,
    UploadManual
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.attribute
    });

    await this.$store.dispatch("global/getItems", {
      route: this.routeU,
      module: this.moduleU,
      data: this.propertyU
    });

    await this.$store.dispatch("global/getItems", {
      route: "schedules",
      module: "schedule",
      data: "schedules"
    });

    if (
      this.payload.userTypeForId &&
      this.userTypes
        .find(user => user.id == this.payload.userTypeForId)
        .label.toLocaleLowerCase() == "paciente"
    ) {
      this.isPatient = true;
    }

    this.ageOption = this.payload.val;
    this.personalized = this.payload.personalized;
  },
  mounted() {}
};
</script>

<style lang="scss">
.con-input-upload {
  width: 150px;
  height: 150px;
  margin-top: 0;
  margin-left: 0;
}

.con-img-upload {
  padding-left: 0;
}
.vs--open {
  .vs__dropdown-toggle {
    border: 1px solid rgba(var(--vs-primary), 1) !important;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  }
  ~ label.vs-input--label {
    color: var(--vs-primary);
  }
}
[dir] .vs--single .vs__selected {
  font-size: 13px;
}

.con-vs-checkbox {
  margin-left: 0;
}
</style>