<template>
  <div>
    <vs-list-header
      icon-pack="feather"
      icon="icon-edit"
      title="Evaluación interna"
      class="vx-col w-full mt-10"
    ></vs-list-header>
    <p class="mb-10">
      La
      <strong>evaluación interna</strong>{{evInterna}}
    </p>

    <div class="vx-row mb-3">
      <div class="vx-col sm:w-4/12 w-full">Parámetro</div>
      <div class="vx-col m-0 ml-3">Valor máximo</div>
      <div class="vx-col m-0">Valor mínimo</div>
      <div class="vx-col m-0 ml-3">Valor ideal</div>
    </div>

    <div v-for="(param,index) in params" :key="index" class="vx-row mb-6">
      <div class="vx-col sm:w-4/12 w-full">
        <v-select
          v-model="param.id"
          :options="paramm"
          :selectable="op => !params.map(q => q.id).includes(op.id) || op.id == param.id"
          :reduce="param => param.id"
        />
      </div>
      <div class="vx-col m-0">
        <vs-input-number v-model.number="param.maxValue" min="0" class="my-0 centerx" />
      </div>
      <div class="vx-col m-0">
        <vs-input-number v-model.number="param.minValue" min="0" class="my-0 centerx" />
      </div>
      <div class="vx-col m-0">
        <vs-input-number v-model.number="param.idealValue" min="0" class="my-0 centerx" />
      </div>

      <div class="vx-col m-0">
        <vx-tooltip text="Quitar" position="right" delay=".3s">
          <feather-icon
            icon="Trash2Icon"
            class="px-4 py-2 cursor-pointer h-full text-danger"
            svgClasses="w-5 h-5 text-danger"
            @click="removeLine(index)"
          />
        </vx-tooltip>
      </div>
      <div
        class="vx-col w-full"
        v-if="showErrors || $parent.validationError && (!param.id || param.maxValue < param.minValue || param.idealValue >  param.maxValue || param.idealValue <  param.minValue)"
      >
        <template v-if="!param.id">
          <span class="text-danger text-sm">Seleccione un parámetro</span>
          <br />
        </template>
        <template v-if="param.maxValue < param.minValue">
          <span class="text-danger text-sm">El valor máximo debe ser mayor que el valor mínimo.</span>
          <br />
        </template>
        <template v-if="param.idealValue >  param.maxValue || param.idealValue <  param.minValue">
          <span
            class="text-danger text-sm"
          >EL valor ideal debe estar entre el valor mínimo y el máximo.</span>
        </template>
      </div>
    </div>

    <vs-button v-if="paramm.length > params.length" type="line" @click="addLine">Agregar parámetro</vs-button>
  
  
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  props: {
    params: {
      type: Array
    },
    paramErrors: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      module: "param",
      route: "params",
      property: "params",
      evInterna: ", será realizada por el personal encargado y servirá para evaluar el resultado obtenido, de acuerdo a parámetros establecidos.",
      options: [],
      showErrors: false
    };
  },
  methods: {
    addLine() {
      if (!this.paramErrors) {
        this.showErrors = false;
        this.params.push({
          id: null,
          idealValue: 0,
          minValue: 0,
          maxValue: 0
        });
      } else this.showErrors = true;
    },
    removeLine(index) {
      if (this.params.length == 1) {
        this.params = [
          {
            id: null,
            idealValue: 0,
            minValue: 0,
            maxValue: 0
          }
        ];
      } else {
        this.params.splice(index, 1);
      }
    },
    validateErrors() {
      for (let p of this.params) {
        if (
          !p.id ||
          p.maxValue < p.minValue ||
          p.idealValue > p.maxValue ||
          p.idealValue < p.minValue
        ) {
          this.$emit("update:paramErrors", true);
          return;
        }
      }
      this.$emit("update:paramErrors", false);
    }
  },
  watch: {
    params: {
      deep: true,
      handler: "validateErrors"
    }
  },
  components: {
    "v-select": vSelect
  },
  computed: {
    paramm() {
      return this.$store.getters[`${this.module}/getCustomItems`];
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });
  }
};
</script>