<template>
  <div>
    <div class="vx-row mb-3">
      <div class="vx-col sm:w-7/12 w-full">{{model == "resource" ? "Recurso" : "Especialista"}}</div>
      <div class="vx-col m-0">Cantidad</div>
    </div>
    <div v-for="(res,index) in resources" :key="index" class="vx-row mb-3">
      <div class="vx-col sm:w-7/12 w-full">
        <v-select
          v-model="res.id"
          :options="options"
          :selectable="op => !resources.map(q => q.id).includes(op.id) || op.id == res.id"
          :reduce="res => res.id"
        >
          <template v-slot:no-options="{ search, searching }">
            <template v-if="searching">
              No se encontraron resultados para
              <em class="text-primary font-semibold">{{ search }}</em>.
            </template>
            <em v-else>No hay recursos disponibles.</em>
          </template>
        </v-select>
      </div>
      <div class="vx-col m-0">
        <vs-input-number v-model.number="res.quantity" min="0" class="my-0 centerx h-full" />
      </div>
      <div class="vx-col m-0">
        <vx-tooltip text="Quitar" position="right" delay=".3s" class="h-full">
          <feather-icon
            icon="Trash2Icon"
            class="px-4 py-2 cursor-pointer h-full text-danger"
            svgClasses="w-5 h-5 text-danger"
            @click="removeLine(index)"
          />
        </vx-tooltip>
      </div>
      <div
        v-if="showErrors || $parent.validationError && (res.quantity<=0 || !res.id)"
        class="vx-col w-full"
      >
        <template v-if="showErrors || $parent.validationError && ! res.id">
          <span class="text-danger text-sm">Seleccione una opción</span>
          <br />
        </template>
        <template v-if="showErrors || $parent.validationError && res.quantity <=0">
          <span class="text-danger text-sm">La cantidad debe ser mayor que cero.</span>
        </template>
      </div>
    </div>
    <vs-button
      v-if="options.length > resources.length"
      type="line"
      @click="addLine"
    >Agregar {{ label }}</vs-button>
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  props: {
    resources: {
      type: Array
    },
    label: {
      type: String
    },
    model: {
      type: String
    },
    resourceErrors: {
      type: Boolean,
      default: true
    },
    resourceType: {
      type: String
    }
  },
  data() {
    return {
      specialitiesOptions: [],
      resourcesOptions: [],
      showErrors: false,
      moduleR: "resource",
      routeR: "resources",
      propertyR: "resources",
      moduleS: "speciality",
      routeS: "specialities",
      propertyS: "specialities"
    };
  },
  methods: {
    addLine() {
      if (!this.resourceErrors) {
        this.showErrors = false;
        this.resources.push({
          id: null,
          quantity: 0
        });
      } else this.showErrors = true;
    },
    removeLine(index) {
      if (this.resources.length == 1) {
        this.resources = [
          {
            id: null,
            quantity: 0
          }
        ];
      } else {
        this.resources.splice(index, 1);
      }
    },
    validateErrors() {
      for (let p of this.resources) {
        if (!p.id || p.quantity == 0) {
          this.$emit("update:resourceErrors", true);
          return;
        }
      }
      this.$emit("update:resourceErrors", false);
    }
  },
  components: {
    "v-select": vSelect
  },
  watch: {
    resources: {
      deep: true,
      handler: "validateErrors"
    }
  },
  computed: {
    options() {
      if (this.model == "resource") {
        return this.$store.getters[`resource/getCustomResources`](
          this.resourceType
        );
      } else {
        return this.$store.getters[`${this.moduleS}/getCustomItems`];
      }
    }
  },
  async created() {
    if (this.model == "resource") {
      await this.$store.dispatch("global/getItems", {
        route: this.routeR,
        module: this.moduleR,
        data: this.propertyR
      });
    } else {
      await this.$store.dispatch("global/getItems", {
        route: this.routeS,
        module: this.moduleS,
        data: this.propertyS
      });
    }
  }
};
</script>