<template>
  <div>
    <vs-list-header
      icon-pack="feather"
      icon="icon-star"
      title="Calificación"
      subtitle
      class="vx-col w-full"
    ></vs-list-header>
    <p class="mb-10">
      La
      <strong>calificación (evaluación externa)</strong>
      {{evExterna}}
    </p>
    <div class="vx-row mb-3">
      <div class="vx-col sm:w-6/12">Pregunta</div>
      <div class="vx-col sm:w-6/12">Usuario objetivo</div>
    </div>
    <div v-for="(question,index) in questions" :key="index" class="vx-row mb-6">
      <div class="vx-col sm:w-6/12">
        <v-select
          v-model="question.id"
          :options="getQuestions"
          class="mt-select"
          :reduce="question => question.id"
          :selectable="op => !questions.map(q => q.id).includes(op.id) || op.id == question.id"
          data-vv-validate-on="blur"
          v-validate="'required'"
          name="question"
        />
      </div>

      <div class="vx-col">
        <div class="vx-row h-full">
          <vs-checkbox v-model="question.toResponsible">Responsable</vs-checkbox>
          <vs-checkbox v-model="question.toUsers">Asistente</vs-checkbox>
        </div>
      </div>

      <div class="vx-col m-0">
        <vx-tooltip text="Quitar" position="right" delay=".3s" class="h-full">
          <feather-icon
            icon="Trash2Icon"
            class="px-4 py-2 cursor-pointer h-full text-danger"
            svgClasses="w-5 h-5 text-danger"
            @click="removeLine(index)"
          />
        </vx-tooltip>
      </div>
      <div
        v-if="showErrors || $parent.validationError && (!question.id || !question.toResponsible || !question.toUsers)"
        class="vx-col w-full"
      >
        <template v-if="!question.id">
          <span class="text-danger text-sm">Seleccione una pregunta</span>
          <br />
        </template>
        <template v-if="question.id && (!question.toResponsible && !question.toUsers)">
          <span class="text-danger text-sm">Seleccione un usuario objetivo</span>
        </template>
      </div>
    </div>
    <vs-button
      type="line"
      v-if="getQuestions.length > questions.length"
      @click="addLine()"
    >Agregar pregunta</vs-button>
  </div>
</template>
<script>
import vSelect from "vue-select";
export default {
  props: {
    questions: {
      type: Array
    },
    questionErrors: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      module: "question",
      route: "questions",
      property: "questions",
      evExterna:
        ", será realizada por las personas que asistieron a la actividad, y ayudará a conocer sus opiniones al respecto.",
      options: [],
      showErrors: false
    };
  },
  methods: {
    addLine() {
      if (!this.questionErrors) {
        this.showErrors = false;
        this.questions.push({
          id: null,
          toResponsible: false,
          toUsers: false
        });
      } else this.showErrors = true;
    },
    removeLine(index) {
      if (this.questions.length == 1) {
        this.questions = [
          {
            id: null,
            toResponsible: false,
            toUsers: false
          }
        ];
      } else {
        this.questions.splice(index, 1);
      }
    },
    validateErrors() {
      for (let q of this.questions) {
        if (!q.id || (!q.toResponsible && !q.toUsers)) {
          this.$emit("update:questionErrors", true);
          return;
        }
      }
      this.$emit("update:questionErrors", false);
    }
  },
  components: {
    "v-select": vSelect
  },
  watch: {
    questions: {
      deep: true,
      handler: "validateErrors"
    }
  },
  computed: {
    getQuestions() {
      return this.$store.getters[`${this.module}/getQuestions`];
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });
  }
};
</script>
<style>
.vs__dropdown-option--disabled {
  display: none;
}
</style>