
<template>
  <basic-form :data="data" :showValidations="isValid" title="Configurar notificación" :name="false" :description="false">
    <template slot="fields">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Canal</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            multiple
            v-model="data.channel"
            :reduce="option => option.val"
            :options="channels"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="channel"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("channel") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            v-model="data.notificationTypeId"
            :reduce="option => option.id"
            :options="notificationTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'excluded:Tipo de notificación|required'"
            name="notificationTypeId"
            label="name"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay tipo de notificación disponibles,
                <router-link class="text-primary font-semibold" to="/notification-type/create">crear</router-link>
              </em>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("notificationTypeId") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Mensaje</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-textarea
              data-vv-validate-on="blur"
              v-validate="'required|min:4|max:1000'"
              name="messageNotification"
              v-model="data.messageNotification"
            />
          <span v-if="isValid" class="text-danger text-sm">{{
            errors.first("messageNotification")
          }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="create">Guardar</vs-button>
        </div>
      </div>
    </template>
  </basic-form>
</template>

<script>
import vSelect from "vue-select";
import BasicForm from "../../basic-data/components/BasicForm.vue";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        channel: "",
        notificationTypeId: "Tipo de notificación",
        messageNotification:"",
        status: true
      },
      isValid: false,
      channels: [],
      module: "notificationType",
      route: "notificationTypes",
      property: "notificationTypes",
      moduleBase: "notificationConfig",
      routeBase: "notificationConfigs",
      propertyBase: "notificationConfig",
      path: "/notification-configs"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          let payload = JSON.parse(JSON.stringify(this.data));
          payload.channel = payload.channel.join();
          await this.$store
            .dispatch("global/create", {
              payload: payload,
              route: this.routeBase,
              module: this.moduleBase,
              data: this.propertyBase
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$router.push(this.path);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    cancel() {
      this.$router.push(this.path);
    }
  },
  components: {
    BasicForm,
    vSelect
  },
  watch: {
    "data.channel": {
      handler() {
        this.$validator.validate("channel");
      }
    },
    "data.messageNotification": {
      handler() {
        this.$validator.validate("messageNotification");
      }
    },
    "data.notificationTypeId": {
      handler() {
        this.$validator.validate("notificationTypeId");
      }
    }
  },
  computed: {
    notificationTypes() {
      return this.$store.getters["global/getItems"]('notificationType','notificationTypes');
    } 
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });
  },
  mounted() {
    this.channels = this.$store.getters[`${this.moduleBase}/getChannel`];
  }
};
</script>

<style lang="scss">
[dir] .vs--single .vs__selected {
  font-size: 13px;
}
</style>