<template>
  <basic-detail
    :data="payload"
    :module="module"
    :property="property"
    :route="route"
    :showName="false"
    :showDescription="false"
    :showValidations="isValid"
    :title="`Configuración notificación: ${data.channel}`"
    :modeEdit="modeEdit"
    class="center-view"
  >

    <template slot="fields-view">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Canal</span>
        </div>
        <div class="vx-col sm:w-7/12 w-full">
          <v-select
            multiple
            v-model="payload.channel"
            :reduce="op => op.val"
            :options="channels"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="channel"
            disabled
          />
        </div>
        <div class="vx-col sm:w-3/12 flex justify-end">
              <delete-reactivate
                :module="moduleBase"
                :property="propertyBase"
                :route="routeBase"
                :id="this.$route.params.id"
                class="mr-2 delete-reactivate"
              ></delete-reactivate>
            </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo</span>
        </div>
        <div class="vx-col sm:w-7/12 w-full">
          <v-select
            v-model="payload.notificationTypeId"
            :reduce="option => option.id"
            :key="payload.notificationTypeId"
            :options="notificationTypes"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            label="name"
            v-validate="'excluded:Tipo de recurso|required'"
            name="notificationTypeId"
            disabled
          ></v-select>
         </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Mensaje</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <p class="w-full">{{ payload.messageNotification}}</p>
        </div>
      </div>
    </template>

    <template slot="fields-edit">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Canal</span>
        </div>
         <div class="vx-col sm:w-10/12 w-full">
          <v-select
            multiple
            v-model="payload.channel"
            :reduce="option => option.val"
            :options="channels"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
            class="mt-select"
            data-vv-validate-on="blur"
            v-validate="'required'"
            name="channel"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("channel") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Tipo</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <v-select
            :options="notificationTypes"
            :reduce="op => op.id"
            data-vv-validate-on="blur"
            v-validate="'required'"
            label="name"
            v-model="payload.notificationTypeId"
            name="notificationTypeId"
            :dir="$vs.rtl ? 'rtl' : 'ltr'"
          >
            <template v-slot:no-options="{ search, searching }">
              <template v-if="searching">
                No se encontraron resultados para
                <em class="text-primary font-semibold">{{ search }}</em>.
              </template>
              <em v-else>
                No hay tipos disponibles,
                <router-link class="text-primary font-semibold" to="/notification-type/create">crear</router-link>
              </em>
            </template>
            <template #option="{name}">
              <span>{{name}}</span>
            </template>
          </v-select>
          <span v-if="isValid" class="text-danger text-sm">{{ errors.first("notificationTypeId") }}</span>
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-2/12 w-full">
          <span>Mensaje</span>
        </div>
        <div class="vx-col sm:w-10/12 w-full">
          <vs-textarea
              data-vv-validate-on="blur"
              v-validate="'required|min:4|max:1000'"
              name="messageNotification"
              v-model="payload.messageNotification"
            />
          <span v-if="isValid" class="text-danger text-sm">{{
            errors.first("messageNotification")
          }}</span>
        </div>
      </div>
    </template>
    <template slot="action-buttons">
      <div class="vx-row">
        <div v-if="modeEdit" class="vx-col w-full flex justify-end">
          <vs-button color="warning" type="border" class="mr-3 mb-2" @click="cancel">Cancelar</vs-button>
          <vs-button class="mb-2" @click="save">Guardar cambios</vs-button>
        </div>
        <div v-else class="vx-col w-full flex justify-end">
          <vs-button class="mb-2" @click="modeEdit = true">Editar</vs-button>
        </div>
      </div>
    </template>
  </basic-detail>
</template>

<script>
import DeleteReactivate from "../../basic-data/components/DeleteRectivate.vue";
import BasicDetail from "../../basic-data/components/BasicDetail.vue";
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {},
      payload: {},
      modeEdit: false,
      isValid: false,
      module: "notificationType",
      route: "notificationTypes",
      property: "notificationTypes",
      moduleBase: "notificationConfig",
      routeBase: "notificationConfigs",
      propertyBase: "notificationConfig"
    };
  },
  $_veeValidate: {
    validator: "new"
  },
  methods: {
    save() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          delete this.payload["status"];
          let notification= this.data = JSON.parse(JSON.stringify(this.payload));
          notification['channel'] = notification['channel'].join();
          await this.$store
            .dispatch("global/update", {
              payload: notification,
              route: this.routeBase,
              module: this.moduleBase,
              data: this.propertyBase
            })
            .then(async resp => {
              this.data = JSON.parse(JSON.stringify(resp[this.propertyBase]));
              this.data = { ...this.data, notificationTypeId: this.data.notificationType.id };
              let copy = this.data['channel'].split(",");
              this.data['channel'] = await this.channels
                  .filter( c => { if( copy.includes(c.val)) return c })
                  .map(a => a.val)
              delete this.data["notificationType"];
              this.payload = JSON.parse(JSON.stringify(this.data));
              this.$store.commit("SET_BREADCRUMB", this.data.name);
              this.modeEdit = false;
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },

    cancel() {
      this.modeEdit = false;
      this.payload = JSON.parse(JSON.stringify(this.data));
    },

    edit() {
      this.modeEdit = true;
    },

    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.routeBase,
          module: this.moduleBase,
          data: this.propertyBase
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.moduleBase,
            this.propertyBase
          );
          this.$store.commit("SET_BREADCRUMB", this.data.name);
          this.payload = JSON.parse(JSON.stringify(this.data));
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            this.data.status == 1 ? true : false
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    }
  },
  watch: {
    "payload.channel": {
      handler() {
        if(this.modeEdit)
        this.$validator.validate("channel");
      }
    },
    "payload.messageNotification": {
      handler() {
        if(this.modeEdit)
        this.$validator.validate("messageNotification");
      }
    },
    "payload.notificationTypeId": {
      handler() {
        if(this.modeEdit)
        this.$validator.validate("notificationTypeId");
      }
    }
  },
  computed: {
    notificationTypes() {
      return this.$store.getters["global/getItems"]('notificationType','notificationTypes');
    },
    channels() {
      return this.$store.getters[`${this.moduleBase}/getChannel`];
    }
  },
  async created() {
    this.getItem(this.$route.params.id);
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });
    this.data = await JSON.parse(
      JSON.stringify(
        this.$store.getters["global/getItem"](
          this.moduleBase,
          this.propertyBase
        )
      )
    );
    this.data = { ...this.data, notificationTypeId: this.data.notificationType.id };
    delete this.data["notificationType"];
    let copy = this.data.channel.split(",");
    this.data['channel'] = this.channels
        .filter( chan => { if( copy.includes(chan.val)) return chan })
        .map(chan => chan.val)
    this.payload = JSON.parse(JSON.stringify(this.data));
  },
  components: {
    BasicDetail,
    "v-select": vSelect,
    DeleteReactivate
  },
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
  [dir] .vs--single .vs__selected {
    font-size: 13px;
  }
  .center-view .delete-reactivate{
    position: absolute;
    top: 0;
    right: 0;
  }
</style>