<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card title="Acceso de usuario">
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <div class="vx-row">
              <div class="vx-col sm:w-1/6 w-full flex">
                <vs-icon class="mr-2" icon-pack="fas" icon="fa-calendar"></vs-icon>
              </div>
              <div class="vx-col sm:w-5/6 w-full flex">
                <p> <strong>{{data.date | dateFormat }}</strong> </p>
              </div>
            </div>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <div class="vx-row">
              <div class="vx-col sm:w-1/6 w-full flex">
                <vs-icon class="mr-2" icon-pack="fas" icon="fa-user"></vs-icon>
              </div>
              <div class="vx-col sm:w-5/6 w-full flex">
                <span>Usuario:</span>
                <p v-if="data.user" class="ml-3">{{ data.user.name }} {{ data.user.lastname }} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <div class="vx-row">
              <div class="vx-col sm:w-1/6 w-full flex">
                <vs-icon class="mr-2" icon-pack="fas" icon="fa-clipboard"></vs-icon>
              </div>
              <div class="vx-col sm:w-5/6 w-full flex">
                <span>Modelo accedido:</span>
                <p class="ml-3">{{ computedModelName | capitalize }}</p>
              </div>
            </div>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <div class="vx-row">
              <div class="vx-col sm:w-1/6 w-full flex">
                <vs-icon class="mr-2" icon-pack="fas" icon="fa-file"></vs-icon>
              </div>
              <div class="vx-col sm:w-5/6 w-full flex">
                <span>Registro accedido:</span>
                <p class="ml-3">{{ data.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="vx-row mb-6">
          <div class="vx-col sm:w-6/12 w-full flex">
            <div class="vx-row">
              <div class="vx-col sm:w-1/6 w-full flex">
                <vs-icon class="mr-2" icon-pack="fas" icon="fa-edit"></vs-icon>
              </div>
              <div class="vx-col sm:w-5/6 w-full flex pl-3">
                <span>Operación realizada:</span>
                <p class="pl-2"> {{ computedOperation }}</p>
              </div>
            </div>
          </div>
          <div class="vx-col sm:w-6/12 w-full flex">
            <div class="vx-row">
              <div class="vx-col sm:w-1/6 w-full flex">
                <vs-icon class="mr-2" icon-pack="feather" icon="icon-smartphone"></vs-icon>
              </div>
              <div class="vx-col sm:w-5/6 w-full flex pl-3">
                <span>Accedido desde:</span>
                <p class="ml-3">{{ computedFrom }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="vx-row">
            <div class="vx-col justify-end w-full flex">
        <vs-button
          color="success"
          type="line"
          icon-pack="feather"
          icon="icon-check"
          @click="$router.push(`/${data.modelName.replace(/[A-Z]/g, m => '-'+m.toLowerCase()) }/${data.recordId}`).catch(() => {
            console.log('error')
          })"
        >Ver registro</vs-button>
      </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
import moment from "moment";

export default {
  data() {
    return {
      data: {},
      module: "userLog",
      route: "userLogs",
      property: "userLog",
    };
  },
  components: {
    moment,
  },
  methods: {
    async getItem(id) {
      this.$vs.loading();
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(async () => {
          this.data = await this.$store.getters["global/getItem"](
            this.module,
            this.property
          );
          this.$store.commit(
            "SET_BREADCRUMB",
            this.computedOperation + " " + this.computedModelName+ " " + this.data.name
          );
          this.$vs.loading.close();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        }); 
    },
  },
  computed: {
    computedOperation(){
      switch(this.data.operation){
        case 'create': return 'Crear';
        case 'update': return 'Actualizar';
        case 'archive': return 'Archivar';
        case 'reactive': return 'Reactivar';
        case 'approve': return 'Aprobar';
        case 'reject': return 'Rechazar';
        default: return 'Ver'
      }
    },
    computedFrom(){
      switch(this.data.from){
        case 'mobile': return 'Aplicación móvil';
        default: return 'Web interna'
      }
    },
    computedModelName(){
      return this.$store.getters["global/getNameModel"](this.data.modelName)
    }
  },
  filters: {
    dateFormat: function(value) {
      return  moment(value).format("DD/MM/YYYY h:m:s a");
      }
  }, 
  created() {
    this.getItem(this.$route.params.id);
  }, 
  beforeDestroy() {
    this.$store.commit(`${this.module}/SET_ITEM`, null);
  }
};
</script>
<style lang="scss">
.prompt-appointment .vs-dialog {
  max-width: 600px !important;
}
</style>