<template>
  <div>
    <transaction-list
      :columns="columns"
      :data="data"
      :path="path"
    ></transaction-list>
  </div>
</template>
<script>
import TransactionList from "../transactions/components/List";
import moment from "moment";
export default {
  data() {
    return {
      columns: [
        {
          headerName: "Fecha",
          field: "date",
          filter: "agDateColumnFilter",
          valueGetter: function(params) {
            return moment(params.data.date).format("DD/MM/YYYY h:m:s a");
          },
          filterParams: {
            comparator: (filterLocalDateAtMidnight, cellValue) => {
              var dateAsString = cellValue;
              if (dateAsString == null) return -1;
              var dateParts = dateAsString.split("/");
              var cellDate = new Date(
                Number(dateParts[2]),
                Number(dateParts[1]) - 1,
                Number(dateParts[0])
              );
              if (filterLocalDateAtMidnight.getTime() == cellDate.getTime()) {
                return 0;
              }
              if (cellDate < filterLocalDateAtMidnight) {
                return -1;
              }
              if (cellDate > filterLocalDateAtMidnight) {
                return 1;
              }
            },
            browserDatePicker: true
          },
          width: 250,
          suppressSizeToFit: true
        },
        {
          headerName: "Entidad",
          filter: true,
          valueGetter: function(params) {
            return (
              params.data.publicName[0].toUpperCase() +
              params.data.publicName.slice(1)
            );
          }
        },
        {
          headerName: "Registro",
          filter: true,
          valueGetter: function(params) {
            return params.data.name;
          }
        },
        {
          headerName: "Usuario",
          filter: true,
          valueGetter: function(params) {
            return params.data.user.name + " " + params.data.user.lastname;
          }
        }
      ],
      module: "userLog",
      route: "userLogs",
      singularProperty: "userLog",
      pluralProperty: "userLogs",
      path: "/user-log"
    };
  },
  components: {
    TransactionList
  },
  methods: {
    getModelName() {
      return "model";
    }
  },
  computed: {
    data() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      )
        .slice()
        .reverse()
        .map(el => {
          return {
            id: el.id,
            name: el.name,
            modelName: el.modelName,
            publicName: this.$store.getters["global/getNameModel"](
              el.modelName
            ),
            date: el.date,
            user: el.user
          };
        });
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  }
};
</script>
