<template>
  <div>
    <div class="vx-row flex mb-2 pl-3">
      <div class="vx-col sm:w-1/6 w-full text-center">
        <upload-manual
          :formData.sync="image"
          type="image"
          :url="`${url}files/uploads/${organization.logo}`"
          class="vs-con-loading__container responsive rounded-lg"
          id="image__loading"
        />
      </div>
      <div class="vx-col sm:w-4/6 w-full">
        <p class="w-full text-2xl font-sans font-semibold mb-2">{{ organization.name }}</p>
        <p class="w-full text-base font-normal font-sans">
          <vs-icon class="mr-2" icon-pack="far" icon="fa-address-card"></vs-icon>
          {{ organization.rif }}
        </p>
        <p class="w-full text-base font-normal font-sans">
          <vs-icon class="mr-2" icon-pack="feather" icon="icon-map-pin"></vs-icon>
          {{ organization.address }}
        </p>
        <p class="w-full text-base font-normal font-sans">
          <vs-icon class="mr-2" icon-pack="feather" icon="icon-shield"></vs-icon>
          {{ organization.slogan }}
        </p>
      </div>
      <div class="vx-col sm:w-1/6 w-full">
        <vs-button color="primary" type="border" @click="edit">Editar</vs-button>
      </div>
    </div>

    <vs-divider class="mb-3" position="left" color="primary">Filosofía</vs-divider>
    <vs-list>
      <vs-list-item title="Sobre nosotros" :subtitle="organization.aboutUs"></vs-list-item>
      <vs-list-item title="Misión" :subtitle="organization.mission"></vs-list-item>
      <vs-list-item title="Visión" :subtitle="organization.vission"></vs-list-item>
      <vs-list-item title="Valores" :subtitle="organization.values"></vs-list-item>
    </vs-list>

    <vs-divider
      v-if="organization.socialFacebook || organization.socialTwitter || organization.socialInstagram || organization.socialInstagram || organization.socialYouTube || organization.socialLinkedIn || organization.socialSlack"
      class="mb-4"
      position="left"
      color="primary"
    >Redes Sociales</vs-divider>

    <div class="vx-row pl-3 mb-2" v-if="organization.socialFacebook">
      <div class="vx-col w-full">
        <p class="w-full text-sm font-normal font-sans">
          <span class="font-semibold mr-2">Cuenta de Facebook:</span>
          {{ organization.socialFacebook }}
        </p>
      </div>
    </div>

    <div class="vx-row pl-3 mb-2" v-if="organization.socialTwitter">
      <div class="vx-col w-full">
        <p class="w-full text-sm font-normal font-sans">
          <span class="font-semibold mr-2">Cuenta de Twitter:</span>
          {{ organization.socialTwitter }}
        </p>
      </div>
    </div>

    <div class="vx-row pl-3 mb-2" v-if="organization.socialInstagram">
      <div class="vx-col w-full">
        <p class="w-full text-sm font-normal font-sans">
          <span class="font-semibold mr-2">Cuenta de Instagram:</span>
          {{ organization.socialInstagram }}
        </p>
      </div>
    </div>

    <div class="vx-row pl-3 mb-2" v-if="organization.socialYouTube">
      <div class="vx-col w-full">
        <p class="w-full text-sm font-normal font-sans">
          <span class="font-semibold mr-2">Cuenta de YouTube:</span>
          {{ organization.socialYouTube }}
        </p>
      </div>
    </div>

    <div class="vx-row pl-3 mb-2" v-if="organization.socialLinkedIn">
      <div class="vx-col w-full">
        <p class="w-full text-sm font-normal font-sans">
          <span class="font-semibold mr-2">Cuenta de LinkedIn:</span>
          {{ organization.socialLinkedIn }}
        </p>
      </div>
    </div>

    <div class="vx-row pl-3 mb-2" v-if="organization.socialSlack">
      <div class="vx-col w-full">
        <p class="w-full text-sm font-normal font-sans">
          <span class="font-semibold mr-2">Cuenta de Slack:</span>
          {{ organization.socialSlack }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import UploadManual from "../../../components/upload/UploadManual";
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      url: process.env.VUE_APP_URL,
      image: null,
      module: "organization",
      route: "organizations",
      property: "organization"
    };
  },
  computed: {
    organization() {
      return this.$store.getters["organization/getOrganization"];
    }
  },
  methods: {
    edit() {
      this.$store.commit("organization/MODE_EDIT", true);
    },
    async upload() {
      this.$vs.loading({ container: "#image__loading", scale: 0.45 });
      this.isLoad = true;
      if (this.image) {
        this.organization["image"] = this.image;
      }
      await this.$store
        .dispatch("global/upload", {
          id: this.organization["id"],
          image: this.organization["image"],
          data: this.property,
          module: this.module,
          route: this.route
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
        });
    }
  },
  created() {
    this.image = this.organization.image;
  },
  components: {
    UploadManual
  },
  watch: {
    image: {
      handler() {
        if (this.image) {
          this.upload();
        }
      }
    }
  }
};
</script>

<style lang="scss">
.vs-list--item {
  border-bottom: none;
}
.con-input-upload {
  width: 110px;
  height: 110px;
  margin-top: 0;
}
</style>