<template>
  <div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/4 mb-2">
        <upload-manual
          :formData.sync="image"
          type="image"
          :url="`${url}files/uploads/${organization.logo}`"
          class="vs-con-loading__container"
          id="image__loading"
        />
      </div>

      <div class="vx-col sm:w-3/4 w-full mb-2">
        <div class="vx-row">
          <div class="vx-col sm:w-1/2 w-full mb-2">
            <vs-input
              icon-pack="feather"
              icon="icon-tag"
              class="w-full"
              v-model="organization.name"
              label-placeholder="Nombre"
              name="name"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("name") }}</span>
          </div>
          <div class="vx-col sm:w-1/2 w-full mb-2">
            <vs-input
              icon-pack="far"
              icon="fa-address-card"
              class="w-full"
              v-model="organization.rif"
              label-placeholder="Rif"
              name="rif"
              data-vv-validate-on="blur"
              v-validate="'required|numeric|min:4|max:50'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("rif") }}</span>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-full mb-2">
            <vs-input
              icon-pack="feather"
              icon="icon-map-pin"
              class="w-full"
              v-model="organization.address"
              label-placeholder="Dirección"
              name="address"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("address") }}</span>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-full mb-2">
            <vs-input
              icon-pack="feather"
              icon="icon-shield"
              class="w-full"
              v-model="organization.slogan"
              label-placeholder="Eslogan"
              name="slogan"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:150'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("slogan") }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Misión"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          name="mission"
          v-model="organization.mission"
          placeholder="Escribe aquí la misión de la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("mission") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Visión"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          name="vission"
          v-model="organization.vission"
          placeholder="Escribe aquí la visión de la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("vission") }}</span>
      </div>
    </div>
    <div class="vx-row mb-base">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Sobre nosotros"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          v-model="organization.aboutUs"
          name="aboutUs"
          placeholder="Escribe sobre la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("aboutUs") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Valores"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          v-model="organization.values"
          name="values"
          placeholder="Escribe aquí los valores de la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("values") }}</span>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full flex justify-end">
        <vs-button color="warning" type="border" class="mb-2 mr-3" @click="cancel">Cancelar</vs-button>
        <vs-button class="mb-2" @click="edit" :disabled="isLoad">Guardar</vs-button>
      </div>
    </div>
  </div>
</template>

<script>
import UploadManual from "../../../components/upload/UploadManual";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      organization: {},
      isValid: false,
      image: null,
      imageValid: false,
      isLoad: false,
      module: "organization",
      route: "organizations",
      property: "organization",
      url: process.env.VUE_APP_URL
    };
  },
  inject: ["$validator"],
  methods: {
    edit() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.isLoad = true;
          this.$vs.loading({ scale: 0.45 });
          if (this.image) {
            this.organization["image"] = this.image;
          }
          await this.$store
            .dispatch("global/updateWithImage", {
              payload: this.organization,
              data: this.property,
              module: this.module,
              route: this.route
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$store.commit("organization/MODE_EDIT", false);
              this.isValid = false;
              this.$vs.loading.close();
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
              this.isValid = false;
              this.$vs.loading.close();
            });
        }
      });
    },

    async upload() {
      this.$vs.loading({ container: "#image__loading", scale: 0.45 });
      this.isLoad = true;
      if (this.image) {
        this.organization["image"] = this.image;
      }
      await this.$store
        .dispatch("global/upload", {
          id: this.organization["id"],
          image: this.organization["image"],
          data: this.property,
          module: this.module,
          route: this.route
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
          this.organization = JSON.parse(
            JSON.stringify(
              this.$store.getters[`${this.module}/getOrganization`]
            )
          );
          this.$vs.loading.close("#image__loading > .con-vs-loading");
          this.isLoad = false;
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification("error", err, code, this.$vs.notify);
          });
          this.$vs.loading.close("#image__loading > .con-vs-loading");
          this.isLoad = false;
        });
    },

    cancel() {
      this.$store.commit("organization/MODE_EDIT", false);
    }
  },
  components: {
    UploadManual
  },
  watch: {
    "organization.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "organization.rif": {
      handler() {
        this.$validator.validate("rif");
      }
    },
    "organization.slogan": {
      handler() {
        this.$validator.validate("slogan");
      }
    },
    "organization.mission": {
      handler() {
        this.$validator.validate("mission");
      }
    },
    "organization.vission": {
      handler() {
        this.$validator.validate("mission");
      }
    },
    "organization.address": {
      handler() {
        this.$validator.validate("mission");
      }
    },
    "organization.values": {
      handler() {
        this.$validator.validate("mission");
      }
    },
    "organization.aboutUs": {
      handler() {
        this.$validator.validate("mission");
      }
    },
    image: {
      handler() {
        if (this.image) {
          this.upload()
          this.imageValid = true;
        }
      }
    }
  },
  created() {
    this.organization = JSON.parse(
      JSON.stringify(this.$store.getters["organization/getOrganization"])
    );
  },
  beforeDestroy() {
    this.$store.commit("organization/MODE_EDIT", false);
  }
};
</script>

<style lang="scss">
.con-input-upload {
  width: 160px;
  height: 160px;
  margin-left: 0;
}

.con-img-upload {
  padding-left: 0;
}

[dir="ltr"]
  .vs-input--input.hasIcon:not(.icon-after-input):focus
  + .vs-input--placeholder {
  padding-left: 0.2rem !important;
  padding-bottom: 0.3rem !important;
}

[dir] .vs-con-textarea {
  margin-bottom: 0;
}
</style>