<template>
  <div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/4 mb-2">
        <upload-manual :formData.sync="organization.image" type="image" id="image-organization"/>
      </div>

      <div class="vx-col sm:w-3/4 w-full mb-2">
        <div class="vx-row">
          <div class="vx-col sm:w-1/2 w-full mb-2">
            <vs-input
              icon-pack="feather"
              icon="icon-tag"
              class="w-full"
              v-model="organization.name"
              label-placeholder="Nombre"
              name="name"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("name") }}</span>
          </div>
          <div class="vx-col sm:w-1/2 w-full mb-2">
            <vs-input
              icon-pack="far"
              icon="fa-address-card"
              class="w-full"
              v-model="organization.rif"
              label-placeholder="Rif"
              name="rif"
              data-vv-validate-on="blur"
              v-validate="'required|numeric|min:4|max:50'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("rif") }}</span>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-full mb-2">
            <vs-input
              icon-pack="feather"
              icon="icon-map-pin"
              class="w-full"
              v-model="organization.address"
              label-placeholder="Dirección"
              name="address"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("address") }}</span>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-full mb-2">
            <vs-input
              icon-pack="feather"
              icon="icon-shield"
              class="w-full"
              v-model="organization.slogan"
              label-placeholder="Eslogan"
              name="slogan"
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:150'"
              autocomplete="off"
            />
            <span v-if="isValid" class="text-danger text-sm">{{ errors.first("slogan") }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Misión"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          name="mission"
          v-model="organization.mission"
          placeholder="Escribe aquí la misión de la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("mission") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Visión"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          name="vission"
          v-model="organization.vission"
          placeholder="Escribe aquí la visión de la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("vission") }}</span>
      </div>
    </div>
    <div class="vx-row mb-base">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Sobre nosotros"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          v-model="organization.aboutUs"
          name="aboutUs"
          placeholder="Escribe sobre la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("aboutUs") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-textarea
          label="Valores"
          data-vv-validate-on="blur"
          v-validate="'required|min:4'"
          v-model="organization.values"
          name="values"
          placeholder="Escribe aquí los valores de la organización."
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("values") }}</span>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full flex justify-end">
        <vs-button class="mb-2" @click="create">Guardar</vs-button>
      </div>
    </div>
  </div>
</template>

<script>
import UploadManual from "../../../components/upload/UploadManual";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      organization: {
        name: "",
        rif: "",
        slogan: "",
        mission: "",
        vission: "",
        address: "",
        values: "",
        aboutUs: "",
        image: null,
        status: true
      },
      module: "organization",
      route: "organizations",
      property: "organization",
      isValid: false
    };
  },
  inject: ["$validator"],
  methods: {
    create() {
      this.$validator.validateAll().then(async validate => {
        this.isValid = true;
        if (validate) {
          this.$vs.loading();
          await this.$store
            .dispatch("global/createWithImage", {
              payload: this.organization,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.$vs.loading.close();
              this.$store.commit(`${this.module}/THERE_ORGANIZATION`, true);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
              this.$vs.loading.close();
            });
        }
      });
    }
  },
  components: {
    UploadManual
  },
  watch: {
    "organization.name": {
      handler() {
        this.$validator.validate("name");
      }
    },
    "organization.rif": {
      handler() {
        this.$validator.validate("rif");
      }
    },
    "organization.slogan": {
      handler() {
        this.$validator.validate("slogan");
      }
    },
    "organization.mission": {
      handler() {
        this.$validator.validate("mission");
      }
    },
    "organization.vission": {
      handler() {
        this.$validator.validate("vission");
      }
    },
    "organization.address": {
      handler() {
        this.$validator.validate("address");
      }
    },
    "organization.values": {
      handler() {
        this.$validator.validate("values");
      }
    },
    "organization.aboutUs": {
      handler() {
        this.$validator.validate("aboutUs");
      }
    }
  }
};
</script>

<style lang="scss">
#image-organization .con-input-upload {
  width: 160px;
  height: 160px;
  margin-left: 0;
}

.con-img-upload {
  padding-left: 0;
}

[dir="ltr"]
  .vs-input--input.hasIcon:not(.icon-after-input):focus
  + .vs-input--placeholder {
  padding-left: 0.2rem !important;
  padding-bottom: 0.3rem !important;
}

[dir] .vs-con-textarea {
  margin-bottom: 0;
}
</style>