<template>
  <div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-facebook"
          class="w-full"
          label-placeholder="Facebook"
          data-vv-validate-on="blur"
          v-validate="'alpha_dash|min:4|max:50'"
          name="socialFacebook"
          v-model="organization.socialFacebook"
          autocomplete="off"
          :disabled="disabled"
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("socialFacebook") }}</span>
      </div>

      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-twitter"
          class="w-full"
          label-placeholder="Twitter"
          data-vv-validate-on="blur"
          v-validate="'alpha_dash|min:4|max:50'"
          name="socialTwitter"
          v-model="organization.socialTwitter"
          autocomplete="off"
          :disabled="disabled"
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("socialTwitter") }}</span>
      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-instagram"
          class="w-full"
          label-placeholder="Instagram"
          data-vv-validate-on="blur"
          v-validate="'alpha_dash|min:4|max:50'"
          name="socialInstagram"
          v-model="organization.socialInstagram"
          autocomplete="off"
          :disabled="disabled"
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("socialInstagram") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-linkedin"
          class="w-full"
          label-placeholder="Linkedin"
          data-vv-validate-on="blur"
          v-validate="'alpha_dash|min:4|max:50'"
          name="socialLinkedIn"
          v-model="organization.socialLinkedIn"
          autocomplete="off"
          :disabled="disabled"
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("socialLinkedIn") }}</span>
      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-slack"
          class="w-full"
          label-placeholder="Slack"
          data-vv-validate-on="blur"
          v-validate="'alpha_dash|min:4|max:50'"
          name="socialSlack"
          v-model="organization.socialSlack"
          autocomplete="off"
          :disabled="disabled"
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("socialSlack") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-youtube"
          class="w-full"
          label-placeholder="Youtube"
          data-vv-validate-on="blur"
          v-validate="'alpha_dash|min:4|max:50'"
          name="socialYouTube"
          v-model="organization.socialYouTube"
          autocomplete="off"
          :disabled="disabled"
        />
        <span v-if="isValid" class="text-danger text-sm">{{ errors.first("socialYouTube") }}</span>
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-end">
      <vs-button
        class="mt-2"
        type="border"
        color="warning"
        @click="cancel"
        v-if="!disabled"
      >Cancelar</vs-button>
      <vs-button
        class="ml-4 mt-2"
        :disabled="btnDisabled"
        @click="update( disabled ? 'edit' : 'save')"
      >{{ disabled ? 'Editar' : 'Guardar'}}</vs-button>
    </div>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      organization: {
        id: "",
        socialFacebook: "",
        socialTwitter: "",
        socialInstagram: "",
        socialLinkedIn: "",
        socialYouTube: "",
        socialSlack: ""
      },
      copy: {},
      module: "organization",
      route: "organizations",
      property: "organization",
      isValid: false,
      disabled: true
    };
  },
  inject: ["$validator"],
  props: {
    btnDisabled: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    update(type) {
      if (Object.is(type, "edit")) {
        this.disabled = false;
        return;
      }
      this.$validator.validateAll().then(validate => {
        this.isValid = true;
        if (validate) {
          this.$store
            .dispatch("global/update", {
              payload: this.organization,
              route: this.route,
              module: this.module,
              data: this.property
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.disabled = true;
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    cancel() {
      this.organization = JSON.parse(JSON.stringify(this.copy));
      this.disabled = true;
    },
    validate(property) {
      if (this.isValid) {
        this.$validator.validate(property);
      }
    }
  },
  watch: {
    "organization.socialFacebook": {
      handler() {
        this.validate("socialFacebook");
      }
    },
    "organization.socialTwitter": {
      handler() {
        this.validate("socialTwitter");
      }
    },
    "organization.socialInstagram": {
      handler() {
        this.validate("socialInstagram");
      }
    },
    "organization.socialLinkedIn": {
      handler() {
        this.validate("socialLinkedIn");
      }
    },
    "organization.socialYouTube": {
      handler() {
        this.validate("socialYouTube");
      }
    },
    "organization.socialSlack": {
      handler() {
        this.validate("socialSlack");
      }
    }
  },
  async created() {
    let data = this.$store.getters["organization/getOrganization"];

    if (data) {
      data = JSON.parse(JSON.stringify(data));

      if (Object.entries(data).length) {
        this.organization = {
          id: data.id,
          socialFacebook: data.socialFacebook || "",
          socialTwitter: data.socialTwitter || "",
          socialInstagram: data.socialInstagram || "",
          socialLinkedIn: data.socialLinkedIn || "",
          socialYouTube: data.socialYouTube || "",
          socialSlack: data.socialSlack || ""
        };
      }
    }

    this.copy = JSON.parse(JSON.stringify(this.organization));
  }
};
</script>