<template>
  <div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-info"
          class="w-full"
          label-placeholder="Título"
          data-vv-validate-on="blur"
          v-validate="'required|alpha_number_spaces|min:4|max:50'"
          name="title"
          v-model="data.title"
          autocomplete="off"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("title") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <v-select
          v-model="data.telephoneTypeId"
          :reduce="option => option.val"
          :options="telephoneTypes"
          :dir="$vs.rtl ? 'rtl' : 'ltr'"
          class="mt-select"
          data-vv-validate-on="blur"
          v-validate="'excluded:Tipo de teléfono|required'"
          name="telephoneTypeId"
        >
          <template v-slot:no-options="{ search, searching }">
            <template v-if="searching">
              No se encontraron resultados para
              <em class="text-primary font-semibold">{{ search }}</em>.
            </template>
            <em v-else>
              No hay tipos de teléfono disponibles,
              <router-link class="text-primary font-semibold" to="/telephone-type/create">crear</router-link>
            </em>
          </template>
        </v-select>
        <span
          v-if="showValidations"
          class="text-danger text-sm"
        >{{ errors.first("telephoneTypeId") }}</span>
      </div>
    </div>

    <div class="vx-row mb-2">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          class="w-full"
          icon-pack="feather"
          icon="icon-shield"
          icon-no-border
          label-placeholder="Código"
          data-vv-validate-on="blur"
          v-validate="'required|numeric|min:4|max:4'"
          name="code"
          v-model="data.code"
          autocomplete="off"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("code") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          class="w-full"
          icon-pack="feather"
          icon="icon-smartphone"
          icon-no-border
          label-placeholder="Número"
          data-vv-validate-on="blur"
          v-validate="'required|numeric|min:7|max:7'"
          name="number"
          v-model="data.number"
          autocomplete="off"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("number") }}</span>
      </div>
    </div>
    <div class="flex flex-wrap items-center justify-end">
      <vs-button class="mr-3 mt-2" type="border" color="warning" @click="cancel">Cancelar</vs-button>
      <vs-button class="mt-2" @click="save">Guardar</vs-button>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

export default {
  data() {
    return {
      data: {
        title: "",
        telephoneTypeId: "Tipo de teléfono",
        code: "",
        number: "",
        status: true
      },
      showValidations: false,
      moduleBase: "telephone",
      module: "telephoneType",
      routeBase: "telephones",
      route: "telephoneTypes",
      propertyBase: "telephone",
      property: "telephoneTypes"
    };
  },
  inject: ["$validator"],
  components: {
    vSelect
  },
  methods: {
    save() {
      this.$validator.validateAll().then(async valid => {
        this.showValidations = true;
        if (valid) {
          await this.$store
            .dispatch("global/create", {
              payload: this.data,
              route: this.routeBase,
              module: this.moduleBase,
              data: this.propertyBase
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.cancel();
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    cancel() {
      this.$store.commit(`${this.moduleBase}/CHANGE_VIEW`, false);
      this.$store.commit(`${this.moduleBase}/MODE_EDIT`, false);
      this.showValidations = false;
    }
  },
  computed: {
    telephoneTypes() {
      return this.$store.getters[`${this.module}/getCustomItems`];
    }
  },
  watch: {
    "data.title": {
      handler() {
        this.$validator.validate("title");
      }
    },
    "data.code": {
      handler() {
        this.$validator.validate("code");
      }
    },
    "data.number": {
      handler() {
        this.$validator.validate("number");
      }
    },
    "data.telephoneTypeId": {
      handler() {
        this.$validator.validate("telephoneTypeId");
      }
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });
  }
};
</script>

<style lang="scss">
[dir] .vs--single .vs__selected {
  font-size: 13px;
}
</style>