<template>
  <div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-3">
        <h5>{{ editFields ? 'Editar registro' : data.title }}</h5>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-3 flex justify-end">
        <delete-reactivate
          :module="moduleBase"
          :property="propertyBase"
          :route="routeBase"
          :id="String(data.id)"
        ></delete-reactivate>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          icon-pack="feather"
          icon="icon-info"
          class="w-full"
          label-placeholder="Título"
          data-vv-validate-on="blur"
          v-validate="'required|alpha_spaces|min:4|max:50'"
          name="title"
          v-model="data.title"
          autocomplete="off"
          :disabled="!editFields"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("title") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <v-select
          v-model="data.telephoneTypeId"
          :reduce="option => option.val"
          :options="telephoneTypes"
          :key="data.telephoneTypeId"
          :dir="$vs.rtl ? 'rtl' : 'ltr'"
          class="mt-select"
          data-vv-validate-on="blur"
          v-validate="'excluded:Tipo de teléfono|required'"
          name="telephoneTypeId"
          :disabled="!editFields"
        >
          <template v-slot:no-options="{ search, searching }">
            <template v-if="searching">
              No se encontraron resultados para
              <em class="text-primary font-semibold">{{ search }}</em>.
            </template>
            <em v-else>
              No hay tipos de teléfono disponibles,
              <router-link class="text-primary font-semibold" to="/telephone-type/create">crear</router-link>
            </em>
          </template>
        </v-select>
        <span
          v-if="showValidations"
          class="text-danger text-sm"
        >{{ errors.first("telephoneTypeId") }}</span>
      </div>
    </div>

    <div class="vx-row mb-2">
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          class="w-full"
          icon-pack="feather"
          icon="icon-shield"
          icon-no-border
          label-placeholder="Código"
          data-vv-validate-on="blur"
          v-validate="'required|numeric|min:4|max:4'"
          name="code"
          v-model="data.code"
          autocomplete="off"
          :disabled="!editFields"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("code") }}</span>
      </div>
      <div class="vx-col sm:w-1/2 w-full mb-2">
        <vs-input
          class="w-full"
          icon-pack="feather"
          icon="icon-smartphone"
          icon-no-border
          label-placeholder="Número"
          data-vv-validate-on="blur"
          v-validate="'required|numeric|min:7|max:7'"
          name="number"
          v-model="data.number"
          autocomplete="off"
          :disabled="!editFields"
        />
        <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("number") }}</span>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full flex justify-end">
        <vs-button
          class="mr-3 mt-2"
          type="border"
          color="warning"
          @click="cancel( editFields ? 'guardar' : 'editar')"
        >Cancelar</vs-button>
        <vs-button
          class="mt-2"
          @click="edit( editFields ? 'guardar' : 'editar')"
        >{{ editFields ? 'Guardar' : 'Editar' }}</vs-button>
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
const notify = () => import("@/vendor/notify.js");

import DeleteReactivate from "../../basic-data/components/DeleteRectivate.vue";

export default {
  data() {
    return {
      data: {},
      prueba: "",
      showValidations: false,
      moduleBase: "telephone",
      module: "telephoneType",
      routeBase: "telephones",
      route: "telephoneTypes",
      propertyBase: "telephone",
      property: "telephoneTypes"
    };
  },
  inject: ["$validator"],
  components: {
    vSelect,
    DeleteReactivate
  },
  methods: {
    edit(type) {
      if (Object.is(type, "editar")) {
        this.$store.commit(`${this.moduleBase}/DETAIL_VIEW`, true);
        return;
      }
      this.$validator.validateAll().then(async valid => {
        this.showValidations = true;
        if (valid) {
          await this.$store
            .dispatch("global/update", {
              payload: this.data,
              route: this.routeBase,
              module: this.moduleBase,
              data: this.propertyBase
            })
            .then(resp => {
              notify().then(({ notification }) => {
                notification(
                  "success",
                  resp,
                  resp.message.code,
                  this.$vs.notify
                );
              });
              this.showValidations = false;
              this.data = JSON.parse(JSON.stringify(resp[this.propertyBase]));
              this.data["telephoneTypeId"] = this.data.telephoneType.id;
              delete this.data["telephoneType"];
              this.$store.commit(`${this.moduleBase}/DETAIL_VIEW`, false);
            })
            .catch(err => {
              notify().then(({ notification }) => {
                const code = err.hasOwnProperty("message")
                  ? err.message.code
                  : err.code;
                notification("error", err, code, this.$vs.notify);
              });
            });
        }
      });
    },
    cancel(type) {
      if (!Object.is(type, "editar")) {
        this.$store.commit(`${this.moduleBase}/DETAIL_VIEW`, false);
        this.showValidations = false;
        return;
      }
      this.$store.commit(`${this.moduleBase}/CHANGE_VIEW`, false);
      this.$store.commit(`${this.moduleBase}/MODE_EDIT`, false);
      this.$store.commit(`${this.moduleBase}/DETAIL_VIEW`, false);
      this.showValidations = false;
    }
  },
  computed: {
    telephoneTypes() {
      return this.$store.getters[`${this.module}/getCustomItems`];
    },
    editFields() {
      return this.$store.getters[`${this.moduleBase}/getViewEdit`];
    }
  },
  watch: {
    "data.title": {
      handler() {
        this.$validator.validate("title");
      }
    },
    "data.code": {
      handler() {
        this.$validator.validate("code");
      }
    },
    "data.number": {
      handler() {
        this.$validator.validate("number");
      }
    },
    "data.telephoneTypeId": {
      handler() {
        this.$validator.validate("telephoneTypeId");
      }
    }
  },
  async created() {
    await this.$vs.loading();
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.property
    });

    this.data = await JSON.parse(
      JSON.stringify(
        this.$store.getters["global/getItem"](
          this.moduleBase,
          this.propertyBase
        )
      )
    );
    this.data = { ...this.data, telephoneTypeId: this.data.telephoneType.id };
    delete this.data["telephoneType"];

    setTimeout(() => {
      this.$vs.loading.close();
    }, 1500);
  },
  beforeDestroy() {
    this.$store.commit(`${this.moduleBase}/SET_ITEM`, null);
  }
};
</script>

<style lang="scss">
[dir] .vs--single .vs__selected {
  font-size: 13px;
}
</style>