<template>
  <div id="data-list-list-view" class="data-list-container">
    <vs-table
      v-model="selected"
      ref="table"
      @selected="handleSelected"
      pagination
      :max-items="itemsPerPage"
      noDataText = "No hay datos disponibles"
      search
      :data="list"
    >
      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
          <div
            class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
            @click="changeView"
          >
            <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
            <span class="ml-2 text-base text-primary">Crear</span>
          </div>
        </div>

        <!-- Items por pagina -->
        <vs-dropdown vs-trigger-click class="cursor-pointer mb-4 mr-4 items-per-page-handler">
          <div
            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
          >
            <span
              class="mr-2"
            >{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} - {{ currentPage * itemsPerPage > 0 ? currentPage * itemsPerPage : list.length }} de {{ queriedItems }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
          </div>
          <vs-dropdown-menu>
            <vs-dropdown-item @click="itemsPerPage = 4">
              <span>4</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 10">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 15">
              <span>15</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 20">
              <span>20</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

      <template slot="thead">
        <vs-th sort-key="title">Título</vs-th>
        <vs-th sort-key="status">Tipo</vs-th>
        <vs-th sort-key="code">Código</vs-th>
        <vs-th sort-key="number">Número</vs-th>
        <vs-th sort-key="status">Estatus</vs-th>
        <vs-th>Accion</vs-th>
      </template>

      <template slot-scope="{ data }">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <p class="product-name font-medium truncate">{{ tr.title }}</p>
            </vs-td>
            <vs-td>
              <p class="product-name font-medium truncate">{{ tr.telephoneType.name }}</p>
            </vs-td>
            <vs-td>
              <p class="product-name font-medium truncate">{{ tr.code }}</p>
            </vs-td>
            <vs-td>
              <p class="product-name font-medium truncate">{{ tr.number }}</p>
            </vs-td>
            <vs-td>
              <vs-chip
                :color="getOrderStatusColor(tr.status)"
                class="product-order-status"
              >{{ getStatus(tr.status) }}</vs-chip>
            </vs-td>

            <vs-td class="whitespace-no-wrap">
              <vx-tooltip
                v-if="tr.status == 1"
                class="inline-block"
                color="gray"
                text="Archivar"
                position="top"
              >
                <feather-icon
                  icon="ArchiveIcon"
                  svgClasses="w-5 h-5 hover:text-gray stroke-current"
                  class="ml-2"
                  @click.stop="activeOrArchiveDialog(tr.id,'archive')"
                />
              </vx-tooltip>

              <vx-tooltip v-else class="inline-block" color="success" text="Activar" position="top">
                <feather-icon
                  icon="CheckSquareIcon"
                  svgClasses="w-5 h-5 hover:text-success stroke-current"
                  class="ml-2"
                  @click.stop="activeOrArchiveDialog(tr.id,'active')"
                />
              </vx-tooltip>

              <vx-tooltip class="inline-block" color="danger" text="Eliminar" position="top">
                <feather-icon
                  icon="TrashIcon"
                  svgClasses="w-5 h-5 hover:text-danger stroke-current"
                  class="ml-3"
                  @click.stop="deleteDialog(tr.id)"
                />
              </vx-tooltip>
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
  </div>
</template>

<script>
const notify = () => import("@/vendor/notify.js");
export default {
  data() {
    return {
      elements: [],
      itemsPerPage: 4,
      isMounted: false,
      selected: [],
      module: "telephone",
      route: "telephones",
      singularProperty: "telephone",
      pluralProperty: "telephones"
    };
  },
  computed: {
    list() {
      return this.$store.getters["global/getItems"](
        this.module,
        this.pluralProperty
      );
    },
    currentPage() {
      if (this.isMounted) {
        return this.$refs.table.currentx;
      }
      return 0;
    },
    queriedItems() {
      return this.$refs.table
        ? this.$refs.table.queriedResults.length
        : this.list.length;
    }
  },
  methods: {
    async edit(id) {
      await this.$store
        .dispatch("global/getItem", {
          id: id,
          route: this.route,
          module: this.module,
          data: this.singularProperty
        })
        .then(resp => {
          this.$store.commit(`${this.module}/MODE_EDIT`, true);
          this.$store.commit(
            "SET_VIEW_DETAIL_STATUS",
            resp[this.module].status == 1 ? true : false
          );
          this.changeView();
        })
        .catch(err => {
          notify().then(({ notification }) => {
            this.$vs.loading.close();
            if (!Object.is(err.message.code, 404)) {
              notification("error", err, err.message.code, this.$vs.notify);
              return;
            }
            this.$router.push("/pages/error-404");
          });
        });
    },
    activeOrArchiveDialog(id, action) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea ${action == "active" ? "activar" : "archivar"} el registro?`,
          this.activeOrArchive,
          [id, action]
        );
      });
    },

    async activeOrArchive(parameters) {
      await this.$store
        .dispatch(
          `global/${parameters[1] == "archive" ? "remove" : "unRemove"}`,
          {
            id: parameters[0],
            route: this.route,
            module: this.module,
            data: this.singularProperty
          }
        )
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro archivado"
            );
          });
        });
    },

    deleteDialog(id) {
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea eliminar el registro? Una vez eliminado no podrá recuperarlos`,
          this.delete,
          [id]
        );
      });
    },

    async delete(parameters) {
      await this.$store
        .dispatch("global/delete", {
          id: parameters[0],
          route: this.route,
          module: this.module,
          data: this.singularProperty
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro eliminado"
            );
          });
        });
    },
    async handleSelected(tr) {
      await this.edit(tr.id);
    },
    getOrderStatusColor(status) {
      if (status == 1) return "success";
      return;
    },
    getStatus(status) {
      if (status == 1) return "Activo";
      return "Archivado";
    },
    changeView() {
      this.$store.commit(`${this.module}/CHANGE_VIEW`, true);
    }
  },
  async created() {
    await this.$store.dispatch("global/getItems", {
      route: this.route,
      module: this.module,
      data: this.pluralProperty
    });
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;
        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search {
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          & + i {
            left: 1rem;
          }

          &:focus + i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          & div.vs-chip-null.product-order-status {
            color: rgba(0, 0, 0, 0.7) !important;
            background: rgba(202, 200, 200, 0.7);
          }
          & div.vs-chip-success.product-order-status {
            color: rgba(255, 255, 255, 1) !important;
          }
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }

    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
