<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card :title="title">
        <slot name="fields-before-name"></slot>
        <div v-if="name" class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Nombre</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <vs-input
              class="w-full"
              icon-pack="feather"
              icon="icon-edit-1"
              icon-no-border
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:100'"
              name="name"
              v-model="data.name"
              autocomplete="off"
            />
            <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("name") }}</span>
          </div>
        </div>
        <div v-if="description" class="vx-row mb-6">
          <div class="vx-col sm:w-2/12 w-full">
            <span>Descripción</span>
          </div>
          <div class="vx-col sm:w-10/12 w-full">
            <vs-textarea
              data-vv-validate-on="blur"
              v-validate="'required|alpha_number_spaces|min:4|max:500'"
              name="description"
              v-model="data.description"
            />
            <span
              v-if="showValidations"
              class="text-danger text-sm"
            >{{ errors.first("description") }}</span>
          </div>
        </div>

        <slot name="fields"></slot>

        <slot name="action-buttons"></slot>
      </vx-card>
    </div>
  </div>
</template>

<script>
export default {
  inject: ["$validator"],
  props: {
    data: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    name: {
      type: Boolean,
      default: true
    },
    description: {
      type: Boolean,
      default: true
    },
    showValidations: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  watch: {
    "data.name": {
      handler() {
        if (this.name) {
          this.$validator.validate("name");
        }
      }
    },
    "data.description": {
      handler() {
        if (this.description) {
          this.$validator.validate("description");
        }
      }
    }
  }
};
</script>

<style lang="scss">
.vs-con-textarea {
  margin-bottom: 0;
}
</style>
