<template>
  <div class="vx-row">
    <div class="vx-col md:w-5/6 w-full mb-base mx-auto">
      <vx-card :title="title">
        <template v-if="modeEdit">
          <slot name="fields-before-name-edit"></slot>
          <div v-if="showName" class="vx-row mb-6">
            <div class="vx-col sm:w-2/12 w-full">
              <span>Nombre</span>
            </div>
            <div class="vx-col sm:w-10/12 w-full">
              <vs-input
                class="w-full"
                icon-pack="feather"
                icon="icon-edit-1"
                icon-no-border
                ref="name"
                data-vv-validate-on="blur"
                v-validate="'required|alpha_number_spaces|min:4|max:100'"
                name="name"
                v-model="data.name"
                autocomplete="off"
              />
              <span v-if="showValidations" class="text-danger text-sm">{{ errors.first("name") }}</span>
            </div>
          </div>
          <div v-if="showDescription" class="vx-row mb-6">
            <div class="vx-col sm:w-2/12 w-full">
              <span>Descripción</span>
            </div>
            <div class="vx-col sm:w-10/12 w-full">
              <vs-textarea
                icon-pack="feather"
                icon="icon-user"
                icon-no-border
                ref="description"
                data-vv-validate-on="blur"
                v-validate="'required|alpha_number_spaces|min:4|max:500'"
                name="description"
                v-model="data.description"
              />
              <span
                v-if="showValidations"
                class="text-danger text-sm"
              >{{ errors.first("description") }}</span>
            </div>
          </div>
          <slot name="fields-edit"></slot>
        </template>

        <template v-else>
          <slot name="fields-before-name-view"></slot>

          <div class="vx-row mb-6" v-if="showName">
            <div class="vx-col sm:w-2/12 w-full">
              <span>Nombre</span>
            </div>
            <div class="vx-col sm:w-7/12 w-full">
              <p class="w-full">{{ data.name }}</p>
            </div>
            <div class="vx-col sm:w-3/12 flex justify-end">
              <delete-reactivate
                :module="module"
                :property="property"
                :route="route"
                :id="this.$route.params.id"
                class="mr-2 delete-reactivate"
              ></delete-reactivate>
            </div>
          </div>
          <div v-if="showDescription" class="vx-row mb-6">
            <div class="vx-col sm:w-2/12 w-full">
              <span>Descripción</span>
            </div>
            <div class="vx-col sm:w-10/12 w-full">
              <p class="w-full">{{ data.description }}</p>
            </div>
          </div>
          <slot name="fields-view"></slot>
        </template>
        <slot name="action-buttons"></slot>
      </vx-card>
    </div>
  </div>
</template>

<script>
import DeleteReactivate from "./DeleteRectivate.vue";

export default {
  inject: ["$validator"],
  props: {
    data: {
      type: Object,
      required: true
    },
    module: {
      type: String,
      required: true
    },
    route: {
      type: String,
      required: true
    },
    property: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    showName: {
      type: Boolean,
      default: true
    },
    showDescription: {
      type: Boolean,
      default: true
    },
    modeEdit: {
      type: Boolean
    },
    showValidations: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  watch: {
    "data.name": {
      handler() {
        if (this.modeEdit && this.showName) {
          this.$validator.validate("name");
        }
      }
    },
    "data.description": {
      handler() {
        if (this.modeEdit && this.showDescription) {
          this.$validator.validate("description");
        }
      }
    }
  },
  components: {
    DeleteReactivate
  }
};
</script>