<template>
  <div id="data-list-list-view" class="data-list-container">
    <vs-table
      v-model="selected"
      @selected="handleSelected"
      ref="table"
      pagination
      :max-items="itemsPerPage"
      noDataText = "No hay datos disponibles"
      search
      :data="list"
      :route="route"
    >
      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
          <slot name="create-button"></slot>
        </div>

        <!-- Items por pagina -->
        <vs-dropdown vs-trigger-click class="cursor-pointer mb-4 mr-4 items-per-page-handler">
          <div
            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
          >
            <span
              class="mr-2"
            >{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} - {{ currentPage * itemsPerPage > 0 ? currentPage * itemsPerPage : list.length }} de {{ queriedItems }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
          </div>
          <vs-dropdown-menu>
            <vs-dropdown-item @click="itemsPerPage = 4">
              <span>4</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 10">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 15">
              <span>15</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage = 20">
              <span>20</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

      <template slot="thead">
        <vs-th v-if="showName" sort-key="name">Nombre</vs-th>
        <slot name="table-options"></slot>
        <vs-th v-if="showStatus"  sort-key="status">Estatus</vs-th>
        <vs-th>Accion</vs-th>
      </template>

      <template slot-scope="{ data }">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td v-if="showName">
              <p class="product-name font-medium truncate">{{ tr.name }}</p>
            </vs-td>
            <slot name="table-td" :tr="tr"></slot>
            <vs-td v-if="showStatus">
              <vs-chip
                :color="getOrderStatusColor(tr.status)"
                class="product-order-status"
              >{{ getStatus(tr.status) }}</vs-chip>
            </vs-td>
            <vs-td class="whitespace-no-wrap">
              <slot :tr="tr"></slot>
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true
    },
    route: {
      type: String,
      required: true
    },
    showName: {
      type: Boolean,
      default: true
    },
    showStatus: {
      type: Boolean,
      default: true
    },
    redirect: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      elements: [],
      itemsPerPage: 4,
      isMounted: false,
      selected: []
    };
  },
  computed: {
    currentPage() {
      if (this.isMounted) {
        return this.$refs.table.currentx;
      }
      return 0;
    },
    queriedItems() {
      return this.$refs.table
        ? this.$refs.table.queriedResults.length
        : this.list.length;
    }
  },
  methods: {
    getOrderStatusColor(status) {
      if (status == 1) return "success";
      return;
    },
    getStatus(status) {
      if (status == 1) return "Activo";
      return "Archivado";
    },
    handleSelected(tr) {
      if(this.redirect){

        this.$store.commit("SET_BREADCRUMB", "");
        this.$router.push(`${this.route}/${tr.id}`);
      }
    }
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;
        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search {
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          & + i {
            left: 1rem;
          }

          &:focus + i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          & div.vs-chip-null.product-order-status {
            color: rgba(0, 0, 0, 0.7) !important;
            background: rgba(202, 200, 200, 0.7);
          }
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }

    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
