<template>
  <div>
    <vs-button
      class="delete-reactivate"
      @mouseover="hover = true"
      @mouseleave="hover = false"
      @click="activeOrArchiveDialog"
      :color="colorButton"
      type="border"
      icon-pack="feather"
      :icon="iconButton"
    >{{textButton}}</vs-button>
  </div>
</template>
<script>

const notify = () => import("@/vendor/notify.js");

export default {
  props: {
    id: {
      type: String,
      required: true
    },
    module: {
      type: String,
      required: true
    },
    route: {
      type: String,
      required: true
    },
    property: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      hover: false
    }
  },
  computed: {
    textButton() {
      if (this.$store.state.statusDetail) {
        if (this.hover) return "Archivar";
        return "Activo";
      } else {
        if (this.hover) return "Activar";
        return "Archivado";
      }
    },
    iconButton() {
      if (
        (this.$store.state.statusDetail && !this.hover) ||
        (!this.$store.state.statusDetail && this.hover)
      ) {
        return "icon-check";
      } else {
        return "icon-archive";
      }
    },
    colorButton() {
      if (
        (this.$store.state.statusDetail && !this.hover) ||
        (!this.$store.state.statusDetail && this.hover)
      ) {
        return "success";
      } else {
        return "danger";
      }
    },
    setStatusNumeric() {
      if (this.$store.state.statusDetail) return 2;
      return 1;
    },
    setStatusBoolean() {
      if (this.$store.state.statusDetail) return false;
      return true;
    }
  },
  methods: {
    activeOrArchiveDialog() {
      this.hover = false;
      notify().then(({ dialogWhitParameters }) => {
        dialogWhitParameters(
          this.$vs.dialog,
          "confirm",
          "primary",
          "Confirmar",
          "Aceptar",
          "Cancelar",
          `¿Desea ${
            this.setStatusBoolean ? "activar" : "archivar"
          } el registro?`,
          this.activeOrArchive
        );
      });
    },
    async activeOrArchive() {
      this.$store.commit("SET_VIEW_DETAIL_STATUS", this.setStatusBoolean);
      await this.$store
        .dispatch(`global/${this.setStatusBoolean ? "remove" : "unRemove"}`, {
          id: this.id,
          route: this.route,
          module: this.module,
          data: this.property
        })
        .then(resp => {
          notify().then(({ notification }) => {
            notification("success", resp, resp.message.code, this.$vs.notify);
          });
        })
        .catch(err => {
          notify().then(({ notification }) => {
            const code = err.hasOwnProperty("message")
              ? err.message.code
              : err.code;
            notification(
              "error",
              err,
              code,
              this.$vs.notify,
              "Registro archivado"
            );
          });
        });
    }
  }
};
</script>

<style lang="scss">
.delete-reactivate {
  span.vs-button--text,
  i.vs-button--icon {
    transition: none !important;
  }
  span.vs-button-backgroundx {
    background: transparent !important;
  }
  &.isActive {
    &.vs-button-success {
      .vs-button--text,
      i.vs-button--icon {
        color: var(--vs-success) !important;
      }
    }
    &.vs-button-danger {
      .vs-button--text,
      i.vs-button--icon {
        color: var(--vs-danger) !important;
      }
    }
  }
}
</style>